<!--<div class="page-bar route-title">-->
    <!--<ul class="page-breadcrumb">-->
        <!--<li>-->
            <!--<a>Finanzas</a>-->
            <!--<i class="fa fa-angle-right"></i>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a >Presupuestos</a>-->
        <!--</li>-->
    <!--</ul>-->
    <!--<div class="page-toolbar">-->
        <!--<div class="btn-group pull-right" style="padding-top:10px;">-->
            <!--<i class="fa fa-lightbulb-o" style="font-size:20px; color:orange"></i>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>
</div>
<div ng-if="vm.isReady" class="row fade-in">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h3 class="page-title col-md-12 col-lg-12 col-xs-12 col-sm-12 font-green-sharp font-weight-600  " style="color: #00b19d">Presupuestos</h3>


        <div class="form-group no-padding col-md-offset-10 col-md-2" id="index-search-bar">
            <button type="button" class="btn orange-button-oficial col-md-12  col-lg-12 col-sm-12 col-xs-12" ng-click="vm.registerBudget()" name="button">Capturar presupuesto</button>

        </div>

        <br/>
        <div class="portlet-body ">

            <no-content ng-if="vm.presupuestos.length == 0" icon="trending_up" text="No hay presupuestos registrados"></no-content>


            <div class="table-scrollable" ng-show="vm.presupuestos.length>0" style="border: 0px!important;">
                <table  class="table table-bordered  table-hover font-13 gray-font tableMaterialDesign" >
                    <thead style="background-color: #fafafa;" >
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th ><span>Año</span> </th>
                        <th><span >Última modificación</span> </th>
                        <th><span >Ver detalle</span></th>
                        <th><span>Editar</span> </span></th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr  ng-repeat="presupuesto in vm.presupuestos track by presupuesto.id" >

                        <td>PRESUPUESTO <span class="bold">{{presupuesto.anno}}</span></td>
                        <td>{{presupuesto.modificationDate | date:'longDate'}}</td>
                        <td> <a class="light-gray-font"  ng-click="vm.showBudgetDetail(presupuesto)" >Ver detalle</a></td>
                        <td> <a class="light-gray-font"  ng-click="vm.showBudgetEdit(presupuesto)">Editar</a></td>
                        <td> <a class="light-gray-font"  ng-click="vm.deleteBudget(presupuesto)">Eliminar</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center" ng-show="vm.accountsQuantity>0" >
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        </div>
        <uib-pager ng-show="vm.accountsQuantity>0"  total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
    </div>

</div>

<!--<div>-->
    <!--<h2 data-translate="aditumApp.presupuesto.home.title">Presupuestos</h2>-->
    <!--<jhi-alert></jhi-alert>-->
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-4 no-padding-left">-->
                <!--<button class="btn btn-primary" ui-sref="detalle-presupuesto.new" >-->
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <!--<span  data-translate="aditumApp.presupuesto.home.createLabel">-->
                        <!--Create new Presupuesto-->
                    <!--</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br/>-->
    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
                <!--<tr>-->
                    <!--<th><span data-translate="global.field.id">ID</span></th>-->
                    <!--<th><span data-translate="aditumApp.presupuesto.date">Date</span></th>-->
                    <!--<th><span data-translate="aditumApp.presupuesto.modificationDate">Modification Date</span></th>-->
                    <!--<th></th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="presupuesto in vm.presupuestos track by presupuesto.id">-->
                    <!--<td><a ui-sref="presupuesto-detail({id:presupuesto.id})">{{presupuesto.id}}</a></td>-->
                    <!--<td>{{presupuesto.date | date:'medium'}}</td>-->
                    <!--<td>{{presupuesto.modificationDate | date:'medium'}}</td>-->
                    <!--<td class="text-right">-->
                        <!--<div class="btn-group flex-btn-group-container">-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="presupuesto-detail({id:presupuesto.id})"-->
                                    <!--class="btn btn-info btn-sm">-->
                                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="presupuesto.edit({id:presupuesto.id})"-->
                                    <!--class="btn btn-primary btn-sm">-->
                                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.edit"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="presupuesto.delete({id:presupuesto.id})"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
<!--</div>-->
