
<!--&lt;!&ndash; SE REQUIERE EN CADA VISTA &ndash;&gt;-->
<!--<div class="page-bar route-title">-->
    <!--<ul class="page-breadcrumb">-->
        <!--<li>-->
            <!--<a>Finanzas</a>-->
            <!--<i class="fa fa-angle-right"></i>-->
        <!--</li>-->
        <!--<li>-->
            <!--<a >Bancos</a>-->
        <!--</li>-->
    <!--</ul>-->
    <!--<div class="page-toolbar">-->
        <!--<div class="btn-group pull-right" style="padding-top:10px;">-->
            <!--<i class="fa fa-lightbulb-o" style="font-size:20px; color:orange"></i>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>
</div>

<div ng-if="vm.isReady" class="row fade-in " >
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 ">
        <h3 class="page-title col-md-5 col-lg-5 col-xs-12 col-sm-12 caption-subject font-green-sharp font-weight-600">Cuentas

        </h3>

        <div class="input-icon col-md-offset-6  col-lg-offset-6 margin-bottom-20 col-sm-offset-6  col-md-3   col-lg-3  col-md-3 col-xs-12">
            <i class="fa fa-search"></i>
            <input type="text" class="form-control" placeholder="Buscar" ng-model="search">
        </div>
        <button type="button" class="btn orange-button-oficial margin-bottom-20 col-md-3  col-lg-3 col-sm-3 col-xs-12" ui-sref="banco-configuration.new" name="button">Registrar cuenta</button>




        <br/>
        <div class="portlet-body ">

            <no-content ng-if="vm.accountsQuantity == 0" icon="account_balance" text="No hay cuentas registradas"></no-content>


            <div class="table-scrollable hidden-xs   " ng-show="vm.accountsQuantity>0" style="border: 0px!important;">
                    <table  class="table table-bordered  table-hover font-13 gray-font tableMaterialDesign" >
                        <thead style="background-color: #fafafa;" >

                            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th ><span>Nombre</span> </th>
                        <th ><span >Cuenta corriente</span></th>
                        <th><span >Cuenta cliente</span></th>
                        <th><span >Capital inicial</span> </th>
                        <th><span >Capital inicial</span></th>
                        <th ><span>Saldo actual</span></th>

                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="banco in vm.bancos  | filter:search  | orderBy:'id'" >

                        <td>{{banco.beneficiario}}</td>
                        <td>{{banco.cuentaCorriente}}</td>
                        <td>{{banco.cuentaCliente}}</td>
                        <td>{{banco.fechaCapitalInicial | date:'mediumDate'}}</td>
                        <td>₡{{vm.formatearNumero(banco.capitalInicial+"")}}</td>
                        <td>₡{{vm.formatearNumero(banco.saldo+"")}}</td>

                        <td> <a class="light-gray-font" ui-sref="banco-configuration.edit({id:banco.id})">Editar</a></td>
                        <td> <a class="light-gray-font" ng-click="vm.deleteBanco(banco)">Eliminar</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="text-center" ng-show="vm.proveedorsQuantity>0">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()" ng-show="vm.proveedorsQuantity>0"></uib-pager>
</div>
