<div class="row">
    <div class="col-md-12">
        <div class="no-padding no-margin col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom:0px!important">
            <div ng-cloak layout="column">
                <md-toolbar class="form-title">
                    <h2>{{mainTitle}}</h2>
                </md-toolbar>
            </div>
        </div>
        <div class="portlet-body form col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-content layout-padding class="form-content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <form name="form" ng-submit="vm.save()">
                        <div layout="row" layout-xs="column" class="marging-top-20 ">
                            <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg">
                                <md-input-container class="md-block" >
                                    <label>Nombre</label>
                                    <input  ng-model="vm.banco.beneficiario" type="text" required>
                                </md-input-container>
                                <md-input-container class="md-block" ng-if="vm.banco.id == null">
                                    <label>Fecha capital inicial</label>
                                    <md-datepicker md-hide-icons="calendar" required ng-model="vm.banco.fechaCapitalInicial"
                                                   md-placeholder="Introduzca una fecha" md-open-on-focus required></md-datepicker>
                                </md-input-container>
                                <md-input-container class="md-block" ng-if="vm.banco.id == null">
                                    <label>Saldo inicial</label>
                                    <input ng-model="vm.banco.capitalInicial" type="text" required format="currency" required>
                                </md-input-container>

                            </div>

                            <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg">
                                <md-input-container class="md-block" >
                                    <label>Cuenta corriente</label>
                                    <input ng-model="vm.banco.cuentaCorriente" type="text" >
                                </md-input-container>
                                <md-input-container class="md-block">
                                    <label>Cuenta cliente</label>
                                    <input ng-model="vm.banco.cuentaCliente" type="text">
                                </md-input-container>
                            </div>
                        </div>
                        <div layout="row" class="white-bg" layout-align="end center">
                            <md-button class="md-primary md-raised md-warn" ng-click="vm.clear()">
                                Cancelar
                            </md-button>
                            <md-button class="md-primary md-raised" ng-disabled="form.$invalid" type="submit">
                                Aceptar
                            </md-button>
                        </div>
                    </form>
                </div>
            </md-content>
        </div>
    </div>
</div>

