

<!-- SE REQUIERE EN CADA VISTA -->
<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <a>Finanzas</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a >Bancos</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right" style="padding-top:10px;">
            <i class="fa fa-lightbulb-o" style="font-size:20px; color:orange"></i>
        </div>
    </div>
</div>
<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
    <div class="spinnerLoading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div  class="row display-none" id="tableData">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12">
        <h3 class="page-title col-md-5 col-lg-5 col-xs-12 col-sm-12 no-list">Cuentas

        </h3>

        <div class="form-group no-padding col-md-offset-6  col-lg-offset-6  col-sm-offset-6 col-md-6 col-sm-6 col-xs-12" id="index-search-bar">
            <button type="button" class="btn default col-md-5  col-lg-5 col-sm-5 col-xs-12" ui-sref="banco.transferencia" name="button"><i class="fa fa-exchange" ></i> Transferir fondos</button>
            <div class="input-icon col-md-7 no-padding-right  col-lg-7  col-md-5 col-xs-12">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Buscar" ng-model="search">
            </div>

        </div>

        <br/>
        <div class="portlet-body ">
            <div ng-show="vm.accountsQuantity == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="text-center gray-font">No hay cuentas registradas</h2>
            </div>
            <div class="table-scrollable" ng-show="vm.accountsQuantity>0">
                <table class="jh-table table table-striped table-bordered table-hover table-condensed flip-content" style="font-size:12px;">
                    <thead  class="flip-content">
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th ><span>Nombre</span> </th>
                        <th><span >Cuenta corriente</span> </th>
                        <th><span >Cuenta cliente</span></th>
                        <th><span>Saldo actual</span> </span></th>
                        <th>Consultar movimientos</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="banco in vm.bancos  | filter:search  | orderBy:'id'" >

                        <td>{{banco.beneficiario}}</td>
                        <td>{{banco.cuentaCorriente}}</td>
                        <td>{{banco.cuentaCliente}}</td>

                        <td>₡{{vm.formatearNumero(banco.saldo+"")}}</td>

                        <td> <a class="light-gray-font"  ui-sref="banco-detail({id:banco.id})">Consultar movimientos</a></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="text-center" ng-show="vm.accountsQuantity>0" >
            <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        </div>
        <uib-pager ng-show="vm.accountsQuantity>0"  total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
    </div>

</div>
