<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>

<div ng-if="vm.isReady" ng-cloak layout="column"
     class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding fade-in">

    <md-toolbar class="form-title" hide-sm hide-xs>
        <h2 hide-sm hide-xs>Enviar comprobante de pago</h2>

    </md-toolbar>
    <md-content layout-padding class="form-content">
        <div>
            <form name="form" ng-submit=" vm.save()">
                <span ng-hide="true">{{setInvalidForm(form.$invalid)}}</span>

                    <div layout="row" layout-xs="column" class=" ">
                        <div flex class="col-lg-12 col-md-12 col-sm-12 white-bg divFormsMDXS">
                            <md-input-container class="md-block">
                                <label>Asunto</label>
                                <input type="text" class="form-control gray" name="subject" id="field_subject"
                                       ng-model="vm.paymentProof.subject"
                                       required/>
                            </md-input-container>
                            <div layout="row" layout-xs="column">
                                <md-input-container  class="md-block no-margin-bottom" flex="50" flex-xs="100">
                                    <label>Banco donde se realizó el depósito</label>
                                    <md-select ng-model="vm.paymentProof.bancoSelected" >
                                        <md-option ng-if="banco.beneficiario!='Caja chica'" ng-repeat="banco in vm.bancos | orderBy: 'beneficiario' "
                                                   ng-value="banco">
                                            {{banco.beneficiario}} - {{banco.currency}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block" flex="50" flex-xs="100">
                                    <label>Referencia bancaria</label>
                                    <input type="text" class="form-control gray"
                                           ng-model="vm.paymentProof.reference"/>
                                </md-input-container>
                            </div>
                            <md-input-container class="md-block">
                                <label>Descripción</label>
                                <textarea ng-model="vm.paymentProof.description" rows="7" md-select-on-focus required></textarea>
                            </md-input-container>
                            <div ng-if="vm.displayImage" class="image-overlay-position margin-bottom-30" >
                                <div class="image-overlay-container image-overlay-view-first">
                                    <h3 class="text-center no-margin">
                                        <img
                                            data-ng-src="{{'data:' + vm.displayImageType + ';base64,' + vm.displayImage}}"
                                            width="30%"
                                            alt="imageUser image"/>
                                    </h3>
                                </div>
                            </div>
                            <h3 class="text-center" flex>
                                <div ng-if="vm.fileName" style="margin-bottom: 10px">
                                    <i class="material-icons font-haze" style="font-size:45px">
                                        description
                                    </i>
                                    <div>
                                        <span class="font-green-haze" style="font-size: 14px;font-weight: 500;">{{vm.fileName}}</span>
                                    </div>
                                </div>
                                <md-button type="button" ngf-change="vm.setFile($file)" ngf-select class="btn default btn-file fileinput-new gray-font"
                                           accept="*">
                                    Adjuntar comprobante
                                </md-button>
                                <md-progress-linear md-mode="determinate" value="{{vm.progress}}" ng-if="vm.isSaving"></md-progress-linear>
                            </h3>
                        </div>
                    </div>

                    <div layout="row" class="white-bg marging-top-100" layout-align="end center" hide-sm hide-xs>

                        <md-button type="button" ng-click="back()"
                                   class="md-warn md-raised">Cancelar
                        </md-button>
                        <md-button class="md-primary md-raised" ng-disabled="form.$invalid || !vm.fileName" type="submit">
                            Enviar
                        </md-button>
                    </div>


            </form>
        </div>
    </md-content>
</div>

<script>
    function centerModal() {
        $(this).css('display', 'block');
        var $dialog = $(this).find(".modal-dialog");
        var offset = ($(window).height() - $dialog.height()) / 2;
        // Center modal vertically in window
        $dialog.css("margin-top", offset);
    }

    $('.modal').on('show.bs.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });

</script>
