<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>

<md-card ng-if="vm.isReady" class="fade-in gray-font form-wrapper no-margin" md-theme-watch>
    <md-card-title hide-sm hide-xs layout-align="space-between center">
        <md-card-title-text>
            <span class="md-headline">
                <i class="material-icons material-icons-with-text" hide-sm hide-xs
                   ng-click="back()">arrow_back</i>Detalle de comprobante de pago - Filial {{vm.paymentProof.house.housenumber}}</span>
        </md-card-title-text>

    </md-card-title>
    <md-card-content style="padding: 0px!important;" layout-padding class="form-content">
        <div style="padding: 16px!important;" class="col-md-12 col-sm-12 col-xs-12 no-padding margin-bottom-30">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding-left ">
                        <span class=" bold  control-label">Asunto</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding">

                        <span class="   control-label"> {{vm.paymentProof.subject}}</span>

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding-left ">
                        <span class=" bold  control-label">Fecha</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding">
                        <span class="control-label">{{vm.paymentProof.registerDate | date}}</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding-left ">
                        <span class=" bold  control-label">Banco</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding">
                        <span class="control-label" ng-if="vm.paymentProof.bank">{{vm.paymentProof.bank}}</span>
                        <span class="control-label" ng-if="!vm.paymentProof.bank">No especificado</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding-left ">
                        <span class=" bold  control-label">Referencia bancaria</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding">
                        <span class="control-label" ng-if="vm.paymentProof.reference">{{vm.paymentProof.reference}}</span>
                        <span class="control-label" ng-if="!vm.paymentProof.reference">No especificada</span>

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding-left ">
                        <span class=" bold  control-label">Estado</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding">

                        <span ng-if="vm.paymentProof.status==1" class="control-label">Sin revisar</span>
                        <span ng-if="vm.paymentProof.status==2" class="control-label">Revisado</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding-left ">
                        <span class=" bold  control-label">Pago asociado</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding" ng-if="vm.paymentProof.paymentId">
                        <span ng-click="vm.detailPayment(vm.paymentProof.paymentId)" class="control-label"><a
                        >Visualizar pago</a></span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding" ng-if="!vm.paymentProof.paymentId">
                        <span class="control-label">Ninguno</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding-left ">
                        <span class=" bold  control-label">Descripción</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-xs-12 col-xs-12 no-padding">

                        <span class="   control-label"> {{vm.paymentProof.description}}</span>

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                    <md-button class="md-primary md-raised md-warn "  ng-click="vm.generatePayment()" has-authority="ROLE_MANAGER">
                        Realizar pago
                    </md-button>

                </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <a href="{{vm.paymentProof.imageUrl}}" target="_blank">
                    <h2 style="text-align: center">
                        <i class="material-icons material-icons-with-text circle-icon"
                           style="font-size: 40px!important">
                            description
                        </i>
                        <div>
                            <span style="font-size: 16px">Descargar comprobante</span>
                        </div>
                    </h2>
                </a>
            </div>
        </div>
        <div layout="row" class="white-bg" layout-align="end center" has-authority="ROLE_MANAGER">
            <md-button ng-if="vm.paymentProof.status==1" class="md-primary md-raised md-warn"
                       ng-click="vm.markAsChecked()">
                Marcar como revisado
            </md-button>
<!--            <md-button class="md-primary md-raised hidden-xs" type="button" ng-click="vm.generatePayment()">-->
<!--                Realizar pago-->
<!--            </md-button>-->
        </div>
    </md-card-content>
</md-card>

<script>
    function centerModal() {
        $(this).css('display', 'block');
        var $dialog = $(this).find(".modal-dialog");
        var offset = ($(window).height() - $dialog.height()) / 2;
        // Center modal vertically in window
        $dialog.css("margin-top", offset);
    }

    $('.modal').on('show.bs.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });

</script>
