<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>

<div ng-if="vm.isReady" ng-cloak layout="column"
     class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding fade-in">
    <md-toolbar class="form-title" hide-sm hide-xs>
        <h2 class="caption-subject bold uppercase">
            {{vm.title}}</h2>
    </md-toolbar>
    <md-content layout-padding class="form-content">
        <form name="form" ng-submit="vm.save()">
            <span ng-hide="true">{{setInvalidForm(form.$invalid)}}</span>
            <div layout="column" layout-xs="column">
                <div layout="column">
                    <md-input-container class="md-block" flex>
                        <label>Nombre del acta</label>
                        <input ng-model="vm.condominiumRecord.name" required>
                    </md-input-container>
                    <md-input-container class="md-block" flex>
                        <label>Fecha de publicación</label>
                        <md-datepicker class="datePicker" readonlydatepicker md-hide-icons="calendar" required
                                       ng-model="vm.condominiumRecord.uploadDate"
                                       md-open-on-focus></md-datepicker>
                    </md-input-container>
                    <label class="md-block">Descripción</label>
                    <md-input-container class="md-block" flex-gt-xs>
                        <summernote config="vm.options" lang="es-ES" height="100"
                                    ng-model="vm.contract.description"></summernote>
                    </md-input-container>
                </div>
                <div layout="row" layout-xs="column">
                    <h3 class="text-center" flex>
                        <div ng-if="vm.fileName" style="margin-bottom: 10px">
                            <i class="material-icons font-haze" style="font-size:45px">
                                class
                            </i>
                            <div>
                                <span class="font-green-haze"
                                      style="font-size: 14px;font-weight: 500;">Acta adjunta</span>
                            </div>
                        </div>
                        <md-button type="button" ngf-change="vm.setFile($file)" ngf-select
                                   class="btn default btn-file fileinput-new gray-font"
                                   accept="*">
                            Subir archivo
                        </md-button>
                        <md-progress-linear md-mode="determinate" value="{{vm.progress}}"
                                            ng-if="vm.isSaving"></md-progress-linear>
                    </h3>
                </div>

            </div>
            <div layout="row" class="white-bg" layout-align="end center" hide-sm hide-xs>
                <md-button has-authority="ROLE_MANAGER" type="button" ui-sref="condominium-record"
                           class="md-warn md-raised">Cancelar
                </md-button>
                <md-button class="md-primary md-raised" ng-disabled="form.$invalid || vm.isSaving || !vm.fileName"
                           type="submit">
                    Guardar
                </md-button>
            </div>
        </form>
</div>
</md-content>
</div>
