<!-- SE REQUIERE EN CADA VISTA -->

<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home()">Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="officer()">Oficiales</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="officer()">Consultar</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
    <div class="spinnerLoading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="row display-none" id="tableData">
    <div class="col-md-12">
        <h3 class="page-title col-md-9 col-sm-9 col-xs-12">	{{vm.title}}</h3>
            <div class="form-group form-md-radios"  ng-show="vm.canEditOfficers==1" >
                <div class="md-radio-inline">

                    <div class="md-radio" >
                        <input type="radio" id="radio18" name="radio2" class="md-radiobtn" ng-checked="{{vm.radiostatus}}"  ng-click="vm.switchEnabledResidents()">
                        <label for="radio18" style="color:#45B6AF">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Habilitados </label>
                    </div>
                    <div class="md-radio has-error">
                        <input type="radio" id="radio19" name="radio2" class="md-radiobtn"  ng-click="vm.switchDisabledResidents()">
                        <label for="radio19">
                            <span class="inc"></span>
                            <span class="check"></span>
                            <span class="box"></span>
                            Deshabilitados </label>
                    </div>
                </div>
            </div>
            <div  ng-show="vm.canEditOfficers==0" class="no-padding form-group col-md-offset-9 col-md-3 col-sm-offset-8 col-sm-4 col-xs-12">
                <div class="input-icon">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" placeholder="Buscar oficial" ng-model="vm.search">
                </div>
            </div>
            <div  ng-show="vm.canEditOfficers==1"  class="form-group col-md-offset-7 col-md-3 col-sm-offset-7 col-sm-3 col-xs-6">
                <div class="input-icon">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" placeholder="Buscar oficial" ng-model="vm.search">
                </div>
            </div>
            <button ng-show="vm.canEditOfficers==1" type="submit" class="btn green col-md-2 col-sm-2 col-xs-6 small-margin-bottom" ui-sref="officer.new()">Registrar oficial</button>

            <div class="portlet-body ">
                <div ng-show="vm.officers.length==0" class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top:30px">
                    <h2  class="text-center gray-font ">No hay oficiales registrados</h2>
                </div>
                <div class="col-xs-12 hidden-lg hidden-md hidden-sm">
                    <div class="portlet light bordered text-center col-sm-12 col-xs-12" ng-repeat="officer in vm.officers | filter:vm.search | orderBy:'name'">
                        <div class="col-xs-4">
                            <h2><img ng-hide="officer.image_url" class="img-circle" src="content/images/nobody-image.jpg"   width="100"/>
                                <img ng-show="officer.image_url!==null" src="officer.image_url" width="100" class="img-circle"/></h2>
                            <h5>{{officer.name}} </h5>
                        </div>
                        <div class="col-xs-8 no-padding">
                            <div class="col-xs-12" style="margin-top:20px">
                                <h5><b>Cédula: </b>  {{officer.identificationnumber.toUpperCase()}}</h5>
                                <h5 class="no-padding"><b>Teléfono:</b> {{officer.phonenumber}}</h5>
                                <div class="col-xs-12 no-padding">
                                    <button type="submit" ng-click="vm.detailOfficer(officer.id)" class="btn purple col-xs-3 no-margin"><i class="fa fa-eye "></i></button>
                                    <button type="submit" ng-click="vm.editOfficer(officer.id)" class="btn blue col-xs-3 no-margin"><i class="fa fa-pencil"></i></button>
                                    <button type="submit"  class="btn {{vm.color}} col-xs-3 no-margin"  ng-click="vm.disableEnabledOfficer(officer)" title="{{vm.titleDisabledButton}}"><i class="{{vm.iconDisabled}}"></i></button>
                                    <button type="submit" ng-click="vm.deleteOfficer(officer)" class="btn red col-xs-3 no-margin"><i class="fa fa-trash"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="table-scrollable hidden-xs" ng-show="vm.officers.length>0" >
                    <table class="table table-striped table-hover font-12">
                        <thead>
                        <tr>
                            <th>Nombre completo</th>
                            <th>Cédula</th>

                            <th>Ver detalle</th>
                            <th ng-show="vm.canEditOfficers==1">{{vm.actionButtonTitle}}</th>
                            <th ng-show="vm.canEditOfficers==1">Editar</th>
                            <th ng-show="vm.canEditOfficers==1">Eliminar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="officer in vm.officers | filter:vm.search | orderBy:'name'">
                            <td>{{officer.name}} {{officer.lastname}} {{officer.secondlastname}}</td>
                            <td>{{officer.identificationnumber}}</td>
                            <td> <a  class="light-gray-font" ng-click="vm.detailOfficer(officer.id)">Ver detalle</a></td>
                            <td ng-show="vm.canEditOfficers==1"> <a  class="light-gray-font" ng-click="vm.disableEnabledOfficer(officer)">{{vm.actionButtonTitle}}</a></td>
                            <td ng-show="vm.canEditOfficers==1"> <a ng-click="vm.editOfficer(officer.id)">Editar</a></td>
                            <td ng-show="vm.canEditOfficers==1"> <a ng-click="vm.deleteOfficer(officer)">Eliminar</a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
</div>












<!--<div>-->
    <!--<h2 data-translate="aditumApp.officer.home.title">Officers</h2>-->
    <!--<jhi-alert></jhi-alert>-->
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-4 no-padding-left">-->
                <!--<button class="btn btn-primary" ui-sref="officer.new" >-->
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <!--<span  data-translate="aditumApp.officer.home.createLabel">-->
                        <!--Create new Officer-->
                    <!--</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br/>-->
    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
                <!--<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">-->
                    <!--<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="name"><span data-translate="aditumApp.officer.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="lastname"><span data-translate="aditumApp.officer.lastname">Lastname</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="secondlastname"><span data-translate="aditumApp.officer.secondlastname">Secondlastname</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="image"><span data-translate="aditumApp.officer.image">Image</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="email"><span data-translate="aditumApp.officer.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="identificationnumber"><span data-translate="aditumApp.officer.identificationnumber">Identificationnumber</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="inservice"><span data-translate="aditumApp.officer.inservice">Inservice</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="userLogin"><span data-translate="aditumApp.officer.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="companyId"><span data-translate="aditumApp.officer.company">Company</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th></th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="officer in vm.officers track by officer.id">-->
                    <!--<td><a ui-sref="officer-detail({id:officer.id})">{{officer.id}}</a></td>-->
                    <!--<td>{{officer.name}}</td>-->
                    <!--<td>{{officer.lastname}}</td>-->
                    <!--<td>{{officer.secondlastname}}</td>-->
                    <!--<td>-->
                        <!--<a ng-if="officer.image" ng-click="vm.openFile(officer.imageContentType, officer.image)">-->
                            <!--<img data-ng-src="{{'data:' + officer.imageContentType + ';base64,' + officer.image}}" style="max-height: 30px;" alt="officer image"/>-->
                        <!--</a>-->
                        <!--<span ng-if="officer.image">{{officer.imageContentType}}, {{vm.byteSize(officer.image)}}</span>-->
                    <!--</td>-->
                    <!--<td>{{officer.email}}</td>-->
                    <!--<td>{{officer.identificationnumber}}</td>-->
                    <!--<td>{{officer.inservice}}</td>-->
                    <!--<td>-->
                        <!--{{officer.userLogin}}-->
                    <!--</td>-->
                    <!--<td>-->
                        <!--<a ui-sref="company-detail({id:officer.companyId})">{{officer.companyId}}</a>-->
                    <!--</td>-->
                    <!--<td class="text-right">-->
                        <!--<div class="btn-group flex-btn-group-container">-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="officer-detail({id:officer.id})"-->
                                    <!--class="btn btn-info btn-sm">-->
                                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="officer.edit({id:officer.id})"-->
                                    <!--class="btn btn-primary btn-sm">-->
                                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.edit"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="officer.delete({id:officer.id})"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <!--<div class="text-center">-->
        <!--<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>-->
    <!--</div>-->
    <!--<uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>-->
<!--</div>-->
