
<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>
</div>

<div ng-if="vm.isReady" class="row fade-in" >
    <button ng-click="vm.executeOptimizeCharges()">EL BOTON QUE NO SE TOCA!, NO ES BROMA NO TOCAR!</button>
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 ">
        <h3 class="page-title col-md-12 col-lg-12 col-xs-12 col-sm-12 caption-subject font-green-sharp font-weight-600">Marcas de vehículos</h3>

        <div class="col-md-12 no-padding margin-top-20 margin-bottom-20" ng-if="vm.brands.length> 0 ">
            <div class="">
                <div class="form-group no-padding col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0px;"
                     id="index-search-bar">
                    <div class="input-icon" style="color:#484848!important;">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control "
                               style="background-color: #f5f5f5; border:0px!important; "
                               placeholder="Buscar" ng-model="vm.search">
                    </div>
                </div>

            </div>
        </div>
        <br/>
        <div class="portlet-body ">


            <no-content ng-if="vm.brands.length == 0" icon="directions_car" text="No hay marcas registradas"></no-content>


            <div class="table-scrollable gray-font " ng-show="vm.brands.length>0" style="border: 0px!important;">
                <table  class="table  table-hover font-13 tableMaterialDesign">
                    <thead  style="background-color: #fafafa;" class="">
                    <tr class="text-center" jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th class="text-center">Marca</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr class="text-center" ng-repeat="brand in vm.brands  | filter:vm.search  | orderBy:'id'" >

                        <td>{{brand.brand}}</td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <md-button ui-sref="brand.new" style="position: fixed"
               class="md-fab md-fab-bottom-right orange-button-oficial" aria-label="Add new">
        <md-tooltip md-direction="left" class="font-13 bold white-color">Registrar marca</md-tooltip>
        <md-icon class="white-color">add</md-icon>
    </md-button>
</div>
