<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Solicitud de reservación</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <style>

        .bold {
            font-weight: 700 !important;
        }

        .font-15 {
            font-size: 15px;
        }

        .font-14 {
            font-size: 14px;
        }

        .black {
            color: black;
        }

        .text-center {
            text-align: center;
        }

        .tableMaterialDesign, .tableMaterialDesign table, .tableMaterialDesign th, .tableMaterialDesign td {
            border: 1px solid #f2f2f2 !important;
            padding: 15px !important;
            font-size: 12px;
            border-collapse: collapse !important;
        }

        .tableMaterialDesign thead {
            background-color: #fafafa;
        }

    </style>
</head>
<body
    style="margin:0;padding:5px;background-size:700% 100%;font-family:Raleway,'Helvetica Neue',Helvetica,Arial,sans-serif;color:white;line-height:1.428571429;font-size:11px;">
<div style="background-color: #009987; padding: 5px 20px 20px 20px;min-width: 1400px">

    <h1 style="text-align:center;margin-bottom:1px"><img th:src="@{|${baseUrl}/content/images/logoAditum.png|}" alt=""
                                                         height="40"/></h1>
    <div style="border-top:1px solid rgba(244,240,240,0.1);margin-bottom:10px"></div>
    <div style="background-color:white;border-radius:15px;padding:30px;color:#3c3e42;">
        <div style="color:black;">
            <h2 class="black">Estimado(a) <span th:text="|${contacto}|"></span></h2>
            <h4>Filial # <span th:text="|${house.housenumber}|"></span>, <span th:text="|${company.name}|"></span></h4>
            <p class="font-15 black" style="margin-bottom: 15px;">
                Las siguientes cuotas de su filial no han sido pagadas hasta la fecha, las mismas se convertirán morosas
                en <span class="bold"  th:text="|${administrationConfiguration.daysToSendEmailBeforeBeDefaulter}|"></span> días.
            </p>
            <p class="font-14 black">Si no cancela las cuotas antes de los próximos <span class="bold"  th:text="|${administrationConfiguration.daysToSendEmailBeforeBeDefaulter}|"></span> días. El
                recargo de las cuotas será el siguiente: <span></span></p>
            <div>
                <div class="table-scrollable hidden-xs gray-font" style="border: 0px!important;">
                    <div class="table-scrollable hidden-xs gray-font" style="border: 0px!important;overflow-x:auto;">
                        <table class="table  table-hover font-13 tableMaterialDesign" style="width: 100%;overflow-x: auto;">
                            <thead style="">
                            <tr>
                                <th class="text-center">Fecha de cobro</th>
                                <th class="text-center">Concepto</th>
                                <th class="text-center">Categoría</th>
                                <th class="text-center">Monto</th>
                                <th class="text-center">Recargo</th>
                                <th class="text-center">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="charge : ${charges}">
                                <td class="text-center" ><span th:text="|${charge.formatedDate}|"></span></td>
                                <td class="text-center" ><span th:text="|${charge.concept}|"></span></td>
                                <td class="text-center" ><span th:text="|${charge.getFormatedType()}|"></span></td>
                                <td class="text-center" ><span th:text="|${charge.ammount}|"></span></td>
                                <td class="text-center" ><span th:text="|${charge.subcharge}|"></span></td>
                                <td class="text-center" ><span th:text="|${charge.paymentAmmount}|"></span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <h6 class="font-14 black text-center">Sumando un total de multa por <span class="bold">₡ <span th:text="|${subchargeTotal}|"></span></span></h6>
                <p class="font-14 black">Recomendamos realizar los pagos de las
                    cuotas en el transcurso de los siguientes <span class="bold"  th:text="|${administrationConfiguration.daysToSendEmailBeforeBeDefaulter}|"></span> días para evitar el recargo de
                    las mismas.</p>
                <p style="font-size:12px;margin-top:50px;color:#546e7a;text-align:center;text-transform:uppercase; "><b>
                    Para reportar la cancelación de sus cuotas, dirijase a <a href="https://www.aditumcr.com">ADITUM</a>
                    en el navegador o su dispositivo móvil.</b></p>
            </div>
        </div>
        <div style="border-top:1px solid rgba(244,240,240,0.1);margin-top:10px"></div>
        <h1 style="text-align:right;"><a style="margin:5px" href="https://lhousecr.com/"><img
            th:src="@{|${baseUrl}/content/images/lhlogo.png|}" alt="" height="30"/></a></h1>
    </div>
</div>
</body>
</html>
