
<div ng-if="vm.isReady" class=" fade-in" flex style="padding: 0px 10px; background-color: white; overflow-y:auto">
    <div ng-if="vm.isReady" class=" fade-in">
        <div class="slide-box slide-toggle-js col-md-12 col-xs-12 no-padding">
            <div layout="row" layout-xs="column" class="">
                <h4 class="font-green-sharp" style="font-weight: 600">Del <span>{{vm.dates.initial_time | date }}</span>
                    al <span>{{vm.dates.final_time | date }}</span></h4>
            </div>
        </div>
        <div class="col-md-12 col-xs-12 no-padding  col-sm-12" style="margin-bottom: 8px;"
             ng-if="vm.finalListReservations.length> 0 ">
            <div class="form-group no-padding col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0px;"
                 id="index-search-bar">
                <div class="input-icon" style="color:#484848!important;">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control "
                           style="background-color: #f5f5f5; border:0px!important; "
                           placeholder="Buscar" ng-model="vm.search">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 no-padding" id="tableDatas">
            <div class="portlet-body hidden-xs">
                <no-content ng-if="vm.finalListReservations.length == 0" icon="event_available"
                            text="No hay eventos registrados"></no-content>
                <div class="table-scrollable hidden-xs gray-font" ng-if="vm.finalListReservations.length>0" hide-xs
                     hide-sm
                     hide-md
                     style="border: 0px!important;">
                    <table class=" table  table-hover tableMaterialDesign" style="font-size:13px;"
                           infinite-scroll="vm.loadPage(vm.page + 1)"
                           infinite-scroll-disabled="vm.page >= vm.links['last']"
                           infinite-scroll-distance="1"
                           infinite-scroll-container="'.infinity-scroll-content'">
                        <thead style="background-color: #fafafa;">
                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th class="text-center">Filial</th>
                            <th>Responsable</th>
                            <th>Fecha</th>
                            <th>Horario</th>
                            <th>Amenidad</th>
                            <th>Acompañantes</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center" has-authority="ROLE_MANAGER">Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="finalListReservations in vm.finalListReservations | filter:vm.search | orderBy : 'initalDate'"
                            ng-if="finalListReservations.status==2">
                            <td class="text-center">{{finalListReservations.house.housenumber}}</td>
                            <td>{{finalListReservations.resident.name}} {{finalListReservations.resident.lastname}}</td>
                            <td>{{finalListReservations.initalDate | date:'longDate'}}</td>
                            <td>{{finalListReservations.schedule}}</td>
                            <td>{{finalListReservations.commonArea.name}}</td>
                            <td><span ng-if="finalListReservations.commonArea.hasDefinePeopleQuantity">{{finalListReservations.peopleQuantity}}</span>
                                <span
                                    ng-if="!finalListReservations.commonArea.hasDefinePeopleQuantity">No permitido</span>
                            </td>
                            <td class="text-center">
                                <i class="material-icons"
                                   style="color:#FDD835;font-weight:600!important; font-size: 19px; padding: 3px;"
                                   ng-if="finalListReservations.status==1">
                                    <md-tooltip md-direction="left" class="font-13 bold white-color">Pendiente de
                                        aprobación
                                    </md-tooltip>
                                    lens</i>
                                <i class="material-icons" style="color:#156db3; font-size: 19px; padding: 3px;"
                                   ng-if="finalListReservations.status==2">
                                    <md-tooltip md-direction="left" class="font-13 bold white-color">Aprobada
                                    </md-tooltip>
                                    lens</i>
                                <i class="material-icons" style="color:#c02d00; font-size: 19px; padding: 3px;"
                                   ng-if="finalListReservations.status==3">
                                    <md-tooltip md-direction="left" class="font-13 bold white-color">Rechazada
                                    </md-tooltip>
                                    cancel</i>
                                <i class="material-icons bold"
                                   style="color:#21a647; font-size: 22px; padding: 3px; font-weight: 900!important;"
                                   ng-if="finalListReservations.status==5">
                                    <md-tooltip md-direction="left" class="font-13 bold white-color">Finalizado
                                    </md-tooltip>
                                    check</i>
                                <i class="material-icons bold"
                                   style="color:#21a647; font-size: 22px; padding: 3px; font-weight: 900!important;"
                                   ng-if="finalListReservations.status==6">
                                    <md-tooltip md-direction="left" class="font-13 bold white-color">Finalizado con
                                        devolución de depósito
                                    </md-tooltip>
                                    check</i>
                                <i class="material-icons bold"
                                   style="color:#c02d00; font-size: 22px; padding: 3px; font-weight: 900!important;"
                                   ng-if="finalListReservations.status==7">
                                    <md-tooltip md-direction="left" class="font-13 bold white-color">Finalizado sin
                                        realizar
                                        depósito
                                    </md-tooltip>
                                    check</i>

                                <i class="material-icons bold" style="color:#c02d00; font-size: 19px; padding: 3px;"
                                   ng-if="finalListReservations.status==9">
                                    <md-tooltip md-direction="left" class="font-13 bold white-color">Caducada sin
                                        aprobar
                                    </md-tooltip>
                                    cancel</i>
                                <i class="material-icons bold" style="color:#c02d00; font-size: 19px; padding: 3px;"
                                   ng-if="finalListReservations.status==10">
                                    <md-tooltip md-direction="left" class="font-13 bold white-color">Cancelada por
                                        usuario
                                    </md-tooltip>
                                    cancel</i>
                                <i class="material-icons bold" style="color:#c02d00; font-size: 19px; padding: 3px;"
                                   ng-if="finalListReservations.status==11">
                                    <md-tooltip md-direction="left" class="font-13 bold white-color">Cancelada por
                                        administrador
                                    </md-tooltip>
                                    cancel</i>
                            </td>


                            <td has-authority="ROLE_MANAGER" class="text-center "
                                style="padding-top: 10px!important; padding-bottom: 0px!important;">
                                <md-menu md-position-mode="target-right target"
                                         ng-if="finalListReservations.status==1 || finalListReservations.status==2">
                                    <md-button aria-label="Open demo menu" class="md-icon-button no-padding"
                                               ng-click="$mdMenu.open($event)">
                                        <i class="material-icons" style="color:#999">
                                            <md-tooltip md-direction="left" class="font-13 bold white-color">Opciones
                                            </md-tooltip>
                                            more_vert</i>
                                    </md-button>
                                    <md-menu-content width="4">

                                        <md-menu-item ng-if="finalListReservations.status==2">
                                            <md-button ng-click="vm.cancelReservation(finalListReservations)">
                                                <div layout="row" flex>
                                                    <p flex>Cancelar solicitud</p>
                                                </div>
                                            </md-button>
                                        </md-menu-item>

                                        </md-menu-item>
                                        <md-menu-item ng-if="finalListReservations.status==1">
                                            <md-button
                                                ui-sref="common-area-administration.reservationDetail({id:finalListReservations.id})">
                                                <div layout="row" flex>
                                                    <p flex>Aprobar solicitud</p>
                                                </div>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item ng-if="finalListReservations.status==1">
                                            <md-button ng-click="vm.denyReservation(finalListReservations)">
                                                <div layout="row" flex>
                                                    <p flex>Rechazar solicitud</p>
                                                </div>
                                            </md-button>
                                        </md-menu-item>
                                        <!--                                    <md-menu-item ng-if="finalListReservations.status==1">-->
                                        <!--                                        <md-button-->
                                        <!--                                            ui-sref="common-area-administration.edit({id:finalListReservations.id})">-->
                                        <!--                                            <div layout="row" flex>-->
                                        <!--                                                <p flex>Editar</p>-->
                                        <!--                                            </div>-->
                                        <!--                                        </md-button>-->
                                        <!--                                    </md-menu-item>-->

                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-md-4 col-xs-12 col-sm-12 no-padding residentDivContainerXs" hide-lg hide-xl
                 ng-repeat="finalListReservations in vm.finalListReservations  | filter:vm.search">
                <md-card class="margin-bottom-10 residentCardContainer" md-theme-watch>
                    <div layout="row" style="padding:5px">
                        <div>
                            <i ng-if="finalListReservations.commonArea.pictureContentType==null" class="material-icons md-48 md-inactive md-dark circle-icon"
                               style="padding: 14px;font-size: 52px;"
                               aria-hidden="true ">local_florist
                            </i>
                            <img ng-if="finalListReservations.commonArea.pictureContentType!==null"
                                 data-toggle="modal" data-target="#myModal"
                                 src="{{finalListReservations.commonArea.pictureContentType}}"
                                 class="object-fit_scale-down-index img-circle"/>
                        </div>
                        <div flex layout="column">
                            <div layout="row" layout-align="space-between center">
                                <div style="margin-left: 10px" layout="row">
                                    <span class="md-headline font-15" style="font-weight: 600">{{::finalListReservations.resident.name}} {{finalListReservations.resident.lastname}}</span>
                                    <div style="margin-top: 3px;cursor: pointer">
                                    <i class="material-icons"
                                       style="color:#FDD835;font-weight:600!important; font-size: 19px; padding: 3px;"
                                       ng-if="finalListReservations.status==1">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Pendiente de
                                            aprobación
                                        </md-tooltip>
                                        lens</i>
                                    <i class="material-icons" style="color:#156db3; font-size: 19px; padding: 3px;"
                                       ng-if="finalListReservations.status==2">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Aprobada
                                        </md-tooltip>
                                        lens</i>
                                    <i class="material-icons" style="color:#c02d00; font-size: 19px; padding: 3px;"
                                       ng-if="finalListReservations.status==3">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Rechazada
                                        </md-tooltip>
                                        cancel</i>
                                    <i class="material-icons bold"
                                       style="color:#21a647; font-size: 22px; padding: 3px; font-weight: 900!important;"
                                       ng-if="finalListReservations.status==5">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Finalizado
                                        </md-tooltip>
                                        check</i>
                                    <i class="material-icons bold"
                                       style="color:#21a647; font-size: 22px; padding: 3px; font-weight: 900!important;"
                                       ng-if="finalListReservations.status==6">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Finalizado con
                                            devolución de depósito
                                        </md-tooltip>
                                        check</i>
                                    <i class="material-icons bold"
                                       style="color:#c02d00; font-size: 22px; padding: 3px; font-weight: 900!important;"
                                       ng-if="finalListReservations.status==7">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Finalizado sin
                                            realizar
                                            depósito
                                        </md-tooltip>
                                        check</i>

                                    <i class="material-icons bold" style="color:#c02d00; font-size: 19px; padding: 3px;"
                                       ng-if="finalListReservations.status==9">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Caducada sin
                                            aprobar
                                        </md-tooltip>
                                        cancel</i>
                                    <i class="material-icons bold" style="color:#c02d00; font-size: 19px; padding: 3px;"
                                       ng-if="finalListReservations.status==10">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Cancelada por
                                            usuario
                                        </md-tooltip>
                                        cancel</i>
                                    <i class="material-icons bold" style="color:#c02d00; font-size: 19px; padding: 3px;"
                                       ng-if="finalListReservations.status==11">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Cancelada por
                                            administrador
                                        </md-tooltip>
                                        cancel</i>
                                    </div>
                                </div>
                                <div style="margin-right: 10px">
                                    <div layout="row" layout-align="center" style="background: #f4f4f4;border-radius: 9%;margin-left: 10px;padding:1px 2px">
                                        <div>{{::finalListReservations.house.housenumber}}</div>
                                    </div>
                                </div>
                            </div>
                            <div layout="row" layout-align="start" style="margin-top: -8px">
                                <div style="margin-left: 10px">
                                    <span class="md-headline font-15">{{::finalListReservations.commonArea.name}}</span>
                                    <span ng-if="!finalListReservations.commonArea.hasDefinePeopleQuantity">- {{::finalListReservations.peopleQuantity}} acompañantes</span>
                                </div>
                            </div>
                            <div style="margin-left: 10px">
                                <span style="font-size: 13px">{{::finalListReservations.initalDate | date}} - {{finalListReservations.schedule}}</span>
                            </div>
                        </div>
                    </div>
                </md-card>
            </div>
        </div>
    </div>
</div>

