<div class="col-md-12 col-lg-12 col-xs-12" style="margin-top: 10px!important;">
    <div class="menu-demo-container" layout-align="start center" layout="column">
        <div layout-wrap="" layout="row" layout-fill="" layout-align="space-between center">
            <div layout="row" layout-align="space-between center" flex="100" flex-sm="100" flex-xs="100">
                <md-input-container style="min-width: 150px;margin-bottom: 0px!important">
                    <label>Filial</label>
                    <md-select ng-model="vm.houseSelectedNote"
                               md-on-close="vm.clearSearchTerm()"
                               data-md-container-class="selectdemoSelectHeader"
                               class="md-no-underline select-access"
                               ng-change="vm.loadNotes()">
                        <md-select-header class="demo-select-header">
                            <input ng-model="vm.searchTerm"
                                   type="search"
                                   placeholder="Buscar Filial.."
                                   class="demo-header-searchbox md-text"
                                   id="searchTermSelect"
                                   ng-keydown="vm.typingSearchTerm($event)">
                        </md-select-header>
                        <md-optgroup label="Filial">
                            <md-option ng-value="-1">Todas</md-option>
                            <md-option ng-repeat="house in houses | filter:{housenumber:vm.searchTerm}"
                                       ng-value="house.id">
                                {{house.housenumber}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
                <md-button ng-if="deletedStatusNote==0" ng-click="vm.showArchivedNotes()"
                           style="margin: -32px 0px 0px 0px;height: 40px;"
                           class="pointer">
                    NOTAS ARCHIVADAS <i class="material-icons material-icons-with-text no-margin">
                    history
                </i>
                </md-button>
                <md-button ng-if="deletedStatusNote==1" ng-click="vm.showActualNotes()"
                           style="margin: -32px 0px 0px 0px;height: 40px;"
                           class="pointer">
                    NOTAS ACTUALES <i class="material-icons material-icons-with-text no-margin">
                    note
                </i>
                </md-button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="fade-in" layout="column" style="margin-bottom: 150px">
            <div ng-if="!vm.isReady" layout="row" class="content-loader"
                 style="height:unset!important;min-height:70% !important" layout-sm="column" layout-fill
                 layout-align="space-around center">
                <div style="margin-top: 100px">
                    <loader></loader>
                </div>
            </div>
            <div ng-if="vm.isReady" flex-100 class="no-padding fade-in col-md-12"
                 infinite-scroll="vm.loadPageNotes(vm.page + 1)"
                 infinite-scroll-disabled="vm.page >= vm.links['last']"
                 infinite-scroll-container='".infinity-scroll-content"' infinite-scroll-distance="1"
                 infinite-scroll-parent="true">
                <no-content style="margin-top: 50px!important"
                            ng-if="notes.length == 0" icon="note"
                            text="No hay notas registradas"></no-content>

                <div ng-if="notes.length != 0" ng-repeat="note in notes | orderBy: '-creationdate'" layout="row"
                     style="padding: 10px">
                    <div style="margin-right: 10px;margin-top: 10px">
                        <div class="circle-icon-access note-template"
                             ng-class="{'note-officer-template': note.status==2,'note-archived-template': note.deleted==1}">
                            <md-icon ng-if="note.status==2">
                                security
                            </md-icon>
                            <md-icon ng-if="note.status==1">
                                home
                            </md-icon>
                            <md-icon ng-if="note.status==3">
                                note
                            </md-icon>
                        </div>
                    </div>
                    <div class="flex">
                        <div layout="row" layout-align="space-between center">
                            <h5 style="margin-bottom: 1px"><span style="font-weight: 600;font-size: 18px" ng-if="note.house!=null"><b>{{note.house.housenumber}}</b></span>
                                <span style="font-weight: 600;font-size: 18px"
                                      ng-if="note.house==null"><b>NOTA GENERAL</b></span>
                            </h5>
                            <div>
                                <md-icon ng-class="{'note-officer-icon': note.status==2}"
                                         ng-if="note.status==2 && note.deleted==0"
                                         style="margin-right: 10px!important"
                                         class="pointer no-margin"
                                         ui-sref="access-door.notes.edit({id:note.id})">
                                    create
                                    <md-tooltip md-direction="left">Editar</md-tooltip>
                                </md-icon>
                                <md-icon ng-if="note.deleted==0"
                                         ng-class="{'note-officer-icon': note.status==2}"
                                         class="pointer no-margin note-icon" ng-click="vm.delete(note)">
                                    delete
                                    <md-tooltip md-direction="bottom">Archivar</md-tooltip>
                                </md-icon>
                                <md-icon ng-if="note.deleted==1" style="color:#0097a7!important"
                                         class="pointer no-margin note-icon" ng-click="vm.restore(note)">
                                    restore
                                    <md-tooltip md-direction="bottom">Restaurar</md-tooltip>
                                </md-icon>
                            </div>
                        </div>
                        <div layout-align="center" layout="row"></div>
                        <p style="font-size: 18px"><b style="font-size: 15px">{{note.creationdate | date:'d MMM yyyy hh:mm a' }} - </b> {{note.description}}</p>
                        <md-divider ng-if="$index+1 != notes.length"></md-divider>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <md-button has-any-authority="ROLE_OFFICER" ui-sref="access-door.notes.new" style="position: fixed"
               class="md-fab md-fab-bottom-right orange-button-oficial" aria-label="Add new">
        <md-tooltip md-direction="left" class="font-13 bold white-color">CREAR NOTA</md-tooltip>
        <md-icon class="white-color"> note_add</md-icon>
    </md-button>
</div>
