<div layout="column" class="consult-info-access" style="position: fixed;background: white;width: 100%;z-index: 1">
    <form class="ng-valid ng-dirty">
        <div layout="row" layout-align="center center">
            <div flex="60" flex-xs="90" flex-sm="85" class="search-access-door">
                <div layout="row" flex-xs="70" flex="80" flex-sm="70">
                    <input type="text" id="filterAccess" auto-focus ng-keyup="vm.actionFilter($event)" flex
                           class="search-access-door-input uppercase" ng-disabled="vm.consulting"
                           ng-change="vm.checkEmptyFilter()" ng-model="vm.filter" type="submit"
                           placeholder="....">
                    <div>
                        <div>
                            <md-icon ng-class="{'pulse':vm.filterChanged}"
                                     style="font-size: 27px;margin-top: 12px;margin-right: 10px;cursor: pointer;outline: none"
                                     ng-click="vm.filterInfo()">search
                            </md-icon>
                        </div>
                    </div>
                    <div style="border-right: 1px solid gainsboro;">
                        <md-icon
                            style="font-size: 27px;margin-top: 12px;margin-right: 10px;cursor: pointer;outline: none"
                            ng-click="vm.filter=undefined;vm.showingData=false;vm.filterInfo()">close
                        </md-icon>
                    </div>
                </div>
                <div flex="20" flex-xs="30" flex-sm="30">
                    <h6 style="font-weight: 600;margin: 0;margin-left: 12px">FILIAL <span hide-xs hide-md hide-sm>SELECCIONADA</span>
                    </h6>
                    <md-input-container class="md-block  input-res input-res1"
                                        style="margin: 0px 0px 0px 10px!important">
                        <label></label>
                        <md-select ng-model="vm.houseSelected" style="margin: 0!important;"
                                   md-on-close="vm.clearSearchTerm()"
                                   data-md-container-class="selectdemoSelectHeader"
                                   class="md-no-underline select-access"
                                   ng-change="vm.selectHouse(vm.houseSelected)">
                            <md-select-header class="demo-select-header">
                                <input ng-model="vm.searchTerm"
                                       type="search"
                                       class="demo-header-searchbox md-text"
                                       placeholder="Buscar filial..."
                                       id="searchTermSelect"
                                       ng-keydown="vm.typingSearchTerm($event)">
                            </md-select-header>
                            <md-optgroup label="Filial">
                                <md-option ng-value="-1">Todas</md-option>
                                <md-option ng-repeat="house in houses | filter:{housenumber:vm.searchTerm}"
                                           ng-value="house">
                                    {{house.housenumber}}
                                </md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </div>
            </div>
            <div ng-if="vm.houseSelected!==-1">
                <button style="z-index:1!important;"
                        class="float-right md-fab md-raised md-mini red-button-oficial md-button md-ink-ripple"
                        type="button" style="margin-top: -5px;" ng-click="vm.showKeys(vm.houseSelected)"
                        aria-label="Ver claves">
                    <md-icon style="color:white!important" class="material-icons">
                        vpn_key
                    </md-icon>
                    <md-tooltip>Ver claves</md-tooltip>
                </button>
                <md-button style="z-index:1!important;"
                           class="float-right md-fab md-mini md-primary"
                           type="button" style="margin-top: -5px;" ng-click="vm.showPhone(vm.houseSelected)"
                           aria-label="Teléfono">
                    <md-icon style="color:white!important" class="material-icons">
                        phone
                    </md-icon>
                    <md-tooltip>Teléfono</md-tooltip>
                </md-button>
            </div>
        </div>
    </form>
    <div layout="row" layout="row" layout-align="center center">
        <div flex="40" flex-xs="100" layout="row" layout-align="space-around center">
            <div ng-class="{'active-bottom-tab-charge' : vm.queryType==3}" style="padding: 0 10px">
                <label class="width-100  outline-none label-tab-access"
                       flex
                       ng-class="{'active-tab-charge-invert-macro-small-tab' : vm.queryType==3}"
                       ng-click="vm.changeQueryType(3)"><i
                    class="material-icons material-icons-with-text icon-finanzes font-30">emoji_people</i>
                    <span hide-xs hide-sm hide-md class="font-weight-600">INVITADOS</span>
                </label>
            </div>
            <div ng-class="{'active-bottom-tab-charge' : vm.queryType==4}" style="padding: 0 10px">
                <label class="width-100   outline-none label-tab-access"
                       flex
                       ng-class="{'active-tab-charge-invert-macro-small-tab' : vm.queryType==4}"
                       ng-click="vm.changeQueryType(4)"><i
                    class="material-icons material-icons-with-text icon-finanzes font-30">transfer_within_a_station</i>
                    <span hide-xs hide-sm hide-md class="font-weight-600">EN TRÁNSITO</span>
                </label>
            </div>
            <div ng-class="{'active-bottom-tab-charge' : vm.queryType==1}" style="padding: 0 10px">
                <label
                    class="width-100  outline-none label-tab-access"
                    flex
                    ng-class="{'active-tab-charge-invert-macro-small-tab' : vm.queryType==1}"
                    ng-click="vm.changeQueryType(1)"><i
                    class="material-icons material-icons-with-text icon-finanzes font-30 we">group</i>
                    <span hide-xs hide-sm hide-md class="font-weight-600">RESIDENTES</span>
                </label>
            </div>
            <div ng-class="{'active-bottom-tab-charge' : vm.queryType==2}" style="padding: 0 10px">
                <label class="width-100 outline-none  label-tab-access"
                       flex
                       ng-class="{'active-tab-charge-invert-macro-small-tab' : vm.queryType==2}"
                       ng-click="vm.changeQueryType(2)"><i
                    class="material-icons material-icons-with-text icon-finanzes font-30">directions_car</i>
                    <span hide-xs hide-sm hide-md class="font-weight-600">VEHÍCULOS</span>
                </label>
            </div>
            <div ng-class="{'active-bottom-tab-charge' : vm.queryType==5}" style="padding: 0 10px" ng-if="vm.showMascotas">
                <label class="width-100 outline-none  label-tab-access"
                       flex
                       ng-class="{'active-tab-charge-invert-macro-small-tab' : vm.queryType==5}"
                       ng-click="vm.changeQueryType(5)"><i
                    class="material-icons material-icons-with-text icon-finanzes font-30">pets</i>
                    <span hide-xs hide-sm hide-md class="font-weight-600">MASCOTAS</span>
                </label>
            </div>
        </div>
    </div>
    <md-divider></md-divider>
</div>
<div layout="column" class="col-md-12 no-padding" flex>
    <div layout="column" style="border-radius:8px;background: white" class="col-md-12 no-padding">
        <div layout="row" flex="100" class="col-md-12 no-padding">
            <div flex="100" layout="column" class="col-md-12 no-padding">
                <!--MOSTRAR RESIDENTES-->
                <div class="fade-in" layout="column" layout="column" style="margin-bottom: 25px">
                    <div ng-if="vm.queryType===1" class="col-lg-12 col-md-12 col-xs-12 no-padding fade-in"
                         infinite-scroll="vm.loadPageResidents(vm.page + 1)"
                         infinite-scroll-disabled="vm.page >= vm.links['last']"
                         infinite-scroll-container='".infinity-scroll-content"' infinite-scroll-distance="0"
                         infinite-scroll-parent="true">
                        <no-content style="margin-top: 50px!important"
                                    ng-if="vm.residents.length == 0 && vm.showingData===true" icon="group"
                                    text="No hay usuarios registrados"></no-content>
                        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 residentDivContainerXs no-padding fade-in"
                             ng-repeat="resident in vm.residents | filter:vm.search track by $index">
                            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
                                     class="margin-bottom-10 residentCardContainer"
                                     md-theme-watch>
                                <div layout="row" style="padding:6px">
                                    <div>
                                        <i ng-if="resident.image_url==null"
                                           class="material-icons md-48 md-inactive md-dark circle-icon"
                                           style="padding:10px;font-size:80px"
                                           aria-hidden="true ">face
                                        </i>
                                        <img style="cursor: pointer" data-toggle="modal"
                                             class="img-circle object-fit_scale-down-access"
                                             data-target="{{'#myModal'+resident.id}}"
                                             ng-if="resident.image_url!==null" src="{{::resident.image_url}}"/>
                                    </div>
                                    <div flex layout="column" layout-align="center">
                                        <div layout="row" layout-align="space-between center" style="margin-top: -8px">
                                            <div style="margin-left: 10px;">
                                                <span class="md-headline font-15">{{::resident.name.toUpperCase()}}  {{::resident.lastname.toUpperCase()}}</span>
                                                <span ng-if="resident.principalContact"><md-icon
                                                    style="font-size: 20px;color: #009688;cursor: pointer">assignment_ind
                                                <md-tooltip directions="right">Contacto principal</md-tooltip>
                                                </md-icon></span>
                                            </div>
                                            <div layout="row" layout-align="center"
                                                 style="background: #f4f4f4;border-radius: 9%;margin-left: 10px;padding:1px 2px;position: absolute;top: 12px;right: 28px;">
                                                <div ng-if="!resident.houseClean"><b
                                                    style="font-weight: 600;padding: 0 5px">{{::resident.house.housenumber}}</b>
                                                </div>
                                                <div ng-if="resident.houseClean"><b
                                                    style="font-weight: 600;padding: 0 5px">{{::resident.houseClean.housenumber}}</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-left: 10px">
                                            <span ng-if="resident.type==1" style="font-size: 13px;font-weight: 600"> {{::resident.identificationnumber.toUpperCase()}} - </span>
                                            <span ng-if="resident.type==1"
                                                  style="font-size: 13px">Residente propietario </span>
                                            <span ng-if="resident.type==2"
                                                  style="font-size: 13px">Propietario arrendador</span>
                                            <span ng-if="resident.type==3" style="font-size: 13px">Residente</span>
                                            <span ng-if="resident.type==4" style="font-size: 13px">Inquilino</span>
                                        </div>
                                        <div ng-if="resident.phonenumber!=undefined"
                                             style="margin-left: 10px;margin-top: 5px">
                                            <md-icon style="font-size: 20px">phone</md-icon>
                                            <span><a style="color: grey;font-size: 15px;"
                                                     href="tel:{{::resident.phonenumber}}">{{::resident.phonenumber}}</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div id="{{'myModal'+resident.id}}" class="modal fade" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="background-color: #fffdfd00;box-shadow: none!important;border:none">
                                        <div class="modal-content" style="background-color: #fffdfd00;box-shadow: none!important;border:none">
                                            <div class="modal-body" style="background-color: #fffdfd00;box-shadow: none!important;border:none">
                                                <h3 class="text-center">
                                                    <img ng-if="resident.image_url!==null" src="{{resident.image_url}}"
                                                         class="object-fit_scale-down-index img-circle big-foto"/>
                                                    <h5 class="text-center" style="margin-top: -69px;font-size: 15px;font-weight: 600;color: black;">
                                                <span style="padding: 3px 10px;color: white;background: #00000061;border-radius: 7px;">
                                                {{resident.name}}</span></h5>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                    </div>
                    <!--VEHICULOS-->
                    <div ng-if="vm.queryType===2 && vm.isReady" class="col-lg-12 col-md-12 col-xs-12 no-padding fade-in"
                         infinite-scroll="vm.loadPageVehicules(vm.page + 1)"
                         infinite-scroll-disabled="vm.page >= vm.links['last']"
                         infinite-scroll-container='".infinity-scroll-content"' infinite-scroll-distance="1"
                         infinite-scroll-parent="true">
                        <no-content style="margin-top: 50px!important"
                                    ng-if="vm.vehicules.length == 0 && vm.showingData===true"
                                    icon="directions_car"
                                    text="No hay vehículos registrados"></no-content>
                        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 residentDivContainerXs no-padding"
                             ng-repeat="vehicule in vm.vehicules | filter:vm.search ">
                            <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
                                     class="margin-bottom-10 residentCardContainer"
                                     md-theme-watch>
                                <div layout="row" style="padding:6px">
                                    <div>
                                        <i ng-if="vehicule.type=='Automóvil'"
                                           class="material-icons md-48 md-inactive md-dark circle-icon"
                                           style="color: {{vehicule.color}};padding:10px;font-size:48px"
                                           aria-hidden="true ">directions_car
                                            <md-tooltip md-direction="left" class="font-13 bold white-color">
                                                Automóvil
                                            </md-tooltip>
                                        </i>
                                        <i ng-if="vehicule.type=='Motocicleta'"
                                           class="material-icons md-48 md-inactive md-dark circle-icon"
                                           style="color: {{vehicule.color}};padding:10px;font-size:48px"
                                           aria-hidden="true ">
                                            two_wheeler
                                            <md-tooltip md-direction="left" class="font-13 bold white-color">
                                                Motocicleta
                                            </md-tooltip>
                                        </i>
                                    </div>
                                    <div flex layout="column" layout-align="center">
                                        <div layout="row" layout-align="space-between center" style="margin-top: -8px">
                                            <div style="margin-left: 10px">
                                                <span class="md-headline font-15" style="font-weight: 600;">{{vehicule.licenseplate.toUpperCase()}}</span>
                                            </div>
                                            <div layout="row" layout-align="center"
                                                 style="background: #f4f4f4;border-radius: 9%;margin-left: 10px;padding:1px 2px;position: absolute;top: 12px;right: 28px;">
                                                <div><b style="font-weight: 600;padding: 0 5px">{{vehicule.houseClean.housenumber}}</b>
                                                </div>
                                            </div>
                                        </div>
                                        <div style="margin-left: 10px">
                                            <span style="font-size: 13px;">{{vehicule.brand.toUpperCase()}}</span>
                                        </div>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                    </div>

<!--                    MASCOTAS-->
                    <div ng-if="vm.queryType===5 && vm.isReady" class="col-lg-12 col-md-12 col-xs-12 no-padding fade-in"
                         infinite-scroll="vm.loadPagePets(vm.page + 1)"
                         infinite-scroll-disabled="vm.page >= vm.links['last']"
                         infinite-scroll-container='".infinity-scroll-content"' infinite-scroll-distance="1"
                         infinite-scroll-parent="true">
                        <no-content style="margin-top: 50px!important"
                                    ng-if="vm.pets.length == 0 && vm.showingData===true"
                                    icon="pets"
                                    text="No hay mascotas registradas"></no-content>
                        <div class="col-lg-4 col-md-12 col-xs-12 col-sm-12 residentDivContainerXs no-padding"
                             ng-repeat="pet in vm.pets | filter:vm.search ">
                            <md-card class="margin-bottom-10 residentCardContainer" md-theme-watch>
                                <div layout="row" style="padding:5px">
                                    <div>
                                        <i ng-if="pet.imageUrl==null" class="material-icons md-48 md-inactive md-dark circle-icon"
                                           style="padding: 14px;font-size: 52px;"
                                           aria-hidden="true ">pets
                                        </i>
                                        <img ng-if="pet.imageUrl!==null" style="cursor: pointer"
                                             data-toggle="modal" data-target="{{'#myModal'+pet.id}}"
                                             src="{{pet.imageUrl}}"
                                             class="object-fit_scale-down-index img-circle"/>
                                    </div>
                                    <div flex layout="column">
                                        <div layout="row" layout-align="space-between center">
                                            <div style="margin-left: 10px" layout="row">
                                                <span class="md-headline font-15" style="font-weight: 600">{{::pet.name}}</span>
                                            </div>
                                            <div layout="row" layout-align="space-between center">
                                                <div style="margin-right: 10px">
                                                    <div layout="row" layout-align="center" style="background: #f4f4f4;border-radius: 9%;margin-left: 10px;padding:1px 2px">
                                                        <div>{{::pet.houseNumber}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div layout="row" layout-align="start" style="margin-top: -8px">
                                            <div style="margin-left: 10px">
                                                <span class="md-headline font-15">{{::pet.type}}</span>
                                                <span style="font-size: 13px" ng-if="pet.raze!=null"> - {{::pet.raze}}</span>
                                                <span style="display: block">Número de contacto: <span ng-if="pet.contact">{{pet.contact}}</span><span ng-if="!pet.contact">No definido</span></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="{{'myModal'+pet.id}}" class="modal fade" tabindex="-1" role="dialog"
                                     aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" style="background-color: #fffdfd00;box-shadow: none!important;border:none">
                                        <div class="modal-content" style="background-color: #fffdfd00;box-shadow: none!important;border:none">
                                            <div class="modal-body" style="background-color: #fffdfd00;box-shadow: none!important;border:none">
                                                <h3 class="text-center">
                                                    <img ng-if="pet.imageUrl!==null" src="{{pet.imageUrl}}"
                                                         class="object-fit_scale-down-index img-circle big-foto"/>
                                                    <h5 class="text-center" style="margin-top: -69px;font-size: 12px;font-weight: 600;color: black;">
                                                <span style="padding: 3px 10px;color: white;background: #00000061;border-radius: 7px;">
                                                    <i  class="material-icons md-48 md-inactive md-dark circle-icon"
                                                        style="padding: 2px;font-size: 15px;color: rgb(255 98 0)!important;"
                                                        aria-hidden="true ">pets
                                                </i>
                                                {{pet.name}} </span>
                                                    </h5>
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </md-card>
                        </div>
                    </div>
                    <!--INVITADOS-->
                    <div ng-if="vm.queryType===3 && vm.isReady"
                         class="col-lg-12 col-md-12 col-xs-12 no-padding fade-in">
                        <no-content style="margin-top: 50px!important"
                                    ng-if="visitorInvited.length == 0 && vm.showingData===true"
                                    icon="emoji_people"
                                    text="No hay invitados registrados"></no-content>
                        <table ng-if="vm.totalItems!=vm.totalCountVisitor" hide-xs hide-sm hide-md
                               class="table table-bordered  table-hover font-13 gray-font tableMaterialDesign"
                               infinite-scroll="vm.loadPageVisitor(vm.page + 1)"
                               infinite-scroll-disabled="vm.page >= vm.links['last']"
                               infinite-scroll-distance="8"
                               infinite-scroll-immediate-check="true"
                               infinite-scroll-container="'.infinity-scroll-content'">
                            <tbody>
                            <tr ng-repeat="visitor in visitorInvited | orderBy:'name' track by $index"
                                ng-if="vm.verifyVisitantInivitedDate(visitor)">
                                <td><span style="font-weight: 600" class="font-17">{{visitor.houseNumber}}</span></td>
                                <td class="font-17">{{::visitor.name + " " + visitor.lastname}}
                                    {{visitor.secondlastname!=null?visitor.secondlastname:""}}
                                    <span style="background: #cbe3f9;padding: 3px 5px;border-radius: 5px;margin-left: 10px;cursor: pointer;" ng-if="vm.visitorProveedor(visitor)"><i
                                        class="material-icons material-icons-with-text no-margin">home_work</i> {{visitor.proveedor}}<md-tooltip md-direction="right">Es proovedor o empleado</md-tooltip></span>
                                </td>
                                <td>
                                    <span ng-if="visitor.hasIdentification" class="font-17">{{visitor.identificationnumber}}</span>
                                    <md-input-container ng-if="!visitor.hasIdentification"
                                                        ng-class="{'md-input-invalid': !visitor.validCed}"
                                                        class="md-block input-acces-register"
                                                        style="margin:0;">
                                        <label></label>
                                        <input ng-class="{'input-invalid': !visitor.validCed}"
                                               class="uppercase specialCharacters"
                                               style="font-size:18px;"
                                               ng-model="visitor.identificationnumber" required
                                               ng-disabled="visitor.hasIdentification" autocomplete="off"
                                               ng-change="vm.validateVisitorCed(visitor)">
                                        <div class="hint" style="color: #dd2c00!important">Cédula obligatoria.</div>
                                    </md-input-container>
                                </td>
                                <td>
                                    <div layout="row" ng-if="visitor.hasLicense">
                                                  <span style="margin-right: 5px!important;"><i
                                                      class="material-icons material-icons-with-text no-margin">directions_car</i>
                                                         </span>
                                        <span ng-if="visitor.plates.length==1" class="font-17">
                                            {{visitor.licenseplate}}
                                        </span>
                                        <md-radio-group ng-if="visitor.plates.length>1" layout="row"
                                                        ng-model="visitor.licenseplate"
                                                        aria-labelledby="favoriteFruit" required>
                                            <md-radio-button ng-repeat="plate in visitor.plates"
                                                             ng-value="plate.licenseplate" class="md-primary">
                                                {{plate.licenseplate}}
                                            </md-radio-button>
                                        </md-radio-group>
                                    </div>
                                    <md-input-container ng-if="!visitor.hasLicense"
                                                        ng-class="{'md-input-invalid': !visitor.validPlate}"
                                                        class="md-block input-acces-register" style="margin: 0">
                                        <label></label>
                                        <input ng-class="{'input-invalid': !visitor.validPlate}"
                                               class="uppercase specialCharactersAndVocals" style="font-size:18px;"
                                               ng-model="visitor.licenseplate" ng-disabled="visitor.hasLicense"
                                               autocomplete="off" ng-change="vm.validateVisitorPlate(visitor)">
                                        <div class="hint">Placa opcional.</div>
                                    </md-input-container>
                                </td>
                                <td class="text-center">
                                    <h5 class="text-center no-margin">
                                        <md-button class="md-primary md-raised" style="margin-right: 20px;"
                                                   ng-click="vm.registerVisitantFromVisitantsList(visitor)"
                                                   ng-disabled="!visitor.identificationnumber">
                                            <span>Reportar entrada</span>
                                        </md-button>
                                    </h5>
                                </td>
                            </tr>
                            <tr ng-if="vm.paintDiv>0">
                                <td colspan="5">
                                    <md-progress-linear md-mode="determinate"
                                                        value="{{(vm.totalCountVisitors/vm.totalItems)*100}}"></md-progress-linear>
                                </td>
                            </tr>
                            <tr ng-repeat="x in [].constructor(vm.paintDiv) track by $index" style="height: 70px">
                            </tr>
                            </tbody>
                        </table>

                        <div class="fade-in col-md-12 no-padding" hide-lg hide-xl>
                            <div class="col-md-12 col-xs-12 col-sm-12 no-padding residentDivContainerXs"
                                 ng-repeat="visitor in visitorInvited | orderBy:'name' track by $index">
                                <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
                                         class="margin-bottom-10 residentCardContainer"
                                         md-theme-watch>
                                    <div layout="row" style="padding:5px">
                                        <!--                                        <div>-->
                                        <!--                                            <i class="material-icons md-48 md-inactive md-dark circle-icon"-->
                                        <!--                                               style="padding: 14px;font-size: 40px;"-->
                                        <!--                                               aria-hidden="true ">transfer_within_a_station-->
                                        <!--                                            </i>-->
                                        <!--                                        </div>-->
                                        <div flex layout="column">
                                            <div layout="row" layout-align="space-between center">
                                                <div style="margin-left: 10px">
                                                    <span class="md-headline font-15" style="font-weight: 600">{{::visitor.name + " " + visitor.lastname}} {{visitor.secondlastname!=null?visitor.secondlastname:""}}</span>
                                                    <span style="background: #cbe3f9;padding: 3px 5px;border-radius: 5px;margin-left: 10px;cursor: pointer;" ng-if="vm.visitorProveedor(visitor)"><i
                                                        class="material-icons material-icons-with-text no-margin">home_work</i> {{visitor.proveedor}} <md-tooltip md-direction="left">Es proovedor o empleado</md-tooltip></span>
                                                </div>
                                                <div>
                                                    <div layout="row" layout-align="center"
                                                         style="background: #f4f4f4;border-radius: 9%;margin-right: 10px;padding:1px 2px">
                                                        <div style="font-weight: 600">{{::visitor.houseNumber}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div style="margin-left: 10px" layout="row"
                                                 layout-align="space-between center">
                                                <div layout="row" flex-xs="70">
                                                    <span ng-if="visitor.hasIdentification"
                                                          style="margin-right: 10px!important;"><i
                                                        style="margin-right: 0px!important;color:#09428a"
                                                        class="material-icons material-icons-with-text">chrome_reader_mode</i> - {{::visitor.identificationnumber}}</span>
                                                    <div layout="row" ng-if="visitor.hasLicense">
                                                  <span style="margin-right: 5px!important;"><i
                                                      class="material-icons material-icons-with-text no-margin">directions_car</i> -
                                                         </span>
                                                        <span ng-if="visitor.plates.length==1">
                                                         {{visitor.licenseplate}}
                                                          </span>
                                                        <md-radio-group ng-if="visitor.plates.length>1" layout="column"
                                                                        ng-model="visitor.licenseplate"
                                                                        aria-labelledby="favoriteFruit" required>
                                                            <md-radio-button ng-repeat="plate in visitor.plates"
                                                                             ng-value="plate.licenseplate"
                                                                             class="md-primary">
                                                                {{plate.licenseplate}}
                                                            </md-radio-button>
                                                        </md-radio-group>
                                                    </div>
                                                    <md-input-container ng-if="!visitor.hasIdentification"
                                                                        ng-class="{'md-input-invalid': !visitor.validCed}"
                                                                        class="md-block input-acces-register"
                                                                        style="margin:0;">
                                                        <label></label>
                                                        <input ng-class="{'input-invalid': !visitor.validCed}"
                                                               class="uppercase specialCharacters"
                                                               style="font-size:18px;"
                                                               ng-model="visitor.identificationnumber" required
                                                               ng-disabled="visitor.hasIdentification"
                                                               autocomplete="off"
                                                               ng-change="vm.validateVisitorCed(visitor)">
                                                        <div class="hint" style="color: #dd2c00!important">Cédula
                                                            obligatoria.
                                                        </div>
                                                    </md-input-container>

                                                    <md-input-container ng-if="!visitor.hasLicense"
                                                                        ng-class="{'md-input-invalid': !visitor.validPlate}"
                                                                        class="md-block input-acces-register"
                                                                        style="margin: 0">
                                                        <label></label>
                                                        <input ng-class="{'input-invalid': !visitor.validPlate}"
                                                               class="uppercase specialCharactersAndVocals"
                                                               style="font-size:18px;"
                                                               ng-model="visitor.licenseplate"
                                                               ng-disabled="visitor.hasLicense"
                                                               autocomplete="off"
                                                               ng-change="vm.validateVisitorPlate(visitor)">
                                                        <div class="hint">Placa opcional.</div>
                                                    </md-input-container>
                                                </div>
                                                <md-button
                                                    style="padding: 2px;min-height: 15px;height: 36px;font-size: 14px"
                                                    class="md-primary md-raised"
                                                    ng-click="vm.registerVisitantFromVisitantsList(visitor)"
                                                    ng-disabled="!visitor.identificationnumber || visitor.validPlate==false">
                                                    Entrada
                                                </md-button>
                                            </div>
                                        </div>
                                    </div>
                                </md-card>
                            </div>
                            <md-progress-linear ng-if="vm.paintDiv>0" md-mode="determinate"
                                                value="{{(vm.totalCountVisitors/vm.totalItems)*100}}"></md-progress-linear>
                            <div style="height: 89px" ng-repeat="x in [].constructor(vm.paintDiv) track by $index">

                            </div>
                        </div>
                    </div>
                    <!--EN TRANSITO-->
                    <div ng-if="vm.queryType===4 && vm.isReady"
                         class="col-lg-12 col-md-12 col-xs-12 no-padding fade-in ">
                        <no-content style="margin-top: 50px!important"
                                    ng-if="visitorInvitedByTransit.length == 0 && vm.showingData===true"
                                    icon="transfer_within_a_station"
                                    text="No hay visitantes en tránsito"></no-content>
                        <div class="table-scrollable " ng-if="visitorInvitedByTransit.length!=0" hide-xs hide-sm hide-md
                             style="border: 0px!important; overflow-y:auto">
                            <table class="table table-bordered  table-hover font-13 gray-font tableMaterialDesign"
                                   infinite-scroll="vm.loadPageVisitorIntransit(vm.page + 1)"
                                   infinite-scroll-disabled="vm.page >= vm.links['last']"
                                   infinite-scroll-distance="0"
                                   infinite-scroll-container="'.infinity-scroll-content'">
                                <thead style="background-color: #fafafa;">
                                <tr>
                                    <th>Filial que visitó</th>
                                    <th>Nombre completo</th>
                                    <th>Cédula</th>
                                    <th>Número de placa</th>
                                    <th>Entrada</th>
                                    <th>Salida</th>
                                    <th class="text-center">Acción</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="visitor in visitorInvitedByTransit | filter:vm.search | orderBy :'stillIn'">
                                    <td style="font-weight: 600" class="font-17">{{::visitor.houseNumber}}</td>
                                    <td class="font-17">{{::visitor.name + " " + visitor.lastname}}
                                        {{visitor.secondlastname!=null?visitor.secondlastname:""}}
                                    </td>
                                    <td class="font-17">{{::visitor.identificationnumber}}</td>
                                    <td class="font-17" ng-if="visitor.licenseplate!=null">{{::visitor.licenseplate}}
                                    </td>
                                    <td class="font-17" ng-if="visitor.licenseplate==null">No se registró</td>
                                    <td class="font-17">{{::visitor.arrivaltime | formatDate}}</td>
                                    <td ng-if="visitor.isinvited==4" class="font-17">Aún no ha salido <span
                                        ng-if="vm.stillIn(visitor)"><i
                                        style="color:#de2f2f;margin-right: 0!important;"
                                        class="pointer material-icons-with-text material-icons">watch_later <md-tooltip
                                        md-direction="left"
                                        class="font-13 bold white-color">Más de 24 horas sin salir</md-tooltip></i></span>
                                    </td>
                                    <td class="font-17" ng-if="visitor.isinvited==3">No se registró</td>
                                    <td class="font-17" ng-if="visitor.isinvited==5">{{::visitor.invitationlimittime |
                                        formatDate}}
                                    </td>
                                    <td class="text-center">
                                        <h5 class="text-center no-margin">
                                            <md-button class="md-primary md-raised orange-button-oficial no-margin"
                                                       ng-click="vm.registerExitFromVisitantsInTransitList(visitor)">
                                                Reportar salida
                                            </md-button>
                                        </h5>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="fade-in col-md-12 no-padding" hide-lg hide-xl>
                            <div class="col-md-12 col-xs-12 col-sm-12 no-padding residentDivContainerXs"
                                 ng-repeat="visitor in visitorInvitedByTransit | filter:vm.search ">
                                <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
                                         class="margin-bottom-10 residentCardContainer"
                                         md-theme-watch>
                                    <div layout="row" style="padding:5px">
                                        <div>
                                            <i class="material-icons md-48 md-inactive md-dark circle-icon"
                                               style="padding: 14px;font-size: 40px;"
                                               aria-hidden="true ">transfer_within_a_station
                                            </i>
                                        </div>
                                        <div flex layout="column">
                                            <div layout="row" layout-align="space-between center">
                                                <div style="margin-left: 10px">
                                                    <span class="md-headline font-15" style="font-weight: 600;">{{::visitor.name + " " + visitor.lastname + " " + visitor.secondlastname}}</span>
                                                </div>
                                                <div style="margin-right: 10px">
                                                    <div layout="row" layout-align="center"
                                                         style="background: #f4f4f4;border-radius: 9%;margin-left: 10px;padding:1px 2px">
                                                        <div>{{::visitor.houseNumber}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div layout="row" layout-align="start" style="margin-top: -8px">
                                                <div style="margin-left: 10px;margin-top: 4px;margin-bottom: 2px">
                                                    <md-icon ng-if="visitor.licenseplate!=undefined">
                                                        directions_car
                                                    </md-icon>
                                                    <md-icon ng-if="visitor.licenseplate==undefined">
                                                        directions_walk
                                                    </md-icon>
                                                    <span ng-if="visitor.licenseplate!=undefined"> - {{visitor.licenseplate}} </span>
                                                </div>
                                            </div>
                                            <div style="margin-left: 10px">
                                                <span style="font-size: 13px">{{::visitor.arrivaltime | formatDate}} - Aún no ha salido</span>
                                            </div>
                                            <md-button
                                                style="position: absolute; bottom: 16px;right: 11px;padding: 2px;min-height: 15px;height: 36px;font-size: 14px"
                                                class="md-primary md-raised orange-button-oficial no-margin"
                                                ng-click="vm.registerExitFromVisitantsInTransitList(visitor)">
                                                Salida
                                            </md-button>
                                        </div>
                                    </div>
                                </md-card>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

