<div layout="row" class="col-md-10 col-md-offset-1 col-xs-12 fade-in register-div" style="min-height:490px">
    <div layout="column" layout-align="center" layout-align-xs="default" id="content-officer"
         class="background-white no-padding-bottom padding-30-acess-door col-md-12 col-xs-12 border-radius-8"
         style="padding-bottom: 0!important;">
        <md-input-container class="md-block margin-10-0 input-res input-res1">
            <label class="font-15">Seleccione una filial para consultar su información</label>
            <md-icon>
                <span>home</span>
            </md-icon>
            <md-select ng-model="vm.house" class="select-res no-margin" ng-change="selectHouse(vm.house)" required>
                <md-option value="all">
                    Todas las filiales
                </md-option>
                <md-option ng-repeat="house in houses" ng-value="house">
                    {{house.housenumber}}
                </md-option>
            </md-select>
        </md-input-container>
        <div layout="row" layout-xs="column">
        <h3 flex="20" flex-xs="100" ng-if="vm.house=='all'" hide-xs hide-sm hide-md class="caption-subject font-green-sharp bold no-margin">
            Todas las filiales
        </h3>
        <h3 flex="20" flex-xs="100" ng-if="vm.house!='all'" hide-xs hide-sm hide-md class="caption-subject font-green-sharp bold no-margin">Filial
            {{vm.house.housenumber}}
            <div class="btn-group pull-right margin-right-10">
                    <span style="padding:5px 10px;" ng-show="vm.house.isdesocupated == 1"
                          class="label label-sm label-danger bold">
										Deshabitada </span>
            </div>
        </h3>
        <div flex="80" flex-xs="100" class="form-group no-padding " style="margin-bottom: 0px;"
             id="index-search-bar">
            <div class="input-icon" style="color:#484848!important;">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control "
                       style="background-color: #f5f5f5; border:0px!important; "
                       placeholder="Buscar" ng-model="vm.query">
            </div>
        </div>
        </div>
        <div class="margin-top-10" layout="row" layout-align="center center" ng-if="vm.house!='all'">
            <div class="little-container font-12" flex="75">
                <div class="col-md-12">
                    <b>Número de telefono o extensión: </b>
                    <span ng-show="vm.house.extension==undefined || vm.house.extension==''">No definido</span>
                    <span
                        ng-hide="vm.house.extension==undefined || vm.house.extension==''">{{vm.house.extension}}</span>
                </div>
            </div>
            <div flex="25">
                <md-button style="margin-top: -5px;"
                           class="float-right md-fab md-raised md-mini red-button-oficial"
                           ng-click="vm.showKeys()">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible"
                                class="font-13 bold white-color">Ver claves
                    </md-tooltip>
                    <md-icon style="color:white!important">vpn_key</md-icon>
                </md-button>
            </div>
        </div>
        <div style="padding-top: 0 !important;min-height: 40px;margin-top:10px!important;" class="tab_container"
             layout="row">
            <label flex class="outline-none" ng-class="{'active-tab-charge' : vm.state==1}"
                   ng-click="vm.selectState(1)"><i
                class="material-icons material-icons-with-text icon-finanzes">people</i> <span hide-xs hide-sm hide-md>Residentes</span></label>
            <label flex class="outline-none" ng-class="{'active-tab-charge' : vm.state==2}"
                   ng-click="vm.selectState(2)"><i class="material-icons material-icons-with-text icon-finanzes">directions_car</i>
                <span hide-xs hide-sm hide-md>Vehículos</span></label>
            <label flex class="outline-none" ng-class="{'active-tab-charge' : vm.state==3}"
                   ng-click="vm.selectState(3)"><i
                class="material-icons material-icons-with-text icon-finanzes">face</i> <span hide-xs hide-sm hide-md>Visitantes Invitados</span></label>
        </div>
        <div layout="column" class="margin-top-10 col-md-12 col-xs-12  no-padding">
            <!--RESIDENTES-->
            <div ng-if="vm.state==1" class="col-md-12 col-xs-12 no-padding fade-in container-acces-door-info" ng-class="{'height-264':vm.house=='all'}">
                <no-content-small class="col-lg-12 col-md-12 col-sm-12 col-xs-1  no-padding" ng-if="vm.residents.length == 0"
                                  icon="group"
                                  text="No hay usuarios registrados en la filial"></no-content-small>

                <div class="col-md-6 col-xs-12 residentDivContainerXs"
                     ng-repeat="resident in vm.residents | filter:vm.query | orderBy:'-enabled' track by $index ">
                    <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
                             class="margin-bottom-10 residentCardContainer"
                             md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                    <span class="md-headline font-15 " layout="row" layout-align="start center">{{resident.name.toUpperCase()}}  {{resident.lastname.toUpperCase()}}
                                        <i
                                            class="material-icons greenBalance"
                                            style="color: #999; padding-left: 5px!important;"
                                            ng-if="resident.enabled==1">
                                        <md-tooltip md-direction="right" class="font-13 bold white-color">Habilitado
                                        </md-tooltip>
                                        check_circle</i>
                                         <i
                                             class="material-icons redBalance"
                                             style="color: #999; padding-left: 5px!important;"
                                             ng-if="resident.enabled==0">
                                        <md-tooltip md-direction="right" class="font-13 bold white-color">Deshabilitado
                                        </md-tooltip>
                                        error</i>
                                         <i class="material-icons greenBalance"
                                            style="color: #999; padding-left: 5px!important;"
                                            ng-if="resident.principalContact==1">
                                    <md-tooltip md-direction="right" class="font-13 bold white-color">Contacto principal
                                        de la filial
                                    </md-tooltip>
                                    assignment_ind</i>
                                    </span>
                                <span class="md-subhead" ng-if="resident.type==1">Residente propietario </span>
                                <span class="md-subhead" ng-if="resident.type==2">Residente inquilino</span>
                                <span class="md-subhead" ng-if="resident.type==3">Visitante autorizado</span>
                                <span class="md-subhead" ng-if="resident.type==null">Tipo de residente no definido</span>
                                <span class="md-subhead" ng-if="vm.house=='all'"><b>Filial: {{resident.house.housenumber}}</b></span>
                                <span class="md-subhead">Cédula: {{resident.identificationnumber.toUpperCase()}}</span>
                                <span class="md-subhead">Teléfono: <span ng-if="resident.phonenumber==undefined">No definido</span>
                                 <span ng-if="resident.phonenumber!=undefined">{{resident.phonenumber}}</span></span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-md card-media  hidden-md hidden-lg"
                                     style="padding-top: 10px!important;">
                                    <img ng-hide="resident.image_url" src="content/images/nobody-image.jpg"
                                         height="100"
                                         width="100"/>
                                    <img style="cursor: pointer" data-toggle="modal" data-target="#myModal"  ng-show="resident.image_url!==null" src="{{resident.image_url}}"
                                         class="object-fit_scale-down-index-xs"/>
                                </div>
                                <div class="md-media-sm card-media hidden-xs hidden-sm"
                                     style="padding-top: 10px!important;">
                                    <img ng-hide="resident.image_url" src="content/images/nobody-image.jpg"
                                         height="80"
                                         width="80"/>
                                    <img style="cursor: pointer" data-toggle="modal" data-target="#myModal"  ng-show="resident.image_url!==null" src="{{resident.image_url}}"
                                         class="object-fit_scale-down-index"/>
                                </div>
                            </md-card-title-media>
                        </md-card-title>
                    </md-card>
                    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <img src="{{resident.image_url}}" class="img-responsive">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <!--VEHICULES-->
            <div ng-if="vm.state==2" class="col-md-12 col-xs-12 fade-in container-acces-door-info  no-padding" ng-class="{'height-264':vm.house=='all'}">

                <no-content-small class="col-lg-12 col-md-12 col-sm-12 col-xs-12 " ng-if="vm.vehicules.length == 0"
                                  icon="directions_car"
                                  text="No hay vehículos registrados"></no-content-small>

                <div class="col-md-6 no-padding col-sm-6 col-xs-12 "
                     ng-repeat="vehicule in vm.vehicules | filter:vm.query | orderBy:'-enabled' track by $index">
                    <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
                             class="margin-bottom-10 residentCardContainer"
                             md-theme-watch style="min-height: 135px!important;">
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline font-20" layout="row" layout-align="start center">{{vehicule.licenseplate.toUpperCase()}}
                                <i
                                    class="material-icons greenBalance"
                                    style="color: #999; padding-left: 5px!important;"
                                    ng-if="vehicule.enabled==1">
                                        <md-tooltip md-direction="right" class="font-13 bold white-color">Habilitado
                                        </md-tooltip>
                                        check_circle</i>
                                         <i
                                             class="material-icons redBalance"
                                             style="color: #999; padding-left: 5px!important;"
                                             ng-if="vehicule.enabled==0">
                                        <md-tooltip md-direction="right" class="font-13 bold white-color">Deshabilitado
                                        </md-tooltip>
                                        error</i>
                                </span>
                                <span class="md-subhead" style="padding-top: 15px!important;" ng-if="vm.house=='all'"><b>Filial: {{vehicule.house.housenumber}}</b></span>
                                <span class="md-subhead" ng-class="{'padding-top-15':vm.house!='all'}">Marca: {{vehicule.brand.toUpperCase()}}</span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-sm card-media">
                                    <i ng-show="vehicule.type=='Automóvil'" class=" text-center fa fa-car outline-car "
                                       style="color: {{vehicule.color}};font-size:45px!important;"
                                       aria-hidden="true ">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Automóvil
                                        </md-tooltip>

                                    </i>
                                    <i ng-show="vehicule.type=='Motocicleta'"
                                       class=" text-center fa fa-motorcycle outline "
                                       style="color: {{vehicule.color}}; font-size:45px!important;"
                                       aria-hidden="true ">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Motocicleta
                                        </md-tooltip>

                                    </i>


                                </div>
                            </md-card-title-media>
                        </md-card-title>
                    </md-card>
                </div>

            </div>
            <!--INVITED VISITORS-->
            <div ng-if="vm.state==3" class="col-md-12 col-xs-12 fade-in container-acces-door-info  no-padding" ng-class="{'height-264':vm.house=='all'}">
                <no-content-small class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-if="vm.areOnTime()==0"
                                  icon="face"
                                  text="No hay visitantes invitados registrados"></no-content-small>
                <div class="col-md-12 col-xs-12 residentDivContainerXs"
                     ng-repeat="visitor in vm.visitorsInvited | filter:vm.query | orderBy:'name'">
                    <md-card ng-if="vm.verifyVisitantInivitedDate(visitor)" md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
                             class="margin-bottom-10 residentCardContainer"
                             md-theme-watch>
                        <form name="form" layout="row" layout-xs="column" layout-align="space-between center" layout-align-xs="start center"
                              ng-submit="vm.registerVisitantFromVisitantsList(visitor)">
                            <div flex="30" flex-xs="100">
                                    <span class="md-headline font-15" style="margin-left: 15px;" layout="row"
                                          layout-align="start center">{{visitor.name.toUpperCase()}}  {{visitor.lastname.toUpperCase()}} {{visitor.secondlastname.toUpperCase()}}
                                    </span>
                                <span class="md-headline font-13" ng-if="vm.house=='all'" style="margin-left: 15px;" layout="row"
                                      layout-align="start center"><b>Filial: {{visitor.houseNumber}}</b>
                                    </span>
                            </div>
                            <div flex="70" flex-xs="100" layout="row" layout-xs="column" layout-align="space-between center">
                                <md-input-container ng-class="{'md-input-invalid': !visitor.validCed}" class="md-block"
                                                    style="margin-top: 30px;margin-bottom: 0;">
                                    <label>Número de cédula</label>
                                    <input ng-class="{'input-invalid': !visitor.validCed}"
                                           class="uppercase specialCharacters"
                                           maxlength="9"
                                           ng-model="visitor.identificationnumber" required
                                           ng-disabled="visitor.hasIdentification" autocomplete="off"
                                           ng-change="vm.validateVisitorCed(visitor)">
                                    <div class="hint">Obligatorio.</div>

                                </md-input-container>
                                <md-input-container ng-class="{'md-input-invalid': !visitor.validPlate}"
                                                    class="md-block" style="margin-top: 30px;margin-bottom: 0;">
                                    <label>Número de placa</label>
                                    <input ng-class="{'input-invalid': !visitor.validPlate}"
                                           class="uppercase specialCharactersAndVocals"
                                           ng-model="visitor.licenseplate" ng-disabled="visitor.hasLicense"
                                           autocomplete="off" ng-change="vm.validateVisitorPlate(visitor)">
                                    <div class="hint">Opcional.</div>
                                </md-input-container>
                                <md-button class="md-primary md-raised"
                                           ng-disabled="form.$invalid || !visitor.validCed || !visitor.validPlate"
                                           type="submit">
                                    Reportar visita
                                </md-button>
                            </div>
                        </form>
                    </md-card>
                </div>
            </div>
            <h6 layout="row" layout-align="center center" class="text-center font-green-sharp bold"><span style="margin-right: 3px">Total</span>
                <span ng-if="vm.state==1"> {{vm.residents.length}}</span>
                <span ng-if="vm.state==2"> {{vm.vehicules.length}}</span>
                <span ng-if="vm.state==3"> {{vm.areOnTime()}}</span>
            </h6>
        </div>
    </div>
</div>


<script>
    function centerModal() {
        $(this).css('display', 'block');
        var $dialog = $(this).find(".modal-dialog");
        var offset = ($(window).height() - $dialog.height()) / 2;
        // Center modal vertically in window
        $dialog.css("margin-top", offset);
    }

    $('.modal').on('show.bs.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });

</script>
