<div has-authority="ROLE_OFFICER" id="headerAccess" class="col-md-12 page-header md-shadow-z-1-i navbar navbar-fixed-top">
    <div class="col-md-9 col-sm-6 col-xs-6 page-header-inner">
        <div class="page-logo">
            <a>
                <img src="content/images/logoAditum.png" alt="logo" class="logo-default" height="22" width="80">
            </a>
        </div>
    </div>
    <div class="col-md-3 col-sm-6 col-xs-6 ">
        <div class="top-menu">
            <ul class="nav navbar-nav pull-right">

                <li class="dropdown dropdown-extended" id="header_notification_bar">
                    <a ng-click="vm.updateDateNotes()" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <i class="fa fa-bell-o" style="font-size:20px!important;"></i>
                        <span class="badge badge-default" style="font-size:15px!important;">
            {{vm.countNotes}} </span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="external">
                            <h3><span class="bold">{{vm.countNotes}}</span> Servicios a domicilio</h3>

                        </li>
                        <li>
                            <ul class="dropdown-menu-list scroll" style="height: 325px;" data-handle-color="#637283">
                                <li ng-repeat="note in vm.notes | orderBy:'-'">
                                        <span class=" col-md-12 col-sm-12 col-xs-12" style="margin-top:10px; border-bottom: 1px solid #F5F5F5; ">
                                            <span class="bold font-14 blue-font col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding" >Casa {{note.housenumber}}</span>
                                            <span class="light-gray-font col-lg-7 col-md-7 col-sm-7 col-xs-7 text-right no-padding"> {{note.sinceDate}}</span>
                                              <span ng-click="vm.deleteDomicilioReports(note)" class=" col-lg-1 col-md-1 col-sm-1 col-xs-1"><i class="fa fa-times-circle red" aria-hidden="true"></i></span>
                                                  <span class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding " style="margin-top:10px; margin-bottom:10px; color:#757575;">{{note.description}}</span>
                                        </span>


                                </li>

                            </ul>
                        </li>
                    </ul>
                </li>

                <li class="dropdown dropdown-user">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                        <img ng-hide="currentUserImage" class="img-circle" src="content/images/nobody-image.jpg"   width="35"/>
                        <!--<img ng-show="currentUserImage!==null" src="{{currentUserImage}}" width="35" class="img-circle"/>-->
                        <span class="username username-hide-on-mobile ng-binding">
					        {{' '+companyUser.name +' '+ companyUser.lastname}}</span>
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu ">
                        <li>
                            <a href="" ng-click="vm.logout()">
                                <i class="fa fa-sign-out"></i> Cerrar sesión</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="access-back">
    <div class="opacity col-lg-12 col-md-12 col-sm-12 col-xs-12 " >
        <div ng-class="{'padding-top-20': vm.hideEmergencyForm==1}" class="access-container col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-offset-1 col-sm-10 col-xs-12 ">
            <div ng-hide="vm.hideRegisterForm==1" class="col-lg-6 col-md-6 col-sm-6 no-padding">
                <div class="portlet light bordered access-search-container col-lg-12 col-md-12  col-sm-12 col-xs-12 ">

                    <h1 class="page-title small-margin-top text-center col-md-12"> Puerta de acceso </h1>


                    <div class="height-30-pixel col-lg-12 col-md-12 col-sm-12 hidden-xs"></div>


                    <div class="form-group no-padding col-lg-offset-1 col-lg-10 col-md-offset-1 col-md-10 col-sm-10 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon ">
                                <i class="fa fa-car"></i>
                                </span>
                            <input type="text" id="vehicule_license_plate" class="form-control height-12-percent font-27 input_id specialCharactersAndVocals " ng-change="vm.getVehicule()" ng-model="vm.id_vehicule" placeholder="Número placa (sin guiones)">
                        </div>
                    </div>
                    <button class="btn left-padding-10 col-lg-1 col-md-1 col-sm-2 hidden-xs btn-access-door height-39-pixel no-shadow"   ng-click="vm.deleteResidentVehiculeSpots()" title="Borrar texto" name="button">
                        <span > <i style="margin-top:4px;" class="fa fa-times-circle font-20 gray-font" aria-hidden="true"></i></span>
                    </button>


                    <div class="height-80-pixel col-md-12 col-sm-12 hidden-xs"></div>


                    <div class="form-group no-padding col-lg-offset-1  col-lg-10 col-md-offset-1  col-md-10 col-sm-10 col-xs-12">
                        <div class="input-group">
                            <span class="input-group-addon ">
                                  <i class="fa fa-user"></i>
                                  </span>
                            <input type="text" class="form-control height-12-percent specialCharacters font-27 input_id "  ng-change="vm.getResident()" ng-model="vm.id_number" placeholder="Cédula" id="id_license_number">
                        </div>
                    </div>
                    <button class="btn   left-padding-10 col-lg-1 col-md-1 col-sm-2 hidden-xs btn-access-door height-39-pixel no-shadow" ng-click="vm.deleteResidentVehiculeSpots()" title="Borrar texto" name="button">
                        <span>  <i style="margin-top:4px;"class="fa fa-times-circle font-20 gray-font" aria-hidden="true"></i></span>
                    </button>


                    <div class="height-30-pixel col-lg-12 col-md-12 col-sm-12 hidden-xs "></div>

                    <button type="submit" ng-disabled="vm.show === 1 || vm.show === 2" class="btn blue font-15 col-lg-offset-1 col-lg-8 col-md-offset-1 col-md-8  col-sm-7 col-xs-7 btn-access-door" ng-click="vm.searchVisitor()" name="button">Registrar visitante</button>

                    <button class="btn red col-lg-1 col-md-1 col-sm-2 col-xs-2 btn-access-door"  ng-click="vm.show=8" name="button" title="Consultar clave de seguridad o emergencia">
                        <span>  <i class="fa fa-key font-17" aria-hidden="true"></i></span>
                    </button>
                    <button class="btn blue col-lg-1 col-md-1 col-sm-2 col-xs-2 btn-access-door" id="access_key_button" ng-click="vm.houseInformationInput()" name="button" title="Consultar información de una casa">
                        <span>  <i class="fa fa-home font-17 white-color" aria-hidden="true"></i></span>
                    </button>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <button type="submit" style="margin:5px 0px" class="btn green font-15 col-sm-12 col-md-12 col-xs-12 col-lg-12" ng-click="vm.reloadAll()" name="buton">Recargar datos del sistema</button>
                    </div>
                    <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12">
                        <button type="submit" style="margin:5px 0px" class="btn default info font-15  col-sm-12 col-md-12 col-xs-12 col-lg-12" ng-click="vm.reportarTurno()" name="buton">Reportar cambio de turno</button>
                    </div>
                </div>

                <div class="height-30-pixel col-lg-12 col-md-12 col-sm-12 hidden-xs "></div>
            </div>

            <div ng-hide="vm.hideRegisterForm==1" class="access-result-search-container  col-md-6 col-sm-6 col-xs-12 ">

                <div class="portlet light bordered access-information-result-container col-md-12 col-sm-12 col-xs-12 col-lg-12">


                    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 " ng-show="vm.show==3" id="this">

                        <div id="error-image" class="result-image"></div>

                        <div class="height-5-percent col-md-12 col-sm-12 hidden-xs "></div>
                        <p class="red text-center font-30 col-md-12  col-sm-12  col-xs-12">No se encuentran datos registrados</p>
                    </div>





                    <div class="col-md-12 col-sm-12 col-xs-12" ng-show="vm.show==2">
                        <div class="display-none " id="vehiculeAccess">
                            <h1 class="page-title {{vm.colorVehiculeRegistered}} bold text-center font-30 " id="access_tittle">{{vm.vehiculeRegisteredTitle}}</h1>
                            <div class="col-md-12 col-sm-12 hidden-xs">
                                <div id="{{vm.imageVehiculeState}}" class="result-image "></div>
                            </div>
                            <div class="height-30-pixel hidden-md col-sm-12 hidden-xs "></div>
                            <div class="access_car_information gray-font text-center col-md-4 col-sm-6 col-xs-6 no-padding">
                                <h5 class="bold font-30" style="text-transform: uppercase;">{{vm.vehicule.licenseplate}}</h5>
                                <h5 class="font-20">Placa</h5>
                            </div>
                            <div class="hidden-lg hidden-md hidden-sm col-xs-6">
                                <div id="{{vm.imageVehiculeState}}" class="result-image "></div>
                            </div>
                            <div  ng-show="vm.vehicule.type=='Automóvil'" class="col-md-4 col-sm-6 col-xs-12 no-padding marging-top-20" id="car-icon-font">
                                <h1 class="col-mg-12 text-center "><i class=" text-center fa fa-car font-80 " style="color: {{vm.vehicule.color}}; text-shadow: 0px 0px 2px black;" aria-hidden="true "></i> </h1>
                            </div>
                            <div ng-show="vm.vehicule.type=='Motocicleta'" class="col-md-4 col-sm-6 col-xs-12 no-padding marging-top-20" id="car-icon-font">
                                <h1 class="col-mg-12 text-center "><i class=" text-center fa fa-motorcycle font-80 " style="color: {{vm.vehicule.color}}; text-shadow: 0px 0px 1px black;" aria-hidden="true "></i> </h1>
                            </div>
                            <div class="height-30-pixel  hidden-md hidden-lg col-sm-12 hidden-xs "></div>

                            <div class="col-md-4 col-sm-6 col-xs-6 gray-font no-padding text-center ">
                                <h5 class="bold font-30">{{vm.vehicule.brand}}</h5>
                                <h5 class=" font-20">Marca</h5>

                            </div>

                            <div class="col-lg-12 col-md-12 hidden-sm hidden-xs text-center"></div>

                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6 text-center gray-font no-padding">
                                <h5 class="font-30 bold text-center "> {{vm.SelectedHouse}}</h5>
                                <h5 class=" font-20 text-center">Casa</h5>
                            </div>
                            <div class="height-10-pixel hidden-md hidden-lg col-sm-12 hidden-xs text-center"></div>
                            <div class="height-30-pixel col-md-7 hidden-sm hidden-xs text-center"></div>
                            <button type="submit" class="btn red font-11 col-md-7 col-sm-12 col-xs-12 btn-access-door " ng-click="vm.getKeys()" name="buton ">Ver claves de seguridad </button>

                        </div>
                    </div>




                    <div class="col-md-12 col-sm-12 col-xs-12 " ng-show="vm.show==1 ">

                        <div class="display-none" id="residentAccess">
                            <h1 class="page-title {{vm.colorResidentRegistered}} bold text-center font-30 " id="registered_access_tittle">{{vm.residentRegisteredTitle}}</h1>
                            <div class="success-resident-image">
                                <img ng-show="vm.resident.image_url==null" width="160" height="160" class="img-circle" src="content/images/nobody-image.jpg"/>
                                <img ng-hide="vm.resident.image_url==null" src="{{vm.resident.image_url}}" width="160" height="160" class="img-circle"/>
                            </div>

                            <div class="col-md-8 gray-font">
                                <div class="height-5-percent col-md-12 hidden-sm hidden-xs "></div>
                                <h5 class="font-20 text-center bold gray-font">{{vm.resident.name}} {{vm.resident.lastname}} {{vm.resident.secondlastname}}</h5>
                                <h5 class="font-20 text-center gray-font">Nombre</h5>
                            </div>
                            <div class="col-md-4 col-sm-4  gray-font">
                                <h5 class="font-30 bold text-center"> {{vm.housenumber}}</h5>
                                <h5 class="font-20 text-center">Casa</h5>
                            </div>

                            <div class="col-md-8 col-sm-8 text-center gray-font no-padding">
                                <h5 class="font-30 bold text-center "> {{vm.resident.identificationnumber.toUpperCase();}}</h5>
                                <h5 class=" font-20 text-center">Cédula</h5>
                            </div>
                            <div class="height-30-pixel col-md-4 col-sm-12 hidden-xs hidden-sm text-center"></div>
                            <button type="submit" class="btn red font-11 col-md-4 col-sm-12 col-xs-12 btn-access-door " ng-click="vm.getKeys()" name="buton ">Ver claves </button>


                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 " ng-show="vm.show==10">
                        <div class="loading col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIconnn">
                            <h1 class="text-center"><img src="../../assets/global/img/2.gif" alt="" /></h1>
                        </div>
                        <div class="display-none" id="visitantInvitedtAccess">
                            <h1 class="page-title green-font bold text-center font-30 " >Visitante invitado</h1>

                            <div class="col-md-8 gray-font">
                                <div class="height-41-pixel hidden-md col-sm-12 hidden-xs "></div>
                                <h5 class="font-20 text-center bold gray-font">{{vm.invited_visitant_name}} {{vm.invited_visitant_last_name}} {{vm.invited_visitant_second_last_name}}</h5>
                                <h5 class="font-20 text-center gray-font">Nombre</h5>
                            </div>
                            <div class="col-md-4 col-sm-4  gray-font">
                                <div class="height-41-pixel hidden-md col-sm-12 hidden-xs "></div>
                                <h5 class="font-30 bold text-center"> {{vm.invited_visitant_house_number}}</h5>
                                <h5 class="font-20 text-center">Casa</h5>
                            </div>
                            <div class="height-41-pixel col-sm-12 hidden-xs "></div>

                            <div class="col-md-7 col-sm-8 text-center gray-font no-padding">
                                <h5 class="font-30 bold text-center "> {{vm.invited_visitant_indentification.toUpperCase()}}</h5>
                                <h5 class=" font-20 text-center">Cédula</h5>
                            </div>
                            <div class="col-md-5 col-sm-8 text-center gray-font no-padding">
                                <h5 class="font-30 bold text-center "> {{vm.invited_visitant_license_plate}}</h5>
                                <h5 class=" font-20 text-center">Placa</h5>
                            </div>

                            <div class="height-41-pixel col-sm-12 hidden-xs "></div>
                            <button type="submit" class="btn red font-15 col-md-offset-1 col-md-10 col-sm-12 col-xs-12 btn-access-door margin-bottom-25" ng-click="vm.insert_visitant_invited()" name="buton ">Registrar visita </button>


                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 " ng-show="vm.show==8 ">
                        <div class="portlet-title gray-font">
                            <div class="caption text-center font-19">
                                Consultar clave de seguridad
                            </div>
                        </div>
                        <div class="height-5-percent col-md-12 hidden-sm hidden-xs "></div>
                        <div class="portlet-body form">
                            <form role="form" ng-submit="vm.getKeyInformation()">
                                <div class="form-body">
                                    <div class="form-group col-md-12">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                        <i class="fa fa-key"></i>
                                        </span>
                                            <input type="text" ng-model="vm.security_key" class="form-control gray-font height-12-percent font-19 " id="identification_number" placeholder="Clave de seguridad o emergencia">
                                        </div>
                                        <h3 class="text-right ">
                                            <button type="submit" class="btn blue "> Consultar</button>
                                            <button  type="button" ng-click="vm.show=4; vm.security_key=''"  class="btn default gray-font ">Cerrar</button>
                                        </h3>
                                    </div>

                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-12 col-sm-12 col-xs-12 " ng-show="vm.show==11 ">

                        <div class="portlet-title gray-font">
                            <div class="caption text-center font-19">
                                Consultar información de una casa
                            </div>
                        </div>
                        <div class="height-5-percent col-md-12 hidden-sm hidden-xs "></div>
                        <div  class="portlet-body form">
                            <form role="form" ng-submit="vm.getHouseInformation()">
                                <div class="form-body">
                                    <div class="form-group col-md-12  no-padding">
                                        <div class="form-group col-md-12 no-padding">
                                            <label class="col-md-4 col-sm-3 col-xs-5 gray-font">Número de casa:</label>
                                            <div class="form-group col-md-8 col-sm-9 col-xs-7  no-padding">
                                                <select class="form-control gray-font" data-ng-model="vm.houseForInformation" ng-options="house.housenumber for house in vm.houses | orderBy: 'housenumber' track by house.id" required>
                                                    <option value="">Seleccione una casa</option>
                                                </select>
                                            </div>
                                        </div>
                                        <h3 class="text-right ">
                                            <button type="submit" class="btn blue ">Consultar información</button>
                                        </h3>
                                    </div>

                                </div>
                            </form>
                        </div>

                        <div style="margin-top:20px"class="col-md-12 hidden-sm hidden-xs "></div>
                        <div class="portlet-title gray-font">
                            <div class="caption text-center font-19">
                                Consultar visitantes invitados de una casa
                            </div>
                        </div>
                        <div class="height-5-percent col-md-12 hidden-sm hidden-xs "></div>
                        <div class="portlet-body form">
                            <form role="form" ng-submit="vm.getInvitedVisitantsByHouse()">
                                <div class="form-body">
                                    <div class="form-group col-md-12  no-padding">
                                        <div class="form-group col-md-12 no-padding">
                                            <label class="col-md-4 col-sm-3 col-xs-5 gray-font">Número de casa:</label>
                                            <div class="form-group col-md-8 col-sm-9 col-xs-7  no-padding">
                                                <select class="form-control gray-font" data-ng-model="vm.houseForVisitantsInformation" ng-options="house.housenumber for house in vm.houses | orderBy: 'housenumber' track by house.id" required>
                                                    <option value="">Seleccione una casa</option>
                                                </select>
                                            </div>
                                        </div>
                                        <h3 class="text-right ">
                                            <button type="submit" class="btn green ">Consultar visitantes invitados</button>
                                        </h3>
                                    </div>

                                </div>
                            </form>
                        </div>
                        <div style="height:40px" class="col-md-12 hidden-xs">

                        </div>
                        <h1 style="text-align:right">
                            <button type="button" ng-click="vm.show=4; vm.security_key=''"  class="btn default gray-font ">Cerrar</button>
                        </h1>

                    </div>
                    <div id="loandingVisitantByHouseIndex" ng-show="vm.loadingVisitantByHouseIndex==1" class="col-md-12 text-center "><h5 class="font-15 bold gray-font">Cargando...</h5></div>
                    <div class="col-md-12 col-sm-12 col-xs-12 display-none no-padding" id="visitantByHouseIndex" ng-show="vm.show==13" >
                        <div class="col-md-2 col-sm-12 col-xs-12 no-padding">
                            <button type="button" ng-click="vm.show=4;" class="btn default gray-font ">Cerrar</button>
                        </div>

                        <div style="margin-bottom:10px;" ng-show="vm.visitantByHouseList.length>0" class=" col-md-10 portlet-title ">
                            <div class="caption text-center font-20">
                                Visitantes invitados de la casa {{vm.visitantListHouse.housenumber}}
                            </div>
                        </div>
                        <div  ng-show="vm.visitantByHouseList.length==0" class="caption text-center font-20">
                            No hay visitantes invitados en esta casa
                        </div>

                        <div class="portlet-body ">
                            <div class="table-scrollable">

                                <table ng-show="vm.visitantByHouseList.length>0" class="table table-striped table-hover font-12">
                                    <thead>
                                    <tr>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">Cédula</th>
                                        <th class="text-center">Placa</th>
                                        <th class="text-center">Registrar visita</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="visitant in vm.visitantByHouseList | filter:search | orderBy:'name'">

                                        <td class="col-md-3 md-sm-3 md-xs-3 font-15 text-center" style="text-transform: capitalize;">{{visitant.name}} {{visitant.last_name}} </td>
                                        <td class="col-md-3 md-sm-3 md-xs-3 text-center" ng-if="visitant.hasIdentification==false">
                                            <input id="{{visitant.id}}" type="text"  ng-change="vm.quitRedInput(visitant)" required style="text-transform: uppercase;" ng-model="visitant.indentification" class="form-control gray-font specialCharacters " placeholder="Cédula" required>
                                            <span style="color:#E53935" >Obligatorio</span>
                                        </td>
                                        <td class="col-md-2 md-sm-2 md-xs-2 font-15 text-center" ng-show="visitant.hasIdentification==true && visitant.hasIdentification!=null">{{visitant.indentification}}</td>
                                        <td class="col-md-3 md-sm-3 md-xs-3 text-center" ng-if="visitant.hasLicense==false">
                                            <input type="text"   style="text-transform: uppercase;" ng-model="visitant.license_plate" class="form-control gray-font specialCharacters " placeholder="Placa" required>
                                            <span style="color:#26a69a" >Opcional</span>

                                        </td>
                                        <td ng-show="visitant.hasLicense==true && visitant.hasLicense!=null" class="col-md-2 text-center font-15">{{visitant.license_plate}}</td>
                                        <td class="col-md-2 md-sm-2 md-xs-2 text-center" ><button ng-click="vm.registerVisitantFromVisitantsList(visitant)"  ng-disabled="vm.insertingVisitant==1" style="margin-top:0px !important;"class="btn red font-13"  name="buton ">Registrar visita </button>
                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>



                        <!--<div ng-show="vm.visitantByHouseList.length>0" style="background-color:#26a69a; height:30px" class="col-md-12 no-padding margin-top-10">-->
                        <!--<div class="col-md-5 col-sm-5 col-xs-5 text-center "><h5 style="color:white" class="font-15 bold">Nombre completo</h5></div>-->
                        <!--<div class="col-md-4 col-sm-4 col-xs-4 text-center "><h5 style="color:white" class="font-15 bold">Cédula</h5></div>-->
                        <!--<div class="col-md-3 col-sm-3 col-xs-3 text-center "><h5 style="color:white" class="font-15 bold">Placa</h5></div>-->
                        <!--</div>-->
                        <!--<form ng-submit="vm.registerVisitantFromVisitantsList(visitant)" ng-repeat="visitant in vm.visitantByHouseList | filter:search | orderBy:'name'" class="col-md-12 col-sm-12 col-xs-12 no-padding ">-->

                        <!--<div style="background-color:#EEEEEE;  " class="col-md-12 col-sm-12 col-xs-12 padding-20" >-->
                        <!--<span style="color:#E53935" >Ingresar número de cédula para registrar la llegada del visitante.</span>-->
                        <!--<div class="col-md-5 col-sm-5 col-xs-5 text-center "><h6 style="color:white; margin-bottom:0px !important; color:black;" class="font-16">{{visitant.name}} {{visitant.last_name}} </h6></div>-->
                        <!--<div name="nombre" ng-show="visitant.hasIdentification==true && visitant.indentification!=null" class="col-md-4 col-sm-4 col-xs-4  text-center "><h6 style="color:white; margin-bottom:0px !important; color:black;" class="font-16">{{visitant.indentification}}</h6></div>-->
                        <!--<div  name="cedula" ng-if="visitant.hasIdentification==false" style="margin-top:3px;" class="col-md-4 col-sm-4 col-xs-4">-->
                        <!--<input type="text"  required style="text-transform: uppercase;" ng-model="vm.visitor_id_number" class="form-control font-15 gray-font specialCharacters " id="identification_number" placeholder="Cédula" required>-->
                        <!--</div>-->
                        <!--<div name="cedula" ng-if="visitant.hasLicense==false" style="margin-top:3px;" class="col-md-3 col-sm-3 col-xs-3">-->
                        <!--<input type="text"  required style="text-transform: uppercase;" ng-model="vm.visitor_id_number" class="form-control font-15 gray-font specialCharacters "  placeholder="Placa" required>-->

                        <!--</div>-->
                        <!--<div ng-show="visitant.hasLicense==true && visitant.license_plate!=null" name="placa" class="col-md-3 col-sm-3 col-xs-3  text-center "><h6 style="color:white; margin-bottom:0px !important; color:black;" class="font-16">{{visitant.license_plate}}</h6></div>-->

                        <!--</div>-->
                        <!--<button type="submit" ng-disabled="vm.insertingVisitant==1" style="margin-top:0px !important; margin-bottom: 20px;"class="btn blue font-15 col-md-12 col-sm-12 col-xs-12"  name="buton ">Registrar visita </button>-->

                        <!--</form>-->
                        <!--<div class="table-scrollable" >-->
                        <!--<table ng-show="vm.visitantByHouseList.length>0" class="table table-striped table-hover font-15">-->
                        <!--<h5 ng-hide="vm.visitantByHouseList.length>0" class=" font-17 text-center">No hay visitantes invitados en esta casa</h5>-->

                        <!--<thead>-->
                        <!--<tr>-->
                        <!--<th>Nombre completo</th>-->
                        <!--<th>Cédula</th>-->
                        <!--<th>Número Placa</th>-->
                        <!--</tr>-->
                        <!--</thead>-->
                        <!--<tbody>-->
                        <!--<tr ng-repeat="visitant in vm.visitantByHouseList | filter:search | orderBy:'name'">-->
                        <!--<td>{{visitant.name}} {{visitant.last_name}} {{visitant.second_last_name}}</td>-->
                        <!--<td>{{visitant.indentification}}</td>-->
                        <!--<td>{{visitant.license_plate}}</td>-->
                        <!--</tr>-->
                        <!--</tbody>-->
                        <!--</table>-->
                        <!--</div>-->
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 " ng-show="vm.show==5 ">
                        <div class="col-md-12 col-sm-12 col-xs-12" ng-show="vm.consultingPadron">
                            <h3  class="text-center huge-margin-top emergencyTitle  font-30  ">{{vm.searchTextPadron}}</h3>
                            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                                <h1 class="text-center">    <img src="../../content/images/loadingPadron.gif" alt="" />   </h1>
                            </div>
                        </div>
                        <div ng-show="vm.consultingPadron==false">
                            <div class="portlet-title gray-font">
                                <div class="caption text-center font-19">
                                    Registrar visitante
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <div class="actions col-lg-12" style="padding:5px;" ng-show="vm.visitorsConsultedByPlate.length>1">
                                    <p style="color:#26a69a">Se ha encontrado más de un visitante con esa placa.</p>
                                    <select class="form-control gray-font" ng-change="vm.setVisitorSelected()" data-ng-model="vm.visitorSelected" ng-options="visitor.name+' '+visitor.lastname+' - '+visitor.identificationnumber for visitor in vm.visitorsConsultedByPlate | orderBy: 'name'" required>
                                        <option value="">Puedes seleccionar entre los otros visitantes encontrados</option>
                                    </select>
                                    <hr style="margin:12px !important;">
                                </div>
                                <form role="form" ng-submit="vm.insertVisitor()">
                                    <div class="form-body">
                                        <div class="form-group col-md-12">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                        <i class="fa fa-indent"></i>
                                        </span>
                                                <input type="text" ng-disabled="vm.showLockCed"  ng-change="vm.getVisitor()" required style="text-transform: uppercase;" ng-model="vm.visitor_id_number" class="form-control font-15 gray-font specialCharacters" id="" placeholder="Cédula" required>
                                                <span class="input-group-addon btn green" ng-show="vm.founded" ng-click="vm.unlocklock()">
                                                <i class="fa fa-lock" style="color:white;font-size:15px"></i>
                                                Desbloquear
                                                </span>
                                            </div>
                                            <span style="color:#26a69a" class="help-block">
                                                Mínimo 9 dígitos, Ejemplo: 101110111
                                            </span>

                                        </div>
                                        <div class="form-group col-md-12">
                                            <div class="input-group">

                                            <span class="input-group-addon">
                    											<i class="fa fa-user"></i>
                    											</span>
                                                <input type="text" id="name" ng-disabled="vm.showLock" ng-model="vm.visitor_name" class="form-control font-15 gray-font letters" placeholder="Nombre" required style="text-transform: uppercase;">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                          <i class="fa fa-user"></i>
                                          </span>
                                                <input type="text" ng-disabled="vm.showLock"  ng-model="vm.visitor_last_name" class="form-control font-15 gray-font letters" id="last_name" placeholder="Primer apellido" required style="text-transform: uppercase;">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                          <i class="fa fa-user"></i>
                                          </span>
                                                <input type="text" ng-disabled="vm.showLock"  ng-model="vm.visitor_second_last_name" class="form-control font-15 gray-font letters" id="second_last_name" placeholder="Segundo apellido" required style="text-transform: uppercase;">
                                            </div>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <div class="input-group">
                                            <span class="input-group-addon">
                                          <i class="fa fa-car"></i>
                                          </span>
                                                <input type="text" ng-model="vm.visitor_license_plate" ng-change="vm.capitalize()" class="form-control font-15 gray-font specialCharactersAndVocals" id="license_plate" placeholder="Número placa (opcional)">

                                            </div>
                                            <span style="color:#26a69a" class="help-block">Dejar número de placa vacío si el visitante no ingresa en un vehículo.</span>
                                        </div>
                                        <div class="form-group form-md-radios" style="margin-bottom:10px">
                                            <label class="col-md-4 col-sm-3 col-xs-5 gray-font" style="font-size:15px">Destino:</label>
                                            <div class="md-radio-inline">
                                                <div class="md-radio" >
                                                    <input type="radio" id="radio14" name="radio2" ng-checked="{{vm.radiostatus}}"  class="md-radiobtn"  ng-click="vm.changeDestinoCasa()">
                                                    <label for="radio14">
                                                        <span class="inc"></span>
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Casa </label>
                                                </div>
                                                <div class="md-radio">
                                                    <input type="radio" id="radio15" name="radio2" class="md-radiobtn" ng-click="vm.changeDestinoProveedor()">
                                                    <label for="radio15">
                                                        <span class="inc"></span>
                                                        <span class="check"></span>
                                                        <span class="box"></span>
                                                        Otro </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-12 no-padding">
                                            <label class="col-md-4 col-sm-3 col-xs-5 gray-font">{{vm.destityTitle}}</label>
                                            <div class="form-group col-md-8 col-sm-9 col-xs-7">
                                                <select class="form-control gray-font" data-ng-model="vm.house" ng-options="house.housenumber for house in vm.housesToShow | orderBy: 'housenumber'" required>
                                                    <option value="">{{vm.destityPlaceHolder}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group  col-md-12" style="margin-bottom:0px!important;">
                                            <h3 class="text-right">
                                                <button type="submit" ng-disabled="vm.isInsertingVisitor" class="btn blue"> Registrar  <i ng-show="vm.isInsertingVisitor" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></button>
                                                <button type="button" ng-click="vm.show=4;vm.showLock = false;vm.showLockCed =false;vm.founded = false; vm.isInsertingVisitor=false; vm.changeDestinoCasa();" class="btn default gray-font">Cancelar</button>
                                            </h3>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-12 col-sm-12 col-xs-12 " ng-show="vm.show==9 ">

                        <div class="margin-top-10 hidden-md">
                            <div class="col-md-2 col-sm-12 col-xs-12 no-padding">
                                <button type="button" ng-click="vm.show=8; vm.security_key=''" class="btn default gray-font ">Cerrar</button>
                            </div>

                            <div class=" col-md-10 portlet-title gray-font">
                                <div class="caption text-center font-30">
                                    {{vm.emergencySecurityKeyTitle}}
                                </div>
                            </div>
                            <div class="margin-top-10 col-md-12 hidden-sm hidden-xs "></div>
                            <div class="portlet-body ">
                                <div class="col-md-4 no-padding-left">
                                    <div class="access_car_information gray-font ">
                                        <h5 class=" font-19">Casa: <span class="bold">{{vm.key_house_number}}</span> </h5>

                                    </div>
                                </div>
                                <div class="col-md-8 no-padding">
                                    <div class="access_car_information gray-font ">
                                        <h5 class=" font-19">Clave emergencia: <span class="bold">{{vm.emergency_security_key}}</span> </h5>

                                    </div>
                                </div>
                                <div class="caption text-center gray-font font-19">
                                    Residentes de la filial
                                </div>
                                <div class="table-scrollable" id="tableResidentsByKey">
                                    <table ng-show="vm.residents.length>0" class="table table-striped table-hover font-12">
                                        <h5  ng-hide="vm.residents.length>0" class=" font-17 text-center">No hay residentes en esta casa</h5>

                                        <thead>
                                        <tr>
                                            <th>Nombre completo</th>
                                            <th>Cédula</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="resident in vm.residents | filter:search | orderBy:'name'">
                                            <td>{{resident.name}} {{resident.lastname}} {{resident.secondlastname}}</td>
                                            <td>{{resident.identificationnumber}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="caption text-center gray-font font-19">
                                    Vehículos de la filial
                                </div>
                                <div class="table-scrollable" id="tableVehiculesByKey">
                                    <table ng-show="vm.vehicules.length>0" class="table table-striped table-hover font-12">
                                        <h5 ng-hide="vm.vehicules.length>0" class=" font-17 text-center">No hay vehículos en esta casa</h5>
                                        <thead>
                                        <tr>
                                            <th>Placa</th>
                                            <th>Marca</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="vehicule in vm.vehicules |  orderBy:'name'">
                                            <td style="text-transform: uppercase;">{{vehicule.licenseplate}}</td>
                                            <td>{{vehicule.brand}}</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 " ng-show="vm.show==12 ">

                        <div class="margin-top-10 hidden-md">
                            <div class="col-md-2 col-sm-12 col-xs-12 no-padding">
                                <button type="button" ng-click="vm.show=4;" class="btn default gray-font ">Cerrar</button>
                            </div>

                            <div class=" col-md-10 portlet-title gray-font">
                                <div class="caption text-center font-24">
                                    {{vm.houseInformationTitle}}
                                </div>
                            </div>
                            <div class="margin-top-10 col-md-12 hidden-sm hidden-xs "></div>
                            <div class="portlet-body ">
                                <div class="col-md-12 no-padding-left">
                                    <div class="access_car_information gray-font ">
                                        <h5 class=" font-19">Extensión o teléfono de casa: <span class="bold">{{vm.houseInfoExtension}}</span> </h5>

                                    </div>
                                </div>
                                <div class="col-md-12 no-padding-left">
                                    <div class="access_car_information gray-font ">
                                        <h5 class=" font-19">Clave seguridad: <span class="bold">{{vm.houseInfoSecurityKey}}</span> </h5>

                                    </div>
                                </div>
                                <div class="col-md-12 no-padding">
                                    <div class="access_car_information gray-font ">
                                        <h5 class=" font-19">Clave emergencia: <span class="bold">{{vm.houseInfoEmergencyKey}}</span> </h5>

                                    </div>
                                </div>
                                <div class="caption text-center gray-font font-19">
                                    Residentes de la filial
                                </div>
                                <div class="table-scrollable" >
                                    <table ng-show="vm.residents.length>0" class="table table-striped table-hover font-12">
                                        <h5 ng-hide="vm.residents.length>0" class=" font-17 text-center">No hay residentes en esta casa</h5>

                                        <thead>
                                        <tr>
                                            <th>Nombre completo</th>
                                            <th>Cédula</th>
                                            <th>Número celular</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="resident in vm.residents | filter:search | orderBy:'name'">
                                            <td>{{resident.name}} {{resident.lastname}} {{resident.secondlastname}}</td>
                                            <td>{{resident.identificationnumber}}</td>
                                            <td>{{resident.phonenumber}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="caption text-center gray-font font-19">
                                    Vehículos de la filial
                                </div>
                                <div class="table-scrollable" >
                                    <table ng-show="vm.vehicules.length>0" class="table table-striped table-hover font-12">
                                        <h5 ng-hide="vm.vehicules.length>0" class=" font-17 text-center">No hay vehículos en esta casa</h5>
                                        <thead>
                                        <tr>
                                            <th>Placa</th>
                                            <th>Marca</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="vehicule in vm.vehicules |  orderBy:'name'">
                                            <td style="text-transform: uppercase;">{{vehicule.licenseplate}}</td>
                                            <td>{{vehicule.brand}}</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

            </div>
            <div class="row" ng-show="vm.show==7" ng-hide="vm.hideEmergencyForm==1">
                <div class="col-md-12 intermitentRed" id="emergencyContainer">
                    <h1  class="text-center huge-margin-top emergencyTitle white-color font-80 bold ">Emergencia reportada en la casa número {{vm.house_number_emergency}}</h1>
                    <form role="form" ng-submit="vm.attendEmergency()">
                        <h3 class="text-center">
                            <button type="submit" class="btn btn-default col-md-offset-4 col-md-4 font-20 marging-top-100 height-12-percent">Atender emergencia</button>
                        </h3>
                    </form>
                </div>
            </div>
            <div class="row" ng-show="vm.show==20" ng-hide="vm.hideLoadingForm==1">
                <div class="col-md-12" id="loadingContainer">
                    <h1  class="text-center huge-margin-top emergencyTitle  font-30  ">Construyendo base de datos, espere por favor...</h1>
                    <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                        <h1 class="text-center">    <img src="../../content/images/loadingDataBase.gif" alt="" />   </h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm" style="color:white;position:absolute;bottom:10px">
            <h4>
                Número de soporte : <b>86245504 / 60023372</b>
            </h4>
        </div>
    </div>
</div>
