<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <loader></loader>
</div>
<div layout="column" lass="fade-in" ng-if="vm.isReady" flex="100">
    <div class="row" ng-if="vm.hasContability">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-arrow-circle-left"></i>
                </div>
                <div class="details">
                    <div class="number font-27">
                        <span ng-if="currency!='$'">{{currency}}  </span> {{vm.ingressMonth}}

                    </div>
                    <div class="desc">
                        Ingresos del mes
                    </div>
                </div>
                <a class="more" href="javascript:;" ui-sref="payment-report">
                    Ver reporte <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-arrow-circle-right"></i>
                </div>
                <div class="details">
                    <div class="number font-27">
                        <span ng-if="currency!='$'">{{currency}}  </span> {{vm.egressMonth}}

                    </div>
                    <div class="desc">
                        Egresos del mes
                    </div>
                </div>
                <a class="more" href="javascript:;" ui-sref="egress-tabs.egress-report">
                    Ver reporte <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat blue-madison">
                <div class="visual">
                    <i class="fa fa-money"></i>
                </div>
                <div class="details">
                    <div class="number font-27">
                        <span ng-if="currency!='$'">{{currency}}  </span> {{vm.porCobrar}}

                    </div>
                    <div class="desc">
                        Por cobrar del mes
                    </div>
                </div>
                <a class="more" href="javascript:;" ui-sref="chargesReport">
                    Ver reporte <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>

    <div class="row" ng-if="!vm.hasContability">
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat  blue-madison">
                <div class="visual">
                    <i class="fa fa-calendar"></i>
                </div>
                <div class="details">
                    <div class="number font-27">
                        {{vm.dashboard.reservationsPending}}
                    </div>
                    <div class="desc">
                        Reservaciones pendientes
                    </div>
                </div>
                <a class="more" ui-sref="common-area-administration.common-area-reservations">
                    Ver más <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat red-intense">
                <div class="visual">
                    <i class="fa fa-frown-o"></i>
                </div>
                <div class="details">
                    <div class="number font-27">
                        {{vm.dashboard.complaintsPending}}
                    </div>
                    <div class="desc">
                        Quejas pendientes
                    </div>
                </div>
                <a class="more" ui-sref="complaint">
                    Ver más <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            <div class="dashboard-stat green-haze">
                <div class="visual">
                    <i class="fa fa-meh-o"></i>
                </div>
                <div class="details">
                    <div class="number font-27">
                        {{vm.dashboard.complaintsActive}}
                    </div>
                    <div class="desc">
                        Quejas activas
                    </div>
                </div>
                <a class="more" ui-sref="complaint">
                    Ver más <i class="m-icon-swapright m-icon-white"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="row" class="col-md-12 col-xs-12">
        <div class="col-md-12 no-padding">
            <div class="col-md-8 col-xs-12 no-padding-xs">
                <md-card class="fade-in padding-30 col-md-12 no-margin" ng-if="vm.isReady && !vm.hasContability"
                         style="padding-top: 10px!important;min-height: 342px;">
                    <div class="portlet-title" layout="row" layout-xs="column" layout-align="space-between center">
                        <div class="caption">
                            <span
                                class="caption-subject font-green-sharp bold uppercase font-15">Cantidad de visitantes</span>
                        </div>
                        <div class="float-right padding-10" layout="row">
                            <md-button class="btn btn-dashboard btn-sm bold"
                                       ng-class="{'font-green-sharp':vm.visitantState==1}"
                                       ng-click="vm.updateWeekData()">Semana
                            </md-button>
                            <md-button class="btn btn-dashboard btn-sm bold"
                                       ng-class="{'font-green-sharp':vm.visitantState==2}"
                                       ng-click="vm.updateMonthData()">Mes
                            </md-button>
                            <md-button class="btn btn-dashboard btn-sm bold"
                                       ng-class="{'font-green-sharp':vm.visitantState==3}"
                                       ng-click="vm.updateYearData()">
                                Año
                            </md-button>
                        </div>
                    </div>
                    <div google-chart chart="vm.dataVisitors" flex="100"></div>
                </md-card>
                <md-card class="fade-in padding-30 col-md-12 no-margin" ng-if="vm.isReady && vm.hasContability"
                         style="padding-top: 10px!important;min-height: 342px;">
                    <div layout="row" layout-xs="column" layout-align="space-between center">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-cursor font-purple-intense hide"></i>
                                <span class="caption-subject font-green-sharp bold uppercase font-15">Flujo de ingresos y egresos <span
                                    ng-if="vm.year!=vm.yearIEB">{{vm.yearIEB}}</span></span>
                            </div>
                        </div>
                        <div layout="row">
                            <md-input-container class="md-block no-margin">
                                <md-select ng-model="vm.yearIEB" ng-change="vm.showYearIEB()">
                                    <md-option ng-repeat="year in vm.yearsIEB" ng-value="year">
                                        {{year}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block no-margin">
                                <md-select ng-model="vm.chartTypeEIB"
                                           ng-change="vm.changeChartTypeIEB(vm.chartTypeEIB.type)">
                                    <md-option ng-repeat="charType in vm.charTypes" ng-value="charType">
                                        {{charType.name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>

                    </div>
                    <div google-chart chart="vm.dataIEB" flex="100"></div>
                </md-card>
            </div>
            <div class="col-md-4 col-xs-12 no-padding-xs">
                <md-card class="fade-in padding-10 col-md-12 no-margin"
                         style="padding-top: 10px!important;max-height: 342px;"
                         ng-if="vm.isReady">
                    <div class="portlet-title" style="margin: 20px 0px;">
                        <div class="caption">
                            <span
                                class="caption-subject font-green-sharp bold uppercase font-15">Proximas reservaciones</span>
                        </div>
                    </div>
                    <div style="overflow-y: auto">
                        <div flex="100" ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources"
                             id="calendarData1"></div>
                    </div>
                </md-card>
            </div>
        </div>
    </div>

    <div class="row" class="col-md-12 col-xs-12 ">
        <div class="col-md-12 no-padding column" ng-if="vm.hasContability">
            <div class="col-md-8 col-xs-12 no-padding-xs">
                <md-card class="fade-in padding-30 col-md-12 no-margin" ng-if="vm.isReady"
                         style="padding-top: 10px!important;min-height: 342px;">
                    <div flex="100" layout="column">
                        <div layout="row" layout-align="space-between center" layout-xs="column">
                            <div class="portlet-title">
                                <div class="caption">
                                    <i class="icon-cursor font-purple-intense hide"></i>
                                    <span class="caption-subject font-green-sharp bold uppercase font-15">Cuotas por cobrar<span
                                        ng-if="vm.year!=vm.yearDefaulter">{{vm.yearDefaulter}}</span></span>
                                </div>
                            </div>
                            <div layout="row">
                                <md-input-container class="md-block no-margin"
                                >
                                    <md-select ng-model="vm.yearDefaulter" ng-change="vm.showYearDefaulter()">
                                        <md-option ng-repeat="year in vm.yearsDefaulters" ng-value="year">
                                            {{year}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block no-margin"
                                >
                                    <md-select ng-model="vm.chartTypeDefaulters"
                                               ng-change="vm.changeChartTypeDefaulters(vm.chartTypeDefaulters.type)">
                                        <md-option ng-repeat="charType in vm.charTypes" ng-value="charType">
                                            {{charType.name}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </div>
                        </div>
                        <div google-chart chart="vm.dataDefaulters" flex="100"></div>
                    </div>
                </md-card>
            </div>
            <div class="col-md-4 col-xs-12 no-padding-xs">
                <md-card class="fade-in col-md-12 no-margin padding-30"
                         style="padding-top: 10px!important;min-height: 342px;"
                         ng-if="vm.isReady">
                    <div layout="row" layout-align="space-between center" layout-xs="column">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="icon-cursor font-purple-intense hide"></i>
                                <span class="caption-subject font-green-sharp bold uppercase font-15">Porcentaje por cobrar <span
                                    ng-if="vm.year!=vm.yearDefaulter">{{vm.yearDefaulter}}</span></span>
                            </div>
                        </div>
                        <div layout="row">
                            <md-input-container>
                                <md-select ng-model="vm.monthDefaulter" class="no-margin"
                                           ng-change="vm.changeMonthDefaulter(vm.monthDefaulter)">
                                    <md-option ng-repeat="month in vm.monthsDefaultersOptions" ng-value="month.id">
                                        {{month.text}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                    <div google-chart chart="vm.dataDefaulterPerMonth" flex="100"></div>
                </md-card>
            </div>
        </div>
    </div>
    <div class="row" class="col-md-12 col-xs-12 " ng-if="vm.hasContability">
        <div class="col-md-12 no-padding column">
            <div class="col-md-8 col-xs-12 no-padding-xs">
                <md-card class="fade-in padding-30 col-md-12 no-margin" ng-if="vm.isReady"
                         style="padding-top: 10px!important;min-height: 342px;">
                    <div class="portlet-title" layout="row" layout-xs="column" layout-align="space-between center">
                        <div class="caption">
                            <span
                                class="caption-subject font-green-sharp bold uppercase font-15">Cantidad de visitantes</span>
                        </div>
                        <div class="float-right padding-10" layout="row">
                            <md-button class="btn btn-dashboard btn-sm bold"
                                       ng-class="{'font-green-sharp':vm.visitantState==1}"
                                       ng-click="vm.updateWeekData()">Semana
                            </md-button>
                            <md-button class="btn btn-dashboard btn-sm bold"
                                       ng-class="{'font-green-sharp':vm.visitantState==2}"
                                       ng-click="vm.updateMonthData()">Mes
                            </md-button>
                            <md-button class="btn btn-dashboard btn-sm bold"
                                       ng-class="{'font-green-sharp':vm.visitantState==3}"
                                       ng-click="vm.updateYearData()">
                                Año
                            </md-button>
                        </div>
                    </div>
                    <div google-chart chart="vm.dataVisitors" flex="100"></div>
                </md-card>
            </div>
            <div class="col-md-4 col-xs-12 no-padding-xs">
                <md-card class="fade-in col-md-12 no-margin padding-30"
                         style="
    margin-bottom: 10px!important;
    padding: 0!important"
                         ng-if="vm.isReady">
                    <div class="col-md-12" style="padding:0 35px!important;">
                        <div class="dashboard-stat2 padding-bottom-13">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-red-haze">{{vm.dashboard.reservationsPending}}</h3>
                                    <small>Reservaciones pendientes</small>
                                </div>
                                <div class="icon">
                                    <md-icon style="    color: #cbd4e0;
                                      font-size: 34px">calendar_today
                                    </md-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" style="padding:0 35px!important;">
                        <div class="dashboard-stat2 padding-bottom-13">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-purple-sharp">{{vm.dashboard.pendingDevolutions}}</h3>
                                    <small>Devoluciones pendientes</small>
                                </div>
                                <div class="icon">
                                    <md-icon style="    color: #cbd4e0;
                                      font-size: 34px">money
                                    </md-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card>

                <md-card class="fade-in col-md-12 no-margin"
                         ng-if="vm.isReady">
                    <div class="col-md-12">
                        <div class="dashboard-stat2 padding-bottom-13">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-yellow-lemon">{{vm.dashboard.complaintsPending}}</h3>
                                    <small>Quejas pendientes</small>
                                </div>
                                <div class="icon">
                                    <md-icon style="    color: #cbd4e0;
    font-size: 34px"> sentiment_very_dissatisfied
                                    </md-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="dashboard-stat2 padding-bottom-13">
                            <div class="display">
                                <div class="number">
                                    <h3 class="font-green-sharp ">{{vm.dashboard.complaintsActive}}</h3>
                                    <small>Quejas activas</small>
                                </div>
                                <div class="icon">
                                    <md-icon style="    color: #cbd4e0;
    font-size: 34px">sentiment_dissatisfied
                                    </md-icon>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card>
            </div>
        </div>
    </div>

    <div class="row" class="col-md-12 col-xs-12 ">
        <div class="col-md-12 no-padding column">
            <div class="col-md-4 col-xs-12 no-padding-xs">
                <md-card class="fade-in col-md-12 no-margin padding-30 "
                         style="min-height: 342px;"
                         ng-if="vm.isReady">
                    <div layout="column">
                        <div class="col-md-12">
                            <div class="dashboard-stat2 padding-bottom-15">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-green-sharp">{{vm.dashboard.vehicleQuantity}}</h3>
                                        <small>Total de vehículos</small>
                                    </div>
                                    <div class="icon">
                                        <md-icon style="    color: #cbd4e0;
    font-size: 34px">directions_car
                                        </md-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="dashboard-stat2 padding-bottom-15">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-purple-soft">{{vm.dashboard.residentQuantity}}</h3>
                                        <small>Total de residentes</small>
                                    </div>
                                    <div class="icon">
                                        <md-icon style="    color: #cbd4e0;
    font-size: 34px">group
                                        </md-icon>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="dashboard-stat2 padding-bottom-15">
                                <div class="display">
                                    <div class="number">
                                        <h3 class="font-red-haze">{{vm.dashboard.houseQuantity}}</h3>
                                        <small>Total de filiales</small>
                                    </div>
                                    <div class="icon">
                                        <md-icon style="    color: #cbd4e0;
    font-size: 34px">home
                                        </md-icon>
                                    </div>
                                </div>
                                <div class="progress-info">
                                    <div class="progress">
    <span style="width: {{vm.housesPercentage}}%;"
          class="progress-bar progress-bar-success red-haze">
    <span class="sr-only">{{vm.housesPercentage}}% del total</span>
    </span>
                                    </div>
                                    <div class="status">
                                        <div class="status-title">
                                            De {{vm.dashboard.totalHouses}} máxima capacidad
                                        </div>
                                        <div class="status-number">
                                            {{vm.housesPercentage}}%
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </md-card>
            </div>
            <div class="col-md-4 col-xs-12 no-padding-xs">
                <md-card class="fade-in col-md-12 no-margin padding-30"
                         style="min-height: 342px;"
                         ng-if="vm.isReady">
                    <div class="portlet-title" layout="row" layout-align="space-between center">
                        <div class="caption">
                            <span class="caption-subject font-green-sharp bold uppercase">Residentes</span>
                        </div>
                    </div>
                    <div google-chart chart="vm.residentGraph" flex="100" style="height: 200px"></div>
                </md-card>
            </div>

            <div class="col-md-4 col-xs-12 no-padding-xs">
                <md-card class="fade-in col-md-12 no-margin padding-30"
                         style="min-height: 342px;"
                         ng-if="vm.isReady">
                    <div class="portlet-title" layout="row" layout-align="space-between center">
                        <div class="caption">
                            <span class="caption-subject font-green-sharp bold uppercase">Vehículos</span>
                        </div>
                    </div>
                    <div google-chart chart="vm.vehiculeGraph" flex="100" style="height: 200px"></div>
                </md-card>
            </div>

        </div>
    </div>

</div>
