


<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>
</div>

<div ng-if="vm.isReady" class="row fade-in" >
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 ">


        <div class="col-md-9 col-sm-9 no-padding">
            <h3 class="page-title col-md-9 col-lg-9 col-xs-12 col-sm-9 caption-subject font-green-sharp font-weight-600">Bitácora de acciones - {{vm.companySelected.name}}</h3>


        </div>
        <div class="col-md-3 col-sm-3 no-padding">
            <md-input-container class="md-block no-margin" >
                <md-select ng-model="vm.companySelected" ng-change="vm.loadAll()">
                    <md-option ng-repeat="company in vm.companies " ng-value="company">
                        {{company.name}}
                    </md-option>
                </md-select>
            </md-input-container>
        </div>


        <div class="col-md-12 no-padding margin-top-20 margin-bottom-20" >
            <div class="">
                <div class="form-group no-padding col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0px;"
                     id="index-search-bar">
                    <div class="input-icon" style="color:#484848!important;">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control "
                               style="background-color: #f5f5f5; border:0px!important; "
                               placeholder="Buscar" ng-model="vm.search">
                    </div>
                </div>

            </div>
        </div>
        <br/>
        <div class="portlet-body ">

            <div class=" col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding margin-bottom-20">
                <button ng-click="vm.searchByType(0)" style="border-radius: 0px!Important;"
                        class="btn  col-md-1 col-sm-1 col-xs-12  accountStatusBtn"
                ng-class="{'accountStatusBtnActive':vm.type==0,'accountStatusBtnDesactive':vm.type!==0}">
                Todo
                </button>
                <button ng-click="vm.searchByType(1)" style="border-left:0px!important; border-radius: 0px!Important;"
                        class="btn  col-md-1 col-sm-1 col-xs-12  accountStatusBtn"
                ng-class="{'accountStatusBtnActive':vm.type==1,'accountStatusBtnDesactive':vm.type!==1}">
                Egresos
                </button>
                <button ng-click="vm.searchByType(5)" style="border-left:0px!important; border-radius: 0px!Important;"
                        class="btn  col-md-1 col-sm-1 col-xs-12  accountStatusBtn"
                        ng-class="{'accountStatusBtnActive':vm.type==5,'accountStatusBtnDesactive':vm.type!==5}">
                    Ingresos
                </button>
                <button ng-click="vm.searchByType(6)" style="border-left:0px!important; border-radius: 0px!Important;"
                        class="btn  col-md-1 col-sm-1 col-xs-12  accountStatusBtn"
                ng-class="{'accountStatusBtnActive':vm.type==6,'accountStatusBtnDesactive':vm.type!==6}">
                Cuotas
                </button>
                <button ng-click="vm.searchByType(3)" style="border-left:0px!important; border-radius: 0px!Important;"
                        class="btn  col-md-1 col-sm-1 col-xs-12  accountStatusBtn"
                ng-class="{'accountStatusBtnActive':vm.type==3,'accountStatusBtnDesactive':vm.type!==3}">
                Config general
                </button>
                <button ng-click="vm.searchByType(4)" style="border-left:0px!important; border-radius: 0px!Important;"
                        class="btn  col-md-1 col-sm-1 col-xs-12  accountStatusBtn"
                        ng-class="{'accountStatusBtnActive':vm.type==4,'accountStatusBtnDesactive':vm.type!==4}">
                    Presupuestos
                </button>
                <button ng-click="vm.searchByType(2)" style="border-left:0px!important; border-radius: 0px!Important;"
                        class="btn  col-md-1 col-sm-1 col-xs-12  accountStatusBtn"
                        ng-class="{'accountStatusBtnActive':vm.type==2,'accountStatusBtnDesactive':vm.type!==2}">
                    Bancos
                </button>
                <button ng-click="vm.searchByType(7)" style="border-left:0px!important; border-radius: 0px!Important;"
                        class="btn  col-md-1 col-sm-1 col-xs-12  accountStatusBtn"
                        ng-class="{'accountStatusBtnActive':vm.type==7,'accountStatusBtnDesactive':vm.type!==7}">
                    Transferencias
                </button>
                <button ng-click="vm.searchByType(8)" style="border-left:0px!important; border-radius: 0px!Important;"
                        class="btn  col-md-1 col-sm-1 col-xs-12  accountStatusBtn"
                        ng-class="{'accountStatusBtnActive':vm.type==8,'accountStatusBtnDesactive':vm.type!==8}">
                    Usuarios
                </button>
                <button ng-click="vm.searchByType(9)" style="border-left:0px!important; border-radius: 0px!Important;"
                        class="btn  col-md-1 col-sm-1 col-xs-12  accountStatusBtn"
                        ng-class="{'accountStatusBtnActive':vm.type==9,'accountStatusBtnDesactive':vm.type!==9}">
                    Vehículos
                </button>
            </div>
            <no-content class="margin-top-30" ng-if="vm.bitacoraAcciones.length == 0" icon="chrome_reader_mode" text="No hay ninguna acción registrada"></no-content>

            <div class="table-scrollable gray-font " ng-show="vm.bitacoraAcciones.length>0" style="border: 0px!important;">
                <table  class="table  table-hover font-13 tableMaterialDesignAccountStatus">
                    <thead  style="background-color: #fafafa;" class="">
                    <tr class="text-center" jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th>Concepto</th>
                        <th class="text-center">Responsable</th>
                        <th class="text-center">Fecha y hora</th>
                        <th class="text-center">Categoría</th>
                        <th class="text-center">Detalle</th>
                    </tr>
                    </thead>
                    <tbody>


                    <tr class="text-center" ng-repeat="bitacoraAcciones in vm.bitacoraAcciones  | filter:vm.search  | orderBy:'ejecutionDate':true" >
                        <td class="text-left">{{bitacoraAcciones.concept}}</td>
                        <td>{{bitacoraAcciones.responsable.firstName}} {{bitacoraAcciones.responsable.lastName}}</td>
                        <td>{{bitacoraAcciones.ejecutionDate | formatDate}}</td>
                        <td>{{bitacoraAcciones.category}}</td>
                        <td class="text-center">
                            <a class="light-gray-font" ng-if="bitacoraAcciones.type==1 || bitacoraAcciones.type==4 || bitacoraAcciones.type==3 || bitacoraAcciones.type==8" ng-click="vm.detail(bitacoraAcciones)"><i
                            class="material-icons">
                            <md-tooltip md-direction="left" class="font-13 bold white-color">Ver detalle</md-tooltip>
                            remove_red_eye</i></a>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
