<!--<div>-->
<!--    <h2><span data-translate="aditumApp.revision.detail.title">Revision</span> {{vm.revision.id}}</h2>-->
<!--    <hr>-->
<!--    <jhi-alert-error></jhi-alert-error>-->
<!--    <dl class="dl-horizontal jh-entity-details">-->
<!--        <dt><span data-translate="aditumApp.revision.name">Name</span></dt>-->
<!--        <dd>-->
<!--            <span>{{vm.revision.name}}</span>-->
<!--        </dd>-->
<!--        <dt><span data-translate="aditumApp.revision.executionDate">Execution Date</span></dt>-->
<!--        <dd>-->
<!--            <span>{{vm.revision.executionDate | date:'medium'}}</span>-->
<!--        </dd>-->
<!--        <dt><span data-translate="aditumApp.revision.observations">Observations</span></dt>-->
<!--        <dd>-->
<!--            <span>{{vm.revision.observations}}</span>-->
<!--        </dd>-->
<!--        <dt><span data-translate="aditumApp.revision.status">Status</span></dt>-->
<!--        <dd>-->
<!--            <span>{{vm.revision.status}}</span>-->
<!--        </dd>-->
<!--        <dt><span data-translate="aditumApp.revision.company">Company</span></dt>-->
<!--        <dd>-->
<!--            <a ui-sref="company-detail({id:vm.revision.companyId})">{{vm.revision.companyId}}</a>-->
<!--        </dd>-->
<!--    </dl>-->

<!--    <button type="submit"-->
<!--            ui-sref="{{ vm.previousState }}"-->
<!--            class="btn btn-info">-->
<!--        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span data-translate="entity.action.back"> Back</span>-->
<!--    </button>-->

<!--    <button type="button" ui-sref="revision-detail.edit({id:vm.revision.id})" class="btn btn-primary">-->
<!--        <span class="glyphicon glyphicon-pencil"></span>-->
<!--        <span class="hidden-sm-down" data-translate="entity.action.edit"> Edit</span>-->
<!--    </button>-->
<!--</div>-->
<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>

<md-card ng-if="vm.isReady" ng-class="{'portlet light bordered scroll-vertical portlet-fullscreen':vm.expanding }">
    <md-card-title style="max-height: 100px">
        <md-card-title-text>
            <span class="md-headline"><i class="material-icons material-icons-with-text" hide-sm hide-xs
                                         ui-sref="revision">arrow_back</i>{{vm.revision.name}}</span>
            <span class="md-subhead">Realizada el: <span ng-if="vm.revision.executionDate != null || vm.revision.executionDate != undefined || vm.revision.executionDate != ' '">{{vm.revision.executionDate | date}}</span> <span ng-if="vm.revision.executionDate == null || vm.revision.executionDate == undefined || vm.revision.executionDate == ' '">Sin definir</span></span>
        </md-card-title-text>
        <div class="btn-group pull-right" hide-sm hide-xs>
            <button class="btn btn-circle btn-icon-only btn-default fullscreen"
                    style="margin-top:-5px;margin-bottom:14px;" ng-click="vm.expand()"><i class="fa fa-expand"
                                                                                          aria-hidden="true"></i>
            </button>
        </div>
    </md-card-title>
    <md-card-content layout="column" layout-align="space-between">
        <div style="margin: 15px 0">
            <span><b>Observaciones:</b></span>
            <p><span ng-if="!vm.revision.observations">No tiene</span></p>
            <div ng-if="vm.revision.observations" class="margin-top-10" ng-bind-html="vm.revision.observations"></div>
            <div ng-if="vm.revision.fileUrl" class="margin-top-10">
                <md-button class="md-primary">
                    <a href="{{vm.revision.fileUrl}}" target="_blank" style="color:rgb(0,150,136)">
                        <i class="material-icons material-icons-with-text" style="font-size: 20px!important">
                            attach_file
                        </i>
                        Visualizar archivos adjuntos
                    </a>
                </md-button>
            </div>
        </div>
        <div ng-repeat="category in vm.revision.revisionTasks" ng-if="category.tasks.length>0">
            <md-toolbar class="form-title">
                <h2>{{category.description}}</h2>
            </md-toolbar>
            <div ng-repeat="task in category.tasks" style="padding:10px">
                <md-checkbox ng-model="task.done" class="disabled-checkbox">
                    {{task.description}}
                </md-checkbox>
                <div ng-if="task.hasObservations">
                    <span><b>Observación:</b></span>
                    <div ng-if="task.observations" class="margin-top-10" ng-bind-html="task.observations"></div>
                    <div ng-if="task.observationFile" class="margin-top-10">
                        <md-button class="md-primary">
                            <a href="{{task.observationFile}}" target="_blank" style="color:rgb(0,150,136)">
                                <i class="material-icons material-icons-with-text" style="font-size: 20px!important">
                                    attach_file
                                </i>
                                Visualizar archivos adjuntos
                            </a>
                        </md-button>
                    </div>
                </div>
                <md-divider></md-divider>
            </div>
        </div>
    </md-card-content>
</md-card>
<md-button has-any-authority="ROLE_MANAGER" ng-click="vm.editRevision(vm.revision.id)" style="position: fixed"
           class="md-fab md-fab-bottom-right orange-button-oficial" aria-label="Add new">
    <md-tooltip md-direction="left" class="font-13 bold white-color">Editar</md-tooltip>
    <md-icon class="white-color">create</md-icon>
</md-button>
