<div>
    <h2 data-translate="aditumApp.article.home.title">Articles</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="article.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aditumApp.article.home.createLabel">
                        Create new Article
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="aditumApp.article.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="description"><span data-translate="aditumApp.article.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="equalToLaw"><span data-translate="aditumApp.article.equalToLaw">Equal To Law</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="order"><span data-translate="aditumApp.article.order">Order</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deleted"><span data-translate="aditumApp.article.deleted">Deleted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="notes"><span data-translate="aditumApp.article.notes">Notes</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="chapterId"><span data-translate="aditumApp.article.chapter">Chapter</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="article in vm.articles track by article.id">
                    <td><a ui-sref="article-detail({id:article.id})">{{article.id}}</a></td>
                    <td>{{article.name}}</td>
                    <td>{{article.description}}</td>
                    <td>{{article.equalToLaw}}</td>
                    <td>{{article.order}}</td>
                    <td>{{article.deleted}}</td>
                    <td>{{article.notes}}</td>
                    <td>
                        <a ui-sref="chapter-detail({id:article.chapterId})">{{article.chapterId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="article-detail({id:article.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="article.edit({id:article.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="article.delete({id:article.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
