<div flex layout="column">
<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>
<div ng-if="vm.isReady" flex layout="column">
    <!--<div class="col-md-12 no-padding">-->
        <!--<h3 class="page-title col-md-5 col-lg-5 col-xs-12 col-sm-12 no-list oficial-title-index">Noticias</h3>-->

    <!--</div>-->

    <!--<div class="form-group col-md-offset-8 col-md-2" style="margin-bottom: 0px;">-->
        <!--<button type="button" class="btn green-button-oficial col-md-12  col-lg-12 col-sm-12 col-xs-12"-->
                <!--ui-sref="announcement-sketch" name="button">Borradores-->
        <!--</button>-->
    <!--</div>-->
    <!--<div class="form-group col-md-2 no-padding" id="index-search-bar" style="margin-bottom: 0px;">-->
        <!--<button type="button" class="btn orange-button-oficial col-md-12  col-lg-12 col-sm-12 col-xs-12"-->
                <!--ui-sref="announcement.new" name="button">Crear nuevo anuncio-->
        <!--</button>-->

    <!--</div>-->

    <!--<br/>-->
    <!--<div class="container-fluid no-padding">-->

    <!--</div>-->
    <!--<br/>-->
    <no-content ng-if="vm.announcements == 0" icon="picture_in_picture" text="No hay noticias"></no-content>

    <div class="table-responsive" style="border: 0px!important;">
        <table class=" table table-hover   font-13 tableMaterialDesign" ng-if="vm.announcements != 0">
            <thead style="background-color: #fafafa;">
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th>Título</th>
                <th class="text-center">Fecha de publicación</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acción</th>
                <th class="text-center">Detalle</th>
                <th class="text-center">Editar</th>
                <th class="text-center">Eliminar</th>
            </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <tr ng-repeat="announcement in vm.announcements track by announcement.id">
                <td>{{announcement.title}}</td>
                <td class="text-center" ng-if="announcement.status==2">{{announcement.publishingDate | date:'dd MMM yyyy
                    hh:mm a'}}
                </td>
                <td class="text-center" ng-if="announcement.status==3">No publicado</td>
                <td class="text-center">
                    <span class="bold" style="font-size:13px;  color: #26A69A;"
                          ng-if="announcement.status==2">Publicado</span>
                    <span class="bold" style="font-size:13px; padding:10px; color:#FF3D00;"
                          ng-if="announcement.status==3">No publicado</span>
                </td>
                <td class="text-center">
                    <a ng-if="announcement.status==3" ng-click="vm.publish(announcement)">Publicar</a>
                    <a ng-if="announcement.status==2" ng-click="vm.unPublish(announcement)">Retirar noticia</a>
                </td>
                <td class="text-center"><a ui-sref="announcement-detail({id:announcement.id})">Detalle</a></td>
                <td class="text-center"><a ui-sref="announcements.edit({id:announcement.id})">Editar</a></td>
                <td class="text-center"><a ng-click="vm.delete(announcement)">Eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <md-button ui-sref="announcements.new" class="md-fab md-fab-bottom-right" aria-label="Add new">
        <md-tooltip md-direction="left">Crear noticia</md-tooltip>
        <md-icon>add</md-icon>
    </md-button>
</div>

</div>

