<md-card style="margin-bottom: 40px!important" md-theme-watch class="form-wrapper">
<md-card style="margin-bottom: 40px!important" md-theme-watch class="form-wrapper">
    <md-card-title layout-align="space-between center">
        <md-card-title-text>

            <span class="md-headline font-15 hidden-sm hidden-md hidden-lg font-green-sharp">
                 <i
                     class="material-icons material-icons-with-text" hide-sm hide-xs hide-md
                     ng-click="back()">arrow_back</i>

                {{vm.announcement.title}}</span>
            <span class="md-headline font-20 hidden-xs font-green-sharp">
                 <i
                     class="material-icons material-icons-with-text" hide-sm hide-xs hide-md
                     ng-click="back()">arrow_back</i>
                {{vm.announcement.title}}</span>

        </md-card-title-text>
        <div layout-align="end center">
            <span class="md-subhead" style="font-size: 12px">
                {{vm.announcement.showDate}}</span>
            <md-menu md-position-mode="target-right target" has-any-authority="ROLE_MANAGER">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <i class="material-icons" style="color:#999">more_vert</i>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ng-if="vm.announcement.status==2" ng-click="vm.unPublish(vm.announcement)">
                            <div layout="row" flex>
                                <p flex>Retirar noticia</p>
                            </div>
                        </md-button>
                        <md-button ng-if="vm.announcement.status==3 || vm.announcement.status==1 "
                                   ng-click="vm.publish(vm.announcement)">
                            <div layout="row" flex>
                                <p flex>Publicar noticia</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="announcements.edit({id:vm.announcement.id})">
                            <div layout="row" flex>
                                <p flex>Editar</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ng-click="vm.delete(vm.announcement)">
                            <div layout="row" flex>
                                <p flex>Eliminar</p>
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
            <a><i class="material-icons"
                  style="color:#FF3D00; font-size: 23px;margin-top:9px;float:right"
                  ng-if="vm.announcement.status==3">
                <md-tooltip md-direction="left" class="font-13 bold white-color">No publicada</md-tooltip>
                lens</i>
                <i class="material-icons" style="color:#FDD835; font-size: 23px;margin-top:9px;float:right"
                   ng-if="vm.announcement.status==1">
                    <md-tooltip md-direction="left" class="font-13 bold white-color">Borrador</md-tooltip>
                    lens</i>
                <i class="material-icons" style="color:#26A69A ; font-size: 23px;margin-top:9px;float:right"
                           ng-if="vm.announcement.status==2">
                <md-tooltip md-direction="left" class="font-13 bold white-color">Publicada</md-tooltip>
                lens</i></a>
        </div>
    </md-card-title>
    <md-card-content>
        <div ng-if="vm.announcement.useBanner==0" class="margin-top-10"  ng-bind-html="vm.announcement.description"></div>
        <h3 class="text-center no-margin"ng-if="vm.announcement.useBanner==1">
            <img class="object-fit_scale-down-announcement-form"
                 src="{{vm.announcement.imageBannerUrl}}"/>
        </h3>
    </md-card-content>
    <md-divider ng-if="vm.announcement.showingComments==true"></md-divider>
    <md-card-actions layout="row" class="no-margin" layout-align="space-between center">
        <div class="create-comment md-3-line" ng-class="{'white-bg': vm.announcement.showingComments==true}">
            <div class="row" style="padding: 0 16px">
                <div class="comments-button text-center" style="background-color: transparent!important"
                     ng-click="vm.loadComments(vm.announcement)" ng-if="vm.announcement.commentsQuantity!=0">
                    <i class="material-icons material-icons-with-text" style="margin:0">comment</i> Comentarios
                    {{vm.announcement.commentsQuantity}}
                </div>
                <div class="comments-container" ng-if="vm.announcement.showingComments==true">
                    <md-list flex>
                        <div layout="row" layout-align="center center"
                             ng-if="vm.announcement.commentsPage < vm.announcement.links['last']">
                            <span class="comments-button" ng-click="vm.loadCommentsPage(vm.announcement)">Ver comentarios anteriores</span>
                        </div>
                        <md-list-item class="md-3-line"
                                      ng-repeat="comment in vm.announcement.comments | orderBy: 'creationDate' track by comment.id ">
                            <img class="md-avatar" ng-hide="comment.resident.image_url"
                                 src="content/images/nobody-image.jpg"/>
                            <img ng-show="comment.resident.image_url!==null" src="{{comment.resident.image_url}}"
                                 class="md-avatar"/>
                            <div class="md-list-item-text" layout="column">
                                <div layout="row" layout-align="space-between center" ng-if="comment.editing===false">
                                    <div>
                                        <h3 style="font-size: 13px;font-weight: bold">
                                            {{comment.resident.name +" "+ comment.resident.lastname +" "+
                                            comment.resident.secondlastname}}</h3>
                                        <h4 class="inline" style="font-size: 12px">
                                            {{comment.showingDate}}
                                            <span style="color: #90949c;cursor: pointer;font-size: 11px;"
                                                  ng-if="comment.editedDate!=undefined"
                                                  title="{{comment.editedDate | date:'medium'}}"> - Editado</span>
                                        </h4>
                                    </div>
                                    <div ng-if="vm.showActionDelete(comment) || vm.showActionEdit(comment) ">
                                        <md-menu md-position-mode="target-right target">
                                            <md-button aria-label="Open demo menu" class="md-icon-button"
                                                       ng-click="$mdMenu.open($event)">
                                                <i class="material-icons">more_vert</i>
                                            </md-button>
                                            <md-menu-content width="4">
                                                <md-menu-item ng-if="vm.showActionDelete(comment)">
                                                    <md-button ng-click="vm.deleteComment(comment, vm.announcement)">
                                                        <div layout="row" flex>
                                                            <p flex>Eliminar comentario</p>
                                                        </div>
                                                    </md-button>
                                                </md-menu-item>
                                                <md-menu-item ng-if="vm.showActionEdit(comment)">
                                                    <md-button ng-click="vm.editComment(comment)">
                                                        <div layout="row" flex>
                                                            <p flex>Editar</p>
                                                        </div>
                                                    </md-button>
                                                </md-menu-item>
                                            </md-menu-content>
                                        </md-menu>
                                    </div>
                                </div>
                                <p style="font-size: 13px" ng-if="comment.editing===false">
                                    {{comment.comment}}
                                </p>
                                <form name="form1" ng-submit="vm.submitEditComment(comment, vm.announcement)">
                                    <div flex="100" class="inline" ng-if="comment.editing===true">
                                        <textarea style="margin:15px 0 0 0;width:100%;" ng-model="comment.newComment"
                                                  class="input-no-decoration" style="margin-left: 5px" type="text"
                                                  placeholder="Actualizar comentario.." required>
                                        </textarea>
                                    </div>
                                    <div layout="row" layout-align="end center" ng-if="comment.editing===true">
                                        <md-button ng-click="vm.cancelEditing(comment)">Cancelar</md-button>
                                        <md-button ng-disabled="form1.$invalid" type="submit" class="md-primary">
                                            Actualizar
                                        </md-button>
                                    </div>
                                </form>
                            </div>
                        </md-list-item>
                    </md-list>
                </div>
            </div>
            <form flex name="form" class="md-list-item" ng-submit="vm.saveComment(vm.announcement)">
                <div layout="row">
                    <img class="circle-material-image" ng-hide="currentUserImage"
                         src="content/images/nobody-image.jpg"/>
                    <img ng-show="currentUserImage!==null" src="{{currentUserImage}}"
                         class="circle-material-image"/>
                    <div flex="100">
                        <textarea style="margin:15px 0 0 0;width:100%;"
                                  ng-model="vm.announcement.currentComment.comment"
                                  ng-click="vm.showCommentForm(vm.announcement)" class="input-no-decoration"
                                  style="margin-left: 5px" type="text"
                                  placeholder="Añadir un comentario..." required>
                        </textarea>
                    </div>
                </div>
                <div layout="row" layout-align="end center" ng-if="vm.announcement.showingCommentForm===true">
                    <md-button ng-click="vm.hideCommentForm(vm.announcement)">Cancelar</md-button>
                    <md-button ng-disabled="form.$invalid" type="submit" class="md-primary">Publicar</md-button>
                </div>
            </form>
        </div>

    </md-card-actions>
</md-card>
