
<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill style="height: 100%;  flex-grow: 1;" layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>
</div>
<div ng-if="vm.isReady" id="content">
    <!--<div class="col-md-12 no-padding">-->
        <!--<h3 class="page-title col-md-5 col-lg-5 col-xs-12 col-sm-12 no-list oficial-title-index">Borradores</h3>-->

    <!--</div>-->

    <!--<div class="form-group col-md-offset-8 col-md-2" style="margin-bottom: 0px;">-->
        <!--<button type="button" class="btn green-button-oficial col-md-12  col-lg-12 col-sm-12 col-xs-12" ui-sref="announcement"-->
                <!--name="button">Anuncios-->
        <!--</button>    </div>-->
    <!--<div class="form-group col-md-2 no-padding" id="index-search-bar" style="margin-bottom: 0px;">-->
        <!--<button type="button" class="btn orange-button-oficial col-md-12  col-lg-12 col-sm-12 col-xs-12" ui-sref="announcement.new"  name="button">Crear nuevo anuncio</button>-->
    <!--</div>-->

    <!--<br/>-->
    <!--<div class="container-fluid no-padding">-->

    <!--</div>-->
    <!--<br/>-->
    <div class="table-responsive" style="border: 0px!important;">

      <no-content ng-if="vm.announcements == 0" icon="picture_in_picture" text="No hay borradores"></no-content>

        <table ng-if="vm.announcements != 0"  class=" table table-hover   font-13 tableMaterialDesign" >
            <thead style="background-color: #fafafa;">
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th>Título</th>
                <th class="text-center">Fecha de publicación</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Detalle</th>
                <th class="text-center">Opciones</th>
            </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <tr ng-repeat="announcement in vm.announcements | orderBy : '-publishingDate' track by announcement.id">
                <td>{{announcement.title}}</td>
                <td class="text-center">{{announcement.publishingDate | date:'dd MMM yyyy hh:mm a'}}</td>
                <td class="text-center">
                    <span class="bold" style="font-size:13px;">Borrador</span>
                </td>

                <td class="text-center"><a ui-sref="announcement-detail({id:announcement.id})"><i class="material-icons"><md-tooltip md-direction="left" class="font-13 bold white-color">Ver detalle</md-tooltip>remove_red_eye</i></a></td>

                <td class="text-center " style="padding-top: 10px!important; padding-bottom: 0px!important;">
                    <md-menu md-position-mode="target-right target" has-any-authority="ROLE_MANAGER" >
                        <md-button aria-label="Open demo menu" class="md-icon-button no-padding" ng-click="$mdMenu.open($event)">
                            <i class="material-icons" style="color:#999"><md-tooltip md-direction="left" class="font-13 bold white-color">Opciones</md-tooltip>more_vert</i>
                        </md-button>
                        <md-menu-content width="4">
                            <md-menu-item>
                                <md-button ui-sref="announcements.edit({id:announcement.id})">
                                    <div layout="row" flex>
                                        <p flex>Editar</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item  ng-if="announcement.status==2">
                                <md-button ng-click="vm.unPublish(announcement)">
                                    <div layout="row" flex>
                                        <p flex>Retirar noticia</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item  ng-if="announcement.status==3">
                                <md-button ng-click="vm.publish(announcement)">
                                    <div layout="row" flex>
                                        <p flex>Publicar</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button ng-click="vm.delete(announcement)">
                                    <div layout="row" flex>
                                        <p flex>Eliminar</p>
                                    </div>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<md-button ui-sref="announcements.new" class="md-fab md-fab-bottom-right orange-button-oficial" style="position: fixed;"  aria-label="Add new">
    <md-tooltip md-direction="left" class="font-13 bold white-color">Crear borrador</md-tooltip>
    <md-icon class="white-color">add</md-icon>
</md-button>
