<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a>Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Noticias</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ng-if="vm.isCreatingOne==true" href="">Nueva</a>
            <a ng-if="vm.isCreatingOne==false" href="">Editar</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right"></div>
    </div>
</div>

<div style="">
    <div class="row">
        <div class="col-md-12">
            <form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="fa fa-user font-green-haze"></i>
                            <span ng-if="vm.isCreatingOne==true" class="caption-subject bold uppercase">Crear nuevo anuncio</span>
                            <span ng-if="vm.isCreatingOne==false"
                                  class="caption-subject bold uppercase">Editar anuncio</span>
                            <span style="font-size: 11px;background-color: #af8c38; padding: 4px;margin-left: 15px!important;color:
                            white;float: right;"
                                  ng-if="vm.announcement.status==1">Borrador</span>

                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group">
                            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding-left margin-top-10">
                                <span class="font-13 bold  control-label">Titulo *</span>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 form-group">
                                <input type="text" class="form-control gray" name="folio" id="field_folio"
                                       ng-model="vm.announcement.title"
                                       required/>
                                <div ng-show="editForm.title.$invalid">
                                    <p class="help-block"
                                       ng-show="editForm.title.$error.required"
                                       data-translate="entity.validation.required">
                                        This field is required.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding-left margin-top-10">
                                <span class="font-13 bold  control-label">Descripción *</span>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-10">
                                <summernote lang="es-ES" height="400" ng-model="vm.announcement.description"
                                            required></summernote>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions noborder">
                        <h3 class="text-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
                                <span>Cancelar</span>
                            </button>
                            <button ng-if="vm.isCreatingOne==true || vm.announcement.status==1"
                                    ng-click="vm.saveAsSketch()"
                                    ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-warning">
                                <span>Guardar borrador</span>
                            </button>
                            <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving"
                                    class="btn btn-primary">
                                <span>Publicar</span>
                            </button>
                        </h3>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
