
<!-- SE REQUIERE EN CADA VISTA -->
<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a>Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Anuncios</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a >Borradores</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right" style="padding-top:10px;">
            <i class="fa fa-lightbulb-o" style="font-size:20px; color:orange"></i>
        </div>
    </div>
</div>
<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill style="height: 100%;  flex-grow: 1;" layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>
</div>
<div ng-if="vm.isReady" id="content">
    <div class="col-md-12 no-padding">
        <h3 class="page-title col-md-5 col-lg-5 col-xs-12 col-sm-12 no-list oficial-title-index">Borradores</h3>

    </div>

    <div class="form-group col-md-offset-8 col-md-2" style="margin-bottom: 0px;">
        <button type="button" class="btn green-button-oficial col-md-12  col-lg-12 col-sm-12 col-xs-12" ui-sref="announcement"
                name="button">Anuncios
        </button>    </div>
    <div class="form-group col-md-2 no-padding" id="index-search-bar" style="margin-bottom: 0px;">
        <button type="button" class="btn orange-button-oficial col-md-12  col-lg-12 col-sm-12 col-xs-12" ui-sref="announcement.new"  name="button">Crear nuevo anuncio</button>
    </div>

    <br/>
    <div class="container-fluid no-padding">

    </div>
    <br/>
    <div class="table-responsive" style="border: 0px!important;">

        <div ng-show="vm.announcements == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marging-top-100">
            <h2 class="text-center gray-font font-24">No hay borradores de anuncion creados.</h2>
        </div>
        <table class=" table table-hover   font-13 tableMaterialDesign" >
            <thead style="background-color: #fafafa;">
            <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.reset()">
                <th>Título</th>
                <th class="text-center">Fecha de publicación</th>
                <th class="text-center">Estado</th>
                <th class="text-center">Acción</th>
                <th class="text-center">Detalle</th>
                <th class="text-center">Editar</th>
                <th class="text-center">Eliminar</th>
            </tr>
            </thead>
            <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">
            <tr ng-repeat="announcement in vm.announcements | orderBy : '-publishingDate' track by announcement.id">
                <td>{{announcement.title}}</td>
                <td class="text-center">{{announcement.publishingDate | date:'dd MMM yyyy hh:mm a'}}</td>
                <td class="text-center">
                    <span class="bold" style="font-size:13px;">Borrador</span>
                </td>
                <td class="text-center">
                    <a ng-if="announcement.status==1" ng-click="vm.publish(announcement)">Publicar</a>
                </td>
                <td class="text-center"><a ui-sref="announcement-detail({id:announcement.id})">Detalle</a></td>
                <td class="text-center"><a ui-sref="announcement.edit({id:announcement.id})">Editar</a></td>
                <td class="text-center"><a ng-click="vm.delete(announcement)">Eliminar</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
