<div>
    <h2 data-translate="aditumApp.collection.home.title">Collections</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="collection.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aditumApp.collection.home.createLabel">
                        Create new Collection
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="aditumApp.collection.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mensualBalance"><span data-translate="aditumApp.collection.mensualBalance">Mensual Balance</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deleted"><span data-translate="aditumApp.collection.deleted">Deleted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="houseId"><span data-translate="aditumApp.collection.house">House</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="collection in vm.collections track by collection.id">
                    <td><a ui-sref="collection-detail({id:collection.id})">{{collection.id}}</a></td>
                    <td>{{collection.date | date:'medium'}}</td>
                    <td>{{collection.mensualBalance}}</td>
                    <td>{{collection.deleted}}</td>
                    <td>
                        <a ui-sref="house-detail({id:collection.houseId})">{{collection.houseId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="collection-detail({id:collection.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="collection.edit({id:collection.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="collection.delete({id:collection.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
