<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 no-padding no-margin" style="height:100vh!important;color:white!important;background: linear-gradient(122deg, #01060d, #0d3c7b, #01060d, #0d3c7b, #01060d);
 background-size: 1000% 1000%; -webkit-animation: loginBackground 24s ease infinite; -moz-animation: loginBackground 24s ease infinite; -o-animation: loginBackground 24s ease infinite; animation: loginBackground 24s ease infinite;">

<h1 class="text-center" id="loginCodeWelcomeText">Bienvenido a</h1>
    <h1 class="text-center"><img src="content/images/logoAditum.png" alt="" width="280"></h1>


    <div class="height-41-pixel col-sm-12 hidden-xs "></div>
    <h5 class="text-center font-20 ">Para comenzar, ingresa el código contenido en la tarjeta entregada en su filial.</h5>

    <div class="form-group col-md-4 col-lg-4 col-md-offset-4 margin-top-30 ">
        <div class="input-group col-md-12 ">
            <input type="text" class="form-control height-12-percent specialCharacters font-27 input_id text-center"  ng-model="vm.loginCode" placeholder="Ingrese el código" id="id_license_number">
        </div>
    </div>

    <div class="form-group col-md-12 col-lg-12 ">

         <button type="button" ng-click="vm.validateLoginCode()" class="btn blue col-md-offset-4 col-md-4 col-sm-12 col-xs-12 margin-top-10" name="button">Validar código de iniciación</button>

    </div>












</div>
