<div class="tab-pane col-md-12 col-sm-12 col-lg-12 col-xs-12" >


    <h2 class="caption-subject font-green-sharp font-weight-600 text-center margin-bottom-20 loginCodeWelcomeTitle"
        style="font-size:35px">
        Bienvenido a ADITUM
    </h2>
   

    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 font-15 margin-top-10 margin-bottom-20 display-none" id="loginCodeWelcomeSubTitle">
        <p class="narrow text-center" style="width:100%; color:rgba(93,93,93,0.97)">
            Por medio de este sistema podrá administrar y consultar la información más importante de su filial.
        </p>

        <p class="narrow text-center" style="width:100%; color:rgba(93,93,93,0.97)">
            Estos son algunas de los principales beneficios que ADITUM le ofrece:
        </p>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 display-none margin-bottom-20" id="loginCodeWelcomeAdministraDiv">
        <h1 class="text-center"><i class="fa fa-align-center font-35"style="color:#009688"></i></h1>
        <h3 class="text-center margin-top-20 font-22 " style=" font-weight: 530;">Autorizados</h3>

        <p class="text-center col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-10 font-14 " style="line-height: 2; color:#8d8d8d">Gestiona toda la información de residentes y vehículos autorizados de su filial.</p>
    </div>
    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 display-none margin-bottom-20" id="loginCodeWelcomeReportaDiv">
        <h1 class="text-center"><i class="fa fa-bar-chart   font-35" style="color:#009688"></i></h1>
        <h3 class="text-center margin-top-20 font-22 " style=" font-weight: 530;">Estados financieros</h3>

        <p class="text-center col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-10 font-14 " style="line-height: 2; color:#8d8d8d">Consulta estados de cuenta de su filial, deudas e historial de pagos </p>

    </div>
    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 display-none margin-bottom-20" id="loginCodeWelcomeConsultaDiv">
        <h1 class="text-center"><i class="fa fa-calendar   font-35" style="color:#009688"></i></h1>
        <h3 class="text-center margin-top-20 font-22 " style=" font-weight: 530;">Reservaciones</h3>

        <p class="text-center col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-10 font-14 " style="line-height: 2; color:#8d8d8d">Reserva las amenidades del condominio desde tu teléfono.</p>

    </div>
    <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 display-none margin-bottom-20" id="loginCodeWelcomeNotificaDiv">
        <h1 class="text-center"><i class="fa fa-users font-35"style="color:#009688"></i></h1>
        <h3 class="text-center margin-top-20 font-22 " style=" font-weight: 530;">Permisos</h3>

        <p class="text-center col-md-12 col-lg-12 col-sm-12 col-xs-12 margin-top-10 font-14 " style="line-height: 2; color:#8d8d8d">Otorga permisos de acceso a tus familiares y amigos, o cualquier persona que lo visite.</p>

    </div>

<!--    <h1  class="text-center col-xs-12 col-md-12 col-sm-12 horizontal-padding-40 margin-bottom-20 display-none" id="loginCodeWelcomeContinueButton">-->
<!--        <button type="button" ng-click="vm.beginConfiguration()" class="btn btn-success green horizontal-padding-40 vertical-padding-20  col-xs-12 col-md-offset-3 col-md-6 col-sm-12">Comenzar a configurar  <i class="glyphicon glyphicon-send"></i></button>-->

<!--    </h1>-->
    <h1  class="text-center display-none" id="loginCodeWelcomeContinueButton">
    <md-button class="md-primary md-raised" ng-click="vm.beginConfiguration()">
        Comenzar a configurar
    </md-button>
    </h1>
<!--    <h1  class="text-center col-xs-12 col-md-12 col-sm-12 horizontal-padding-40 margin-bottom-20 display-none" id="loginCodeWelcomeContinueButton">-->
<!--        <button  type="button" ng-click="vm.beginConfiguration()" class="btn btn-success green horizontal-padding-40 vertical-padding-20  col-xs-12 col-md-offset-3 col-md-6 col-sm-12">Comenzar a configurar <i class="glyphicon glyphicon-send"></i></button>-->

<!--    </h1>-->
    <!--<p class="text-center col-md-12 col-xs-12 col-lg-12 col-sm-12 display-none" id="loginCodeWelcomeContinueButton">-->
        <!--<a ng-click="vm.beginConfiguration()"  class="btn btn-success btn-outline-rounded green">Comenzar a configurar información<span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>-->
    <!--</p>-->
</div>
<md-button ui-sref="insertCode()" style="position: fixed; left:1px!important;"
           class="md-fab md-raised md-mini  md-fab-bottom-left red-button-oficial" aria-label="Add new">
    <md-tooltip md-direction="right" class="font-13 bold white-color">Atrás</md-tooltip>
    <md-icon class="white-color">keyboard_arrow_left</md-icon>
</md-button>

<script>
    angular.element(document).ready(function () {

        $( "#homeli" ).addClass( "active" );
        $( "#residentli" ).removeClass( "active" );
        $( "#profileli" ).removeClass( "active" );
        $( "#carli" ).removeClass( "active" );
        $( "#donerli" ).removeClass( "active" );
    });
</script>
