<div class="tab-pane col-md-12" >
    <form ng-submit="vm.profileInfoReady()">
        <h3 class="head text-center">Información personal</h3>
        <div class="horizontal-padding-40 col-md-12">
            <span>Importante: Si su nacionalidad es costarricense, debe ingresar el número de cédula igual que aparece en su cédula de identidad para obtener su información del padrón electoral de Costa Rica. Ejemplo: 10110111.</span>
        </div>
        <div class="col-lg-6 col-md-6  col-sm-6  marging-top-20 horizontal-padding-40">
            <div class="form-group has-info ">
                <label class="font-15">Nacionalidad</label>
                <select  ng-disabled="vm.registrationProfileFinished==true" class="form-control gray-font" name="resident" ng-change="vm.unlockPersonNames(vm.profileInfo)" ng-model="vm.profileInfo.nacionality" ng-required='vm.required==1'>
                    <option value="">Seleccione una opción</option>
                    <option value="9">Costarricense</option>
                    <option value="15">Extranjero</option>
                </select>
            </div>
            <div  class="form-group gray-font ">
                <label  class="font-15">Número de cédula</label>
                <input ng-disabled="vm.registrationProfileFinished==true" maxlength="{{vm.profileInfo.nacionality}}" style="text-transform: uppercase" ng-class="{redBorder: vm.profileInfo.validIdentification == 0}"  ng-model="vm.profileInfo.identificationnumber" placeholder="Sin guiones ni espacios" type="text" ng-change="vm.findInPadron(vm.profileInfo)" class="form-control specialCharacters gray-font"  ng-disabled="vm.profileInfo.nacionality==NULL" required style='text-transform:uppercase'>
            </div>
            <div class="form-group">
                <label  class="font-15 gray-font">Nombre</label>
                <input ng-model="vm.profileInfo.name" type="text" style="text-transform: uppercase" ng-class="{redBorder: vm.hasNumbersOrSpecial(vm.profileInfo.name)}"  class="form-control letters gray-font" ng-disabled="vm.profileInfo.lockNames==true || vm.registrationProfileFinished==true" required style="text-transform: capitalize;">
            </div>
            <div class="form-group ">
                <label  class="font-15 gray-font">Primer Apellido</label>
                <input ng-model="vm.profileInfo.lastname" style="text-transform: uppercase" ng-class="{redBorder: vm.hasNumbersOrSpecial(vm.profileInfo.lastname)}" type="text" class="form-control letters gray-font" ng-disabled="vm.profileInfo.lockNames==true || vm.registrationProfileFinished==true" required style="text-transform: capitalize;">

            </div>
            <div class="form-group gray-font">
                <label class="font-15">Número de extensión o teléfono de casa</label>
                <input  ng-disabled="vm.registrationProfileFinished==true" ng-model="vm.house.extension" type="text" required placeholder="SIN GUIONES NI ESPACIOS" maxlength="20" class="form-control numbers gray-font">

            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 marging-top-20 horizontal-padding-40">
            <div class="form-group ">
                <label class="font-15 gray-font">Segundo Apellido</label>
                <input ng-model="vm.profileInfo.secondlastname" ng-class="{redBorder: vm.hasNumbersOrSpecial(vm.profileInfo.secondlastname)}" type="text" class="form-control letters gray-font" ng-disabled="vm.profileInfo.lockNames==true || vm.registrationProfileFinished==true" required style="text-transform: capitalize;">

            </div>
            <div class="form-group gray-font">
                <label class="font-15">Número celular</label>
                <input  ng-disabled="vm.registrationProfileFinished==true" ng-focus="expression==1" ng-model="vm.profileInfo.phonenumber" type="text" required placeholder="SIN GUIONES NI ESPACIOS" maxlength="20" class="form-control numbers gray-font">

            </div>
            <div class="form-group gray-font">
                <label class="font-15">Correo electrónico</label>
                <input ng-disabled="vm.registrationProfileFinished==true" ng-model="vm.profileInfo.email" type="email" class="form-control gray-font" required placeholder="">
            </div>

            <div class="form-group has-info gray-font">
                <label class="font-15 ">Tipo de autorizado</label>
                <select  ng-disabled="vm.registrationProfileFinished==true" class="form-control gray-font" name="vehicule" ng-model="vm.profileInfo.type" ng-required='vm.required==1'>
                    <option value="">Seleccione una opción</option>
                    <option value="Propietario">Residente propietario</option>
                    <option value="Inquilino">Residente inquilino</option>
                </select>
            </div>

        </div>
        <h1 ng-show="vm.registrationProfileFinished==true" class="text-center col-xs-12 col-md-12 col-sm-12 horizontal-padding-40 margin-bottom-20">
            <button  type="button" ui-sref="loginCodeResidents" class="btn btn-success green horizontal-padding-40 vertical-padding-20  col-xs-12 col-md-offset-3 col-md-6 col-sm-12">Continuar <i class="fa fa-check "></i></button>

        </h1>
        <h1 ng-hide="vm.registrationProfileFinished==true" class="text-center col-xs-12 col-md-12 col-sm-12 horizontal-padding-40 margin-bottom-20">
            <button  ng-disabled="vm.isSaving==true" type="submit" class="btn btn-success green horizontal-padding-40 vertical-padding-20  col-xs-12 col-md-offset-3 col-md-6 col-sm-12">Guardar y continuar <i class="fa fa-check "></i></button>

        </h1>


    </form>
</div>
