
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myOfficerARLabel" data-translate="aditumApp.officerAR.home.createOrEditLabel">Create or edit a Officer AR</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.officerAR.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.officerAR.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.officerAR.name"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.lastName" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                    ng-model="vm.officerAR.lastName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.secondLastName" for="field_secondLastName">Second Last Name</label>
            <input type="text" class="form-control" name="secondLastName" id="field_secondLastName"
                    ng-model="vm.officerAR.secondLastName"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.identificationNumber" for="field_identificationNumber">Identification Number</label>
            <input type="text" class="form-control" name="identificationNumber" id="field_identificationNumber"
                    ng-model="vm.officerAR.identificationNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.inService" for="field_inService">In Service</label>
            <input type="text" class="form-control" name="inService" id="field_inService"
                    ng-model="vm.officerAR.inService"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.imageUrl" for="field_imageUrl">Image Url</label>
            <input type="text" class="form-control" name="imageUrl" id="field_imageUrl"
                    ng-model="vm.officerAR.imageUrl"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.annosExperiencia" for="field_annosExperiencia">Annos Experiencia</label>
            <input type="text" class="form-control" name="annosExperiencia" id="field_annosExperiencia"
                    ng-model="vm.officerAR.annosExperiencia"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.birthDate" for="field_birthDate">Birth Date</label>
                <div class="input-group">
                    <input id="field_birthDate" type="text" class="form-control" name="birthDate" uib-datepicker-popup="{{dateformat}}" ng-model="vm.officerAR.birthDate" is-open="vm.datePickerOpenStatus.birthDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('birthDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.phoneNumber" for="field_phoneNumber">Phone Number</label>
            <input type="text" class="form-control" name="phoneNumber" id="field_phoneNumber"
                    ng-model="vm.officerAR.phoneNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.direction" for="field_direction">Direction</label>
            <input type="text" class="form-control" name="direction" id="field_direction"
                    ng-model="vm.officerAR.direction"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.plateNumber" for="field_plateNumber">Plate Number</label>
            <input type="text" class="form-control" name="plateNumber" id="field_plateNumber"
                    ng-model="vm.officerAR.plateNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.aditionalNotes" for="field_aditionalNotes">Aditional Notes</label>
            <input type="text" class="form-control" name="aditionalNotes" id="field_aditionalNotes"
                    ng-model="vm.officerAR.aditionalNotes"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.enabled" for="field_enabled">Enabled</label>
                <input type="checkbox" name="enabled" id="field_enabled"
                          ng-model="vm.officerAR.enabled"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.deleted" for="field_deleted">Deleted</label>
            <input type="number" class="form-control" name="deleted" id="field_deleted"
                    ng-model="vm.officerAR.deleted"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.officerAR.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.officerAR.email"
                    />
        </div>

        <div class="form-group">
            <label data-translate="aditumApp.officerAR.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" ng-model="vm.officerAR.companyId" ng-options="company.id as company.id for company in vm.companies"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="aditumApp.officerAR.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.officerAR.userId" ng-options="user.id as user.login for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="aditumApp.officerAR.house" for="field_house">House</label>
            <select class="form-control" id="field_house" multiple name="house" ng-model="vm.officerAR.houses" ng-options="house as house.id for house in vm.houses track by house.id"></select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
