<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>
</div>
<div ng-if="vm.isReady" class=" fade-in no-padding">
    <div class="col-lg-12 col-md-12 no-padding" >
        <div class="col-md-12 no-padding" layout="row" layout-align="space-between center" layout-xs="column" layout-sm="column">
            <div class="pull-left">
                <h2 class="caption-subject font-green-sharp font-weight-600 " style="font-size:20px">{{vm.titleCondominosIndex}}</h2>
            </div>
<!--            <div  class="btn-group pull-right ">-->
<!--                <div class="form-group form-md-radios">-->
<!--                    <div class="md-radio-inline">-->

<!--                        <div class="md-radio" >-->
<!--                            <input type="radio" id="radio34" name="radio2" class="md-radiobtn" ng-checked="vm.radiostatus"  ng-click="vm.switchEnabledDisabledResidents()">-->
<!--                            <label for="radio34" style="color:#45B6AF">-->
<!--                                <span class="inc"></span>-->
<!--                                <span class="check"></span>-->
<!--                                <span class="box"></span>-->
<!--                                Habilitados </label>-->
<!--                        </div>-->
<!--                        <div class="md-radio has-error">-->
<!--                            <input type="radio" id="radio35" name="radio2" class="md-radiobtn" ng-checked="!vm.radiostatus"  ng-click="vm.switchEnabledDisabledResidents()">-->
<!--                            <label for="radio35">-->
<!--                                <span class="inc"></span>-->
<!--                                <span class="check"></span>-->
<!--                                <span class="box"></span>-->
<!--                                Deshabilitados </label>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

        </div>

        <div>
            <no-content ng-if="vm.residents.length==0" icon="group" text="Esta filial no tiene propietarios registrados" ></no-content>

            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">

                <div class="col-md-4 no-padding " ng-repeat="resident in vm.residents | filter:vm.query | orderBy:'name' " >
                    <md-card class="residentCardContainer margin-bottom-10 col-"
                             md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
                        <md-card-title>
                            <md-card-title-text>
                                <span class="md-headline font-15 " ng-if="resident.isCompany">{{resident.legalCompanyName}}</span>
                                <span class="md-headline font-15 " ng-if="!resident.isCompany">{{resident.name.toUpperCase()}}</span>
                                <span class="md-subhead" style="padding-top: 15px!important;"
                                      ng-if="!resident.isCompany">Cédula: {{resident.identificationnumber.toUpperCase()}}</span>
                                <span class="md-subhead" style="padding-top: 15px!important;"
                                      ng-if="resident.isCompany">Cédula Jurídica: {{resident.legalIdentification.toUpperCase()}}</span>
                                <span class="md-subhead">Tipo de propietario:
                                    <span ng-if="resident.type==1">Residente</span>
                                    <span ng-if="resident.type==2">Arrendador</span></span>
                                <span class="md-subhead">Filiales: <span
                                    ng-repeat="house in resident.houses | orderBy:'housenumber'">{{house.housenumber}}<span
                                    ng-if="$index!=resident.houses.length-1">, </span></span></span>
                                <span class="md-subhead" ng-if="resident.type==1">Filial en la que reside: {{resident.house.housenumber}}</span>
                                <span class="md-subhead" ng-if="resident.type==2">Filial en la que reside: NINGUNA</span>
                                <span class="md-subhead">Teléfono: <span
                                    ng-if="resident.phonenumber == null">No registrado</span> <span
                                    ng-if="resident.phonenumber != null">{{resident.phonenumber}}</span></span>
                            </md-card-title-text>
                            <md-card-title-media>
                                <div class="md-media-md card-media  hidden-md hidden-lg"
                                     style="padding-top: 10px!important;">
                                    <img ng-hide="resident.image_url" src="content/images/nobody-image.jpg"
                                         height="112"
                                         width="112"/>
                                    <img style="cursor: pointer" data-toggle="modal"
                                         data-target="{{'#myModal'+resident.id}}"
                                         ng-show="resident.image_url!==null"
                                         src="{{resident.image_url}}"
                                         class="object-fit_scale-down-index"/>
                                </div>
                                <div class="md-media-sm card-media hidden-xs hidden-sm"
                                     style="padding-top: 10px!important;">
                                    <img ng-hide="resident.image_url" src="content/images/nobody-image.jpg"
                                         height="80"
                                         width="80"/>
                                    <img style="cursor: pointer" data-toggle="modal"
                                         data-target="{{'#myModal'+resident.id}}"
                                         ng-show="resident.image_url!==null"
                                         src="{{resident.image_url}}"
                                         class="object-fit_scale-down-index"/>
                                </div>
                            </md-card-title-media>
                        </md-card-title>

                        <md-card-actions layout="row" layout-align="space-between center">
                            <div>
                                <i class="material-icons greenBalance" ng-if="resident.isOwner==1"
                                   style="color: #999; padding-left: 5px!important;">
                                    <md-tooltip md-direction="right" class="font-13 bold white-color">Tiene
                                        cuenta
                                        en
                                        sistema
                                    </md-tooltip>
                                    perm_identity</i>
                                <i class="material-icons redBalance" ng-if="resident.isOwner==0"
                                   style="color: #999; padding-left: 5px!important;">
                                    <md-tooltip md-direction="right" class="font-13 bold white-color">No tiene
                                        cuenta en
                                        sistema
                                    </md-tooltip>
                                    perm_identity</i>
                                <i class="material-icons greenBalance"
                                   style="color: #999; padding-left: 5px!important;"
                                   ng-if="resident.principalContact==1">
                                    <md-tooltip md-direction="right" class="font-13 bold white-color">Contacto
                                        principal
                                        de la filial
                                    </md-tooltip>
                                    assignment_ind</i>
                            </div>
                            <div layout="row" layout-align="space-between center">
                                <i class="material-icons outline-none" style="color:#999;"
                                   ng-click="vm.detailResident(resident.id)">
                                    <md-tooltip md-direction="left" class="font-13 bold white-color">Ver detalle
                                    </md-tooltip>
                                    remove_red_eye</i>

                                <md-menu md-position-mode="target-right target "
                                         has-any-authority="ROLE_MANAGER">
                                    <md-button aria-label="Open demo menu" class="md-icon-button no-padding"
                                               ng-click="$mdMenu.open($event)"
                                               style="padding-top: 7px!important">
                                        <i class="material-icons" style="color:#999;">
                                            <md-tooltip md-direction="left" class="font-13 bold white-color">
                                                Opciones
                                            </md-tooltip>
                                            more_vert</i>
                                    </md-button>
                                    <md-menu-content width="4">
                                        <md-menu-item>
                                            <md-button ng-click="vm.editResident(resident.id)">
                                                <div layout="row" flex>
                                                    <p flex>Editar</p>
                                                </div>
                                            </md-button>
                                        </md-menu-item>
                                        <!--                                        <md-menu-item>-->
                                        <!--                                            <md-button ng-click="vm.disableEnabledResident(resident)">-->
                                        <!--                                                <div layout="row" flex>-->
                                        <!--                                                    <p flex>{{vm.actionButtonTitle}}</p>-->
                                        <!--                                                </div>-->
                                        <!--                                            </md-button>-->
                                        <!--                                        </md-menu-item>-->
                                        <md-menu-item>
                                            <md-button ng-click="vm.deleteResident(resident)">
                                                <div layout="row" flex>
                                                    <p flex>Eliminar</p>
                                                </div>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </div>

                        </md-card-actions>
                        <div id="{{'myModal'+resident.id}}" class="modal fade" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-body">
                                        <img src="{{resident.image_url}}" class="img-responsive">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card>
                </div>

            </div>
        </div>
    </div>
</div>


<script>
    function centerModal() {
        $(this).css('display', 'block');
        var $dialog = $(this).find(".modal-dialog");
        var offset = ($(window).height() - $dialog.height()) / 2;
        // Center modal vertically in window
        $dialog.css("margin-top", offset);
    }

    $('.modal').on('show.bs.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });

</script>
