

    <div class="row" ng-if="true">
        <md-content class="no-padding row background-white" style="margin-top: -15px!important;">
            <md-tabs hide-xs hide-sm md-stretch-tabs='always' md-dynamic-height="" md-border-bottom=""
                     class="padding-left-10 hidden-xs hidden-sm">
                <md-tab ng-click="vm.switchEnabledDisabledResidents()" label="USUARIOS HABILITADOS">
                </md-tab>
                <md-tab label="USUARIOS DESHABILITADOS" ng-click="vm.switchEnabledDisabledResidents()">
                </md-tab>

            </md-tabs>
            <md-tabs hide-lg hide-md  md-stretch-tabs='always' md-dynamic-height="" md-border-bottom=""
                     class="padding-left-10 hidden-md hidden-lg ">
                <md-tab ng-click="vm.switchEnabledDisabledResidents()" label="HABILITADOS">
                </md-tab>
                <md-tab label="DESHABILITADOS" ng-click="vm.switchEnabledDisabledResidents()">
                </md-tab>

            </md-tabs>
        </md-content>
    </div>

    <div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
         layout-align="space-around center">
        <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
    </div>

    <div class="fade-in" ng-if="vm.isReady">
    <div class="col-md-12 col-xs-12 col-sm-12 no-padding margin-top-20 " style="margin-bottom: 8px;" ng-if="vm.residents.length> 0 ">

        <div class=" no-padding col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0px;"
             id="index-search-bar">
            <div class="input-icon" style="color:#484848!important;">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control search-bar"
                       placeholder="Buscar" ng-model="vm.query">
            </div>
        </div>


    </div>



    <!--<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">-->
    <!--<md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>-->
    <!--</div>-->
    <div ng-if="!vm.isReady2" layout="row" class="content-loader" layout-sm="column" layout-fill
         layout-align="space-around center">
        <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
    </div>
    <div class="row" ng-if="vm.isReady2">


        <div class="col-lg-12 col-md-12 col-xs-12 ">

            <div class="col-md-12 col-xs-12 no-padding fade-in" style="margin-bottom: 80px">
                <no-content ng-if="vm.residents.length == 0" icon="group"
                            text="No hay usuarios registrados"></no-content>
                <div class="col-md-4 col-xs-12 col-sm-6 no-padding residentDivContainerXs"
                     ng-repeat="resident in vm.residents | filter:vm.query | orderBy:'name' ">
                    <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
                             class="margin-bottom-10 residentCardContainer"
                             md-theme-watch>
                        <div layout="row"  layout-align="start center" style="padding:13px 6px">
                            <div>
                                <i ng-if="resident.image_url==null"
                                   class="material-icons md-48 md-inactive md-dark circle-icon"
                                   style="padding:10px;font-size:80px"
                                   aria-hidden="true ">face
                                </i>
                                <img style="cursor: pointer" data-toggle="modal"
                                     class="img-circle object-fit_scale-down-access"
                                     data-target="{{'#myModal'+resident.id}}"
                                     ng-if="resident.image_url!==null" src="{{::resident.image_url}}"/>
                            </div>
                            <div flex layout="column" layout-align="center">
                                <div layout="row" layout-align="space-between center" style="margin-top: -8px">
                                    <div style="margin-left: 10px;">
                                        <span class="md-headline font-15 " ng-if="resident.isCompany">{{resident.legalCompanyName | truncate:25}}</span>
                                        <span class="md-headline font-15 " ng-if="!resident.isCompany">{{resident.name.toUpperCase() + " " + resident.lastname.toUpperCase() | truncate:25}}</span>
                                    </div>
                                    <div layout="row" layout-align="space-between center">
                                        <i class="material-icons outline-none" style="color:#999;" ng-click="vm.detailResident(resident.id)">
                                            <md-tooltip md-direction="left" class="font-13 bold white-color">Ver detalle
                                            </md-tooltip>
                                            remove_red_eye</i>
                                        <div>
                                            <md-menu md-position-mode="target-right target">
                                                <md-button aria-label="Open demo menu" class="md-icon-button no-padding"
                                                           ng-click="$mdMenu.open($event)"
                                                           style="padding-top: 7px!important">
                                                    <i class="material-icons" style="color:#999;">
                                                        <md-tooltip md-direction="left"
                                                                    class="font-13 bold white-color">
                                                            Opciones
                                                        </md-tooltip>
                                                        more_vert</i>
                                                </md-button>
                                                <md-menu-content width="4">
                                                    <md-menu-item >
                                                        <md-button ng-click="vm.editResident(resident.id)">
                                                            <div layout="row" flex>
                                                                <p flex>Editar</p>
                                                            </div>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item ng-if="!resident.id== vm.userId || resident.type > 2">
                                                        <md-button ng-click="vm.deleteResident(resident)" >
                                                            <div layout="row" flex>
                                                                <p flex>Eliminar</p>
                                                            </div>
                                                        </md-button>
                                                    </md-menu-item>
                                                    <md-menu-item ng-if="!resident.id== vm.userId || resident.type > 2" >
                                                        <md-button ng-click="vm.disableEnabledResident(resident)">
                                                            <div layout="row" flex>
                                                                <p flex>{{vm.actionButtonTitle}}</p>
                                                            </div>
                                                        </md-button>
                                                    </md-menu-item>
                                                </md-menu-content>
                                            </md-menu>
                                        </div>
                                    </div>
                                </div>
                                <div style="margin-left: 10px;color:#898989">
                                    <div ng-if="resident.isCompany">
                                        <span>Cédula Jurídica:</span>
                                        <span ng-if="resident.legalIdentification">{{resident.legalIdentification.toUpperCase()}}</span>
                                        <span ng-if="!resident.legalIdentification">No definida</span>
                                    </div>
                                    <div ng-if="!resident.isCompany">
                                        <span>Cédula:</span>
                                        <span ng-if="resident.identificationnumber">{{resident.identificationnumber.toUpperCase()}}</span>
                                        <span ng-if="!resident.identificationnumber">No definida</span>
                                    </div>
                                    <div>
                                        <span>Correo:</span> <a href="mailto:{{resident.email}}" ng-if="resident.email">{{resident.email}}</a>
                                        <span ng-if="!resident.email">No definido</span>
                                    </div>
                                    <div>
                                        <span>Teléfono:</span> <a href="tel:{{resident.phonenumber}}"
                                                                  ng-if="resident.phonenumber">{{resident.phonenumber}}</a>
                                        <span ng-if="!resident.phonenumber">No definido</span>
                                    </div>
                                </div>
                                <div layout="row" layout-align="space-between center">
                                    <div></div>
                                    <span>
                                        <i class="material-icons greenBalance" ng-if="resident.isOwner==1"
                                           style="color: #999; padding-left: 5px!important;">
                                            <md-tooltip md-direction="right" class="font-13 bold white-color">Tiene
                                                cuenta
                                                en
                                                sistema
                                            </md-tooltip>
                                            perm_identity</i>
                                        <i class="material-icons redBalance" ng-if="resident.isOwner==0"
                                           style="color: #999; padding-left: 5px!important;">
                                            <md-tooltip md-direction="right" class="font-13 bold white-color">No tiene
                                                cuenta en
                                                sistema
                                            </md-tooltip>
                                            perm_identity</i>
                                        <i class="material-icons greenBalance"
                                           style="color: #999; padding-left: 5px!important;"
                                           ng-if="resident.principalContact==1">
                                            <md-tooltip md-direction="right" class="font-13 bold white-color">Contacto
                                                principal
                                                de la filial
                                            </md-tooltip>
                                            assignment_ind</i>
                                        <i class="material-icons greenBalance"
                                           style="color: #999; padding-left: 5px!important;"
                                           ng-if="resident.type==4">
                                            <md-tooltip md-direction="right" class="font-13 bold white-color">Inquilino
                                            </md-tooltip>
                                            emoji_people</i>
                                     </span>
                                </div>
                            </div>
                        </div>
                        <div id="{{'myModal'+resident.id}}" class="modal fade" tabindex="-1" role="dialog"
                             aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog"
                                 style="background-color: #fffdfd00;box-shadow: none!important;border:none">
                                <div class="modal-content"
                                     style="background-color: #fffdfd00;box-shadow: none!important;border:none">
                                    <div class="modal-body"
                                         style="background-color: #fffdfd00;box-shadow: none!important;border:none">
                                        <h3 class="text-center">
                                            <img ng-if="resident.image_url!==null" src="{{resident.image_url}}"
                                                 class="object-fit_scale-down-index img-circle big-foto"/>
                                            <h5 class="text-center"
                                                style="margin-top: -69px;font-size: 15px;font-weight: 600;color: black;">
                                                <span
                                                    style="padding: 3px 10px;color: white;background: #00000061;border-radius: 7px;">
                                                {{resident.name}}</span></h5>
                                        </h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </md-card>
                </div>
            </div>
        </div>

        <md-button ui-sref="residentByHouse.new()"
                   class="md-fab md-fab-bottom-right orange-button-oficial" ng-class="{'margin-fab-xs':marginFab()}" aria-label="Add new">
            <md-tooltip md-direction="left" class="font-13 bold white-color">Registrar usuario</md-tooltip>
            <md-icon class="white-color">add</md-icon>
        </md-button>
    </div>
</div>


<script>
    function centerModal() {
        $(this).css('display', 'block');
        var $dialog = $(this).find(".modal-dialog");
        var offset = ($(window).height() - $dialog.height()) / 2;
        // Center modal vertically in window
        $dialog.css("margin-top", offset);
    }

    $('.modal').on('show.bs.modal', centerModal);
    $(window).on("resize", function () {
        $('.modal:visible').each(centerModal);
    });

</script>
