<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>
</div>
<div ng-if="vm.isReady" class=" fade-in no-padding">
    <div class="col-lg-12 col-md-12 no-padding">
        <div class="col-md-12 no-padding">
            <div class="pull-left">
                <h2 class="bold uppercase" style="font-size:15px">{{vm.titleCondominosIndex}}</h2>
            </div>
            <div  class="btn-group pull-right ">
                <div class="form-group form-md-radios">
                    <div class="md-radio-inline">

                        <div class="md-radio" >
                            <input type="radio" id="radio34" name="radio2" class="md-radiobtn" ng-checked="vm.radiostatus"  ng-click="vm.switchEnabledDisabledResidents()">
                            <label for="radio34" style="color:#45B6AF">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Habilitados </label>
                        </div>
                        <div class="md-radio has-error">
                            <input type="radio" id="radio35" name="radio2" class="md-radiobtn" ng-checked="!vm.radiostatus"  ng-click="vm.switchEnabledDisabledResidents()">
                            <label for="radio35">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Deshabilitados </label>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div>
            <div ng-show="vm.residents.length==0" class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top:30px">
                <h2  class="text-center gray-font font-24 margin-top-100 ">Esta filial no tiene residentes registrados</h2>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
                <div style="cursor: pointer;"  ui-sref="houseAdministration.residentsByHouse.residentDetail({id2:resident.id})" class="col-md-3 col-sm-6 col-xs-12 col-lg-3 " ng-repeat="resident in vm.residents  | orderBy:'name'">
                    <div class="portlet light   text-center  col-sm-12 col-xs-12 residentDivHouseAdministration" id="">
                        <span style="z-index:-1!important;border-radius:5px!important;float:right;color:#45B6AF" ng-show="resident.principalContact==1" class=""><i style="color:#4DB3A2;font-size:20px!important" class="fa fa-address-book-o" aria-hidden="true"  angular-popover direction="left" template="<div style='padding:10px;width:130px;color:gray'><h5>Contacto Principal<h5></div>" mode="mouseover"></i></span>

                        <h3 class="text-center">
                            <img ng-show="resident.image_url==null" width="120" height="120" class="img-circle" src="content/images/nobody-image.jpg"/>
                            <img ng-hide="resident.image_url==null" src="{{resident.image_url}}" width="120" height="120" class="img-circle"/>
                        </h3>



                        <h3 style="text-transform: capitalize;" class="no-padding text-center font-20 ">{{resident.name.toUpperCase()}} {{resident.lastname.toUpperCase()}}</h3>
                        <h5 class="no-padding text-center font-17">{{resident.identificationnumber.toUpperCase()}}</h5>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
