
<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home()">Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="" ui-sref="resident()">Residentes</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="">{{vm.title}}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right"> </div>
    </div>
</div>
<div class="loading col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
    <h1 class="text-center">
        <img src="content/images/nobody-image.jpg" alt="" />

    </h1>
</div>
<div class="display-none" id="edit_resident_form">
    <div class="row">
        <div class="col-md-12">
            <form ng-submit="vm.save()">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="fa fa-user font-green-haze"></i>
                            <span class="caption-subject bold uppercase">{{vm.title}}</span>
                        </div>

                    </div>
                    <div class="portlet-body form">
                        <div has-any-authority="ROLE_MANAGER,ROLE_ADMIN" class="col-md-offset-9 col-md-3 col-sm-offset-8 col-sm-4 col-xs-12">
                            <span class=" font-15 gray-font col-md-10 col-sm-10 col-xs-10">Autorizado de filial: </span>
                            <div class="lg-checkbox-list col-md-2 col-sm-2 col-xs-2">
                                <div class="md-checkbox">
                                    <input type="checkbox"  ng-model="vm.resident.isOwner" id="checkbox1" class="md-check">
                                    <label for="checkbox1">
                                        <span></span>
                                        <span class="check"></span>
                                        <span class="box"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <h3 ngf-change="vm.setImage($file, vm.resident)" class="text-center"><img ng-hide="vm.resident.image" width="200px" height="200px" class="img-circle" src="content/images/nobody-image.jpg"/> <img src="content/images/nobody-image.jpg" data-ng-src="{{'data:' + vm.resident.imageContentType + ';base64,' + vm.resident.image}}"   ng-if="vm.resident.image" id="blah"  alt="your image" width="200px" height="200px" class="img-circle"/></h3>

                        <h3 class="text-center">
                            <button type="button" ngf-select class="btn default btn-file fileinput-new gray-font"
                                    ngf-change="vm.setImage($file, vm.resident)" accept="image/*" >
                                Subir imagen
                            </button>
                        </h3>

                        <div class="col-lg-6 col-md-6 col-sm-6 marging-top-20">
                            <div class="form-group form-md-line-input">
                                <input ng-model="vm.resident.name" type="text" class="form-control letters gray-font" required style="text-transform: capitalize;">
                                <label  class="font-15">Nombre</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input ng-model="vm.resident.lastname" type="text" class="form-control letters gray-font" required style="text-transform: capitalize;">
                                <label  class="font-15">Primer Apellido</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input ng-model="vm.resident.secondlastname" type="text" class="form-control letters gray-font" required style="text-transform: capitalize;">
                                <label class="font-15">Segundo Apellido</label>
                            </div>
                            <div class="form-group form-md-line-input">
                                <input ng-model="vm.resident.identificationnumber" type="text" class="form-control numbers gray-font" required>
                                <label  class="font-15">Número de cédula</label>
                            </div>
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 marging-top-20">

                            <div class="form-group form-md-line-input">
                                <input ng-focus="expression==1" ng-model="vm.resident.phonenumber" type="text" placeholder="" maxlength="20" class="form-control numbers gray-font">
                                <label class="font-15">Número celular</label>
                            </div>
                            <div class="form-group form-md-line-input ">
                                <input ng-model="vm.resident.email" type="email" class="form-control gray-font" placeholder="">
                                <label class="font-15">Correo electrónico</label>
                            </div>

                            <div has-authority="ROLE_MANAGER" class="form-group form-md-line-input has-info">
                            <select class="form-control gray-font" id="field_house" name="house" ng-model="vm.resident.houseId" ng-options="house.id as house.housenumber for house in vm.houses" required>
                                <option value="">Seleccione una casa</option>
                            </select>
                                <label class="font-15 ">Número de casa</label >
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 hidden-xs" style="height: 45px;"></div>

                        <div class="form-actions noborder">
                            <h3 class="text-right ">
                                <button type="submit" class="btn blue"><i class="fa fa-pencil " ng-disabled="editForm.$invalid || vm.isSaving"  ng-show="vm.button=='Editar'"></i> {{vm.button}}</button>
                                <button type="button" ui-sref="resident()" class="btn red default">Cancelar</button>
                            </h3>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
$( document ).ready(function() {
    console.log( "ready!" );
});
</script>

<!--<script type="text/javascript ">-->
<!--$('.date-picker').datepicker({-->
<!--format: 'dd-mm-yyyy',-->
<!--locale: 'es',-->
<!--autoclose: true-->
<!--});-->

<!--function readURL(input) {-->
<!--if (input.files && input.files[0]) {-->
<!--var reader = new FileReader();-->

<!--reader.onload = function(e) {-->
<!--$('#blah').attr('src', e.target.result);-->
<!--}-->
<!--reader.readAsDataURL(input.files[0]);-->
<!--}-->
<!--}-->
<!--$("#imgInp ").change(function() {-->
<!--readURL(this);-->
<!--});-->
<!--</script>-->
<!--<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>-->

    <!--<div class="modal-header">-->
        <!--<button type="button" class="close" data-dismiss="modal" aria-hidden="true"-->
                <!--ng-click="vm.clear()">&times;</button>-->
        <!--<h4 class="modal-title" id="myResidentLabel" data-translate="aditumApp.resident.home.createOrEditLabel">Create or edit a Resident</h4>-->
    <!--</div>-->
    <!--<div class="modal-body">-->
        <!--<jhi-alert-error></jhi-alert-error>-->
        <!--<div class="form-group" ng-show="vm.resident.id">-->
            <!--<label for="id" data-translate="global.field.id">ID</label>-->
            <!--<input type="text" class="form-control" id="id" name="id"-->
                   <!--ng-model="vm.resident.id" readonly />-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="aditumApp.resident.name" for="field_name">Name</label>-->
            <!--<input type="text" class="form-control" name="name" id="field_name"-->
                   <!--ng-model="vm.resident.name"-->
                   <!--required/>-->
            <!--<div ng-show="editForm.name.$invalid">-->
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.name.$error.required" data-translate="entity.validation.required">-->
                    <!--This field is required.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="aditumApp.resident.lastname" for="field_lastname">Lastname</label>-->
            <!--<input type="text" class="form-control" name="lastname" id="field_lastname"-->
                   <!--ng-model="vm.resident.lastname"-->
                   <!--required/>-->
            <!--<div ng-show="editForm.lastname.$invalid">-->
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.lastname.$error.required" data-translate="entity.validation.required">-->
                    <!--This field is required.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="aditumApp.resident.secondlastname" for="field_secondlastname">Secondlastname</label>-->
            <!--<input type="text" class="form-control" name="secondlastname" id="field_secondlastname"-->
                   <!--ng-model="vm.resident.secondlastname"-->
                   <!--required/>-->
            <!--<div ng-show="editForm.secondlastname.$invalid">-->
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.secondlastname.$error.required" data-translate="entity.validation.required">-->
                    <!--This field is required.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="aditumApp.resident.identificationnumber" for="field_identificationnumber">Identificationnumber</label>-->
            <!--<input type="text" class="form-control" name="identificationnumber" id="field_identificationnumber"-->
                   <!--ng-model="vm.resident.identificationnumber"-->
                   <!--required/>-->
            <!--<div ng-show="editForm.identificationnumber.$invalid">-->
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.identificationnumber.$error.required" data-translate="entity.validation.required">-->
                    <!--This field is required.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="aditumApp.resident.phonenumber" for="field_phonenumber">Phonenumber</label>-->
            <!--<input type="text" class="form-control" name="phonenumber" id="field_phonenumber"-->
                   <!--ng-model="vm.resident.phonenumber"-->
            <!--/>-->
        <!--</div>-->
        <!--<div class="form-group" ngf-drop ngf-change="vm.setImage($file, vm.resident)" ngf-pattern="'image/*'">-->
            <!--<label class="control-label" data-translate="aditumApp.resident.image" for="field_image">Image</label>-->
            <!--<div>-->
                <!--<img data-ng-src="{{'data:' + vm.resident.imageContentType + ';base64,' + vm.resident.image}}" style="max-height: 100px;" ng-if="vm.resident.image" alt="resident image"/>-->
                <!--<div ng-if="vm.resident.image" class="help-block clearfix">-->
                    <!--<span class="pull-left">{{vm.resident.imageContentType}}, {{vm.byteSize(vm.resident.image)}}</span>-->
                    <!--<button type="button" ng-click="vm.resident.image=null;vm.resident.imageContentType=null;"-->
                            <!--class="btn btn-default btn-xs pull-right">-->
                        <!--<span class="glyphicon glyphicon-remove"></span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<button type="button" ngf-select class="btn btn-default btn-block"-->
                        <!--ngf-change="vm.setImage($file, vm.resident)" accept="image/*" data-translate="entity.action.addimage">-->
                    <!--Add image-->
                <!--</button>-->
            <!--</div>-->
            <!--<input type="hidden" class="form-control" name="image" id="field_image"-->
                   <!--ng-model="vm.resident.image"-->
            <!--/>-->
            <!--<input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"-->
                   <!--ng-model="vm.resident.imageContentType" />-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="aditumApp.resident.email" for="field_email">Email</label>-->
            <!--<input type="text" class="form-control" name="email" id="field_email"-->
                   <!--ng-model="vm.resident.email"-->
            <!--/>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="aditumApp.resident.isOwner" for="field_isOwner">Is Owner</label>-->
            <!--<input type="number" class="form-control" name="isOwner" id="field_isOwner"-->
                   <!--ng-model="vm.resident.isOwner"-->
                   <!--min="0" max="1"/>-->
            <!--<div ng-show="editForm.isOwner.$invalid">-->
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.isOwner.$error.min" data-translate="entity.validation.min" translate-value-min="0">-->
                    <!--This field should be at least 0.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.isOwner.$error.max" data-translate="entity.validation.max" translate-value-max="1">-->
                    <!--This field cannot be more than 1.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.isOwner.$error.number" data-translate="entity.validation.number">-->
                    <!--This field should be a number.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label class="control-label" data-translate="aditumApp.resident.enabled" for="field_enabled">Enabled</label>-->
            <!--<input type="number" class="form-control" name="enabled" id="field_enabled"-->
                   <!--ng-model="vm.resident.enabled"-->
                   <!--min="0" max="1"/>-->
            <!--<div ng-show="editForm.enabled.$invalid">-->
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.enabled.$error.min" data-translate="entity.validation.min" translate-value-min="0">-->
                    <!--This field should be at least 0.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.enabled.$error.max" data-translate="entity.validation.max" translate-value-max="1">-->
                    <!--This field cannot be more than 1.-->
                <!--</p>-->
                <!--<p class="help-block"-->
                   <!--ng-show="editForm.enabled.$error.number" data-translate="entity.validation.number">-->
                    <!--This field should be a number.-->
                <!--</p>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label data-translate="aditumApp.resident.user" for="field_user">User</label>-->
            <!--<select class="form-control" id="field_user" name="user" ng-model="vm.resident.userId" ng-options="user.id as user.login for user in vm.users"            >-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label data-translate="aditumApp.resident.company" for="field_company">Company</label>-->
            <!--<select class="form-control" id="field_company" name="company" ng-model="vm.resident.companyId" ng-options="company.id as company.id for company in vm.companies"            >-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
        <!--<div class="form-group">-->
            <!--<label data-translate="aditumApp.resident.house" for="field_house">House</label>-->
            <!--<select class="form-control" id="field_house" name="house" ng-model="vm.resident.houseId" ng-options="house.id as house.id for house in vm.houses"            >-->
                <!--<option value=""></option>-->
            <!--</select>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="modal-footer">-->
        <!--<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">-->
            <!--<span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>-->
        <!--</button>-->
        <!--<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">-->
            <!--<span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>-->
        <!--</button>-->
    <!--</div>-->
<!--</form>-->
