<!-- SE REQUIERE EN CADA VISTA -->
<div has-authority="ROLE_RH" class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="company-rh">{{vm.company.name}}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Turnos</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Consultar</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
<div  has-authority="ROLE_MANAGER" class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="company">{{vm.company.name}}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Turnos</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Consultar</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
    <div class="spinnerLoading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="row display-none" id="tableData" >
    <div class="col-md-12">
        <h2 class="text-center" ng-show="vm.isData==false">No existe ningún turno registrado aún</h2>
        <div ng-show="vm.isData==true">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green">
                            <i class="fa fa-clock-o font-green"></i>
                            <span class="caption-subject bold uppercase"> Consultar turnos</span>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form role="form" ng-show="vm.showFullDatePicker==true">
                            <div class="form-body">
                                <div class="date-picker input-daterange" >
                                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="isConsulting==true">
                                <button type="button" class="nothing col-xs-12" ng-click="stopConsulting()" name="button"><i class="fa fa-times red-font"></i></button>
                                </div>
                                <div class="form-group form-md-line-input">
                                <input ng-model="vm.consulting_initial_time" max="vm.currentDate" ng-click="vm.openCalendar('initialtime')" ng-change="vm.updatePicker()" datetime-picker="mediumDate"  datepicker-options="vm.picker1.datepickerOptions" is-open="vm.datePickerOpenStatus.initialtime"  type="text" enable-time="false" class="form-control letters gray-font text-center dating" required>
                                <label  class="font-15">Desde la fecha</label>
                                </div>
                                <div class="form-group form-md-line-input">
                                <input ng-model="vm.consulting_final_time"  max="vm.currentDate"  ng-click="vm.openCalendar('finaltime')" ng-change="vm.updatePicker()" type="text" datetime-picker="mediumDate"  is-open="vm.datePickerOpenStatus.finaltime" datepicker-options="vm.picker2.datepickerOptions"  enable-time="false" class="form-control letters gray-font text-center dating" required>
                                <label  class="font-15">Hasta la fecha</label>
                                </div>

                                </div>
                            </div>
                            <div class="form-actions noborder no-margin no-padding">
                                <button ng-click="vm.filterWatches()" class="btn green col-md-6 col-sm-6 col-xs-12  small-margin-bottom" ng-disabled="vm.consulting_initial_time=='' || vm.consulting_final_time==''">Consultar</button>
                                <button ng-click="vm.getCurrentWatch()" ng-show="vm.showCleanBtn==true" class="btn small-margin-bottom btn-danger">Limpiar</button>
                            </div>
                        </form>
                        <form role="form" ng-show="vm.showFullDatePicker==false">
                            <div class="form-body">
                                <div class="form-group col-md-12  no-padding">
                                    <div class="form-group col-md-12 no-padding">
                                        <label class="col-md-4 col-sm-3 col-xs-5 gray-font">Desde:</label>
                                        <div class="form-group col-md-8 col-sm-9 col-xs-7  no-padding">
                                            <select class="form-control gray-font" data-ng-model="vm.daySelectedMinimo" ng-options="day.fecha for day in vm.days | orderBy: '-id' track by day.id" required>
                                                <option value="">Seleccione una fecha</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-md-12  no-padding">
                                    <div class="form-group col-md-12 no-padding">
                                        <label class="col-md-4 col-sm-3 col-xs-5 gray-font">Hasta:</label>
                                        <div class="form-group col-md-8 col-sm-9 col-xs-7  no-padding">
                                            <select class="form-control gray-font" data-ng-model="vm.daySelectedMaximo" ng-options="day.fecha for day in vm.days | orderBy: '-id' track by day.id" required>
                                                <option value="">Seleccione una fecha</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="date-picker input-daterange" >-->
                                    <!--<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12" ng-show="isConsulting==true">-->
                                        <!--<button type="button" class="nothing col-xs-12" ng-click="stopConsulting()" name="button"><i class="fa fa-times red-font"></i></button>-->
                                    <!--</div>-->
                                    <!--<div class="form-group form-md-line-input">-->
                                        <!--<input ng-model="vm.consulting_initial_time" max="vm.currentDate" ng-click="vm.openCalendar('initialtime')" ng-change="vm.updatePicker()" datetime-picker="mediumDate"  datepicker-options="vm.picker1.datepickerOptions" is-open="vm.datePickerOpenStatus.initialtime"  type="text" enable-time="false" class="form-control letters gray-font text-center dating" required>-->
                                        <!--<label  class="font-15">Desde la fecha</label>-->
                                    <!--</div>-->
                                    <!--<div class="form-group form-md-line-input">-->
                                        <!--<input ng-model="vm.consulting_final_time"  max="vm.currentDate"  ng-click="vm.openCalendar('finaltime')" ng-change="vm.updatePicker()" type="text" datetime-picker="mediumDate"  is-open="vm.datePickerOpenStatus.finaltime" datepicker-options="vm.picker2.datepickerOptions"  enable-time="false" class="form-control letters gray-font text-center dating" required>-->
                                        <!--<label  class="font-15">Hasta la fecha</label>-->
                                    <!--</div>-->

                                <!--</div>-->
                            </div>
                            <div class="form-actions noborder no-margin no-padding">
                                <button ng-click="vm.filterWatches(2)" class="btn green col-md-6 col-sm-6 col-xs-12  small-margin-bottom" ng-disabled="vm.daySelectedMinimo=='' || vm.daySelectedMinimo==undefined || vm.daySelectedMaximo=='' || vm.daySelectedMaximo==undefined">Consultar</button>
                                <button ng-click="vm.getCurrentWatch()" ng-show="vm.showCleanBtn==true" class="btn small-margin-bottom btn-danger">Limpiar</button>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </div>
            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-12">
                <!--<div class="loading col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingData">-->
                    <!--<h1 class="text-center"><img src="../../assets/global/img/loader4.gif" alt="" /></h1>-->
                <!--</div>-->
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" id="data">
                    <div class="col-md-2 col-lg-2 col-sm-2 col-xs-1">
                        <span ng-click="vm.filterWatches(1)" class="float-right pointer" ng-show="vm.showBackBtn==true"><i class="fa fa-arrow-circle-o-left font-green font-back" aria-hidden="true"></i></span>
                    </div>
                    <div class="col-md-10 col-lg-10 col-sm-10 col-xs-11">

                        <div class="portlet box dark-blue" ng-show="vm.showTable==false">
                            <div class="portlet-title">
                                <h4 class="text-center" ng-show="vm.currentTurn==true">Turno actual</h4>
                                <h4 class="text-center" >{{vm.day}}</h4>
                            </div>
                            <div class="portlet-body dark-blue-border col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                <div class="gray-font">
                                    <div class="portlet-body col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            <h5 class="text-center">{{vm.watch.initialtime}}</h5>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12">
                                            <h5 class="text-center">--</h5>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                            <h5 class="text-center">{{vm.watch.finaltime}}</h5>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <h5 class="text-center bold">Oficiales</h5>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        <table class="table table-striped table-bordered table-advance table-hover gray-font">
                                            <thead>
                                            <tr>
                                                <th>
                                                    Cédula
                                                </th>
                                                <th>
                                                    Nombre completo
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr ng-repeat="officer in vm.watch.officers">
                                                <td>
                                                    {{officer.identificationnumber}}
                                                </td>
                                                <td>
                                                    {{officer.name}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- BEGIN SAMPLE TABLE PORTLET-->
                        <div class="portlet box dark-blue" ng-show="vm.showTable==true">
                            <div class="portlet-title">
                                <h4 class="text-center">Desde {{vm.showConsultingInitialTime}} hasta {{vm.showConsultingFinalTime}}</h4>
                            </div>
                            <div class="portlet-body dark-blue-border col-lg-12 col-sm-12 col-xs-12 col-md-12">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <h4 class="text-center" ng-show="vm.watches.length == 0"> No se encontraron registros entre estas fechas</h4>
                                    <table ng-show="vm.watches.length > 0" class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                        <tr>
                                            <th>
                                                Hora de inicio
                                            </th>
                                            <th>
                                                Hora de Fin
                                            </th>
                                            <th>
                                                Detalle
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody class="font-12">
                                        <tr class="pointer" ng-click="vm.getWatch(turno.id)" ng-repeat="turno in vm.watches track by turno.id">
                                            <td>
                                                {{turno.initialtime | formatDate}}
                                            </td>
                                            <td>
                                                {{turno.finaltime | formatDate}}
                                            </td>
                                            <td>
                                                Ver Detalle
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
    <div id="backBTN" has-authority="ROLE_RH" class="form-actions noborder col-md-12 col-lg-12 col-xs-12 col-sm-12 display-none">
        <h3 class="text-right ">
            <button type="button" ui-sref="company-rh" class="btn red default">Volver</button>
        </h3>
    </div>

    </div>














    <!--<div>-->
    <!--<h2 data-translate="aditumApp.watch.home.title">Watches</h2>-->
    <!--<jhi-alert></jhi-alert>-->
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-4 no-padding-left">-->
                <!--<button class="btn btn-primary" ui-sref="watch.new" >-->
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <!--<span  data-translate="aditumApp.watch.home.createLabel">-->
                        <!--Create new Watch-->
                    <!--</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br/>-->
    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
                <!--<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">-->
                    <!--<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="initialtime"><span data-translate="aditumApp.watch.initialtime">Initialtime</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="finaltime"><span data-translate="aditumApp.watch.finaltime">Finaltime</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="responsableofficer"><span data-translate="aditumApp.watch.responsableofficer">Responsableofficer</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="companyId"><span data-translate="aditumApp.watch.company">Company</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th></th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="watch in vm.watches track by watch.id">-->
                    <!--<td><a ui-sref="watch-detail({id:watch.id})">{{watch.id}}</a></td>-->
                    <!--<td>{{watch.initialtime | date:'medium'}}</td>-->
                    <!--<td>{{watch.finaltime | date:'medium'}}</td>-->
                    <!--<td>{{watch.responsableofficer}}</td>-->
                    <!--<td>-->
                        <!--<a ui-sref="company-detail({id:watch.companyId})">{{watch.companyId}}</a>-->
                    <!--</td>-->
                    <!--<td class="text-right">-->
                        <!--<div class="btn-group flex-btn-group-container">-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="watch-detail({id:watch.id})"-->
                                    <!--class="btn btn-info btn-sm">-->
                                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="watch.edit({id:watch.id})"-->
                                    <!--class="btn btn-primary btn-sm">-->
                                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.edit"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="watch.delete({id:watch.id})"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <!--<div class="text-center">-->
        <!--<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>-->
    <!--</div>-->
    <!--<uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>-->
<!--</div>-->
