<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-star"></i>
            <a>BioStar</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
<div class="well col-lg-12 col-md-12 col-xs-12 col-sm-12">
   <h2>Pruebas de Biostar</h2>

    <button class="btn btn-info" ng-click="vm.login()">Login</button>
    <button class="btn btn-info" ng-click="vm.lockDoor()">Lock door</button>
    <button class="btn btn-info" ng-click="vm.logout()">Log out</button>
    <h6>Response:</h6>
    <p>{{vm.respuesta}}</p>
</div>
