<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a>Administrar</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Visitantes invitados</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Consultar</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
    <div class="spinnerLoading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="row display-none" id="all">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <h3 class="page-title col-md-4 col-lg-4 col-xs-12 col-sm-4 no-list">Visitantes invitados
        </h3>

        <div >
            <div class="form-group col-md-offset-7 col-sm-offset-4 col-md-5 col-sm-8 col-xs-12" id="index-search-bar">
                <div class="input-icon col-md-6 col-sm-6 col-xs-12 col-lg-6 small-margin-bottom">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control" placeholder="Buscar visitante" ng-model="search">
                </div>
                <button type="submit" class="btn green col-md-6 col-sm-6 col-xs-12 col-lg-6 " ui-sref="visitant-invited-user.new">Reportar visitante invitado</button>
            </div>
            <div class="portlet-body ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-show="vm.visitants.length == 0">
                    <h2 class="text-center gray-font">No hay visitantes registrados</h2>
                </div>
                <div class="table-scrollable" ng-show="vm.visitants.length > 0">
                    <table class="table table-striped table-hover font-12" >
                        <thead>
                        <tr>
                            <th>Nombre completo</th>
                            <th>Cédula</th>
                            <th>Número de placa</th>
                            <th>Desde</th>
                            <th>Hasta</th>
                            <th>Permiso</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="visitor in vm.visitants | filter:search | orderBy:'fullName'">
                            <td style="text-transform: capitalize;">{{visitor.fullName}}</td>
                            <td ng-show='visitor.identificationnumber!=null'>{{visitor.identificationnumber.toUpperCase()}}</td>
                            <td ng-show='visitor.identificationnumber==null'>No se registró</td>
                            <td ng-show="visitor.licenseplate!=null">{{visitor.licenseplate}}</td>
                            <td ng-show="visitor.licenseplate==null">No se registró</td>
                            <td>{{visitor.invitationstaringtime | formatDate}}</td>
                            <td>{{visitor.invitationlimittime | formatDate}}</td>
                            <td>
                                <h5 class="nice-label label-danger" ng-show="!vm.hasPermission(visitor)">Caducado</h5>
                                <h5 class="nice-label label-success" ng-show="vm.hasPermission(visitor)">Activo</h5></td>
                            <td><button class="btn blue" ng-click="vm.cancelInvitation(visitor)" ng-show="vm.hasPermission(visitor)">Cancelar invitación</button>
                                <button class="btn blue" ng-click="vm.renewVisitor(visitor)" ng-show="!vm.hasPermission(visitor)">Renovar invitación</button>
                                <button class="btn btn-danger" legend="Eliminar registro" ng-click="vm.deleteInvitedVisitor(visitor)" ng-show="!vm.hasPermission(visitor)"><i class="fa fa-trash" aria-hidden="true"></i></button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
