<form name="form" ng-submit="vm.save()">
    <span ng-hide="true">{{setInvalidForm(form.$invalid)}}</span>

    <div ng-cloak layout="column" class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding fade-in">
        <md-toolbar class="form-title" hide-sm hide-xs>
            <h2>{{mainTitle}}</h2>
        </md-toolbar>
        <md-content layout-padding class="form-content">
            <div>
                <div layout="row" layout-xs="column" layout-sm="column">
                    <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12  no-padding">
                        <h6 class="font-15">Fecha desde la cual pueden ingresar:</h6>
                        <div class="form-group form-md-line-input col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <md-input-container class="md-block no-margin">
                                <md-datepicker md-min-date="vm.minInitialDate"
                                               md-max-date="vm.dates.final_date"
                                               required ng-model="vm.dates.initial_date"
                                               md-hide-icons="calendar"
                                               md-placeholder="Fecha inicial" md-open-on-focus
                                               required></md-datepicker>
                            </md-input-container>
                        </div>
                        <div class="form-group form-md-line-input col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <!--<input ng-model="vm.dates.final_time" ng-click="vm.openCalendarFinal('finaltime')" ng-change="vm.updatePicker()" datetime-picker="dd-MM-yyyy    /    HH:mm" datepicker-options="vm.picker2.datepickerOptions" is-open="vm.datePickerOpenStatus.finaltime" type="text"-->
                            <!--class="form-control letters gray-font text-center dating" required>-->
                            <input type="time" ng-change="vm.updateTimePicker()" ng-model="vm.dates.initial_time"
                                   class="form-control letters gray-font text-center dating" required>
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-12 col-md-12 col-xs-12 no-padding">
                        <h6 class="font-15">Fecha hasta la cual pueden ingresar:</h6>

                        <div class="form-group form-md-line-input col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <md-input-container class="md-block no-margin">
                                <md-datepicker md-min-date="vm.dates.initial_date" required
                                               ng-model="vm.dates.final_date"
                                               md-hide-icons="calendar"
                                               md-placeholder="Fecha final" md-open-on-focus
                                               required></md-datepicker>
                            </md-input-container>
                        </div>
                        <div class="form-group form-md-line-input col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <!--<input ng-model="vm.dates.final_time" ng-click="vm.openCalendarFinal('finaltime')" ng-change="vm.updatePicker()" datetime-picker="dd-MM-yyyy    /    HH:mm" datepicker-options="vm.picker2.datepickerOptions" is-open="vm.datePickerOpenStatus.finaltime" type="text"-->
                            <!--class="form-control letters gray-font text-center dating" required>-->
                            <input type="time" ng-change="vm.updateTimePicker()" ng-model="vm.dates.final_time "
                                   class="form-control gray-font text-center" required>
                        </div>
                    </div>
                </div>
                <div layout="row" style="margin: 0 -16px;">
                    <md-toolbar class="form-title">
                        <h2>Lista de invitados</h2>
                    </md-toolbar>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12 no-padding residentDivContainerXs"
                     ng-repeat="visitor in vm.visitors">
                    <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
                             class="margin-bottom-10 residentCardContainer"
                             md-theme-watch>
                        <md-card-title layout="column" style="padding-bottom: 0px">
                            <md-card-title-media layout="row" layout-align="space-between center"
                                                 style="margin:-25px -16px 0 -16px;">
                                <h3 class="bold" style=" color: rgb(0, 150, 136) !important;margin: 15px;
    font-size: 16px;">Invitado {{$index+1}}</h3>
                                <div ng-class="{'disabled':vm.visitors.length==1}">
                                    <md-icon class="red-icon-button-oficial"
                                             ng-click="vm.deleteVisitor($index)">
                                        delete_forever
                                    </md-icon>
                                </div>
                            </md-card-title-media>
                            <md-card-title-text layout="row" layout-xs="column" layout-sm="column"
                                                layout-align-gt-xs="start center" layout-align-gt-sm="start center"
                                                layout-align-gt-md="start center"
                                                layout-align-gt-lg="space-between center">
                                <md-input-container class="md-block no-margin-bottom">
                                    <label>Nacionalidad</label>
                                    <md-select ng-model="visitor.type" ng-required='vm.required==1'>
                                        <md-option value="9">
                                            Costarricense
                                        </md-option>
                                        <md-option value="20">
                                            Extranjero
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                                <md-input-container class="md-block no-margin-bottom"
                                                    ng-class="{'md-input-invalid': visitor.validIdentification == 0}">
                                    <label>Número de cédula (opcional)</label>
                                    <input class="uppercase" ng-change="vm.findInPadron(visitor)"
                                           ng-model="visitor.identificationnumber">
                                </md-input-container>
                                <md-input-container class="md-block no-margin-bottom">
                                    <label>Nombre</label>
                                    <input required ng-model="visitor.name" type="text"
                                           ng-disabled="visitor.found==1"
                                           class="uppercase" required>
                                </md-input-container>

                                <md-input-container class="md-block no-margin-bottom">
                                    <label>Primer Apellido</label>
                                    <input required ng-model="visitor.lastname" type="text"
                                           ng-disabled="visitor.found==1"
                                           class="uppercase" required>
                                </md-input-container>

                                <md-input-container class="md-block no-margin-bottom">
                                    <label>Segundo Apellido</label>
                                    <input required ng-model="visitor.secondlastname" type="text"
                                           ng-disabled="visitor.found==1"
                                           class="uppercase" required>
                                </md-input-container>

                            </md-card-title-text>

                        </md-card-title>

                    </md-card>

                </div>

            </div>

        </md-content>

    </div>

    <div>
        <md-fab-speed-dial md-direction="up" style="position: fixed;"
                           class="md-fab md-fab-bottom-right md-fling">
            <md-fab-trigger>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button hide-xs hide-sm class="md-fab md-raised md-mini green-button-oficial" type="submit"
                           ng-class="{'disabled':form.$invalid}" ng-disabled="form.$invalid">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible" class="font-13 bold white-color">
                        Reportar invitados
                    </md-tooltip>
                    <md-icon style="color:white!important">check</md-icon>
                </md-button>
                <md-button class="md-fab md-raised md-mini orange-button-oficial" md-colors="indigo"
                           ng-show="vm.charges.length!=0" ng-click="vm.addVisitor()">
                    <md-tooltip md-direction="left" md-visible="tooltipVisible" class="font-13 bold white-color">Agregar
                        invitado
                    </md-tooltip>
                    <md-icon style="color:white!important">add</md-icon>
                </md-button>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
</form>
