


<div class="row">
    <div class="col-md-12">
        <div class="no-padding no-margin col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom:0px!important">
            <div ng-cloak layout="column">
                <md-toolbar class="form-title">
                    <h2>  <i class="material-icons material-icons-with-text md-no-underline" hide-sm hide-xs
                             ng-click="vm.clear()">arrow_back</i> Administradores del condominio {{vm.company.name}}</h2>
                </md-toolbar>
            </div>
        </div>
        <div class="portlet-body form col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-content layout-padding class="form-content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <no-content ng-if="vm.adminInfos.length == 0" icon="account_balance" text="No hay administradores registrados"></no-content>


                    <div class="col-md-6 col-xs-12 col-sm-6 no-padding residentDivContainerXs"
                         ng-repeat="adminInfo in vm.adminInfos | filter:vm.search | orderBy:'name'">
                        <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
                                 class="margin-bottom-10 residentCardContainer"
                                 md-theme-watch>
                            <md-card-title>
                                <md-card-title-text>
                                    <span class="md-headline font-15 ">{{adminInfo.name.toUpperCase()}} {{adminInfo.lastname.toUpperCase()}} </span>
                                    <span class="md-subhead" style="padding-top: 15px!important;">Cédula: {{adminInfo.identificationnumber.toUpperCase()}}</span>
                                    <span class="md-subhead">Username: {{adminInfo.userLogin}}</span>
                                    <span class="md-subhead">Correo: {{adminInfo.email}}</span>
                                </md-card-title-text>
                                <md-card-title-media>
                                    <div class="md-media-md card-media  hidden-md hidden-lg"
                                         style="padding-top: 10px!important;">
                                        <img ng-hide="adminInfo.image_url" src="content/images/nobody-image.jpg" height="112"
                                             width="112"/>
                                        <img style="cursor: pointer" data-toggle="modal" data-target="{{'#myModal'+adminInfo.id}}" ng-show="adminInfo.image_url!==null" src="{{adminInfo.image_url}}"
                                             class="object-fit_scale-down-index"/>
                                    </div>
                                    <div class="md-media-sm card-media hidden-xs hidden-sm"
                                         style="padding-top: 10px!important;">
                                        <img ng-hide="adminInfo.image_url" src="content/images/nobody-image.jpg" height="80"
                                             width="80"/>
                                        <img style="cursor: pointer" data-toggle="modal" data-target="{{'#myModal'+adminInfo.id}}" ng-show="adminInfo.image_url!==null" src="{{adminInfo.image_url}}"
                                             class="object-fit_scale-down-index"/>
                                    </div>
                                </md-card-title-media>
                            </md-card-title>

                            <md-card-actions layout="row" layout-align="space-between center">
                                <div>
                                    <i class="material-icons greenBalance" ng-if="adminInfo.enabled==1"
                                       style="color: #999; padding-left: 5px!important;">
                                        <md-tooltip md-direction="right" class="font-13 bold white-color">Habilitado
                                        </md-tooltip>
                                        perm_identity</i>
                                    <i class="material-icons redBalance" ng-if="adminInfo.enabled==false"
                                       style="color: #999; padding-left: 5px!important;">
                                        <md-tooltip md-direction="right" class="font-13 bold white-color">Deshabilitado
                                        </md-tooltip>
                                        perm_identity</i>

                                </div>
                                <div layout="row" layout-align="space-between center">
                                    <i class="material-icons outline-none" style="color:#999;"
                                       ng-click="vm.viewDetail(adminInfo.id)">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Ver detalle
                                        </md-tooltip>
                                        remove_red_eye</i>

                                    <md-menu md-position-mode="target-right target " >
                                        <md-button aria-label="Open demo menu" class="md-icon-button no-padding"
                                                   ng-click="$mdMenu.open($event)" style="padding-top: 7px!important">
                                            <i class="material-icons" style="color:#999;">
                                                <md-tooltip md-direction="left" class="font-13 bold white-color">Opciones
                                                </md-tooltip>
                                                more_vert</i>
                                        </md-button>
                                        <md-menu-content width="4">
                                            <md-menu-item>
                                                <md-button
                                                    ui-sref="admin-info.edit({id:adminInfo.id})">
                                                    <div layout="row" flex>
                                                        <p flex>Editar</p>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button
                                                    ng-click="vm.disableEnabledAdmin(adminInfo)">
                                                    <div layout="row" flex>
                                                        <p flex>Habilitar/Deshabilitar</p>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                            <md-menu-item>
                                                <md-button ng-click="vm.deleteAdmin(adminInfo)">
                                                    <div layout="row" flex>
                                                        <p flex>Eliminar</p>
                                                    </div>
                                                </md-button>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </div>

                            </md-card-actions>
                            <div id="{{'myModal'+adminInfo.id}}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-body">
                                            <img src="{{adminInfo.image_url}}" class="img-responsive">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </md-card>
                    </div>

                </div>
            </md-content>
        </div>
    </div>
</div>

