<div>
    <h3 class="page-title col-md-10">Cuentas de encargados de recursos humanos  </h3>
    <div id="tableData">
        <div class="form-group col-md-offset-6 col-md-3 col-sm-offset-6 col-sm-3 col-xs-6">
            <div class="input-icon">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Buscar cuentas de recursos humanos" ng-model="vm.query">
            </div>
        </div>
        <button type="submit" class="btn green col-md-3 col-sm-3 col-xs-6 small-margin-bottom" ui-sref="rh-account.new">Registrar cuenta de RH</button>
        <div class="portlet-body ">

            <div class="table-scrollable">
                <h2 ng-show="vm.rHAccounts.length==0" class="text-center gray-font ">No existen cuentas de encargados de recursos humanos registrados</h2>
                <table ng-show="vm.rHAccounts.length>0" class="table table-striped table-hover font-12">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th>Nombre</th>
                        <th>Primer apellido</th>
                        <th>Segundo apellido</th>
                        <th>Empresa</th>
                        <th>email</th>
                        <th>Login</th>
                        <th>Editar</th>
                        <th>Habilitar/Deshabilitar</th>
                        <th>Eliminar</th>
                        <th>Activo</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="rHAccount in vm.rHAccounts | filter:vm.query | orderBy:rhAccount.companyId track by rHAccount.id  ">
                        <td>{{rHAccount.name}}</td>
                        <td>{{rHAccount.lastname}}</td>
                        <td>{{rHAccount.secondlastname}}</td>
                        <td>{{rHAccount.enterprisename}}</td>
                        <td>{{rHAccount.email}}</td>
                        <td>
                            {{rHAccount.userLogin}}
                        </td>
                        <td><a class="light-gray-font" ui-sref="rh-account.edit({id:rHAccount.id})">Editar</a></td>
                        <td> <a  class="light-gray-font" ng-click="vm.disableEnabledAdmin(rHAccount)">Habilitar/Deshabilitar</a></td>

                        <td><a class="light-gray-font" ui-sref="rh-account.delete({id:rHAccount.id})">Eliminar</a></td>
                        <td><span ng-show="rHAccount.enable==true" class="label label-sm label-success col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-7 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">Si </span><span ng-show="rHAccount.enable==false" class="label label-sm label-danger col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">No</span></td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>

