<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>
<div ng-if="vm.isReady" class=" fade-in gray-font">

    <div layout-align="space-between center" class="margin-top-30 margin-bottom-20" hide-xs hide-sm hide-md>
        <h2 class="caption-subject font-green-sharp font-weight-600 " style="font-size:20px">
            Deudas vigentes
        </h2>

    </div>
    <h5  style="font-size: 15px; font-weight: 500;" class="hidden-xs hidden-sm">En esta sección podrás encontrar el detalle de tus deudas que aún no han sido liquidadas.</h5>
    <h5  style="font-size: 15px; font-weight: 500; line-height: 25px" class=" hidden-md hidden-lg text-center margin-top-30">En esta sección podrás encontrar el detalle de tus deudas que aún no han sido liquidadas.</h5>

    <div class="portlet-body margin-top-20">
        <no-content ng-if="vm.charges.length==0" icon="dvr" text="La filial no tiene deudas vigentes"></no-content>
        <div ng-show="vm.charges.length!=0">

            <div hide-lg hide-xl  ng-show="vm.charges.length>0" class="margin-top-20 ">
                <md-card ng-repeat="charge in vm.charges | orderBy: 'date'"
                         md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}" class="margin-bottom-20  no-margin-left no-margin-right padding-10"
                         md-theme-watch  ng-class="{'datePassed': charge.datePassed==true,'firstPassed': charge.definedFirstDatePassed}">
                    <span ng-if="charge.definedFirstDatePassed" class="fade-in"
                          style="float:left;margin-top:-9px;margin-left:-9px;z-index:9999" angular-popover
                          direction="bottom"
                          template="<div style='padding:5px;width:350px;color:#4DB3A2;font-weight:bolder'><h5 style='font-size:15px!important'>Estas son deudas futuras de la unidad, los usuarios no podran ver estas cuotas hasta que la fecha de cobro sea vigente o haya sido liquidado<h5></div>"
                          mode="mouseover"><i class="fa fa-info-circle"
                                              style="color:#4DB3A2;font-size:18px;background:white"></i></span>
                    <md-card-title style="padding:3px 7px;">
                        <md-card-title-text>
                            <span class="md-headline font-16 font-green-sharp font-weight-600">{{charge.concept}}</span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-actions layout="row"  class="col-md-12 no-padding"layout-align="space-between center">
                        <div class="gray-font">
                            <div style="margin-bottom: 8px;">
                                Categoría: {{vm.getCategory(charge.type)}}
                            </div>
                            <div style="margin-bottom: 8px;">
                                <div>
                                    Fecha de cobro: {{charge.date | date}}
                                </div>
                            </div>
                            <div style="margin-bottom: 8px;">
                                Monto: ₡ {{charge.ammount | currency : "" : 0}} | Recargo: ₡ {{charge.subcharge | currency : "" : 0}}</b>
                            </div>
                            <div style="margin-bottom: 8px;">
                                <span class="font-weight-600">Total: ₡ {{charge.total | currency : "" : 0}}</span>
                            </div>
                        </div>
                    </md-card-actions>
                </md-card>
            </div>


            <form ng-submit="vm.edit()" name="form" hide-xs hide-md hide-sm>
                <table class="table  table-hover font-13 tableMaterialDesign">
                    <thead style="background-color: #fafafa;">
                    <tr>
                        <th class="text-center">
                            Fecha de cobro
                        </th>
                        <th>
                            Concepto
                        </th>
                        <th>
                            Categoría
                        </th>
                        <th>
                            Monto
                        </th>
                        <th ng-if="!vm.isEditing" class="fade-in">
                            Recargo
                        </th>
                        <th ng-if="!vm.isEditing" class="fade-in">
                            Total
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="charge in vm.charges | orderBy: 'date'"
                        ng-class="{'datePassed': charge.datePassed==true,'firstPassed': charge.definedFirstDatePassed}">
                        <td class="text-center" ng-if="!vm.isEditing">
                            <span ng-if="charge.definedFirstDatePassed" class="fade-in"
                                  style="float:left;margin-top:-18px;margin-left:-16px;z-index:9999" angular-popover
                                  direction="right"
                                  template="<div style='padding:5px;width:350px;color:#4DB3A2;font-weight:bolder'><h5 style='font-size:15px!important'>Estas son deudas futuras de la unidad, los usuarios no podran ver estas cuotas hasta que la fecha de cobro sea vigente o haya sido liquidado<h5></div>"
                                  mode="mouseover"><i class="fa fa-info-circle"
                                                      style="color:#4DB3A2;font-size:18px;background:white"></i></span>
                            {{charge.date | date}}
                        </td>
                        <td ng-if="!vm.isEditing" class="fade-in">{{charge.concept}}</td>
                        <td ng-if="!vm.isEditing" class="fade-in">{{vm.getCategory(charge.type)}}</td>
                        <td ng-if="!vm.isEditing" class="fade-in">₡ {{charge.ammount | currency : "" : 0}}</td>
                        <td ng-if="!vm.isEditing" class="fade-in">₡ {{charge.subcharge | currency : "" : 0}}</td>
                        <td ng-if="!vm.isEditing" class="fade-in">₡ {{charge.total | currency : "" : 0}}</td>

                        <td class="text-center" ng-hide="vm.isEditing==false">
                            <div class="col-lg-12">
                                <md-input-container class="md-block no-margin">
                                    <md-datepicker class="datePicker" readonlydatepicker md-hide-icons="calendar" required ng-model="charge.date"
                                                   md-placeholder="Seleccione una fecha de vencimiento"
                                                   md-open-on-focus></md-datepicker>
                                </md-input-container>
                            </div>
                        </td>
                        <td ng-hide="vm.isEditing==false">
                            <md-input-container class="md-block no-margin">
                                <input ng-model="charge.concept" type="text">
                            </md-input-container>
                        </td>
                        <td ng-hide="vm.isEditing==false">
                            <md-input-container class="md-block no-margin">
                                <md-select ng-model="charge.type" required>
                                    <md-option value="1">
                                        Mantenimiento
                                    </md-option>
                                    <md-option value="2">
                                        Extraordinaria
                                    </md-option>
                                    <md-option value="3">
                                        Áreas comunes
                                    </md-option>
                                </md-select>
                            </md-input-container>
                        </td>
                        <td ng-hide="vm.isEditing==false">
                            <md-input-container class="md-block no-margin">
                                <input ng-model="charge.ammount" type="text" format="currency">
                                <md-icon class="red-icon-button-oficial" ng-click="vm.deleteCharge(charge)">
                                    delete_forever
                                </md-icon>
                            </md-input-container>
                        </td>
                    </tr>

                    </tbody>
                </table>
                <div ng-hide="vm.isEditing == false" layout="row" class="white-bg" layout-align="end center" hide-sm
                     hide-xs>
                    <md-button type="button" ng-click="vm.cancel()"
                               class="md-warn md-raised">Cancelar
                    </md-button>
                    <md-button class="md-primary md-raised" ng-disabled="form.$invalid || !vm.validCharges()"
                               type="submit">
                        Aceptar
                    </md-button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>
