<div>
    <h3 class="page-title col-md-10">Cuentas de oficiales de:  {{vm.company.name}}</h3>
    <div id="tableData">
        <div class="form-group col-md-offset-6 col-md-3 col-sm-offset-6 col-sm-3 col-xs-6">
            <div class="input-icon">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control" placeholder="Buscar cuentas de oficiales" ng-model="search">
            </div>
        </div>
        <button type="submit" class="btn green col-md-3 col-sm-3 col-xs-6 small-margin-bottom" ui-sref="officerAccounts.new({companyId: vm.companyId})">Registrar cuenta de oficial</button>
        <div class="portlet-body ">

            <div class="table-scrollable">
                <h2 ng-show="vm.officerAccount.length==0" class="text-center gray-font ">No existen cuentas de oficiales registrados</h2>
                <table ng-show="vm.officerAccount.length>0" class="table table-striped table-hover font-12">
                    <thead>
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th>Nombre de cuenta</th>
                        <th>Login</th>
                        <th>Editar</th>
                        <th>Habilitar/Deshabilitar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="officerAccount in vm.officerAccount | filter:vm.search | orderBy:'name'">
                        <td style="text-transform: capitalize;">{{officerAccount.name}}</td>
                        <td>
                            {{officerAccount.userLogin}}
                        </td>

                        <td><a class="light-gray-font" ui-sref="officerAccounts.edit({id:officerAccount.id})">Editar</a></td>
                        <td> <a  class="light-gray-font" ng-click="vm.disableEnabledAdmin(officerAccount)">Habilitar/Deshabilitar</a></td>

                        <td><a class="light-gray-font" ng-click="vm.deleteOfficerAccount(officerAccount)">Eliminar</a></td>
                        <td><span ng-show="adminInfo.enabled==1" class="label label-sm label-success col-lg-offset-1 col-lg-7 col-md-offset-1 col-md-7 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">Si </span><span ng-show="adminInfo.enabled==false" class="label label-sm label-danger col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">No</span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>
