<div ng-show="vm.officerAccount.id==undefined">
<div has-any-authority="ROLE_ADMIN,ROLE_MANAGER" class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="company">Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Crear cuenta de oficial</a>
            <i class="fa fa-angle-right"></i>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
<div has-authority="ROLE_RH" class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="company-rh">Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a >Crear cuenta de oficial</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a href="">{{vm.title}}</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
</div>
<div>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered"  style="margin-bottom:0!important;">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <i class="fa fa-home  font-green-haze"></i>
                        <span class="caption-subject bold uppercase">Registrar cuenta de oficiales</span>
                    </div>

                </div>
                <div class="portlet-body form" id="register_edit_form">
                    <form role="form" ng-submit="vm.save()">
                        <div class="form-body">
                            <div class="col-lg-6 col-md-6 col-sm-6 marging-top-20">
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control" name="name" id="field_name"
                                           ng-model="vm.officerAccount.name" required/>
                                    <label class="control-label gray-font"  for="field_name">Nombre de la cuenta</label>
                                </div>

                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 marging-top-20">
                                <div class="form-group form-md-line-input">
                                    <input type="text" class="form-control specialCharacters" name="username"
                                           ng-model="vm.user.login" required/>
                                    <label class="control-label gray-font"  for="field_name">Nombre de usuario</label>
                                </div>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 marging-top-20">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="control-label gray-font"  for="field_name">Correo electrónico</label>
                                        <input ng-model="vm.user.email" type="email" class="form-control gray-font" placeholder="" required>
                                    </div>

                                </div>

                            </div>

                            <div class="form-actions noborder">
                                <h3 class="text-right">
                                    <button type="submit" class="btn blue"><i class="fa fa-pencil" ng-show="vm.button=='Editar'"></i>Aceptar</button>
                                    <button type="button" ng-click="vm.clear()" class="btn red default">Cancelar</button>
                                </h3>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
