
<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home()">Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="residentes()">Contabilidad</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="residentes()">Configurar cuotas</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
    <div class="spinnerLoading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="display-none" id="tableData">
    <div ng-if="vm.houses.length==0">
        <h2 class="text-center"  style="margin-top:60px">No hay filiales registradas.</h2>
        <h4 class="text-center gray-font">Proceda a registrar filiales para utilizar esta funcionalidad.</h4>
    </div>
    <div class="row" ng-if="vm.houses.length!==0">
        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
    <div class="portlet light  col-md-12 col-lg-12 col-sm-12 col-xs-12">
        <div class="portlet-title">
            <div class="caption font-green-haze col-lg-9">
                <span class="caption-subject bold uppercase">Configurar cuotas y Área metros cuadrados</span>
            </div>
            <div class="col-lg-3">
                <button class="btn orange-button-oficial col-lg-12"  ng-hide="vm.houses.length==0" ui-sref="configureCharges.global">Modificar todas las cuotas</button>
            </div>
        </div>
        <div class="portlet-body form col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-show="vm.verificando==false">
                <form ng-submit="vm.verificarCargos()">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="table-scrollable hidden-xs   " ng-if="vm.houses.length>0" style="border: 0px!important;">
                            <table  class="table table-bordered  table-hover font-13 gray-font tableMaterialDesign" >
                                <thead style="background-color: #fafafa;" >

                                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                    <th class="text-center"><b>Casa</b></th>
                                    <th class="text-center"><b>Cuota</b></th>
                                    <th class="text-center"><b>Área metros cuadrados</b></th>
                                    <th class="text-center"><b>Habitada</b></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="house in vm.houses | orderBy:'housenumber'">
                                    <td class="text-center">
                                       {{house.housenumber}}
                                    </td>
                                    <td class="text-center">
                                        <div class="form-group input-group">
                                        <span class="input-group-addon">₡</span>  <input ng-class="{redBorder: house.validDue==false}" ng-blur="vm.saveHouse(house,1)" ng-change="vm.validate(house,house.due,1)" class="form-control number gray-font text-center dating"type="text" fcsa-number  ng-model="house.due" required>
                                        </div>
                                    </td>
                                    <td  class="text-center">
                                        <div class="form-group input-group">
                                        <input ng-class="{redBorder: house.validSquare==false}" ng-blur="vm.saveHouse(house,2)" ng-change="vm.validate(house,house.squareMeters,2)" class="form-control number gray-font text-center dating"type="text" fcsa-number  ng-model="house.squareMeters" required> <span class="input-group-addon">m²</span>
                                        </div>
                                    </td>
                                    <td class="text-center"><span style="padding:5px" ng-if="house.isdesocupated == 0" class="label label-sm label-success col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">Si </span><span style="padding:5px" ng-if="house.isdesocupated == 1" class="label label-sm label-danger col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">No</span></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>
