<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>
<no-content ng-if="vm.houses.length==0" icon="bookmarks" text="No hay filiales registradas"
            text2="Proceda a registrar filiales para utilizar esta funcionalidad"></no-content>

<div ng-cloak layout="column" ng-if="vm.isReady && vm.houses.length!=0"
     class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding fade-in">
    <md-toolbar class="form-title" hide-sm hide-xs>
        <h2>{{mainTitle}}</h2>
    </md-toolbar>
    <md-content layout-padding class="form-content" style="padding: 10px!important;">
        <div layout="column" flex-align="space-between center">
            <div class="form-group no-padding"
                 id="index-search-bar">
                <div class="input-icon" style="color:#484848!important;">
                    <i class="fa fa-search"></i>
                    <input type="text" class="form-control "
                           style="background-color: #f5f5f5; border:0px!important; "
                           placeholder="Buscar casa" ng-model="vm.query.housenumber">
                </div>
            </div>
            <div layout="row" layout-align="space-between center">
                <div layout="row">
                    <div style="margin-right: 30px">
                        <p>Las cuotas del condominio se crean en: </p>
                        <md-radio-group ng-model="vm.adminConfig.chargesCreateCurrency" layout="column"
                                        ng-change="vm.saveAdminConfig()">
                            <md-radio-button value="$" class="md-primary">Dólares</md-radio-button>
                            <md-radio-button value="₡">Colones</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div>
                        <p>Las cuotas se cobran en:</p>
                        <md-radio-group ng-model="vm.adminConfig.chargesCollectCurrency" layout="column"
                                        ng-change="vm.saveAdminConfig()">
                            <md-radio-button value="$" class="md-primary">Dólares</md-radio-button>
                            <md-radio-button value="₡">Colones</md-radio-button>
                        </md-radio-group>
                    </div>
                    <div layout="row" flex style="margin-left: 30px" ng-if="vm.adminConfig.chargesCreateCurrency!=vm.adminConfig.chargesCollectCurrency">
                        <md-input-container class="fade-in md-block" flex>
                            <label>Tipo de cambio</label>
                            <input ng-model="vm.adminConfig.exchangeRate" ng-change="vm.saveAdminConfig()"
                                   format="currencyColon">
                            <div style="font-size: 12px!important;
    color: #009688;" ng-if="vm.adminConfig.exchangeRateDate!=null">Al {{vm.adminConfig.exchangeRateDate |
                                date:"dd/MM/yyyy"}}
                            </div>
                        </md-input-container>
                    </div>
                </div>
                <div ng-if="vm.houses.length> 0 ">
                    <div>
                        <b><span><h3 class="no-margin text-center">{{fMoneyBank(vm.adminConfig.chargesCollectCurrency,vm.totalToPay())}}</h3></span></b>
                        <h5 class="text-center">Total a cobrar mensual</h5>
                    </div>
                </div>
            </div>
        </div>
        <form ng-submit="vm.verificarCargos()">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="table-scrollable" ng-if="vm.houses.length>0"
                     style="border: 0px!important;">
                    <table class="table table-bordered  table-hover font-13 gray-font tableMaterialDesign">
                        <thead style="background-color: #fafafa;">

                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                            <th class="text-center"><b>Casa</b></th>
                            <th class="text-center"><b>Cuota</b></th>
                            <th class="text-center"
                                ng-if="vm.adminConfig.chargesCreateCurrency!=vm.adminConfig.chargesCollectCurrency"><b>Cuota
                                a cobrar</b></th>
                            <th class="text-center"><b>Área metros cuadrados</b></th>
                            <th class="text-center"><b>Habitada</b></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="house in vm.houses  | filter:vm.query">
                            <td class="text-center">
                                {{house.housenumber}}
                            </td>
                            <td class="text-center">
                                <div class="form-group input-group" style="width: 100%">
                                    <input format="currencyColon" ng-if="vm.adminConfig.chargesCreateCurrency=='₡'"
                                           ng-class="{redBorder: house.validDue==false}" ng-blur="vm.saveHouse(house,1)"
                                           ng-change="vm.validate(house,house.due,1)"
                                           class="form-control number gray-font text-center dating" type="text"
                                           fcsa-number
                                           ng-model="house.due" required>
                                    <input format="currencyDollar" ng-if="vm.adminConfig.chargesCreateCurrency=='$'"
                                           ng-class="{redBorder: house.validDue==false}" ng-blur="vm.saveHouse(house,1)"
                                           ng-change="vm.validate(house,house.due,1)"
                                           class="form-control number gray-font text-center dating" type="text"
                                           fcsa-number
                                           ng-model="house.due" required>
                                </div>
                            </td>
                            <td class="text-center"
                                ng-if="vm.adminConfig.chargesCreateCurrency!=vm.adminConfig.chargesCollectCurrency">
                                <div class="form-group input-group" style="width: 100%">
                                    <input format="currencyColon" ng-if="vm.adminConfig.chargesCollectCurrency=='₡'"
                                           class="form-control number gray-font text-center dating" type="text"
                                           fcsa-number ng-model="house.dueCollect" disabled>
                                    <input format="currencyDollar" ng-if="vm.adminConfig.chargesCollectCurrency=='$'"
                                           class="form-control number gray-font text-center dating" type="text"
                                           fcsa-number
                                           ng-model="house.dueCollect" disabled>
                                </div>
                            </td>
                            <td class="text-center">
                                <div class="form-group input-group">
                                    <input ng-class="{redBorder: house.validSquare==false}"
                                           ng-blur="vm.saveHouse(house,2)"
                                           ng-change="vm.validate(house,house.squareMeters,2)"
                                           class="form-control number gray-font text-center dating" type="number"
                                           step="0.1"
                                           fcsa-number ng-model="house.squareMeters" required> <span
                                    class="input-group-addon">m²</span>
                                </div>
                            </td>
                            <td class="text-center"><span style="padding:5px" ng-if="house.isdesocupated == 0"
                                                          class="label label-sm label-success col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">Si </span><span
                                style="padding:5px" ng-if="house.isdesocupated == 1"
                                class="label label-sm label-danger col-lg-offset-3 col-lg-6 col-md-offset-3 col-md-6 col-sm-offset-3 col-sm-6 col-xs-offset-3 col-xs-6">No</span>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </form>
</div>
</md-content>
<md-button ng-hide="vm.houses.length==0" ui-sref="configureCharges.global"
           class="md-fab md-fab-bottom-right orange-button-oficial" style="position: fixed;" aria-label="Add new">
    <md-tooltip md-direction="left" class="font-13 bold white-color">Modificar todas las cuotas</md-tooltip>
    <md-icon class="white-color">create</md-icon>
</md-button>
</div>
