<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a ui-sref="home()">Condominio</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="residentes()">Contabilidad</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="residentes()">Generar cuota extraordinaria</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">

        </div>
    </div>
</div>
<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
    <div class="spinnerLoading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="display-none" id="tableData">
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light bordered col-md-12 col-lg-12 col-sm-12 col-xs-12">
                <div class="portlet-title">
                    <div class="caption font-green-haze">
                        <i class="fa fa-money font-green-haze"></i>
                        <span class="caption-subject bold uppercase">Generar cuota extraordinaria</span>
                    </div>
                </div>
                <div class="portlet-body form col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-show="vm.verificando==false">
                        <form ng-submit="vm.verificarCargos()">
                            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12 no-padding">
                                <div class="no-padding" style="display:inline">
                                    <div style="margin-bottom:5px" class="col-lg-6 col-sm-6 col-xs-6 col-md-6">
                                        <label class="col-md-5 col-sm-5  col-xs-4 control-label no-padding gray-font">Fecha de vencimiento *</label>
                                        <div class="col-md-7 col-sm-7 col-xs-8 ">
                                            <input ng-model="vm.globalConcept.date" placeholder="Seleccione una fecha" ng-click="vm.openCalendar($index)" datetime-picker="mediumDate" is-open="vm.datePickerOpenStatus" type="text" enable-time="false" class="form-control letters gray-font text-center dating" required>
                                        </div>
                                    </div>
                                    <div class="form-group col-lg-6 col-sm-6 col-xs-6 col-md-6 no-padding">
                                        <label class="col-md-5 col-sm-5  col-xs-4 control-label no-padding gray-font">Tipo de cuota</label>
                                        <div class="col-md-7 col-sm-7 col-xs-8 ">
                                            <select class="form-control gray-font" ng-model="vm.globalConcept.type" required>
                                                <option value="2">Extraordinaria</option>
                                                <option value="3">Áreas comunes</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-lg-offset-2 col-lg-4 col-sm-4 col-xs-6 col-md-4">
                                        <input ng-model="vm.globalConcept.text" ng-blur="vm.globalConceptSelected()" class="form-control letters gray-font text-center" type="text" placeholder="Concepto Global">
                                    </div>
                                    <div class="col-lg-4 col-sm-4 col-xs-6 col-md-4">
                                        <input ng-model="vm.globalConcept.cuota.ammount" ng-class="{redBorder: vm.globalConcept.cuota.valida==false}" ng-blur="vm.globalCuotaSelected()" ng-change="vm.validate(vm.globalConcept.cuota)" class="form-control letters gray-font text-center" type="text" placeholder="Cuota Global">
                                    </div>
                                </div>
                                <div ng-show="vm.globalConcept.length>1" style="width:150px">
                                    <button type="button" ng-click="vm.deleteDue(globalConcept.id)" class="btn btn-danger col-md-12" style="padding:3px 7px!important"><b>Eliminar</b></button>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h3 ng-show="vm.houses.length==0" class="text-center gray-font">No existen filiales registradas.</h3>

                                <div class="table-scrollable">
                                    <table ng-show="vm.houses.length>0" class="table table-striped table-hover font-12">
                                        <thead>
                                        <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                            <th class="text-center">
                                                <div class="md-checkbox" style="margin:0 auto">
                                                    <input type="checkbox" ng-model="vm.selectedAll" ng-change="vm.selectAll()" id="checkbox1" class="md-check">
                                                    <label for="checkbox1">
                                                        <span style="margin-left: 33%"></span>
                                                        <span class="check" style="margin-left: 33%"></span>
                                                        <span class="box" style="margin-left: 33%"></span>
                                                    </label>
                                                </div>
                                            </th>
                                            <th class="text-center"><b>Casa</b></th>
                                            <th class="text-center"><b>Concepto</b></th>
                                            <th class="text-center"><b>Cuota</b></th>
                                            <th class="text-center"><b>Habitada</b></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="house in vm.houses | orderBy:'housenumber'">
                                            <td ng-class="{tdDisabled:house.isdesocupated == 1}">
                                                <h5 class="text-center">
                                                    <input ng-disabled="house.isdesocupated == 1" type="checkbox" ng-model="house.isIncluded">
                                                </h5>
                                            </td>
                                            <td ng-class="{tdDisabled:house.isdesocupated == 1}" class="text-center">{{house.housenumber}}</td>
                                            <td ng-class="{tdDisabled:house.isdesocupated == 1}" ng-show="vm.cuotaFija==true" class="text-center">₡{{house.due | currency : "" : 0}}</td>
                                            <td ng-class="{tdDisabled:house.isdesocupated == 1}" ng-show="vm.cuotaFija==false" class="text-center">{{house.squareMeters}}</td>
                                            <td ng-class="{tdDisabled:house.isdesocupated == 1}" class="text-center">
                                                <input ng-disabled="house.isdesocupated == 1" class="form-control number gray-font text-center dating" type="text" fcsa-number ng-model="house.cuota.concept" placeholder="Concepto" ng-required="house.isIncluded==true">
                                            </td>
                                            <td ng-class="{tdDisabled:house.isdesocupated == 1}" class="text-center">
                                                <input ng-disabled="house.isdesocupated == 1" ng-class="{redBorder: house.cuota.valida==false}" ng-change="vm.validate(house.cuota)" class="form-control number gray-font text-center " type="text" fcsa-number ng-model="house.cuota.ammount" required>
                                            </td>
                                            <td ng-class="{tdDisabled:house.isdesocupated == 1}" ng-if="house.isdesocupated == 1" class="text-center"><span class="padding-10 col-lg-9 col-md-9 col-sm-9 col-xs-12 label label-sm label-danger" aria-hidden="false">No</span></td>
                                            <td ng-class="{tdDisabled:house.isdesocupated == 1}" ng-if="house.isdesocupated == 0" class="text-center"><span class="padding-10 col-lg-9 col-md-9 col-sm-9 col-xs-12 label label-sm label-success" aria-hidden="false">Sí</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <button ng-show="vm.houses.length!=0" class="btn btn-primary col-md-12 col-xs-12 col-sm-12 col-lg-12" type="submit">Verificar cargos</button>
                        </form>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" ng-show="vm.verificando==true">
                        <h3 class="text-center" style="color:#870a0a"><b>¿Estás seguro de que deseas realizar los siguientes cargos?</b></h3>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <h3 ng-show="vm.houses.length==0" class="text-center gray-font">No existen filiales registradas.</h3>
                            <div class="table-scrollabled">
                                <table ng-show="vm.houses.length>0" class="table table-striped table-bordered table-hover font-12">
                                    <thead>
                                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                        <th class="text-center"><b>Casa</b></th>
                                        <th class="text-center"><b>Concepto</b></th>
                                        <th>
                                            <div class="col-md-12 no-padding">
                                                <div class="no-padding" style="display:inline">
                                                    <div style="margin-bottom:5px">
                                                        <h5 class="text-center" style="width:150px">{{vm.globalConcept.date | date}}</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="house in vm.selectedHouses | orderBy:'housenumber'">
                                        <td class="text-center" ng-class="{tdDisabled:house.isdesocupated == 1}">
                                            <span ng-show="house.isdesocupated == 0">{{house.housenumber}}</span>
                                            <span ng-show="house.isdesocupated == 1" style="margin:5px;height:5px!important" class="label label-sm label-danger" aria-hidden="false">{{house.housenumber}} Deshabitada</span>
                                        </td>
                                        <td class="text-center" ng-class="{tdDisabled:house.isdesocupated == 1}">
                                            <span>{{house.cuota.concept}}</span>
                                        </td>
                                        <td ng-class="{noCharge:house.cuota.ammount == 0}" class="text-center" style="width:150px">
                                            <span ng-show="house.cuota.ammount==0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12" angular-popover direction="left" template="<div style='padding:5px;width:200px'><h5>Esta cuota no será generada.<h5></div>" mode="mouseover">    ₡{{house.cuota.ammount | currency : "" : 0}}</span>
                                            <span ng-show="house.cuota.ammount!=0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">    ₡{{house.cuota.ammount | currency : "" : 0}}</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12">
                                <div class="col-lg-6">
                                    <h1 class="text-center"><button class="btn btn-danger" ng-click="vm.cancelar()">Cancelar</button></h1>
                                </div>
                                <div class="col-lg-6">
                                    <h1 class="text-center"><button class="btn btn-success" ng-click="vm.createDues()">Aceptar</button></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
