<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <loader></loader>
</div>
<div ng-cloak layout="column" ng-if="vm.isReady"
     class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding fade-in">
    <md-toolbar class="form-title" hide-sm hide-xs>
        <h2>Reporte de saldos a favor {{vm.month | date:'MMMM'}}</h2>
    </md-toolbar>
    <md-content layout-padding class="form-content ">
        <div ng-if="vm.isReady" class=" col-md-12 fade-in">
            <div class="12 col-md-12 col-sm-12 col-xs-12 margin-bottom-10"
                 style="padding-top:15px;">
                <div layout="column" layout-align="space-between center" class="">
                    <div layout="row">
<span
    style="margin-top: 10px; margin-right: 5px; margin-left:5px; font-size: 14px;">Saldos a favor de  </span>
                        <md-input-container class="md-block no-margin">
                            <md-datepicker
                                required class="datePicker"
                                readonlydatepicker
                                md-mode="month"
                                md-max-date="vm.currentDate"
                                ng-model="vm.month"
                                md-hide-icons="calendar"
                                ng-change="vm.createMonth()"
                                ng-if="!vm.hideDate"
                                md-date-locale="vm.locale"
                                md-placeholder="mes" md-open-on-focus
                                required></md-datepicker>
                        </md-input-container>
                        <span
                            style="margin-top: 10px; margin-right: 35px; margin-left:5px; font-size: 14px;" class="uppercase">{{vm.month | date:'yyyy'}}</span>
                        <md-input-container style="margin:0px !important" class="md-block">
                            <label>Filial</label>
                            <md-select ng-model="vm.house"
                                       ng-change="vm.createMonth()"
                                       md-on-close="vm.clearSearchTermFilial()"
                                       data-md-container-class="selectdemoSelectHeader">
                                <md-select-header class="demo-select-header">
                                    <input ng-model="vm.searchTermFilial"
                                           type="search"
                                           placeholder="Buscar Filial.."
                                           class="demo-header-searchbox md-text"
                                           ng-keydown="vm.typingSearchTermFilial($event)">
                                </md-select-header>
                                <md-optgroup label="Número de filial">
                                    <md-option
                                        ng-value="-1">
                                       Todas
                                    </md-option>
                                    <md-option
                                        ng-repeat="house in vm.houses | filter:{housenumber:vm.searchTermFilial}"
                                        ng-value="house">
                                        {{house.housenumber}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-switch ng-model="vm.simplify" style="margin-left: 50px; margin-top: 0px;">
                            Reporte simplificado
                        </md-switch>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h5 class=" bold gray-font uppercase font-green-haze" style="font-size:14px;">
                    {{vm.companyName}}</h5>
                <h5 class="bold gray-font" style="font-size:14px;">REPORTE DE SALDOS A FAVOR <span class="uppercase">{{vm.month | date:'MMMM yyyy'}}</span></h5>
                <h5 class="bold gray-font" ng-if="vm.house!=-1">Filtrado por la filial:
                    {{vm.house.housenumber}}</h5>
            </div>
            <div class="col-md-6">
                <div class="col-md-12 no-padding"
                     style="border:hsl(0, 0%, 80%) solid 1px;border-radius:10px!important">
                    <div class="col-md-6" style="border-right:hsl(0, 0%, 80%) solid 1px">
                        <h5 class="text-center" style="font-weight:bold">Total de saldos a favor</h5>
                        <h5 class="text-center  bold"> {{fMoneyExport(vm.exportingExcel,vm.report.totalDue)}}</h5>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-center" style="font-weight:bold">Total de Filiales</h5>
                        <h5 class="text-center  bold">{{vm.report.totalDueHouses}}</h5>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-padding margin-top-10">
                <no-content ng-if="vm.report.dueHouses.lenght== 0" icon="restore"
                            text2="No hay morosidad histórica con el filtro realizado"></no-content>
                <table id="tableToExport" class="tableToExport" ng-if="!vm.simplify">
                    <tbody class="tableToExport">
                    <tr class="tableToExport">
                        <td class="tableToExport">
                            <table class="table  table-hover font-13 tableMaterialDesign"
                                   ng-if="vm.report.dueHouses.length>0">
                                <thead style="background-color: #fafafa;">
                                <tr>
                                    <th style="width: 5%; " class="text-center">
                                        Factura
                                    </th>
                                    <th style="width: 8%; " class="text-center">
                                        Fecha de cobro
                                    </th>
                                    <th style="width: 8%; " class="text-center">
                                        Fecha de pago
                                    </th>
                                    <th style="width: 5%; " class="text-center">
                                        Adelanto
                                    </th>
                                    <th style="width: 15%">
                                        Concepto
                                    </th>
                                    <th style="width: 10%">
                                        Categoría
                                    </th>
                                    <th style="width: 10%">
                                        Monto
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <table ng-repeat="dueHouse in vm.report.dueHouses"
                                           class="table font-13 tableMaterialDesign">
                                        <thead style="background-color: #fafafa;">
                                        <tr class="no-padding">
                                            <th colspan="8" class="fade-in no-padding" style="padding: 0px!important;">
                                                <md-toolbar style="min-height: unset!important"
                                                            class="form-title _md _md-toolbar-transitions">
                                                    <h2 style="margin:9px!important">
                                                        <span
                                                            style="font-size:14px">Filial {{dueHouse.housenumber}}</span>
                                                        <!--                                            |-->
                                                        <!--                                            <span style="font-size:14px">Responsable:-->
                                                        <!--                                        <span ng-if="dueHouse.responsable!=null">{{dueHouse.responsable.name+" "+dueHouse.responsable.lastname+" "+dueHouse.responsable.secondlastname }}-->
                                                        <!--                                           <i class="material-icons material-icons-with-text outline-none"-->
                                                        <!--                                              style="color:#999;font-size:20px;margin-top: -3px"-->
                                                        <!--                                              ng-click="vm.detailResident(dueHouse.responsable.id)">-->
                                                        <!--                                    <md-tooltip md-direction="right" class="font-13 bold white-color">Ver detalle responsable-->
                                                        <!--                                    </md-tooltip>-->
                                                        <!--                                    remove_red_eye</i></span>-->
                                                        <!--                                        <span ng-if="dueHouse.responsable==null">No definido</span>-->
                                                        <!--                                          </span>-->
                                                    </h2>
                                                    </span>
                                                </md-toolbar>
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="charge in dueHouse.charges">
                                            <td class="text-center" style="width: 5%">
                                                <span>{{charge.billNumber}}</span>
                                                <a ng-if="vm.notExportingExcel" ng-click="vm.downloadOne(charge)"
                                                   style="display:unset" href="/api/charges-file/{{charge.id}}"
                                                   download>
                                <span style="margin-top:2px">
                                    <i ng-show="charge.downloading==false" style="font-size:20px"
                                       class="fa fa-cloud-download" aria-hidden="true"></i>
                                    <i ng-show="charge.downloading==true"
                                       style="font-size:18px;"
                                       class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></span>
                                                </a>
                                            </td>
                                            <td class="text-center" style="width: 8%">
                                                {{charge.date | date}}
                                            </td>
                                            <td class="text-center" style="width: 8%">
                                                <span
                                                    ng-if="charge.paymentDate!=null"> {{charge.paymentDate | date}}</span>
                                                <span ng-if="charge.paymentDate==null"
                                                      style="color: white!important;background: #C62828 !important;padding: 2px 5px;border-radius: 3px;"> Aún vigente</span>
                                            </td>
                                            <td class="text-center" style="width: 5%">
                                                <span >{{charge.defaulterDays==0?"-" : charge.defaulterDays+" días"}}</span>
                                            </td>
                                            <td class="fade-in" style="width: 15%">{{charge.concept}} <span
                                                ng-if="charge.type==6">{{charge.waterConsumption}}</span></td>
                                            <td class="fade-in" style="width: 10%">{{vm.getCategory(charge.type)}}</td>
                                            <td class="fade-in" style="width: 10%">{{fMoneyExport(vm.exportingExcel,charge.total)}}</td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" style="text-align: right"><b>
                                                Total saldo a favor
                                            </b></td>
                                            <td><b class="greenBalance">
                                                {{fMoneyExport(vm.exportingExcel,dueHouse.totalDue)}}
                                            </b></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table id="tableToExport" class="tableToExport" ng-if="vm.simplify">
                    <tbody class="tableToExport">
                    <tr class="tableToExport">
                        <td class="tableToExport">
                            <table class="table  table-hover font-13 tableMaterialDesign"
                                   ng-if="vm.report.dueHouses.length>0">
                                <thead style="background-color: #fafafa;">
                                <tr>
                                    <th class="text-center bold-font green-font" colspan="2">
                                        Reporte de saldos a favor {{vm.month | date:'MMMM yyyy'}}
                                    </th>
                                </tr>
                                <tr>
                                    <th class="text-center">
                                        Filial
                                    </th>
                                    <th class="text-center">
                                        Saldo a favor
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="dueHouse in vm.report.dueHouses">
                                    <td  style="text-align: center"><b>
                                        {{dueHouse.housenumber}}
                                    </b></td>
                                    <td style="text-align: center">
                                        <b class="greenBalance">
                                            {{fMoneyExport(vm.exportingExcel,dueHouse.totalDue)}}</b></td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <h5 class="text-center bold gray-font">TOTAL DE SALDOS A FAVOR: {{fMoneyExport(vm.exportingExcel,vm.report.totalDue)}}</h5>
            </div>
        </div>
</div>
</div>
<md-fab-speed-dial md-direction="up" style="position: fixed;"
                   class="md-fab md-fab-bottom-right md-fling">
    <md-fab-trigger>
    </md-fab-trigger>
    <md-fab-actions>
        <md-button ng-disabled="vm.exportActions.printing"
                   class="md-fab md-raised md-mini green-button-oficial float-right"
                   ng-click="vm.tableToExcel('tableToExport')">
            <i ng-if="!vm.exportActions.printing" style="font-size:20px;color:white!important"
               class="fa fa-file-excel-o"></i>
            <i ng-if="vm.exportActions.printing"
               style="font-size:18px;color:rgba(255,255,255,0.5)!important"
               class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
            <md-tooltip md-direction="left" md-visible="tooltipVisible">Exportar a excel</md-tooltip>
        </md-button>
    </md-fab-actions>
</md-fab-speed-dial>
</div>
