<div>
    <h2 data-translate="aditumApp.historicalCharge.home.title">Historical Charges</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="historical-charge.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aditumApp.historicalCharge.home.createLabel">
                        Create new Historical Charge
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="aditumApp.historicalCharge.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="concept"><span data-translate="aditumApp.historicalCharge.concept">Concept</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ammount"><span data-translate="aditumApp.historicalCharge.ammount">Ammount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="abono"><span data-translate="aditumApp.historicalCharge.abono">Abono</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="type"><span data-translate="aditumApp.historicalCharge.type">Type</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="aditumApp.historicalCharge.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="deleted"><span data-translate="aditumApp.historicalCharge.deleted">Deleted</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="total"><span data-translate="aditumApp.historicalCharge.total">Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="houseId"><span data-translate="aditumApp.historicalCharge.house">House</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="historicalCharge in vm.historicalCharges track by historicalCharge.id">
                    <td><a ui-sref="historical-charge-detail({id:historicalCharge.id})">{{historicalCharge.id}}</a></td>
                    <td>{{historicalCharge.date | date:'medium'}}</td>
                    <td>{{historicalCharge.concept}}</td>
                    <td>{{historicalCharge.ammount}}</td>
                    <td>{{historicalCharge.abono}}</td>
                    <td>{{historicalCharge.type}}</td>
                    <td>{{historicalCharge.state}}</td>
                    <td>{{historicalCharge.deleted}}</td>
                    <td>{{historicalCharge.total}}</td>
                    <td>
                        <a ui-sref="house-detail({id:historicalCharge.houseId})">{{historicalCharge.houseId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="historical-charge-detail({id:historicalCharge.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="historical-charge.edit({id:historicalCharge.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="historical-charge.delete({id:historicalCharge.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
