
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBalanceLabel" data-translate="aditumApp.balance.home.createOrEditLabel">Create or edit a Balance</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.balance.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.balance.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.balance.extraordinary" for="field_extraordinary">Extraordinary</label>
            <input type="text" class="form-control" name="extraordinary" id="field_extraordinary"
                    ng-model="vm.balance.extraordinary"
                    required/>
            <div ng-show="editForm.extraordinary.$invalid">
                <p class="help-block"
                    ng-show="editForm.extraordinary.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.balance.commonAreas" for="field_commonAreas">Common Areas</label>
            <input type="text" class="form-control" name="commonAreas" id="field_commonAreas"
                    ng-model="vm.balance.commonAreas"
                    required/>
            <div ng-show="editForm.commonAreas.$invalid">
                <p class="help-block"
                    ng-show="editForm.commonAreas.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.balance.maintenance" for="field_maintenance">Maintenance</label>
            <input type="text" class="form-control" name="maintenance" id="field_maintenance"
                    ng-model="vm.balance.maintenance"
                    required/>
            <div ng-show="editForm.maintenance.$invalid">
                <p class="help-block"
                    ng-show="editForm.maintenance.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.balance.waterCharge" for="field_waterCharge">Water Charge</label>
            <input type="text" class="form-control" name="waterCharge" id="field_waterCharge"
                    ng-model="vm.balance.waterCharge"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.balance.others" for="field_others">Others</label>
            <input type="text" class="form-control" name="others" id="field_others"
                    ng-model="vm.balance.others"
                    />
        </div>

        <div class="form-group">
            <label data-translate="aditumApp.balance.house" for="field_house">House</label>
            <select class="form-control" id="field_house" name="house" ng-model="vm.balance.houseId" ng-options="house.id as house.housenumber for house in vm.houses | orderBy:'id'" required>
            </select>
        </div>
        <div ng-show="editForm.house.$invalid">
            <p class="help-block"
                ng-show="editForm.house.$error.required" data-translate="entity.validation.required">
                This field is required.
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
