<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>

<div ng-if="vm.isReady" ng-cloak layout="column"
     class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding fade-in">
    <md-toolbar class="form-title" layout-align="space-between center" layout="row">
        <h2 hide-sm hide-xs>{{vm.title}}</h2>
        <div>
            <md-menu md-position-mode="target-right target" has-any-authority="ROLE_MANAGER">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <i class="material-icons" style="color:#999">more_vert</i>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ui-sref="egress-category">
                            <div layout="row" flex>
                                Configurar categorías
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="proveedor">
                            <div layout="row" flex>
                                Configurar proveedores
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content layout-padding class="form-content">
        <div>
            <form name="form" ng-submit=" vm.confirmMessage()">
                <span ng-hide="true">{{setInvalidForm(form.$invalid)}}</span>
                <div layout="row" layout-xs="column" class="marging-top-20 ">
                    <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg">
                        <md-input-container class="md-block">
                            <label>Folio</label>
                            <input type="text" class="form-control gray" name="folio" id="field_folio"
                                   ng-model="vm.egress.folio"
                                   ng-disabled="vm.admingConfig.egressFolio == true"
                                   required/>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Seleccione una Categoría</label>
                            <md-select ng-model="vm.egress.category" required>
                                <md-optgroup ng-show="vm.gastosFijos.length>0" label="GASTOS FIJOS">
                                    <md-option ng-value="item.id" ng-repeat="item in vm.gastosFijos">
                                        {{item.category}}
                                    </md-option>
                                </md-optgroup>
                                <md-optgroup ng-show="vm.gastosVariables.length>0" label="GASTOS VARIABLES">
                                    <md-option ng-value="item.id" ng-repeat="item in vm.gastosVariables">
                                        {{item.category}}
                                    </md-option>
                                </md-optgroup>
                                <md-optgroup ng-show="vm.gastosOtros.length>0" label="OTROS">
                                    <md-option ng-value="item.id" ng-repeat="item in vm.gastosOtros">
                                        {{item.category}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Concepto</label>
                            <input type="text" class="form-control" name="concept" id="field_concept"
                                   ng-model="vm.egress.concept"
                                   required/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Fecha contable</label>
                            <md-datepicker class="datePicker" readonlydatepicker md-max-date="vm.egress.expirationDate" md-min-date="vm.companyConfig.minDate" required ng-model="vm.egress.date" md-hide-icons="calendar"
                                           md-open-on-focus
                                           required></md-datepicker>
                        </md-input-container>

                        <md-input-container class="md-block  no-margin-bottom">
                            <label>Fecha de vencimiento</label>
                            <md-datepicker class="datePicker" readonlydatepicker md-min-date="vm.egress.date" required ng-model="vm.egress.expirationDate" md-hide-icons="calendar"
                                         md-open-on-focus
                                           required></md-datepicker>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label># Factura</label>
                            <input type="text" class="form-control" name="billNumber" id="field_billNumber"
                                   ng-model="vm.egress.billNumber"
                            />
                        </md-input-container>
                    </div>
                    <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg">

                        <md-input-container class="md-block" has-authority="ROLE_MANAGER">
                            <label>Seleccione un proveedor</label>
                            <md-select class="no-margin-bottom"   ng-model="vm.egress.proveedor" required>
                                <md-option ng-repeat="proveedor in vm.proveedores" ng-value="proveedor.id">
                                    {{proveedor.empresa}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div class="no-margin-top" layout="row">

                            <div layout="row" class="no-margin-top"  flex>
                                <md-switch  class="no-margin-top"  ng-model="vm.hasIva" flex>
                                    <span ng-if="vm.hasIva">
                                       Tiene IVA
                                    </span>
                                    <span ng-if="!vm.hasIva">
                                      No tiene IVA
                                    </span>
                                </md-switch>
                            </div>
                        </div>
                        <md-input-container class="md-block" ng-if="vm.hasIva">
                            <label>Sub total</label>
                            <input type="text" class="form-control" format="currency" placeholder="0.00"
                                   ng-model="vm.egress.subtotal" ng-change="vm.calculateWithIVA(vm.egress.subtotal)"
                                   required
                            />
                        </md-input-container>
                        <md-input-container class="md-block" ng-if="vm.hasIva">
                            <label>IVA 13%</label>
                            <input type="text" class="form-control" format="currency" placeholder="0.00"
                                   ng-model="vm.egress.iva" disabled
                                   required
                            />
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Total</label>
                            <input type="text" class="form-control" format="currency" placeholder="0.00"
                                   ng-model="vm.egress.total"
                                   required
                            />
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Comentarios</label>
                            <textarea ng-model="vm.egress.comments"  style="margin-top: -5px;" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                </div>
                <h3 class="text-right" ng-if="vm.proveedores.length==0">
                <span style="font-size:13px;font-weight:bold;color:#c23f44">No es posible capturar un egreso sin tener ningún proveedor registrado. *</span>
                </h3>
                <div layout="row" class="white-bg" layout-align="end center" hide-sm hide-xs>

                    <md-button type="button" ng-click="back()"
                               class="md-warn md-raised">Cancelar
                    </md-button>
                    <md-button class="md-primary md-raised" ng-disabled="form.$invalid" type="submit">
                        {{vm.button}}
                    </md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>


<!--<div>-->
<!--<div class="row">-->
<!--<div class="col-md-12 ">-->
<!--<div class="portlet light bordered">-->
<!--<div class="portlet-title">-->
<!--<div class="caption font-green-haze">-->

<!--<span class="caption-subject bold uppercase">{{vm.title}}</span>-->
<!--</div>-->
<!--<div class="btn-group pull-right">-->
<!--<div class="caption font-green-haze">-->
<!--<a href="" ui-sref="egress-category" class="font-14" style="color:hsl(211, 100%, 61%);"><i-->
<!--class="fa fa-cog" aria-hidden="true"></i> Configurar categorías</a>-->
<!--<a href="" ui-sref="proveedor" class="font-14"-->
<!--style="color:hsl(211, 100%, 61%); margin-left:15px;"><i class="fa fa-cog"-->
<!--aria-hidden="true"></i>-->
<!--Configurar proveedores</a>-->

<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--<div class="portlet-body form">-->
<!--<form name="editForm" id="form" role="form" novalidate ng-submit=" vm.confirmMessage()"-->
<!--show-validation>-->

<!--<div class="form-body col-md-12 col-lg-12 col-sm-12 col-xs-12">-->
<!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding">-->
<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group">-->
<!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding-left margin-top-10">-->
<!--<span class="font-13 bold  control-label">Folio</span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group">-->
<!--<input type="text" class="form-control gray" name="folio" id="field_folio"-->
<!--ng-model="vm.egress.folio"-->
<!--ng-disabled="vm.admingConfig.egressFolio == true"-->
<!--/>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding form-group">-->
<!--<div class=" col-lg-4 col-md-4  col-sm-4 col-xs-4 no-padding-left margin-top-10">-->
<!--<span class="font-13 bold control-label">Categoría *</span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group">-->


<!--</div>-->
<!--</div>-->

<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  form-group">-->
<!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding-left margin-top-10">-->
<!--<span class="font-13 bold control-label">Fecha contable *</span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group">-->
<!--<input ng-model="vm.egress.date" id="field_contable_date" name="date"-->
<!--ng-click="vm.openCalendar('date')" ng-change="vm.updatePicker()"-->
<!--enable-time="false" datetime-picker="longDate"-->
<!--datepicker-options="vm.picker1.datepickerOptions"-->
<!--is-open="vm.datePickerOpenStatus.date"-->
<!--type="text" class="form-control letters gray-font  dating"-->
<!--placeholder="Seleccione una fecha" required>-->

<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group">-->
<!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding-left margin-top-10">-->
<!--<span class="font-13 bold control-label">Fecha vencimiento * </span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  form-group">-->
<!--<input ng-model="vm.egress.expirationDate" id="field_expirationDate"-->
<!--name="expirationDate" ng-click="vm.openCalendar('expirationDate')"-->
<!--ng-change="vm.updatePicker()" enable-time="false"-->
<!--datetime-picker="longDate"-->
<!--datepicker-options="vm.picker2.datepickerOptions"-->
<!--is-open="vm.datePickerOpenStatus.expirationDate"-->
<!--type="text" class="form-control letters gray-font  dating"-->
<!--placeholder="Seleccione una fecha" required>-->

<!--</div>-->
<!--</div>-->
<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding  form-group">-->
<!--<div class=" col-lg-4 col-md-4  col-sm-4 col-xs-4 no-padding-left margin-top-10">-->
<!--<span class="font-13 bold control-label">Concepto *</span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group">-->
<!--<input type="text" class="form-control" name="concept" id="field_concept"-->
<!--ng-model="vm.egress.concept"-->
<!--required/>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->


<!--&lt;!&ndash;ESTOS CAMPOS NO SE MUESTRAN EN XS&ndash;&gt;-->

<!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding hidden-xs">-->

<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding-right form-group">-->
<!--<div class=" col-lg-4 col-md-4  col-sm-4 col-xs-4 no-padding-right margin-top-10">-->
<!--<span class="font-13 bold"># Factura</span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group">-->
<!--<input type="text" class="form-control" name="billNumber" id="field_billNumber"-->
<!--ng-model="vm.egress.billNumber"-->
<!--/>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding-right form-group"-->
<!--ng-class="{'has-error':vm.proveedores.length==0}">-->
<!--<div class="col-lg-4 col-md-4  col-sm-4 col-xs-4 no-padding-right margin-top-10">-->
<!--<span class="font-13 bold control-label">Proovedor *</span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  form-group">-->
<!--<select required type="text" class="form-control" id="field_proveedor"-->
<!--name="proveedor" ng-model="vm.egress.proveedor"-->
<!--ng-options="proveedor.id as proveedor.empresa for proveedor in vm.proveedores">-->
<!--<option value="">Seleccione un proveedor</option>-->
<!--</select>-->


<!--</div>-->
<!--</div>-->

<!--<div class="col-lg-12 col-md-12  col-sm-12 col-xs-12 no-padding-right form-group">-->
<!--<div class="col-lg-4 col-md-4  col-sm-4 col-xs-4 no-padding-right margin-top-10">-->
<!--<span class="font-13 bold control-label ">Total * </span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">-->
<!--<div class="input-group form-group">-->
<!--<span class="input-group-addon">₡</span>-->
<!--<input type="text" class="form-control  " name="total" placeholder="0.00"-->
<!--id="field_total" pattern="[0-9]*"-->
<!--ng-model="vm.egress.total" ng-change="vm.hola(vm.egress.total)"-->
<!--required-->
<!--/>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding-right form-group">-->
<!--<div class=" col-lg-4 col-md-4  col-sm-4 col-xs-4 no-padding-right margin-top-10">-->
<!--<span class="font-13 bold control-label">Comentarios</span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group">-->
<!--<textarea rows="4" ng-model="vm.egress.comments" cols="50" type="text"-->
<!--class="form-control" name="comments" id="field_comments">-->
<!--</textarea>-->

<!--</div>-->
<!--</div>-->

<!--</div>-->


<!--&lt;!&ndash;ESTOS CAMPOS SE MUESTRAN SOLO EN XS&ndash;&gt;-->
<!--<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 no-padding hidden-md hidden-lg hidden-sm">-->

<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding form-group">-->
<!--<div class=" col-lg-4 col-md-4  col-sm-4 col-xs-4 no-padding-left margin-top-10">-->
<!--<span class="font-13 bold"># Factura</span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group">-->
<!--<input type="text" class="form-control" name="billNumber2"-->
<!--id="field_billNumber2"-->
<!--ng-model="vm.egress.billNumber"-->
<!--/>-->
<!--</div>-->
<!--</div>-->

<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding form-group"-->
<!--ng-class="{'has-error':vm.proveedores.length==0}">-->
<!--<div class=" col-lg-4 col-md-4  col-sm-4 col-xs-4 no-padding-left margin-top-10">-->
<!--<span class="font-13 bold control-label">Proovedor *</span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8  form-group">-->
<!--<select required type="text" class="form-control" id="field_proveedorxs"-->
<!--name="proveedor" ng-model="vm.egress.proveedor"-->
<!--ng-options="proveedor.id as proveedor.empresa for proveedor in vm.proveedores">-->
<!--<option value="">Seleccione un proveedor</option>-->
<!--</select>-->


<!--</div>-->
<!--</div>-->

<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding form-group">-->
<!--<div class=" col-lg-4 col-md-4  col-sm-4 col-xs-4 no-padding-left margin-top-10">-->
<!--<span class="font-13 bold control-label ">Total * </span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 ">-->
<!--<div class="input-group form-group">-->
<!--<span class="input-group-addon">₡</span>-->
<!--<input type="text" class="form-control numbers" name="total"-->
<!--placeholder="0.00"-->
<!--id="field_totalxs"-->
<!--ng-model="vm.egress.total" required-->
<!--/>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--<div-->
<!--class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding hidden-md hidden-lg hidden-sm form-group">-->
<!--<div class=" col-lg-4 col-md-4  col-sm-4 col-xs-4 no-padding-left margin-top-10">-->
<!--<span class="font-13 bold control-label">Comentarios</span>-->
<!--</div>-->
<!--<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 form-group">-->
<!--<textarea rows="3" ng-model="vm.egress.comments" cols="50" type="text"-->
<!--class="form-control" name="comments" id="field_commentsxs">-->
<!--</textarea>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->


<!--</div>-->

<!--<div class="form-actions noborder" style="padding-bottom:0px;">-->
<!--<h3 class="text-right">-->

<!--<button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn blue"><i-->
<!--class="fa fa-pencil" ng-show="vm.button=='Editar'"></i> {{vm.button}}-->
<!--</button>-->
<!--<button type="button" ui-sref="egress()" class="btn red default">Cancelar</button>-->


<!--</h3>-->
<!--<h3 class="text-right" ng-if="vm.proveedores.length==0">-->
<!--<span style="font-size:13px;font-weight:bold;color:#c23f44">No es posible capturar un egreso sin tener ningún proveedor registrado. *</span>-->
<!--</h3>-->
<!--</div>-->
<!--</form>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<script>-->
<!--jQuery(document).ready(function () {-->
<!--$("#loadingIcon").fadeIn("slow");-->
<!--});-->
<!--</script>-->
<!--<script>-->
<!--jQuery(document).ready(function () {-->
<!--$("#register_edit_form").fadeIn("slow");-->
<!--});-->
<!--</script>-->
