<div>
    <h2 data-translate="aditumApp.egress.home.title">Egresses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="egress.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aditumApp.egress.home.createLabel">
                        Create new Egress
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="aditumApp.egress.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="folio"><span data-translate="aditumApp.egress.folio">Folio</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="account"><span data-translate="aditumApp.egress.account">Account</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="category"><span data-translate="aditumApp.egress.category">Category</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paymentMethod"><span data-translate="aditumApp.egress.paymentMethod">Payment Method</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="concept"><span data-translate="aditumApp.egress.concept">Concept</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="total"><span data-translate="aditumApp.egress.total">Total</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reference"><span data-translate="aditumApp.egress.reference">Reference</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comments"><span data-translate="aditumApp.egress.comments">Comments</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="proveedor"><span data-translate="aditumApp.egress.proveedor">Proveedor</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paymentDate"><span data-translate="aditumApp.egress.paymentDate">Payment Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="expirationDate"><span data-translate="aditumApp.egress.expirationDate">Expiration Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyId"><span data-translate="aditumApp.egress.company">Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="egress in vm.egresses track by egress.id">
                    <td><a ui-sref="egress-detail({id:egress.id})">{{egress.id}}</a></td>
                    <td>{{egress.date | date:'medium'}}</td>
                    <td>{{egress.folio}}</td>
                    <td>{{egress.account}}</td>
                    <td>{{egress.category}}</td>
                    <td>{{egress.paymentMethod}}</td>
                    <td>{{egress.concept}}</td>
                    <td>{{egress.total}}</td>
                    <td>{{egress.reference}}</td>
                    <td>{{egress.comments}}</td>
                    <td>{{egress.proveedor}}</td>
                    <td>{{egress.paymentDate | date:'medium'}}</td>
                    <td>{{egress.expirationDate | date:'medium'}}</td>
                    <td>
                        <a ui-sref="company-detail({id:egress.companyId})">{{egress.companyId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="egress-detail({id:egress.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="egress.edit({id:egress.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="egress.delete({id:egress.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
