<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>

<div ng-if="vm.isReady" ng-cloak layout="column"
     class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding fade-in">
    <md-toolbar class="form-title" layout-align="space-between center" layout="row">
        <h2 hide-sm hide-xs>{{vm.title}}</h2>
        <div>
            <md-menu md-position-mode="target-right target" has-any-authority="ROLE_MANAGER">
                <md-button aria-label="Open demo menu" class="md-icon-button" ng-click="$mdMenu.open($event)">
                    <i class="material-icons" style="color:#999">more_vert</i>
                </md-button>
                <md-menu-content width="4">
                    <md-menu-item>
                        <md-button ui-sref="egress-category">
                            <div layout="row" flex>
                                Configurar categorías
                            </div>
                        </md-button>
                    </md-menu-item>
                    <md-menu-item>
                        <md-button ui-sref="proveedor">
                            <div layout="row" flex>
                                Configurar proveedores
                            </div>
                        </md-button>
                    </md-menu-item>
                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>
    <md-content layout-padding class="form-content">
        <div>
            <form name="form" ng-submit=" vm.confirmMessage()">
                <span ng-hide="true">{{setInvalidForm(form.$invalid)}}</span>
                <div layout="row" layout-xs="column" class="marging-top-20 ">
                    <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg">
                        <md-input-container class="md-block">
                            <label>Folio</label>
                            <input type="text" class="form-control gray" name="folio" id="field_folio"
                                   ng-model="vm.egress.folio"
                                   ng-disabled="vm.admingConfig.egressFolio == true"
                                   required/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Seleccione una Categoría</label>
                            <md-select ng-model="vm.egress.category" required>
                                <md-optgroup ng-show="vm.gastosFijos.length>0" label="GASTOS FIJOS">
                                    <md-option ng-value="item.id" ng-repeat="item in vm.gastosFijos">
                                        {{item.category}}
                                    </md-option>
                                </md-optgroup>
                                <md-optgroup ng-show="vm.gastosVariables.length>0" label="GASTOS VARIABLES">
                                    <md-option ng-value="item.id" ng-repeat="item in vm.gastosVariables">
                                        {{item.category}}
                                    </md-option>
                                </md-optgroup>
                                <md-optgroup ng-show="vm.gastosOtros.length>0" label="OTROS">
                                    <md-option ng-value="item.id" ng-repeat="item in vm.gastosOtros">
                                        {{item.category}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Concepto</label>
                            <input type="text" class="form-control" name="concept" id="field_concept"
                                   ng-model="vm.egress.concept"
                                   required/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Fecha contable</label>
                            <md-datepicker class="datePicker" readonlydatepicker md-max-date="vm.egress.expirationDate" md-min-date="vm.companyConfig.minDate" required ng-model="vm.egress.date" md-hide-icons="calendar"
                                           md-open-on-focus
                                           required></md-datepicker>
                        </md-input-container>

                        <md-input-container class="md-block  no-margin-bottom">
                            <label>Fecha de vencimiento</label>
                            <md-datepicker class="datePicker" readonlydatepicker md-min-date="vm.egress.date" required ng-model="vm.egress.expirationDate" md-hide-icons="calendar"
                                         md-open-on-focus
                                           required></md-datepicker>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label># Factura</label>
                            <input type="text" class="form-control" name="billNumber" id="field_billNumber"
                                   ng-model="vm.egress.billNumber"
                            />
                        </md-input-container>
                    </div>
                    <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg">
                        <md-input-container class="md-block" has-authority="ROLE_MANAGER">
                            <label>Seleccione un proveedor</label>
                            <md-select ng-model="vm.egress.proveedor"
                                       md-on-close="vm.clearSearchTerm()"
                                       data-md-container-class="selectdemoSelectHeader"
                                       required>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="vm.searchTerm"
                                           type="search"
                                           placeholder="Buscar proveedor.."
                                           class="demo-header-searchbox md-text"
                                           ng-keydown="vm.typingSearchTerm($event)">
                                </md-select-header>
                                <md-optgroup label="Seleccione un proveedor">
                                    <md-option
                                        ng-repeat="proveedor in vm.proveedores | filter:{empresa:vm.searchTerm}"
                                        ng-value="proveedor.id">
                                    {{proveedor.empresa}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                        </md-input-container>
                        <md-radio-group ng-model="vm.egress.currency" aria-labelledby="favoriteFruit">
                            <md-radio-button value="₡" class="md-primary" style="margin-bottom: 28px;">Colones</md-radio-button>
                            <md-radio-button value="$">Dólares</md-radio-button>
                        </md-radio-group>
                        <md-input-container ng-if="vm.showCurrencyColones() && vm.hasIva" class="md-block">
                            <label>Sub total</label>
                            <input  type="text" class="form-control" format="currencyColon" placeholder="0.00"
                                   ng-model="vm.egress.subtotal" ng-change="vm.calculateWithIVA(vm.egress.subtotal)"/>
                        </md-input-container>
                        <md-input-container ng-if="!vm.showCurrencyColones() && vm.hasIva"  class="md-block">
                            <label>Sub total</label>
                            <input  type="text" class="form-control" format="currencyDollar" placeholder="0.00"
                                   ng-model="vm.egress.subtotal" ng-change="vm.calculateWithIVA(vm.egress.subtotal)"/>
                        </md-input-container>
                        <div class="no-margin-top" layout="row">
                            <div layout="row" class="no-margin-top"  flex>
                                <md-switch  class="no-margin-top"  ng-model="vm.hasIva" flex>
                                    <span ng-if="vm.hasIva">
                                       Tiene IVA
                                    </span>
                                    <span ng-if="!vm.hasIva">
                                      No tiene IVA
                                    </span>
                                </md-switch>
                            </div>
                        </div>
                        <md-input-container class="md-block" ng-if="vm.hasIva && vm.showCurrencyColones()">
                            <label>IVA 13%</label>
                            <input  type="text" class="form-control" format="currencyColon" placeholder="0.00"
                                   ng-model="vm.egress.iva" disabled
                                   required/>
                        </md-input-container>
                        <md-input-container class="md-block" ng-if="!vm.showCurrencyColones() && vm.hasIva" >
                            <label>IVA 13%</label>
                            <input  type="text" class="form-control" format="currencyDollar" placeholder="0.00"
                                   ng-model="vm.egress.iva" disabled
                                   required/>
                        </md-input-container>
                        <md-input-container class="md-block" ng-if="vm.showCurrencyColones()">
                            <label>Total</label>
                            <input   type="text" class="form-control" format="currencyColon" placeholder="0.00"
                                   ng-model="vm.egress.total"
                                   required/>
                        </md-input-container>
                        <md-input-container class="md-block" ng-if="!vm.showCurrencyColones()">
                            <label>Total</label>
                            <input  type="text" class="form-control" format="currencyDollar" placeholder="0.00"
                                   ng-model="vm.egress.total"
                                   required/>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Comentarios</label>
                            <textarea ng-model="vm.egress.comments"  style="margin-top: -5px;" rows="3" md-select-on-focus></textarea>
                        </md-input-container>
                    </div>
                </div>
                <h3 class="text-right" ng-if="vm.proveedores.length==0">
                <span style="font-size:13px;font-weight:bold;color:#c23f44">No es posible capturar un egreso sin tener ningún proveedor registrado. *</span>
                </h3>
                <div layout="row" class="white-bg" layout-align="end center" hide-sm hide-xs>

                    <md-button type="button" ng-click="back()"
                               class="md-warn md-raised">Cancelar
                    </md-button>
                    <md-button class="md-primary md-raised" ng-disabled="form.$invalid" type="submit">
                        {{vm.button}}
                    </md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>

