<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <a>Contabilidad</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a ui-sref="egress()">Egresos</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a >Generar reporte</a>
        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right" style="padding-top:10px;">
            <i class="fa fa-lightbulb-o" style="font-size:20px; color:orange"></i>
        </div>
    </div>
</div>

<div class="" id="new_egress_form">
    <div class="row">
        <div class="col-md-12 ">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-haze">

                        <span class="caption-subject bold uppercase">Reporte de gastos</span>
                    </div>
                    <div class="caption font-green-haze pull-right" style="padding-top:10px;">
                        <button ng-show="vm.hideReportForm==true" ng-click="vm.hideReportForm=false" class="btn btn-success green" >Generar nuevo reporte</button>

                    </div>
                </div>
                <div class="portlet-body form" id="register_edit_form">
                    <form name="editForm" role="form" novalidate ng-submit="vm.generateReport()" show-validation>
                        <div class="form-body col-md-12 col-lg-12 col-sm-12 col-xs-12" ng-show="vm.hideReportForm==false">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding ">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding form-group">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 no-padding-left margin-top-10">
                                            <span class="font-14 control-label">Fecha inicio</span>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-3 form-group">
                                            <input id="initial_time" name="initialDate"  ng-model="vm.dates.initial_time" ng-click="vm.openCalendar('initialtime')" ng-change="vm.updatePicker()" enable-time="false" datetime-picker="longDate" datepicker-options="vm.picker1.datepickerOptions" is-open="vm.datePickerOpenStatus.initialtime"
                                                   type="text" class="form-control letters gray-font text-center dating" placeholder="Seleccione una fecha" required>
                                        </div>
                                     </div>
                                    <div class=" col-md-offset-1 col-lg-offset-1 col-lg-7 col-md-7 col-sm-7 col-xs-12 no-padding form-group">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 no-padding-left margin-top-10">
                                            <span class="font-14 control-label">Fecha final</span>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3 form-group">
                                            <input id="final_time" name="finalDate"  ng-model="vm.dates.final_time" ng-click="vm.openCalendar('finaltime')" ng-change="vm.updatePicker()" enable-time="false" datetime-picker="longDate" datepicker-options="vm.picker2.datepickerOptions" is-open="vm.datePickerOpenStatus.finaltime" type="text"
                                                   class="form-control letters gray-font text-center dating"  placeholder="Seleccione una fecha" required>
                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding">
                                            <span class="text-center">
                                                <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving || vm.selectedProveedores.length==0 || vm.selectedCampos.length==0" class="btn blue">Generar reporte</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 no-padding ">
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-4 no-padding-left margin-top-10">
                                            <span class="font-14 control-label">Campos</span>
                                        </div>
                                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-3 ">
                                            <div ng-dropdown-multiselect=""  class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style="width:100%!important;" translation-texts="vm.translationCampos"  options="vm.camposMultiSelect" selected-model="vm.selectedCampos" extra-settings="vm.searchSelectAllSettings"></div>

                                        </div>
                                    </div>
                                    <div class=" col-md-offset-1 col-lg-offset-1 col-lg-7 col-md-7 col-sm-7 col-xs-12 no-padding">
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 no-padding-left margin-top-10">
                                            <span class="font-14 control-label">Proveedores</span>
                                        </div>
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3 form-group">
                                            <div  ng-dropdown-multiselect="" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding" style="width:100%!important;" translation-texts="vm.translation"  options="vm.proveedoresMultiSelect" selected-model="vm.selectedProveedores" extra-settings="vm.searchSelectAllSettings"></div>
                                        </div>

                                    </div>
                                </div>

                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <hr ng-show="vm.hideReportForm==false">
                            <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 display-none" id="loadingIcon2">
                                <div class="spinnerLoading">
                                    <div class="double-bounce1"></div>
                                    <div class="double-bounce2"></div>
                                </div>
                            </div>
                            <h4 ng-show="vm.showNoResults==true" class="text-center  gray-font margin-top-20">No se encontraron resultados con el filtro realizado</h4>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-font no-padding display-none" id="reportResults"  ng-show="vm.hideReportForm==true">

                                <h5  ng-show="vm.gastosQuantity>0" class="text-center bold gray-font uppercase" style="font-size:14px;">{{vm.companyName}}</h5>
                                <h5 ng-show="vm.gastosQuantity>0" class="text-center bold gray-font" style="font-size:14px;">REPORTE DE GASTOS</h5>
                                <h5  ng-show="vm.gastosQuantity>0" class="text-center bold gray-font">Del {{vm.reportInitialtime | date:'longDate'}} al {{vm.reportFinaltime | date:'longDate'}}</h5>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding"   ng-repeat="reporte in vm.reportResult" ng-show="vm.reportResult.length>0" >
                                    <h4 class="bold" ng-show="reporte.gastos.length>0">{{reporte.nombre}}</h4>
                                    <div class="table-scrollable"  ng-show="reporte.gastos.length>0" >
                                        <table class="jh-table table table-bordered table-condensed flip-content" style="font-size:12px;">
                                            <thead    style="background-color:#EEEEEE; "class="flip-content">
                                            <tr>
                                                <th  ng-repeat="selected in vm.selectedCampos">{{vm.camposMultiSelect[selected.id].label}}</th>

                                            </tr>
                                            </thead>
                                            <tbody>


                                            <tr ng-repeat="egress in  reporte.gastos" >
                                                <td ng-repeat="selected in vm.selectedCampos">{{egress[vm.camposMultiSelect[selected.id].attr]}}</td>

                                            </tr>
                                            <tr ng-show="reporte.montoTotal!=='0'">
                                                <td  colspan="{{vm.selectedCampos.length-1}}" class="bold">Total</td>
                                                <td class="bold">₡{{reporte.montoTotal }}</td>
                                            </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="form-actions noborder" style="padding-bottom:0px;">

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
