<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>
<div ng-if="vm.isReady" class=" fade-in">


    <no-content ng-if="vm.houses.length==0" icon="redo" text="No hay filiales registradas"
                text2="Proceda a registrar filiales para utilizar esta funcionalidad"></no-content>


    <div ng-if="vm.houses.length!==0" ng-cloak layout="column"
         class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding fade-in">
        <md-toolbar class="form-title" hide-sm hide-xs>
            <h2>{{mainTitle}}</h2>
        </md-toolbar>
        <md-content layout-padding class="form-content">
            <div>
                <form name="form" ng-submit="vm.save()">
                    <span ng-hide="true">{{setInvalidForm(form.$invalid)}}</span>
                    <div layout="row" layout-xs="column" class="marging-top-20 ">
                        <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg no-padding-left">
                            <md-input-container class="md-block" has-authority="ROLE_MANAGER">
                                <label>Número de filial</label>
                                <md-select ng-model="vm.house" ng-change="vm.changeHouse(vm.house)" required>
                                    <md-option ng-repeat="house in vm.houses" ng-value="house.id">
                                        {{house.housenumber}}
                                    </md-option>
                                </md-select>
                            </md-input-container>

                            <md-input-container class="md-block">
                                <label>Número de recibo</label>
                                <input ng-model="vm.payment.receiptNumber" type="text"
                                       class="form-control letters gray-font "
                                       placeholder="Número de recibo"
                                       required ng-disabled="vm.admingConfig.incomeFolio == true">
                            </md-input-container>

                            <md-input-container class="md-block no-margin-bottom"
                                                has-authority="ROLE_MANAGER">
                                <label>Cuenta</label>
                                <md-select ng-model="vm.account" required>
                                    <md-option ng-repeat="banco in vm.bancos | orderBy: 'beneficiario' "
                                               ng-value="banco">
                                        {{banco.beneficiario}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Seleccione un método de pago</label>
                                <md-select ng-model="vm.payment.paymentMethod"
                                           ng-required="vm.charges.length>0">
                                    <md-option value="Efectivo">
                                        Efectivo
                                    </md-option>
                                    <md-option value="Cheque">
                                        Cheque
                                    </md-option>
                                    <md-option value="Transferencia">
                                        Transferencia
                                    </md-option>
                                    <md-option value="Tarjeta">
                                        Tarjeta
                                    </md-option>
                                    <md-option value="Deposito en banco">
                                        Deposito en banco
                                    </md-option>
                                </md-select>
                            </md-input-container>

                        </div>
                        <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg no-padding-right">
                            <md-input-container class="md-block  no-margin-bottom">
                                <label>Fecha de pago</label>
                                <md-datepicker class="datePicker" readonlydatepicker md-max-date="vm.today" required md-hide-icons="calendar"
                                               ng-model="vm.payment.date"
                                               id="datePicker"
                                               readonlydatepicker
                                               md-placeholder="Introduzca una fecha" md-open-on-focus
                                               required></md-datepicker>
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Cantidad</label>
                                <input type="text" class="form-control" format="currency" placeholder="0.00"
                                       ng-model="vm.payment.ammount"
                                       required
                                />
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Comentarios</label>
                                <textarea style="margin-top: -5px;" ng-model="vm.payment.comments" rows="3"
                                          md-select-on-focus></textarea>
                            </md-input-container>
                        </div>
                    </div>
                    <md-divider style="margin-top: 20px"></md-divider>

                    <div layout="row" layout-xs="column" class="white-bg margin-top-15"
                         layout-align="space-between center">
                        <div flex="70" flex-xs="100" layout="row" >
                            <div flex="40">
                                <h5><b>Enviar comprobante de pago por correo a:</b></h5>
                                <div ng-if="vm.residents.length!=0"
                                     class="md-radio-list no-padding">
                                    <div class="md-radio">
                                        <input type="radio" ng-click="vm.selectPrincipalContact()"
                                               id="radio1"
                                               name="radio1" class="md-radiobtn" checked="">
                                        <label for="radio1">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            Contacto principal </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="radio3" ng-click="vm.selectNoneContact()"
                                               name="radio1" class="md-radiobtn">
                                        <label for="radio3">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            Seleccionar </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="radio2" ng-click="vm.selectAllContact()"
                                               name="radio1" class="md-radiobtn">
                                        <label for="radio2">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            Todos </label>
                                    </div>
                                    <div class="md-radio">
                                        <input type="radio" id="radio4" ng-click="vm.selectNoneContact()"
                                               name="radio1" class="md-radiobtn">
                                        <label for="radio4">
                                            <span class="inc"></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            Ninguno </label>
                                    </div>
                                </div>
                            </div>
                            <h5 ng-if="vm.residents.length==0"
                                style="font-weight:bold;font-size:12px!important">No existe ningún
                                residente
                                con un correo registrado en esta filial.</h5>
                            <div ng-if="vm.residents.length!=0"
                                 style="height:150px;overflow-y:auto">
                                <div class="col-md-12 no-padding">
                                    <h5 ng-repeat="resident in vm.residents | orderBy: '!principalContact' track by resident.id ">
                                        <input type="checkbox" id="{{resident.id}}"
                                               ng-model="resident.selected"
                                               style="float: left;margin: 10px 6px;">
                                        <label for="{{resident.id}}">
                                            <span style="display:block">{{resident.name}} {{resident.lastname}} {{resident.secondlastname}}</span>
                                            <span style="font-weight:bold;font-size:10px">({{resident.email}})</span>
                                            <i style="color:#4DB3A2;font-size:10px!important;margin: 2px 5px;float: left;"
                                               class="fa fa-address-book" aria-hidden="true"
                                               ng-if="resident.principalContact==1" angular-popover
                                               direction="right"
                                               template="<div style='padding:10px;width:130px;color:gray'><h5>Contacto Principal<h5></div>"
                                               mode="mouseover"></i>

                                        </label>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div style="margin-top:10px" hide-md hide-xs hide-sm>
                            <div style="height:70px;float:right">
                                <div class="col-md-12">
                                    <h5 style="display:inline;margin-right:5px"><b>Imprimir recibo de
                                        pago</b></h5>
                                    <div class="md-checkbox"
                                         style="margin:0 auto;height:50px;display:inline;">
                                        <input type="checkbox" ng-model="vm.printReceipt" id="checkbox2"
                                               class="md-check">
                                        <label for="checkbox2">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div layout="row" class="white-bg" layout-align="end center" hide-sm hide-xs>
                        <md-button class="md-raised  md-warn" ng-click="back()">Cancelar</md-button>

                        <md-button class="md-raised md-primary" type="submit"
                                   ng-disabled="form.$invalid || vm.isSaving && vm.payment.valida==true || vm.payment.ammount==0 && vm.payment.valida==true || vm.payment.ammount==undefined && vm.payment.valida==true || vm.selectedHouse.balance.total<0">
                            Realizar pago
                        </md-button>

                    </div>
                    <div layout="row" class="white-bg" layout-align="end center" ng-if="vm.selectedHouse.balance.total<0">
                        <h3 class="text-right">
                            <span style="font-size:13px;font-weight:bold;color:#c23f44">La filial {{vm.selectedHouse.housenumber}} no puede realizar un adelanto porque aún tiene cuotas pendientes. *</span>
                        </h3>
                    </div>
                </form>
            </div>
        </md-content>
    </div>
</div>
</div>

