<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>
<div ng-cloak layout="column" ng-if="vm.isReady"
     class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding">
    <md-toolbar class="form-title" hide-sm hide-xs>
        <h2>{{mainTitle}}</h2>
    </md-toolbar>
    <md-content layout-padding class="form-content ">
        <div>
            <form name="form" role="form" novalidate ng-submit="vm.generateReport()" show-validation
                  ng-if="!vm.consulting">

                <div layout="row" layout-xs="column" class="marging-top-20 ">
                    <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg">
                        <md-input-container class="md-block">
                            <label>Fecha inicio</label>
                            <md-datepicker class="datePicker" readonlydatepicker md-max-date="vm.dates.final_time"
                                           required ng-model="vm.dates.initial_time"
                                           md-hide-icons="calendar"
                                           md-placeholder="Introduzca una fecha" md-open-on-focus
                                           required></md-datepicker>
                        </md-input-container>
                        <md-input-container class="md-block" has-authority="ROLE_MANAGER">
                            <label>Cuenta</label>
                            <md-select ng-model="vm.banco" required>
                                <md-option value="empty">
                                    Todas
                                </md-option>
                                <md-option ng-repeat="banco in vm.bancos" ng-value="banco.beneficiario">
                                    {{banco.beneficiario}}
                                </md-option>
                            </md-select>
                        </md-input-container>

                        <md-input-container class="md-block">
                            <label>Categoría</label>
                            <md-select ng-model="vm.category" required>
                                <md-option value="empty">Todas
                                </md-option>
                                <md-option value="Mantenimiento">Mantenimiento
                                </md-option>
                                <md-option value="Extraordinaria">Extraordinaria
                                </md-option>
                                <md-option value="Áreas Comunes">Áreas Comunes
                                </md-option>
                                <md-option value="Multa">Multas
                                </md-option>
                                <md-option value="Cuota Agua">Cuota Agua
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>

                    <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg">
                        <md-input-container class="md-block  no-margin-bottom">
                            <label>Fecha final</label>
                            <md-datepicker class="datePicker" readonlydatepicker md-min-date="vm.dates.initial_time"
                                           required ng-model="vm.dates.final_time"
                                           md-hide-icons="calendar"
                                           md-placeholder="Introduzca una fecha" md-open-on-focus
                                           required></md-datepicker>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Método de pago</label>
                            <md-select ng-model="vm.paymentMethod" required>
                                <md-option value="empty">Todos
                                </md-option>
                                <md-option value="DEPOSITO BANCO">DEPOSITO BANCO
                                </md-option>
                                <md-option value="EFECTIVO">EFECTIVO
                                </md-option>
                                <md-option value="TARJETA DEBITO">TARJETA DEBITO
                                </md-option>
                                <md-option value="TARJETA CREDITO">TARJETA CREDITO
                                </md-option>
                                <md-option value="TRANSFERENCIA">TRANSFERENCIA
                                </md-option>
                                <md-option value="CHEQUE">CHEQUE
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" has-authority="ROLE_MANAGER">
                            <label>Filial</label>
                            <md-select ng-model="vm.houseId" required>
                                <md-option value="empty">
                                    Todas
                                </md-option>
                                <md-option ng-repeat="house in vm.houses" ng-value="house.id">
                                    {{house.housenumber}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                </div>
                <div layout="row" class="white-bg margin-top-15" layout-align="end center">
                    <md-button class="md-primary md-raised"
                               ng-disabled="form.$invalid" ng-click="vm.hideReportForm=false"
                               type="submit">
                        Generar reporte
                    </md-button>
                </div>
            </form>
            <div ng-if="vm.showLoading" layout="row" class="white-bg" layout-align="end center">
                <div layout="row" class="content-loader" layout-sm="column" layout-fill
                     layout-align="space-around center">
                    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">

                <div class="fade-in" ng-if="vm.isReady2 && !vm.showLoading" id="reportResults">
                    <div class="fade-in" ng-if="vm.payments.length==0">
                        <no-content icon="assignment" text="No se encontraron
                        resultados con el filtro realizado"></no-content>
                    </div>
                    <div ng-if="vm.payments.length>0"
                         class="col-lg-12 col-md-12 col-sm-12 col-xs-12 gray-font no-padding">
                        <div class="col-md-12 no-padding text-center margin-bottom-20">
                            <h5 class=" bold gray-font uppercase font-green-haze" style="font-size:14px;">
                                {{vm.companyName}}</h5>
                            <h5 class="bold gray-font" style="font-size:14px;">REPORTE DE INGRESOS</h5>
                            <h5 class="bold gray-font">Del {{vm.dates.initial_time | date:'longDate'}} al
                                {{vm.dates.final_time | date:'longDate'}}</h5>
                        </div>
                        <div class="col-md-12 margin-bottom-20 margin-top-20 padding-20"
                             style="border: 1px solid #e7e7e7; ">
                            <div class="col-md-4 no-padding  "
                            >
                                <div class="col-md-6">
                                    <h5 style="font-weight:bold">Mantenimiento: </h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>{{fMoney(vm.incomeReport.totalMaintenance)}}</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5 style="font-weight:bold">Multas: </h5>
                                </div>
                                <div class="col-md-6">
                                    <h5> {{fMoney(vm.incomeReport.totalMulta)}}</h5>
                                </div>

                                <div class="col-md-6">
                                    <h5 style="font-weight:bold">Cuota agua: </h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>{{fMoney(vm.incomeReport.totalWaterCharge)}}</h5>
                                </div>

                            </div>
                            <div class="col-md-4  ">
                                <div class="col-md-6">
                                    <h5 style="font-weight:bold">Adelantos: </h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>{{fMoney(vm.incomeReport.totalAdelanto)}}</h5>
                                </div>
                                <div class="col-md-6">
                                    <h5 style="font-weight:bold">Áreas comunes: </h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>{{fMoney(vm.incomeReport.totalCommonArea)}}</h5>
                                </div>


                            </div>
                            <div class="col-md-4 "
                            >
                                <div class="col-md-6">
                                    <h5 style="font-weight:bold">Extraordinarias: </h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>{{fMoney(vm.incomeReport.totalExtraordinary)}}</h5>
                                </div>

                                <div class="col-md-6">
                                    <h5 style="font-weight:bold">Otros ingresos: </h5>
                                </div>
                                <div class="col-md-6">
                                    <h5>{{fMoney(vm.incomeReport.totalOtherIngress)}}</h5>
                                </div>


                            </div>
                            <div class="col-md-4 "
                            >
                                <div class="col-md-6">
                                    <h5 style="font-weight:bold">Total Facturado: </h5>
                                </div>
                                <div class="col-md-6 ">
                                    <h4 class="bold"> {{fMoney(vm.incomeReport.total)}}</h4>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                            <div class="table-scrollable" style="border: 0px!important;">
                                <table id="tableToExport"
                                    class="jh-table table table-bordered table-condensed flip-content tableMaterialDesignAccountStatus"
                                    style="font-size:12px;">
                                    <thead style="background-color:#fafafa; " class="text-center">
                                    <tr class="text-center">
                                        <th class="text-center">
                                            Filial
                                        </th>
                                        <th class="text-center">
                                            Número de recibo
                                        </th>
                                        <th class="text-center">
                                            Fecha de pago
                                        </th>
                                        <th class="text-center">
                                            Cuenta
                                        </th>
                                        <th class="text-center">
                                            Categoría
                                        </th>
                                        <th class="text-center">
                                            Concepto
                                        </th>
                                        <th class="text-center">
                                            Monto
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody style="outline: none; border-top:0px; "
                                           ng-repeat="payment in vm.payments   track by payment.id"
                                           ng-class="{'selected-payment':payment.isShowingCharges==true}">
                                    <tr class="text-center">
                                        <td class="text-center">
                                            <span ng-if="payment.houseId==null">Ninguna</span>
                                            <span ng-if="payment.houseId!=null">{{payment.houseNumber}}</span></td>
                                        <td style="outline: none;"><i ng-if="vm.notExportingExcel" class="material-icons material-icons-with-text"
                                                                      style="color:#999;cursor: pointer;margin-right: 8px;"
                                                                      ng-click="vm.detailPayment(payment.id)">
                                            <md-tooltip md-direction="left" class="font-13 bold white-color">Ver detalle
                                            </md-tooltip>
                                            remove_red_eye</i> <span
                                            class="text-center">{{payment.receiptNumber}}</span>
                                        </td>
                                        <td>{{payment.date | date}}</td>
                                        <td>{{payment.account}}</td>
                                        <td ng-if="payment.transaction!=3">{{payment.categories}}</td>
                                        <td ng-if="payment.transaction==3">Otros ingresos</td>
                                        <td ng-if="payment.transaction==1">Abono a cuotas</td>
                                        <td ng-if="payment.transaction==2">Adelanto de condómino</td>
                                        <td ng-if="payment.transaction==3">{{payment.concept}}</td>
                                        <td style="font-weight:bold">{{fMoney(payment.ammount)}}</td>
                                    </tr>
                                    </tbody>
                                    <tbody style="border-top:0px!important;">
                                    <tr>
                                        <td colspan="6" style="border-top:0px!important;" class="bold text-right">
                                            Total
                                        </td>
                                        <td class="bold text-center" style="border-top:0px!important;">
                                            {{fMoney(vm.incomeReport.total)}}
                                        </td>
                                    </tr>
                                    </tbody>

                                </table>
                            </div>
                        </div>

                    </div>
                    <h6 class="gray-font text-center" style="font-size:12px"><span ng-if="vm.consulting==true">{{vm.incomeReport.filter}}</span>
                    </h6>
                </div>
            </div>


        </div>

        <div ng-if="vm.consulting==true">
            <md-fab-speed-dial md-direction="up" style="position: fixed;"
                               class="md-fab md-fab-bottom-right md-fling">
                <md-fab-trigger>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button class="md-fab md-raised orange-button-oficial " ng-click="vm.consultAgain()"
                               style="margin:5px 0;">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Generar nuevo reporte</md-tooltip>
                        <md-icon style="color:white!important">assignment</md-icon>
                    </md-button>
                    <md-button ng-disabled="vm.exportActions.printing" ng-if="vm.payments.length>0"
                               class="md-fab md-raised md-mini green-button-oficial float-right" ng-click="vm.print()">
                        <i ng-if="!vm.exportActions.printing" style="font-size:20px;color:white!important"
                           class="fa fa-print"></i>
                        <i ng-if="vm.exportActions.printing"
                           style="font-size:18px;color:rgba(255,255,255,0.5)!important"
                           class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i>
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Imprimir</md-tooltip>

                    </md-button>
                    <md-button ng-click="vm.tableToExcel('tableToExport')"
                               class="md-fab md-raised md-mini green-button-oficial float-right">
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Exportar a excel</md-tooltip>
                        <i style="    font-size: 18px;color: rgba(255,255,255,1)!important; margin-top: 12px;"
                           class="fa fa-file-excel-o" aria-hidden="true"></i>
                    </md-button>
                    <md-button ng-disabled="vm.exportActions.downloading" ng-if="vm.payments.length>0"
                               class="md-fab md-raised md-mini green-button-oficial float-right" md-colors="indigo"
                               ng-click="vm.download()">
                        <a ng-click="vm.download()" style="display:block" href="{{vm.urlToDownload()}}" download>
                                <span style="margin-top:2px">
                                    <i ng-show="vm.exportActions.downloading==false" style="color:white;font-size:20px"
                                       class="fa fa-file-pdf-o" aria-hidden="true"></i>
                                    <i ng-show="vm.exportActions.downloading==true"
                                       style="font-size:18px;color:rgba(255,255,255,0.5)!important"
                                       class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></span>
                        </a>
                        <md-tooltip md-direction="left" md-visible="tooltipVisible">Descargar</md-tooltip>

                    </md-button>

                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
    </md-content>
</div>

</div>
