<div>
    <h2 data-translate="aditumApp.payment.home.title">Payments</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="payment.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aditumApp.payment.home.createLabel">
                        Create new Payment
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="date"><span data-translate="aditumApp.payment.date">Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="receiptNumber"><span data-translate="aditumApp.payment.receiptNumber">Receipt Number</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="transaction"><span data-translate="aditumApp.payment.transaction">Transaction</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="account"><span data-translate="aditumApp.payment.account">Account</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="paymentMethod"><span data-translate="aditumApp.payment.paymentMethod">Payment Method</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="comments"><span data-translate="aditumApp.payment.comments">Comments</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="houseId"><span data-translate="aditumApp.payment.house">House</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="payment in vm.payments track by payment.id">
                    <td><a ui-sref="payment-detail({id:payment.id})">{{payment.id}}</a></td>
                    <td>{{payment.date | date:'medium'}}</td>
                    <td>{{payment.receiptNumber}}</td>
                    <td>{{payment.transaction}}</td>
                    <td>{{payment.account}}</td>
                    <td>{{payment.paymentMethod}}</td>
                    <td>{{payment.comments}}</td>
                    <td>
                        <a ui-sref="house-detail({id:payment.houseId})">{{payment.houseId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="payment-detail({id:payment.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="payment.edit({id:payment.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="payment.delete({id:payment.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pager>
</div>
