
<div ng-if="vm.isReady" class=" fade-in">

    <div class="col-md-12 no-padding">
        <h2 class="bold uppercase" style="font-size:15px; margin-top: 0px!important; padding-top: 0px!important;">Pagos <i class="fa fa-info-circle" style="color:#2a6496" angular-popover direction="bottom" template="<div style='padding:10px;width:250px;color:gray'><h5>Estos son los pagos efectuados por la filial.<h5></div>" mode="mouseover"></i></h2>
    </div>
    <div class="col-md-12 no-padding margin-bottom-10" ng-hide="vm.payments.length==0 && vm.filtering==false">
        <div class="btn-group col-md-3"></div>
        <div class="col-md-7 no-padding" >
            <div class="btn-group col-md-3 ">
                <button class="btn btn-success col-md-12" ng-click="vm.cleanSearch()" ng-show="vm.filtering==true">Mostrar todos</button>
            </div>
            <div class="col-md-3 no-padding">
              <input ng-model="vm.initialTime.date" style=" border: 1px solid #f2f2f2 !important; border-radius: 0px!Important;"  ng-change="vm.updatePicker()" name="date" ng-click="vm.openCalendar(vm.initialTime)" datepicker-options="vm.picker1.datepickerOptions" enable-time="false" datetime-picker="longDate" is-open="vm.initialTime.openCalendar" type="text" class="form-control letters gray-font dating" placeholder="Fecha de inicio">
            </div>
            <div class="col-md-3 no-padding">
                <input ng-model="vm.finalTime.date" style=" border: 1px solid #f2f2f2 !important; border-radius: 0px!Important;"  ng-change="vm.updatePicker()" type="text" name="date" ng-click="vm.openCalendar(vm.finalTime)" datepicker-options="vm.picker2.datepickerOptions" enable-time="false" datetime-picker="longDate" is-open="vm.finalTime.openCalendar" class="form-control letters gray-font dating" placeholder="Fecha final">
            </div>
            <div class="btn-group col-md-3 no-padding">
                <button class="btn orange-button-oficial col-md-12" style="border-radius: 0px!Important;" ng-click="vm.filter()" ng-disabled="vm.initialTime.date == undefined || vm.finalTime.date == undefined">Consultar</button>
            </div>

        </div>
        <div class="btn-group col-md-2 no-padding-right">
            <button class="btn btn-success red col-md-12" ui-sref="generatePayment"><i class="fa fa-money"></i> Realizar pago</button>
        </div>
    </div>
    <div class="col-md-12 no-padding margin-bottom-10" ng-hide="vm.payments.length!==0 || vm.filtering!==false">

        <div class="btn-group col-md-offset-10 col-md-2 no-padding-right">
            <button class="btn btn-success red col-md-12" ui-sref="generatePayment"><i class="fa fa-money"></i> Realizar pago</button>
        </div>
    </div>
    <hr>
    <div class="portlet-body">
        <no-content ng-if="vm.payments.length==0 && vm.filtering==false" icon="dvr" text="La filial no ha realizado ningún pago aún" ></no-content>

        <no-content ng-if="vm.payments.length==0 && vm.filtering==true" icon="dvr" text="No se encontraron pagos en las fechas seleccionadas" ></no-content>

        <div ng-show="vm.payments.length!=0">
            <table class="table table-bordered font-13 gray-font tableMaterialDesign">
                <thead  style="background-color: #fafafa;" class="">
                <tr>
                    <th class="text-center">
                        Número de recibo
                    </th>
                    <th>
                        Fecha de pago
                    </th>
                    <th>
                        Cuenta
                    </th>
                    <th>
                        Método de pago
                    </th>
                    <th>
                        Concepto
                    </th>
                    <th  class="text-center">
                        Cantidad
                    </th>
                </tr>
                </thead>
                <tbody>
                <tbody style="outline: none; border-top:0px;" ng-repeat="payment in vm.payments track by payment.id"  ng-class="{'selected-payment':payment.isShowingCharges==true}">
                <tr>
                    <td style="outline: none;" ng-click="vm.showCharges(payment)"><i ng-show="payment.isShowingCharges==true" class="fa fa-chevron-up bold font-11" style="float:left" aria-hidden="true"></i><i ng-hide="payment.isShowingCharges==true" class="fa fa-chevron-down bold font-11" style="float:left" aria-hidden="true"></i> <span class="text-center" style="display:block">{{payment.receiptNumber}}</span></td>
                    <td>{{payment.date | date}}</td>
                    <td>{{payment.account}}</td>
                    <td>{{payment.paymentMethod}}</td>
                    <td ng-show="payment.transaction==1">Abono a cuotas</td>
                    <td ng-show="payment.transaction==2">Adelanto de condómino</td>
                    <td  class="text-center" style="font-weight:bold">₡ {{payment.ammount | currency : "" : 0}}</td>
                </tr>
                <tr ng-show="payment.isShowingCharges==true && payment.charges.length==0">
                    <td style="background-color:white!important;position:relative" colspan="3">

                        <div class="note note-info" style="margin:0">
                            <div>
                                <h5 style="font-weight:bold">Comentarios:</h5>
                            </div>
                            <div>
                                <p ng-show="payment.comments!=undefined">{{payment.comments}}</p>
                                <p ng-hide="payment.comments!=undefined">Ninguno</p>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="payment.ammountLeft>0" style="margin-bottom:30px">
                            <h6 class="bold uppercase text-center" style="color:gray">Dinero disponible para cancelar futuras cuotas: <span class="greenBalance" style="font-weight:bold;font-size:15px">  ₡ {{payment.ammountLeft | currency : "" : 0}}</span> <i class="fa fa-info-circle" style="color:#2a6496" angular-popover direction="right" template="<div style='padding:10px;width:400px;color:gray; '><h5 >Este es el restante del pago del adelanto del condómino, será utilizado automaticamente para cancelar futuras cuotas.<h5></div>" mode="mouseover"></i></h6>
                        </div>
                        <div class="col-md-12 " style="position:absolute;bottom:10px;right:4px">
                            <hr style="margin:5px">
                            <div class="col-md-4 col-xs-12 no-padding action-export-payment">
                                <a ng-class="{disabled: vm.exportActions.downloading==true}" ng-click="vm.download()" style="display:block" href="/api/payments/file/{{payment.id}}" download>
                                    <h6 class="text-center no-margin">
                                        <span style="display:block;margin-top:4px;font-weight:bold">Descargar    <i ng-show="vm.exportActions.downloading==false" style="color:#00968;font-size:20px" class="fa fa-cloud-download" aria-hidden="true"></i><i ng-show="vm.exportActions.downloading==true" style="font-size:18px;color:#5b9bd1!important" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></span>
                                    </h6>
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-12 no-padding action-export-payment">
                            <a ng-class="{disabled: vm.exportActions.printing==true}" style="display:block" ng-click="vm.print(payment.id)">
                                    <h6 class="text-center no-margin">
                                        <span style="display:block;margin-top:4px;font-weight:bold">Imprimir <i ng-show="vm.exportActions.printing==false" style="font-size:20px" class="fa fa-print" ></i><i ng-show="vm.exportActions.printing==true" style="font-size:18px;color:#5b9bd1!important" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></span>
                                    </h6>
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-12 no-padding action-export-payment">
                            <a ng-class="{disabled: vm.exportActions.sendingEmail==true}" style="display:block" ng-click="vm.sendEmail(payment)">
                                    <h6 class="text-center no-margin">
                                        <span style="display:block;margin-top:4px;font-weight:bold">Enviar por correo <i ng-show="vm.exportActions.sendingEmail==false" style="font-size:18px" class="fa fa-envelope" ng-click="vm.print(payment.id)"></i><i ng-show="vm.exportActions.sendingEmail==true" style="font-size:18px;color:#5b9bd1!important" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></span>
                                    </h6>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td class="note note-info" colspan="3">
                        <h5 class="bold uppercase" style="font-size:12px">Cuotas Canceladas <i class="fa fa-info-circle" style="color:#2a6496" angular-popover direction="right" template="<div style='padding:10px;width:200px;color:gray'><h5>Estos son las cuotas que se cancelaron en el pago.<h5></div>" mode="mouseover"></i></h5>

                        <h5 class="text-center" style="font-weight:bold!important;margin-top:20px">
                            No existen cuotas canceladas con este adelanto de condómino aún
                        </h5>
                    </td>
                </tr>
                <tr ng-repeat="charge in payment.charges track by charge.id" ng-show="payment.isShowingCharges==true">
                    <td rowspan="{{payment.charges.length}}" style="background-color:white!important;position:relative" colspan="3" ng-if="charge.id == payment.charges[0].id">
                        <div class="note note-info col-md-12" style="margin-bottom:30px">
                            <div>
                                <h5 style="font-weight:bold">Comentarios:</h5>
                            </div>
                            <div>
                                <p ng-show="payment.comments!=undefined">{{payment.comments}}</p>
                                <p ng-hide="payment.comments!=undefined">Ninguno</p>
                            </div>
                        </div>
                        <div class="col-md-12" ng-if="payment.ammountLeft>0" style="margin-bottom:30px">
                            <h6 class="bold uppercase text-center" style="color:gray">Dinero disponible para cancelar futuras cuotas: <span class="greenBalance" style="font-weight:bold;font-size:15px">  ₡ {{payment.ammountLeft | currency : "" : 0}}</span> <i class="fa fa-info-circle" style="color:#2a6496" angular-popover direction="right" template="<div style='padding:10px;width:400px;color:gray;'><h5>Este es el restante del pago del adelanto del condómino, será utilizado automaticamente para cancelar futuras cuotas.<h5></div>" mode="mouseover"></i></h6>
                        </div>
                        <div class="col-md-12 " style="position:absolute;bottom:10px;right:4px">
                            <hr style="margin:5px">
                            <div class="col-md-4 col-xs-12 no-padding action-export-payment">
                                <a ng-class="{disabled: vm.exportActions.downloading==true}" ng-click="vm.download()" style="display:block" href="/api/payments/file/{{payment.id}}" download>
                                    <h6 class="text-center no-margin">
                                        <span style="display:block;margin-top:4px;font-weight:bold">Descargar    <i ng-show="vm.exportActions.downloading==false" style="color:#00968;font-size:20px" class="fa fa-cloud-download" aria-hidden="true"></i><i ng-show="vm.exportActions.downloading==true" style="font-size:18px;color:#5b9bd1!important" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></span>
                                    </h6>
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-12 no-padding action-export-payment">
                                <a ng-class="{disabled: vm.exportActions.printing==true}" style="display:block" ng-click="vm.print(payment.id)">
                                    <h6 class="text-center no-margin">
                                        <span style="display:block;margin-top:4px;font-weight:bold">Imprimir <i ng-show="vm.exportActions.printing==false" style="font-size:20px" class="fa fa-print" ></i><i ng-show="vm.exportActions.printing==true" style="font-size:18px;color:#5b9bd1!important" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></span>
                                    </h6>
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-12 no-padding action-export-payment">
                                <a  ng-class="{disabled: vm.exportActions.sendingEmail==true}" style="display:block" ng-click="vm.sendEmail(payment)">
                                    <h6 class="text-center no-margin">
                                        <span style="display:block;margin-top:4px;font-weight:bold">Enviar por correo <i ng-show="vm.exportActions.sendingEmail==false" style="font-size:18px" class="fa fa-envelope" ng-click="vm.print(payment.id)"></i><i ng-show="vm.exportActions.sendingEmail==true" style="font-size:18px;color:#5b9bd1!important" class="fa fa-circle-o-notch fa-spin" aria-hidden="true"></i></span>
                                    </h6>
                                </a>
                            </div>
                        </div>
                    </td>
                    <td rowspan="{{payment.charges.length+1}}" class="note note-info"  colspan="3" ng-if="charge.id == payment.charges[0].id">
                        <h5 class="bold uppercase" style="font-size:12px">Cuotas Canceladas <i class="fa fa-info-circle" style="color:#2a6496" angular-popover direction="down" template="<div style='padding:10px;width:200px;color:gray'><h5>Estos son las cuotas que se cancelaron en el pago.<h5></div>" mode="mouseover"></i></h5>
                        <table class="table table-bordered">
                            <h6 ng-show="payment.charges.length>0 && payment.transaction==2">Fecha de cancelación </h6>
                            <tbody>
                            <tr ng-repeat="chargeIn in payment.charges track by chargeIn.id">
                                <td class="text-center" ng-show="payment.transaction==2">{{chargeIn.paymentDate | date}}
                                    <span style="color:gray;font-size:10px;display:block" class="text-center">Cancelación <i class="fa fa-info-circle" style="color:#2a6496;font-size:12px" angular-popover direction="right" template="<div style='padding:10px;width:250px;color:gray'><h5>Esta es la fecha en que las cuotas fueron canceladas utilizando el dinero del adelanto del condómino<h5></div>" mode="mouseover"></i></span>
                                </td>
                                <td class="text-center" style="padding-top:14px">{{chargeIn.concept}}</td>
                                <td class="text-center">
                                    {{chargeIn.date | date}}
                                 <span style="color:gray;font-size:10px;display:block" class="text-center">Fecha de cobro</span>
                                </td>
                                <td class="text-center" style="padding-top:14px">₡ {{chargeIn.ammount | currency : "" : 0}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="text-center" ng-show="vm.payments.length!=0">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
    </div>
    <uib-pager total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()" ng-show="vm.payments.length!=0"></uib-pager>
</div>
