
<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li>
            <i class="fa fa-home"></i>
            <a>Administrar</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a>Mis vehículos</a>

        </li>
    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right">
        </div>
    </div>
</div>
<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12" id="loadingIcon">
    <div class="spinnerLoading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="row display-none" id="vehicules_container">

    <div class="col-md-12 gray-font">

        <div>
            <h3 class="page-title col-md-4 col-lg-5 col-xs-12 col-sm-4">{{vm.titleVehiculeIndex}}</h3>
        </div>
            <div class="col-md-5 col-sm-5 col-xs-12 col-lg-4">
                <!--<button type="submit" class="btn blue small-margin-bottom col-sm-12 col-lg-12 col-xs-12 " ng-click="vm.switchEnabledDisabledResidents()">{{vm.buttonTitle}}</button>-->
                <div class="form-group form-md-radios">
                    <div class="md-radio-inline">

                        <div class="md-radio" >
                            <input type="radio" id="radio23" name="radio2" class="md-radiobtn" checked=""  ng-click="vm.swithEnabledDisabledVehicules()">
                            <label for="radio23" style="color:#45B6AF">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Habilitados </label>
                        </div>
                        <div class="md-radio has-error">
                            <input type="radio" id="radio24" name="radio2" class="md-radiobtn"  ng-click="vm.swithEnabledDisabledVehicules()">
                            <label for="radio24">
                                <span class="inc"></span>
                                <span class="check"></span>
                                <span class="box"></span>
                                Deshabilitados </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 col-lg-3 ">
                <button type="submit" class="btn green small-margin-bottom col-sm-12 col-lg-12 col-xs-12 col-md-12" ui-sref="vehiculeByHouse.new()">Registrar vehículo</button>
            </div>
            <div ng-show="vm.vehicules.length==0" class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-top:30px">
                <h2  class="text-center gray-font ">No hay vehículos registrados</h2>
            </div>
            <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12" ng-repeat="vehicule in vm.vehicules ">
                <div class="portlet light bordered text-center col-sm-12 col-xs-12 ">
                    <h1 ng-show="vehicule.type=='Automóvil'" class="col-lg-6 text-center "><i class=" text-center fa fa-car font-60 " style="color: {{vehicule.color}}; text-shadow: 0px 0px 1px black;" aria-hidden="true "></i> </h1>
                    <h1 ng-show="vehicule.type=='Motocicleta'" class="col-lg-6 text-center "><i class=" text-center fa fa-motorcycle font-60 " style="color: {{vehicule.color}}; text-shadow: 0px 0px 1px black;" aria-hidden="true "></i> </h1>
                    <div class="col-lg-6 no-padding ">
                        <h3 class="no-padding ">{{vehicule.brand}}</h3>
                        <h5>Marca</h5>
                    </div>
                    <div class="col-lg-6 ">
                        <h3 class="no-padding no-margin " style='text-transform:uppercase'>{{vehicule.licenseplate}}</h3>
                        <h5>Placa</h5>
                    </div>

                    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 small-margin-top ">
                        <button type="submit" ng-click="vm.editVehicle(vehicule.id)" class="col-md-5 btn blue "><i class="fa fa-pencil "></i></button>
                        <button type="submit"  class="col-md-5 btn {{vm.color}}"  ng-click="vm.disableEnabledVehicule(vehicule)" title="{{vm.titleDisabledButton}}"><i class="{{vm.iconDisabled}}"></i></button>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

</div>
