<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>
<div ng-if="vm.isReady" ng-cloak layout="column"
     class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding fade-in">
    <md-toolbar class="form-title" hide-sm hide-xs>
        <h2>{{mainTitle}}</h2>
    </md-toolbar>
    <md-content layout-padding class="form-content">
        <form name="form" ng-submit="vm.save()">
            <span ng-hide="true">{{setInvalidForm(form.$invalid)}}</span>
                <div layout="row" layout-xs="column" class="marging-top-20 ">
                    <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg">
                        <md-input-container class="md-block">
                            <label>Número de filial</label>
                            <input required  ng-model="vm.house.housenumber" type="text" ng-disabled="vm.resident.found==1"
                                   class="uppercase" required>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Estado</label>
                            <md-select ng-model="vm.house.isdesocupated" ng-required='vm.required==1'>
                                <md-option value="0">
                                    Habitada
                                </md-option>
                                <md-option value="1">
                                    Deshabitada
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Extensión o teléfono de filial</label>
                            <input  maxlength="20"  ng-model="vm.house.extension">
                        </md-input-container>
                    </div>

                    <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg">
                        <md-input-container class="md-block">
                            <label>Clave de seguridad</label>
                            <input  ng-model="vm.house.securityKey" type="text"
                                   maxlength="20" class="">
                        </md-input-container>
                        <md-input-container class="md-block"  ng-show="vm.companyConfiguration.hasContability==1">
                            <label>Clave de emergencia</label>
                            <input ng-model="vm.house.emergencyKey">
                        </md-input-container>
                        <md-input-container class="md-block"  ng-show="vm.companyConfiguration.hasContability==1">
                            <label>Cuota</label>
                            <input format="currency" ng-model="vm.house.due"
                                   maxlength="20" class="">
                        </md-input-container>
                        <md-input-container class="md-block"  ng-show="vm.companyConfiguration.hasContability==1">
                            <label>Metros cuadrados</label>
                            <input  ng-model="vm.house.squareMeters" type="number" min="0" class="">
                        </md-input-container>

                    </div>
                </div>

                <div layout="row" class="white-bg" layout-align="end center" hide-sm hide-xs>
                    <md-button type="button" ng-click="back()"
                               class="md-warn md-raised">Cancelar
                    </md-button>
                    <md-button class="md-primary md-raised" ng-disabled="form.$invalid || vm.isSaving" type="submit">
                        {{vm.button}}
                    </md-button>
                </div>
        </form>
    </md-content>
</div>
