<md-card>
    <md-card-title hide-sm hide-xs layout-align="space-between center">
        <md-card-title-text>
            <span class="md-headline">
                <i class="material-icons material-icons-with-text" hide-sm hide-xs
                   ng-click="back()">arrow_back</i>Filial {{vm.house.housenumber}}</span>
        </md-card-title-text>

    </md-card-title>
    <md-card-content style="padding: 0px!important;" layout="column" class="">
        <div layout="row" layout-xs="column" flex style="padding: 15px">
            <div layout="row" layout-align="start center" flex>
                <span class=" bold  control-label margin-right-10">Correo:</span>
                <span class="control-label"> {{vm.house.email}} </span>
            </div>
            <div layout="row" layout-align="start center" flex>
                <span class=" bold  control-label margin-right-10">Número de teléfono:</span>
                <span class="control-label" ng-if="vm.house.phonenumber"> {{vm.house.phonenumber}} </span>
                <span class="control-label" ng-if="!vm.house.phonenumber"> No registrado </span>
            </div>
            <div layout="row" layout-align="start center" flex>
                <span class=" bold  control-label margin-right-10">Clave de seguridad:</span>
                <span class="control-label" ng-if="vm.house.securityKey"> {{vm.house.securityKey}} </span>
                <span class="control-label" ng-if="!vm.house.securityKey"> No definida </span>
            </div>
            <div layout="row" layout-align="start center" flex>
                <span class=" bold  control-label margin-right-10">Clave de emergencia:</span>
                <span class="control-label" ng-if="vm.house.emergencyKey"> {{vm.house.emergencyKey}} </span>
                <span class="control-label" ng-if="!vm.house.emergencyKey"> No definida </span>
            </div>
<!--            <div layout="row" layout-align="space-between center" layout-xs="column" flex="100" style="margin: 20px 0">-->
<!--                <div layout="row" layout-align="center center" flex>-->
<!--                    <span class=" bold  control-label margin-right-10 font-15">Tamaño Total:</span>-->
<!--                    <span class="control-label font-15"> {{vm.house.typeTotal.size}} m2</span>-->
<!--                </div>-->
<!--                <div layout="row" layout-align="center center" flex>-->
<!--                    <span class=" bold  control-label margin-right-10 font-15">Copropiedad Total:</span>-->
<!--                    <span class="control-label font-15"> {{vm.house.typeTotal.jointOwnershipPercentage}} %</span>-->
<!--                </div>-->
<!--                <div layout="row" layout-align="center center" flex>-->
<!--                    <span class=" bold  control-label margin-right-10 font-15">Cuota Total:</span>-->
<!--                    <span class="control-label font-15">$ {{vm.house.typeTotal.ammount}}</span>-->
<!--                </div>-->
<!--            </div>-->
        </div>

        <md-toolbar class="form-title">
            <h2>División de Fincas filiales</h2>
        </md-toolbar>
        <md-card>
            <md-card-content layout="row" layout-align="space-around center">
                <div layout="row" layout-align="start center" flex="50">
                    <i class="material-icons circle-icon-medium" style="font-size: 40px">home</i>
                    <span style="margin-left:10px">{{vm.house.type.description}}</span>
                </div>
                <div layout="row" layout-align="start center" layout-xs="column" flex="50">
                    <div layout="row" layout-align="start center" flex>
                        <span class=" bold  control-label margin-right-10">Tamaño:</span>
                        <span class="control-label"> {{vm.house.type.size}} m2</span>
                    </div>
                    <div layout="row" layout-align="start center" flex>
                        <span class=" bold  control-label margin-right-10">Copropiedad:</span>
                        <span class="control-label"> {{vm.house.type.jointOwnershipPercentage}} %</span>
                    </div>
                    <div layout="row" layout-align="start center" flex>
                        <span class=" bold  control-label margin-right-10">Cuota:</span>
                        <span class="control-label">$ {{vm.house.type.ammount | currency : "" : 0}}</span>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <md-card ng-repeat="subsidiary in vm.house.subsidiaries | orderBy: 'subsidiaryTypeId'">
            <md-card-content layout="row" layout-align="space-around center">
                <div layout="row" layout-align="start center" flex="50">
                    <i class="material-icons circle-icon-medium" style="font-size: 40px"
                       ng-if="subsidiary.type.subsidiaryType==2">local_parking</i>
                    <i class="material-icons circle-icon-medium" style="font-size: 40px"
                       ng-if="subsidiary.type.subsidiaryType==3">home_work</i>
                    <span style="margin-left:10px">{{subsidiary.type.description}}</span>
                </div>
                <div layout="row" layout-align="start center" layout-xs="column" flex="50">
                    <div layout="row" layout-align="start center" flex>
                        <span class=" bold  control-label margin-right-10">Tamaño: </span>
                        <span class="control-label"> {{subsidiary.type.size}} m2</span>
                    </div>
                    <div layout="row" layout-align="start center" flex>
                        <span class=" bold  control-label margin-right-10">Copropiedad: </span>
                        <span class="control-label"> {{subsidiary.type.jointOwnershipPercentage}} %</span>
                    </div>
                    <div layout="row" layout-align="start center" flex>
                        <span class=" bold  control-label margin-right-10">Cuota: </span>
                        <span class="control-label">${{subsidiary.type.ammount}}</span>
                    </div>
                </div>
            </md-card-content>
        </md-card>
        <md-toolbar class="form-title">
            <div layout="row" layout-align="space-between center" layout-xs="column" flex="100" style="margin: 20px 0">
                <div layout="row" layout-align="center center" flex>
                    <span class=" bold  control-label margin-right-10 font-15 black-font">Tamaño Total:</span>
                    <span class="control-label font-15 black-font"> {{vm.house.typeTotal.size}} m2</span>
                </div>
                <div layout="row" layout-align="center center" flex>
                    <span class=" bold  control-label margin-right-10 font-15 black-font">Copropiedad Total:</span>
                    <span
                        class="control-label font-15 black-font"> {{vm.house.typeTotal.jointOwnershipPercentage}} %</span>
                </div>
                <div layout="row" layout-align="center center" flex>
                    <span class=" bold  control-label margin-right-10 font-15 black-font">Cuota Total:</span>
                    <span class="control-label font-15 black-font">$ {{vm.house.typeTotal.ammount}}</span>
                </div>
            </div>
        </md-toolbar>
    </md-card-content>
</md-card>
<md-button has-any-authority="ROLE_MANAGER" ng-click="vm.editHouse(vm.house.id)" style="position: fixed" class="md-fab md-fab-bottom-right orange-button-oficial">
    <md-tooltip md-direction="left" class="font-13 bold white-color">Editar filial</md-tooltip>
    <md-icon class="white-color">create</md-icon>
</md-button>
