<div>
    <h2 data-translate="aditumApp.juntaDirectivaAccount.home.title">Junta Directiva Accounts</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="junta-directiva-account.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="aditumApp.juntaDirectivaAccount.home.createLabel">
                        Create new Junta Directiva Account
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="aditumApp.juntaDirectivaAccount.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="companyId"><span data-translate="aditumApp.juntaDirectivaAccount.company">Company</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="userLogin"><span data-translate="aditumApp.juntaDirectivaAccount.user">User</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="juntaDirectivaAccount in vm.juntaDirectivaAccounts track by juntaDirectivaAccount.id">
                    <td><a ui-sref="junta-directiva-account-detail({id:juntaDirectivaAccount.id})">{{juntaDirectivaAccount.id}}</a></td>
                    <td>{{juntaDirectivaAccount.email}}</td>
                    <td>
                        <a ui-sref="company-detail({id:juntaDirectivaAccount.companyId})">{{juntaDirectivaAccount.companyId}}</a>
                    </td>
                    <td>
                        {{juntaDirectivaAccount.userLogin}}
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="junta-directiva-account-detail({id:juntaDirectivaAccount.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="junta-directiva-account.edit({id:juntaDirectivaAccount.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="junta-directiva-account.delete({id:juntaDirectivaAccount.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
