<!-- SE REQUIERE EN CADA VISTA -->
<div class="page-bar route-title">
    <ul class="page-breadcrumb">
        <li ui-sref="common-area-resident-account" >
            <i class="fa fa-tree"></i>
            <a >Áreas comunes</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            <a >Crear reservación</a>

        </li>

    </ul>
    <div class="page-toolbar">
        <div class="btn-group pull-right" style="padding-top:10px;">
            <i class="fa fa-lightbulb-o" style="font-size:20px; color:orange"></i>
        </div>
    </div>
</div>

<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 " id="loadingIcon">
    <div class="spinnerLoading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<div class="display-none" id="register_edit_form">
    <div class="row">
        <div class="col-md-12 ">
            <div class="portlet light bordered">
                <div class="portlet-title">
                    <div class="caption font-green-haze">

                        <span class="caption-subject bold uppercase">{{vm.reservationTitle}} reservación</span>
                    </div>


                </div>
                <div class="portlet-body form " >
                    <form name="editForm" id="form" role="form" novalidate ng-submit=" vm.confirmMessage()" show-validation>

                        <div class="form-body col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 no-padding">

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding form-group">
                                    <div class=" col-lg-5 col-md-5  col-sm-5 col-xs-5 no-padding-left margin-top-10">
                                        <span class="font-13 bold control-label" >Condómino responsable</span>
                                    </div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-group">
                                        <select class="form-control gray-font" id="field_responsable" name="responsable" ng-model="vm.commonAreaReservations.residentId" ng-options="resident.id as resident.name for resident in vm.residents | orderBy: 'name'" required ng-required='vm.required==1'>
                                            <option value="">Seleccione un condómino</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group">

                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-5 no-padding-left margin-top-10">
                                        <span class="font-13 bold  control-label">Área común </span>
                                    </div>
                                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right no-padding-right padding-top-10"><span id="loadingSchedule" class="display-none"> <i  style="font-size:18px;color:#5b9bd1!important"  class="fa fa-circle-o-notch fa-spin " aria-hidden="true"></i></span></div>
                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-group ">
                                        <select class="form-control gray-font" id="field_commonarea" name="house" ng-change="vm.loadSchedule()" ng-model="vm.commonarea.id" ng-options="commonarea.id as commonarea.name for commonarea in vm.commonareas " required ng-required='vm.required==1'>
                                            <option value="">Seleccione una área común</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding display-none" id="scheduleDiv">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding ">
                                        <div class=" col-lg-5 col-md-5  col-sm-5 col-xs-5 no-padding-left margin-top-10">
                                            <span class="font-13 bold control-label" >Horas permitidas para reservar</span>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-group">
                                            <table class="jh-table table  table-bordered  flip-content" style="font-size:13px;">
                                                <thead style="background-color: #F1F8E9">
                                                <tr>
                                                    <th>Días disponibles</th>
                                                    <th>Horario</th>
                                                </tr>
                                                </thead>
                                                <tbody style="background-color: #f8fafc">
                                                <tr ng-repeat="schedule in vm.schedule track by $index">
                                                    <td >{{schedule.day}}</td>
                                                    <td >{{schedule.time}}</td>

                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="text-center">{{vm.maximunHoursTitle}} <span class="bold">{{vm.maximunHours}} </span></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding form-group" style="margin-bottom:0px;">

                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 no-padding-left margin-top-10">
                                            <span class="font-13 bold control-label" >Fecha</span>
                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 text-right no-padding-right padding-top-10"><span id="loadingAvailability" class="display-none"> <i  style="font-size:18px;color:#5b9bd1!important"  class="fa fa-circle-o-notch fa-spin " aria-hidden="true"></i></span></div>

                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-group" ng-if="vm.commonAreaReservations.id==undefined">
                                            <input ng-model="vm.commonAreaReservations.initalDate" id="field_expirationDate"
                                                   name="expirationDate" ng-click="vm.openCalendar('expirationDate')"
                                                   enable-time="false"
                                                   datetime-picker="fullDate"
                                                   datepicker-options="vm.picker.datepickerOptions"
                                                   is-open="vm.datePickerOpenStatus.expirationDate"
                                                   ng-change="vm.checkAvailability()"
                                                   type="text" class="form-control letters gray-font dating"
                                                   placeholder="Seleccione una fecha"
                                                   ng-class="{redBorder: vm.dateNotPermited==true}"
                                                   required>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-group" ng-if="vm.commonAreaReservations.id!=undefined">
                                            <input ng-model="vm.commonAreaReservations.initalDate" id="field_initialDate"
                                                   name="expirationDate" ng-click="vm.openCalendar('expirationDate')"
                                                   enable-time="false"
                                                   datetime-picker="dd MMMM yyyy"
                                                   datepicker-options="vm.picker.datepickerOptions"
                                                   is-open="vm.datePickerOpenStatus.expirationDate"
                                                   ng-change="vm.checkAvailability()"
                                                   type="text" class="form-control letters gray-font dating"
                                                   placeholder="Seleccione una fecha"
                                                   ng-class="{redBorder: vm.dateNotPermited==true}"
                                                   required>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding form-group no-margin"  ng-if="vm.allDaySchedule==1">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 no-padding-left margin-top-10">
                                            <span class="font-13 bold control-label" >Horario</span>
                                        </div>

                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  form-group">

                                            <select ng-change="vm.validateDaysInitialHours(vm.timeSelected.initialTime,$index)" required type="text" name="initialTime" class="form-control" ng-model="vm.timeSelected.initialTime" ng-options="hour as hour.time for hour in vm.hours" ng-required='vm.required==1'>
                                                <option value="">Seleccione una hora</option>
                                            </select>

                                        </div>
                                        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 no-padding form-group">
                                            <h6 class="text-center font-16">hasta</h6>

                                        </div>
                                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3  form-group ">
                                            <select ng-change="vm.validateDaysFinalHours(vm.timeSelected.finalTime)"  name="finalTime" required type="text" class="form-control " ng-model="vm.timeSelected.finalTime" ng-options="hour as hour.time for hour in vm.hours" ng-required='vm.required==1'>
                                                <option value="">Seleccione una hora</option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  form-group" >
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3 no-padding-left margin-top-10">

                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-group">
                                            <div class="input-group form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center " ng-if="vm.scheduleIsAvailable" style="padding: 10px; background-color:#c8e6c9" >

                                                <span class="font-13" style="color:#388e3c"><i class="fa fa-check-circle font-19"  aria-hidden="true"></i>  Las horas seleccionadas se encuentran disponibles para reservar.</span>

                                            </div>
                                            <div class="input-group form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center " ng-if="vm.scheduleNotAvailable" style="padding: 10px; background-color:#ef9a9a" >

                                                <span class="font-13" style="color:#b71c1c"><i class="fa fa-times-circle font-19"  aria-hidden="true"></i>  Las horas seleccionadas se encuentran ocupadas para reservar.</span>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  form-group" >
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3 no-padding-left margin-top-10">
                                            <span class="font-13 bold control-label" >Cuota por reservación </span>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-group">
                                            <span ng-if="vm.commonarea.chargeRequired==1">₡ {{vm.formatearNumero(vm.commonarea.reservationCharge+"")}}</span>
                                            <span ng-if="vm.commonarea.chargeRequired!==1">No requiere </span>
                                            <!--<div class="input-group form-group">-->
                                                <!--<span class="input-group-addon">₡</span>-->
                                                <!--<input ng-class="{redBorder: vm.commonarea.reservationChargeValida==false}" ng-change="vm.validateReservationCharge(vm.commonarea)" type="text" class="form-control numbers" name="reservationCharge" id="field_reservationCharge"-->
                                                       <!--ng-model="vm.commonarea.reservationCharge"  placeholder="0.00" required-->
                                                <!--/>-->
                                            <!--</div>-->

                                        </div>


                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  form-group"  ng-if="vm.commonarea.chargeRequired==1">
                                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-3 no-padding-left margin-top-10">
                                            <span class="font-13 bold control-label" >Dinero a devolver </span>
                                            <span  style="z-index:9999" angular-popover direction="right" template="<div style='padding:5px;width:350px;color:#4DB3A2;font-weight:bolder'><h5 style='font-size:15px!important'>Dinero que se devuelve al condómino una vez que el área comùn se utilizó.<h5></div>" mode="mouseover"><i class="fa fa-info-circle" style="color:#4DB3A2;font-size:18px;background:white"></i></span>
                                        </div>
                                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7 form-group">
                                            <span>₡ {{vm.formatearNumero(vm.commonarea.devolutionAmmount+"")}}</span>
                                            <!--<div class="input-group form-group">-->
                                                <!--<span class="input-group-addon">₡</span>-->
                                                <!--<input  ng-class="{redBorder: vm.commonarea.devolutionAmmountValida==false}" type="text" class="form-control numbers" name="devolutionAmmount" ng-change="vm.validateDevolutionAmmount(vm.commonarea)" id="field_devolutionAmmount" placeholder="0.00"-->
                                                        <!--required ng-model="vm.commonarea.devolutionAmmount"-->
                                                <!--/>-->
                                            <!--</div>-->

                                        </div>


                                    </div>


                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 no-padding display-none" id="commonAreaImage" >
                                <!--<h3 class="text-center no-margin" ng-hide="vm.displayImage || vm.resident.image_url!==null" >-->
                                <!--<img width="200" height="200" class="img-circle" src="content/images/nobody-image.jpg"/>-->
                                <!--</h3>-->
                                <div ng-if="vm.commonarea.picture">
                                    <a ng-click="vm.openFile(vm.commonarea.pictureContentType, vm.commonArea.picture)">
                                        <img data-ng-src="{{'data:' + vm.commonarea.pictureContentType + ';base64,' + vm.commonarea.picture}}" style=" width: 100%; height: auto;" alt="commonarea image"/>
                                    </a>
                                </div>



                            </div>
                        </div>






                        <div class="form-actions noborder" style="padding-bottom:0px;">
                            <h3 class="text-right">

                                <button type="submit"  ng-disabled="editForm.$invalid || vm.isSaving" class="btn blue">Reservar</button>
                                <button type="button"  ui-sref="common-area-administration.common-area" class="btn red default">Cancelar</button>


                            </h3>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>





