
<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>
</div>

<div ng-if="vm.isReady" class=" fade-in" >
<div class="col-md-12 no-padding  margin-bottom-20" ng-if="vm.finalListReservations.length> 0 ">
    <div class="">
        <div class="form-group no-padding col-md-11 col-sm-10 col-xs-10" style="margin-bottom: 0px;"
             id="index-search-bar">
            <div class="input-icon" style="color:#484848!important;">
                <i class="fa fa-search"></i>
                <input type="text" class="form-control "
                       style="background-color: #f5f5f5; border:0px!important; "
                       placeholder="Buscar" ng-model="vm.search">
            </div>
        </div>
        <div class="col-md-1 col-sm-2 col-xs-2 no-padding-right">
            <button type="submit" ng-click="vm.showFilterDiv=!vm.showFilterDiv;"
                    class="btn col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding green-button-oficial"
                    style="height: 34px!important; padding-top: 5px!important;">
                <md-tooltip md-direction="left" class="font-13 bold white-color">Filtrar</md-tooltip>
                <i class="material-icons " style="font-size: 24px!important;">filter_list</i></button>

        </div>
    </div>
</div>

<div class="slide-box slide-toggle-js col-md-12 no-padding" ng-if="vm.showFilterDiv">

    <div layout="row" class="">

        <md-button class="md-raised md-primary thin-btn" ng-click="vm.stopConsulting()" ng-show="vm.isConsulting==true"> Movimientos todos
        </md-button>

        <md-input-container class="md-block no-margin">
            <md-datepicker md-max-date="vm.dates.final_time" required ng-model="vm.dates.initial_time"
                           md-hide-icons="calendar"
                           md-placeholder="Fecha de inicio" md-open-on-focus
                           required></md-datepicker>
        </md-input-container>

        <md-input-container class="md-block no-margin">
            <md-datepicker md-min-date="vvm.dates.initial_time" required ng-model="vm.dates.final_time"
                           md-hide-icons="calendar"
                           md-placeholder="Fecha final" md-open-on-focus
                           required></md-datepicker>
        </md-input-container>

        <md-button class="md-raised  md-warn thin-btn no-margin-right " ng-click="vm.consult()"
                   ng-disabled="vm.dates.initial_time == undefined || vm.dates.final_time == undefined || vm.dates.initial_time == '' || vm.dates.final_time == '' ">
            Consultar
        </md-button>
    </div>

</div>



    <div class="col-lg-12 col-md-12 no-padding" id="tableDatas">

        <div class="portlet-body">

            <no-content ng-if="vm.finalListReservations.length == 0" icon="local_florist" text="No hay reservaciones registradas"></no-content>

            <div class="table-scrollable hidden-xs gray-font" ng-if="vm.finalListReservations.length>0" style="border: 0px!important;">
                <table class=" table  table-hover tableMaterialDesign" style="font-size:13px;">
                    <thead style="background-color: #fafafa;">
                    <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th class="text-center">Ver</th>
                        <th>Fecha</th>
                        <th>Horario</th>
                        <th class="text-center">Filial</th>
                        <th>Responsable</th>
                        <th>Área común</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="finalListReservations in vm.finalListReservations"  >
                        <td class="text-center"  style="padding: 5px!important; padding-top: 7px!important;"><button type="button" class="btn " style=" background-color: #45b6af; color: white; " ng-if="finalListReservations.status==1" ui-sref="common-area-administration.common-area-all-reservations.reservationDetail({id:finalListReservations.id})" name="button">Ver</button> <button type="button" class="btn " style=" background-color: #45b6af; color: white; " ng-if="finalListReservations.status==2" ui-sref="common-area-administration.common-area-all-reservations.acceptedReservationsDetail({id:finalListReservations.id})" name="button">Ver</button></td>
                        <td>{{finalListReservations.initalDate | date:'longDate'}}</td>
                        <td >{{finalListReservations.schedule}}</td>
                        <td class="text-center">{{finalListReservations.houseNumber}}</td>
                        <td>{{finalListReservations.residentName}}</td>
                        <td>{{finalListReservations.commonAreaName}}</td>
                        <td class="text-center" ><span  ng-if="finalListReservations.status==1" aria-hidden="false">PENDIENTE</span><span  ng-if="finalListReservations.status==2" aria-hidden="false">APROBADA</span><span  ng-if="finalListReservations.status==3" aria-hidden="false">RECHAZADA</span></td>


                        <td class="text-center " style="padding-top: 10px!important; padding-bottom: 0px!important;">
                            <md-menu md-position-mode="target-right target"  ng-if="finalListReservations.status==1">
                                <md-button aria-label="Open demo menu" class="md-icon-button no-padding" ng-click="$mdMenu.open($event)">
                                    <i class="material-icons" style="color:#999"><md-tooltip md-direction="left" class="font-13 bold white-color">Opciones</md-tooltip>more_vert</i>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ui-sref="common-area-administration.edit({id:finalListReservations.id})">
                                            <div layout="row" flex>
                                                <p flex>Editar</p>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.deleteReservation(finalListReservations)" >
                                            <div layout="row" flex>
                                                <p flex>Eliminar</p>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center" ng-if="vm.finalListReservations.length>0">
                <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
            </div>
        </div>
    </div>
    <md-button ui-sref="common-area-administration.newReservation" style="position: fixed"
               class="md-fab md-fab-bottom-right orange-button-oficial" aria-label="Add new">
        <md-tooltip md-direction="left" class="font-13 bold white-color">Crear nueva reservación</md-tooltip>
        <md-icon class="white-color">add</md-icon>
    </md-button>
</div>
