<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>
</div>

<div ng-if="vm.isReady" class="row fade-in" >

    <div class="col-lg-12 col-md-12 " id="tableDatas">

        <div class="portlet-body">

            <no-content ng-if="vm.commonAreaReservations.length == 0" icon="local_florist" text="No hay reservaciones pendientes"></no-content>

                 <div class="table-scrollable hidden-xs gray-font" ng-if="vm.commonAreaReservations.length>0" style="border: 0px!important;">
                    <table class=" table  table-hover tableMaterialDesign" style="font-size:13px;">
                            <thead style="background-color: #fafafa;">
                                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                    <th class="text-center">Ver</th>
                                    <th>Responsable</th>
                                    <th class="text-center">Filial</th>
                                    <th>Área común</th>
                                    <th>Fecha reservado</th>
                                    <th class="text-center" >Horario</th>
                                    <th class="text-center">Estado</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  ng-repeat="commonAreaReservations in vm.commonAreaReservations | orderBy:'initalDate'">

                                    <td class="text-center" style="padding: 5px!important; padding-top: 7px!important;"> <button type="button" class="btn " style=" background-color: #45b6af; color: white; " ui-sref="common-area-administration.common-area-reservations.reservationDetail({id:commonAreaReservations.id})" name="button">Ver</button>
                                    </td>
                                    <td>{{commonAreaReservations.residentName}}</td>
                                    <td class="text-center">{{commonAreaReservations.houseNumber}}</td>
                                    <td>{{commonAreaReservations.commonAreaName}}</td>
                                    <td>{{commonAreaReservations.initalDate | date:'longDate'}}</td>
                                    <td class="text-center" >{{commonAreaReservations.schedule}}</td>
                                    <td class="text-center" ><span  ng-show="commonAreaReservations.status==1" aria-hidden="false">PENDIENTE</span></td>

                                </tr>
                            </tbody>
                        </table>
                </div>
                <div class="text-center" ng-if="vm.commonAreaReservations.length>0">
                    <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
                    <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                </div>
        </div>
    </div>
    <md-button ui-sref="common-area-administration.newReservation" style="position: fixed"
               class="md-fab md-fab-bottom-right orange-button-oficial" aria-label="Add new">
        <md-tooltip md-direction="left" class="font-13 bold white-color">Crear nueva reservación</md-tooltip>
        <md-icon class="white-color">add</md-icon>
    </md-button>
</div>
