

<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>

<div ng-if="vm.isReady" ng-cloak layout="column"
     class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding fade-in no-margin-top-xs-sm">
    <md-toolbar class="form-title"  hide-sm hide-xs layout-align="space-between center" layout="row">
        <h2>{{vm.title}}</h2>

    </md-toolbar>
    <md-content layout-padding class="form-content">
        <div>
            <form name="form" ng-submit=" vm.confirmMessage()">
                <span ng-hide="true">{{setInvalidForm(form.$invalid)}}</span>
                <div layout="row" layout-xs="column" class=" ">
                    <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg divFormsMDXS">
                        <md-input-container class="md-block">
                            <label>Seleccione una filial</label>
                            <md-select ng-change="vm.residentsByHouse()" ng-model="vm.commonAreaReservations.houseId"
                                       name="maximunHours" required>
                                <md-option ng-value="house.id" ng-repeat="house in vm.houses">
                                    {{house.housenumber}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <md-input-container class="md-block" style="margin-bottom: 24px!important;">
                            <label>Seleccione un área común</label>
                            <md-select ng-change="vm.loadSchedule()" ng-model="vm.commonarea.id" name="commonArea"
                                       style="margin-bottom: 3px!important;" required>
                                <md-option ng-value="commonarea.id" ng-repeat="commonarea in vm.commonareas">
                                    {{commonarea.name}}
                                </md-option>
                            </md-select>
                        </md-input-container>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding display-none fade-in"
                             id="scheduleDiv">
                            <md-input-container class="md-block hidden-lg hidden-md hidden-sm no-margin-top"  >
                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-padding "
                                     id="commonAreaImage1" style="margin-bottom: 5px!important;">
                                    <div ng-if="vm.commonarea.picture">
                                        <a ng-click="vm.openFile(vm.commonarea.pictureContentType, vm.commonArea.picture)">
                                            <img
                                                data-ng-src="{{'data:' + vm.commonarea.pictureContentType + ';base64,' + vm.commonarea.picture}}"
                                                style=" width: 100%; height: auto;" alt="commonarea image"/>
                                        </a>
                                    </div>
                                </div>
                            </md-input-container>
                            <md-input-container class="md-block" style="margin-top: 0px!important;">
                                <table class="jh-table table  table-bordered  flip-content" style="font-size:13px; ">
                                    <thead style="background-color: #fafafa">
                                    <tr>
                                        <th>Días disponibles</th>
                                        <th>Horario</th>
                                    </tr>
                                    </thead>
                                    <tbody style="">
                                    <tr ng-repeat="schedule in vm.schedule track by $index">
                                        <td>{{schedule.day}}</td>
                                        <td>{{schedule.time}}</td>

                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-center">{{vm.maximunHoursTitle}} <span class="bold">{{vm.maximunHours}} </span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </md-input-container>
                            <md-input-container ng-class="{'md-input-invalid': vm.dateNotPermited==true}"
                                                class="md-block  no-margin-bottom">
                                <label>Seleccione fecha a reservar</label>
                                <md-datepicker class="datePicker" readonlydatepicker class="datePicker" readonlydatepicker class="datePicker" readonlydatepicker ng-change="vm.checkAvailability()" md-min-date="vm.today"
                                               ng-model="vm.commonAreaReservations.initalDate"
                                               md-hide-icons="calendar"
                                               md-open-on-focus></md-datepicker>
                            </md-input-container>

                            <div ng-if="vm.allDaySchedule==1" class="col-md-12 no-padding">
                                <div class="col-md-6 no-padding-left" id="timeSelectCommonAreaReservation">
                                    <md-input-container class="md-block">
                                        <label>Hora de inicio</label>
                                        <md-select
                                            ng-change="vm.validateDaysInitialHours(vm.timeSelected.initialTime,$index)"
                                            ng-model="vm.timeSelected.initialTime" name="initialTime" required>
                                            <md-option
                                                       ng-model="item.initialTime" ng-value="hour"
                                                       ng-repeat="hour in vm.hours">
                                                {{hour.time}}
                                            </md-option>
                                        </md-select>


                                    </md-input-container>

                                </div>
                                <div class="col-md-6 no-padding">
                                    <md-input-container class="md-block"
                                                        ng-class="{'md-input-invalid': vm.timeSelected.finalTime.isValid==false}">
                                        <label>Hora de fin</label>
                                        <md-select ng-change="vm.validateDaysFinalHours(vm.timeSelected.finalTime)"
                                                   ng-model="vm.timeSelected.finalTime" name="finalTime" required>
                                            <md-option
                                                       ng-model="item.finalTime" ng-value="hour"
                                                       ng-repeat="hour in vm.hours">
                                                {{hour.time}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>


                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                                <div
                                    class="input-group form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fade-in "
                                    ng-if="vm.scheduleIsAvailable"
                                    style="padding: 10px; background-color:#c8e6c9">

                                                <span class="font-13" style="color:#388e3c"><i
                                                    class="fa fa-check-circle font-19" aria-hidden="true"></i>  Las horas seleccionadas se encuentran disponibles para reservar.</span>

                                </div>
                                <div
                                    class="input-group form-group col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center fade-in"
                                    ng-if="vm.scheduleNotAvailable"
                                    style="padding: 10px; background-color:#ef9a9a">

                                                <span class="font-13" style="color:#b71c1c"><i
                                                    class="fa fa-times-circle font-19" aria-hidden="true"></i>  Las horas seleccionadas se encuentran ocupadas para reservar.</span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg divFormsMDXS">

                        <md-input-container class="md-block" style="margin-bottom: 24px!important;">
                            <label>Seleccione un condómino</label>
                            <md-select ng-model="vm.commonAreaReservations.residentId" name="resident"
                                       style="margin-bottom: 3px!important;" required>
                                <md-option ng-value="resident.id" ng-repeat="resident in vm.residents">
                                    {{resident.name}}
                                </md-option>
                            </md-select>
                            <div class="hint" style="color:#dd2c00;"
                                 ng-if="vm.commonAreaReservations.houseId!==null && vm.residents.length==0">No hay
                                condóminos asociados con esta filial.
                            </div>
                        </md-input-container>
                        <md-input-container class="md-block hidden-xs " >
                            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 no-padding display-none"
                                 id="commonAreaImage" style="margin-bottom: 24px!important;">
                                <!--<h3 class="text-center no-margin" ng-hide="vm.displayImage || vm.resident.image_url!==null" >-->
                                <!--<img width="200" height="200" class="img-circle" src="content/images/nobody-image.jpg"/>-->
                                <!--</h3>-->
                                <div ng-if="vm.commonarea.picture">
                                    <a ng-click="vm.openFile(vm.commonarea.pictureContentType, vm.commonArea.picture)">
                                        <img
                                            data-ng-src="{{'data:' + vm.commonarea.pictureContentType + ';base64,' + vm.commonarea.picture}}"
                                            style=" width: 100%; height: auto;" alt="commonarea image"/>
                                    </a>
                                </div>


                            </div>
                        </md-input-container>
                        <md-input-container class="md-block">
                            <label>Comentarios</label>
                            <textarea name="description" id="field_description" ng-model="vm.commonAreaReservations.comments"
                                      style="margin-top: -5px;"
                                      rows="2" md-select-on-focus></textarea>
                        </md-input-container>
                        <md-input-container class="md-block margin-top-20 col-md-12 no-padding" ng-if="vm.commonarea.chargeRequired==1">
                            <label >Cuota por reservación</label>
                            <input type="text" class="form-control" format="currency" placeholder="0.00"
                                   ng-model="vm.commonarea.reservationCharge"
                                   required
                            />
                        </md-input-container>

                        <md-input-container class="md-block margin-top-20 col-md-12 no-padding" ng-if="vm.commonarea.chargeRequired==1">
                            <label>Dinero a devolver una vez utilizado</label>
                            <input type="text" class="form-control" format="currency" placeholder="0.00"
                                   ng-model="vm.commonarea.devolutionAmmount"
                                   required
                            />
                        </md-input-container>
                    </div>
                </div>

                <div layout="row" class="white-bg" layout-align="end center" hide-sm hide-xs>

                    <md-button type="button" ng-click="back()"
                               class="md-warn md-raised">Cancelar
                    </md-button>
                    <md-button class="md-primary md-raised" ng-disabled="form.$invalid" type="submit">
                        Reservar
                    </md-button>
                </div>
            </form>
        </div>
    </md-content>
</div>

