

<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>

<md-card ng-if="vm.isReady" class="fade-in gray-font commonAreaReservationDetailDiv" style="margin-bottom: 40px!important;" md-theme-watch
         class="form-wrapper">
    <md-card-title hide-sm hide-xs layout-align="space-between center">
        <md-card-title-text hide-sm hide-xs>
            <span class="md-headline">
                <i class="material-icons material-icons-with-text" hide-sm hide-xs
                   ng-click="back()">arrow_back</i>Detalle de reservación</span>
        </md-card-title-text>
        <div style="margin-right: 15px">
             <span class="bold" ng-show="vm.egress.state==3" style="font-size:17px;color:#F3565D"
             >Vencido </span>
            <span class="bold" ng-show="vm.commonAreaReservations.status==2" style="font-size:17px;color:#156db3"
            >Aprobada </span>
            <span class="bold" ng-show="vm.commonAreaReservations.status==1" style="font-size:17px;color:#dfba49"
            >Pendiente </span>
        </div>
    </md-card-title>
    <md-card-content style="padding: 0px!important;" layout="column">
        <div style="padding: 20px!important; padding-bottom: 0px!important;">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 no-padding">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 no-padding-left ">
                        <span class=" bold  control-label">Área común:</span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 ">

                        <span class="   control-label">{{ vm.commonAreaReservations.commonAreaName}}</span>

                    </div>
                </div>


                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 no-padding-left ">
                        <span class=" bold control-label">Horario:</span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6  ">

                            <span
                                class="  control-label">{{vm.commonAreaReservations.schedule}}</span>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  form-group detailLabelMD">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 no-padding-left">
                        <span class=" bold control-label">Responsable:</span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 ">

                        <span class="  control-label">{{vm.commonAreaReservations.residentName}}</span>

                    </div>
                </div>
            </div>


            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 no-padding ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  form-group detailLabelMD">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 no-padding-left">
                        <span class=" bold control-label">Fecha de reservación:</span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 ">

                        <span class="  control-label">{{vm.commonAreaReservations.initalDate | date:'longDate'}}</span>

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  form-group detailLabelMD">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 no-padding-left">
                        <span class=" bold control-label">Filial:</span>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 ">

                        <span class="  control-label">{{vm.commonAreaReservations.houseNumber}}</span>

                    </div>
                </div>


            </div>

        </div>
        <form name="form" ng-submit="vm.createDevolution()">
            <div ng-if="vm.commonAreaReservations.reservationCharge!==null && vm.commonAreaReservations.status==2"
                 class="margin-top-20 md-inline-form col-md-12 col-lg-12  no-padding fade-in">
                <md-card-title-text hide-sm hide-xs style="margin-left: 15px;">
                    <span class="md-headline font-19"> Detalle de depósito por reservación</span>
                </md-card-title-text>
                <md-content layout-padding class="form-content" style="padding: 10px!important;">
                    <div >
                        <div ng-model="vm.form">
                            <span ng-hide="true">{{setInvalidForm(form.$invalid)}}</span>
                            <div layout="row" layout-xs="column" class="margin-top-10 gray-font">

                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 no-padding">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 no-padding-left ">
                                            <span class=" bold  control-label">Fecha de cargo:</span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 ">
                                            <span  ng-if="vm.commonAreaReservations.status==1">No realizado</span>
                                            <span ng-if="vm.commonAreaReservations.status==2">{{vm.charge.date | date:'longDate'}}</span>

                                        </div>
                                    </div>


                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  form-group detailLabelMD">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 no-padding-left">
                                            <span class=" bold control-label">Cantidad:</span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 ">

                                            <span>₡{{vm.formatearNumero(vm.charge.ammount+"")}}</span>

                                        </div>
                                    </div>
                                </div>


                                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 no-padding ">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  form-group detailLabelMD">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 no-padding-left">
                                            <span class=" bold control-label">Concepto:</span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 ">
                                            <span>{{vm.charge.concept}}</span>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  form-group detailLabelMD">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6 no-padding-left">
                                            <span class=" bold control-label">Devolución:</span>
                                        </div>
                                        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6 ">


                                            <span>₡{{vm.formatearNumero(vm.commonAreaReservations.devolutionAmmount+"")}}</span>

                                        </div>
                                    </div>


                                </div>


                            </div>

                        </div>
                    </div>
                </md-content>
            </div>
            <div
                 class="margin-top-15 md-inline-form col-md-12 col-lg-12  no-padding fade-in">
                <md-toolbar class="form-title">
                    <h2>Devolución de depósito a usuario ({{vm.commonAreaReservations.residentName}})</h2>
                </md-toolbar>
                <md-content layout-padding class="form-content">
                    <div>
                        <div ng-model="vm.form">
                            <span ng-hide="true">{{setInvalidForm(form.$invalid)}}</span>
                            <div layout="row" layout-xs="column" class="marging-top-20 ">
                                <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg divFormsMDXS">
                                    <md-input-container class="md-block  no-margin-bottom">
                                        <label>Fecha de devolución</label>
                                        <md-datepicker class="datePicker" readonlydatepicker md-hide-icons="calendar" required ng-model="vm.egress.paymentDate"
                                                       md-open-on-focus
                                                       required></md-datepicker>
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Seleccione un método de pago</label>
                                        <md-select ng-model="vm.egress.paymentMethod" required>
                                            <md-option value="Efectivo">
                                                Efectivo
                                            </md-option>
                                            <md-option value="Cheque">
                                                Cheque
                                            </md-option>
                                            <md-option value="Transferencia">
                                                Transferencia
                                            </md-option>
                                            <md-option value="Tarjeta">
                                                Tarjeta
                                            </md-option>
                                            <md-option value="Deposito en banco">
                                                Deposito en banco
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block no-margin-bottom" has-authority="ROLE_MANAGER">
                                        <label>Cuenta de banco a debitar</label>
                                        <md-select    ng-model="vm.egress.account" required>
                                            <md-option ng-repeat="banco in vm.bancos | orderBy: 'beneficiario' "
                                                       ng-value="banco.id">
                                                {{banco.beneficiario}}
                                            </md-option>
                                        </md-select>
                                    </md-input-container>
                                    <md-input-container class="md-block">
                                        <label>Referencia bancaria</label>
                                        <input type="text" class="form-control" name="reference" id="field_reference"
                                               ng-model="vm.egress.reference"
                                        />
                                    </md-input-container>

                                </div>

                                <div flex class="col-lg-6 col-md-6 col-sm-6 white-bg divFormsMDXS">
                                    <md-input-container class="md-block" style="margin-bottom: 0">
                                        <label>Cantidad a devolver</label>
                                        <input required ng-model="vm.egress.total"
                                               format="currency"
                                               type="text" placeholder="0.00" class="">
                                    </md-input-container>

                                    <md-input-container class="md-block">
                                        <label>Comentarios</label>
                                        <textarea ng-model="vm.egress.comments" rows="3"
                                                  md-select-on-focus></textarea>
                                    </md-input-container>




                                </div>
                            </div>

                        </div>
                    </div>
                </md-content>
                <div layout="row" layout-align="end center" class="margin-bottom-20  margin-right-10">

                    <md-button class="md-raised md-primary " type="submit" ng-disabled="form.$invalid">
                        Realizar devolución
                    </md-button>
                </div>
            </div>


        </form>
    </md-card-content>
</md-card>

