<div  class="page-footer" >
    <div class="page-footer-inner text-center">
        <span>{{vm.annoActual}} &copy; Aditum by Lighthouse.</span>
    </div>
    <div class="scroll-to-top">
        <i class="glyphicon glyphicon-upload"></i>
    </div>
</div>
<!--style="background: linear-gradient(122deg, #2b3643, #324b69, #2b3643);-->
<!--background-size: 600% 600%;-->
<!-- -webkit-animation: loginBackground 7s ease infinite;-->
<!-- -moz-animation: loginBackground 7s ease infinite;-->
<!-- -o-animation: loginBackground 7s ease infinite;-->
<!--animation: loginBackground 7s ease infinite;"-->
<!--<style>-->
<!--@-webkit-keyframes loginBackground {-->
    <!--0%{background-position:0% 4%}-->
    <!--50%{background-position:100% 97%}-->
    <!--100%{background-position:0% 4%}-->
<!--}-->
<!--@-moz-keyframes loginBackground {-->
    <!--0%{background-position:0% 4%}-->
    <!--50%{background-position:100% 97%}-->
    <!--100%{background-position:0% 4%}-->
<!--}-->
<!--@-o-keyframes loginBackground {-->
    <!--0%{background-position:0% 4%}-->
    <!--50%{background-position:100% 97%}-->
    <!--100%{background-position:0% 4%}-->
<!--}-->
<!--@keyframes loginBackground {-->
    <!--0%{background-position:0% 4%}-->
    <!--50%{background-position:100% 97%}-->
    <!--100%{background-position:0% 4%}-->
<!--}-->
<!--</style>-->
