<md-sidenav style="position:fixed" class="md-sidenav-left side-nav-bar" md-component-id="left"
            md-whiteframe="4" md-disable-close-events
            md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-theme-indigo" hide-lg hide-gt-lg hide-xl>
        <h1 class="md-toolbar-tools">
            <i class="material-icons" ng-click="toggleLeft()">
                menu
            </i>
            Aditum
        </h1>
    </md-toolbar>
    <md-content>
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <li ng-repeat="mainItem in vm.menu" has-any-authority="{{mainItem.authoritites}}">
                    <a ng-mouseenter="mainItem.hover = true;" ng-mouseleave="mainItem.hover = false" ng-if="!mainItem.collapsable" ng-click="vm.go(mainItem.uisref)" data-toggle="collapse"
                       aria-expanded="false"
                       class="dropdown-toggle"  style="{{vm.defineStyleMainButton(mainItem).color}}">
                        <p style="{{vm.defineStyleMainButton(mainItem).backgroundColor}}"><i
                            class="material-icons principal-icon">
                            {{mainItem.icon}}
                        </i> {{mainItem.title}}
                        </p>
                    </a>
                    <a ng-mouseenter="mainItem.hover = true;" ng-click="vm.collapseAllOther(mainItem,null)" ng-mouseleave="mainItem.hover = false" ng-if="mainItem.collapsable" href="#{{mainItem.menuId}}" target="_self" data-toggle="collapse"
                       aria-expanded="false"
                       class="dropdown-toggle" style="{{vm.defineStyleMainButton(mainItem).color}}">
                        <p style="{{vm.defineStyleMainButton(mainItem).backgroundColor}}"><i
                            class="material-icons principal-icon">
                            {{mainItem.icon}}
                        </i> {{mainItem.title}} <i class="material-icons float-right">
                            expand_more
                        </i>
                        </p>
                    </a>
                    <ul ng-if="mainItem.collapsable" class="collapse list-unstyled" id="{{mainItem.menuId}}">
                        <li has-any-authority="{{secondItem.authoritites}}" ng-repeat="secondItem in mainItem.secondaryItems"
                            ng-class="{ 'activeSubmenu' : vm.defineActive(secondItem)}">
                            <a ng-mouseenter="secondItem.hover = true;" ng-mouseleave="secondItem.hover = false" ng-if="!secondItem.collapsable" ng-click="vm.go(secondItem.uisref)" data-toggle="collapse"
                               aria-expanded="false"
                               class="dropdown-toggle" style="{{vm.defineStyleSecondButton(secondItem).color}};padding:0 5px;">
                                <p style="{{vm.defineStyleSecondButton(secondItem).backgroundColor}}"><i
                                    class="material-icons principal-icon">
                                    {{secondItem.icon}}
                                </i> {{secondItem.title}}
                                </p>
                            </a>
                            <a ng-mouseenter="secondItem.hover = true;" ng-click="vm.collapseAllOther(secondItem,mainItem)" ng-mouseleave="secondItem.hover = false" ng-if="secondItem.collapsable" href="#{{secondItem.menuId}}" target="_self"
                               data-toggle="collapse" aria-expanded="false"
                               class="dropdown-toggle" style="{{vm.defineStyleSecondButton(secondItem).color}};padding:0 5px;">
                                <p style="{{vm.defineStyleSecondButton(secondItem).backgroundColor}}"><i
                                    class="material-icons principal-icon">
                                    {{secondItem.icon}}
                                </i> {{secondItem.title}} <i class="material-icons float-right">
                                    expand_more
                                </i>
                                </p>
                            </a>
                            <ul ng-if="mainItem.collapsable" class="collapse list-unstyled" id="{{secondItem.menuId}}"
                                style="margin-left: 0px">
                                <li has-any-authority="{{thirItem.authoritites}}"  ng-repeat="thirItem in secondItem.thirdItems"
                                    ng-class="{ 'activeSubmenu' :  vm.defineActive(thirItem)}">
                                    <a  ng-mouseenter="thirItem.hover = true;" ng-mouseleave="thirItem.hover = false" ng-click="vm.go(thirItem.uisref)" data-toggle="collapse"
                                       aria-expanded="false"
                                       class="dropdown-toggle" style="{{vm.defineStyleThirdButton(thirItem).color}};padding:0 5px;">
                                        <p style="{{vm.defineStyleThirdButton(thirItem).backgroundColor}}"><i
                                            class="material-icons principal-icon">
                                            {{thirItem.icon}}
                                        </i> {{thirItem.title}}
                                        </p>
                                    </a>
                                </li>
                            </ul>
                            <!--<hr style="margin:2px" ng-if="">-->
                        </li>

                    </ul>
                </li>
            </ul>
        </nav>
    </md-content>
</md-sidenav>

