<div  has-any-authority="ROLE_MANAGER,ROLE_ADMIN,ROLE_USER" id="rightView">
    <div  class="page-header-fixed page-quick-sidebar-over-content ng-scope"><div class="page-header md-shadow-z-1-i navbar navbar-fixed-top ng-scope">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <img src="content/images/logoAditum.png" alt="logo" class="logo-default" height="22" width="80">
                <!-- <div class="menu-toggler sidebar-toggler">

                </div> -->
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN TOP NAVIGATION MENU -->
            <div class="top-menu">
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img ng-hide="currentUserImage" class="img-circle" src="content/images/nobody-image.jpg"   width="35"/> <img src="content/images/nobody-image.jpg" data-ng-src="{{'data:' + currentUserImageContentType + ';base64,' + currentUserImage}}"   ng-if="currentUserImage" id="blah"  alt="your image"  width="33" class="img-circle"/>
                            <span class="username username-hide-on-mobile ng-binding">
					        {{' '+vm.currentUser.name +' '+ vm.currentUser.lastname}}{{vm.contextLiving}}</span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default ">
                            <li ui-sref="editProfile({id:user.id})" ng-show="isAdmin()" href="#/usuario/perfil/editar/32" class="ng-hide">
                                <a href="">
                                    <i class="icon-user"></i> Mi perfil </a>
                            </li>
                            <li>
                                <a ui-sref="password" >
                                    <i class="fa fa-key"></i>Cambiar contraseña</a>
                            </li>
                            <li>
                                <a href="" ng-click="vm.logout()">
                                    <i class="fa fa-sign-out"></i>Cerrar sesión</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->
                    <!-- BEGIN QUICK SIDEBAR TOGGLER -->
                    <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->

                    <!-- END QUICK SIDEBAR TOGGLER -->
                </ul>
            </div>
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    </div>
</div>

