
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myProcedureVisitsLabel" data-translate="aditumApp.procedureVisits.home.createOrEditLabel">Create or edit a Procedure Visits</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.procedureVisits.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.procedureVisits.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.procedureVisits.visitDate" for="field_visitDate">Visit Date</label>
                <div class="input-group">
                    <input id="field_visitDate" type="text" class="form-control" name="visitDate" datetime-picker="{{dateformat}}" ng-model="vm.procedureVisits.visitDate" is-open="vm.datePickerOpenStatus.visitDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('visitDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.procedureVisits.duration" for="field_duration">Duration</label>
            <input type="text" class="form-control" name="duration" id="field_duration"
                    ng-model="vm.procedureVisits.duration"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.procedureVisits.puntuation" for="field_puntuation">Puntuation</label>
            <input type="number" class="form-control" name="puntuation" id="field_puntuation"
                    ng-model="vm.procedureVisits.puntuation"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.procedureVisits.deleted" for="field_deleted">Deleted</label>
            <input type="number" class="form-control" name="deleted" id="field_deleted"
                    ng-model="vm.procedureVisits.deleted"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.procedureVisits.isDone" for="field_isDone">Is Done</label>
            <input type="number" class="form-control" name="isDone" id="field_isDone"
                    ng-model="vm.procedureVisits.isDone"
                    />
        </div>

        <div class="form-group">
            <label data-translate="aditumApp.procedureVisits.procedures" for="field_procedures">Procedures</label>
            <select class="form-control" id="field_procedures" name="procedures" ng-model="vm.procedureVisits.proceduresId" ng-options="procedures.id as procedures.id for procedures in vm.procedures"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
