<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill
     layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px"></md-progress-circular>
</div>

<md-card ng-if="vm.isReady" class="fade-in gray-font form-wrapper no-margin" md-theme-watch>
    <md-card-title hide-sm hide-xs layout-align="space-between center">
        <md-card-title-text>
            <span class="md-headline">
                <i class="material-icons material-icons-with-text" hide-sm hide-xs
                   ng-click="back()">arrow_back</i>Detalle de emergencia</span>
        </md-card-title-text>

    </md-card-title>
    <md-card-content style="padding: 0px!important;" layout="" class="">


        <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12"  style="margin-top: 15px!important;">

            <div  class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding: 16px!important; padding-top:25px!Important;">

                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 no-padding">

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding form-group detailLabelMD">
                        <div class="col-lg-5 col-md-5 col-xs-6 col-xs-6 no-padding-left ">
                            <span class=" bold  control-label">Fecha:</span>
                        </div>
                        <div class="col-lg-7 col-md-7 col-xs-6 col-xs-6 no-padding-right">

                            <span class="   control-label"> 80 de enero</span>

                        </div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding  form-group detailLabelMD">
                        <div class="col-lg-5 col-md-5 col-xs-6 col-xs-6 no-padding-left">
                            <span class=" bold control-label">Filial que lo reportó:</span>
                        </div>
                        <div class="col-lg-7 col-md-7 col-xs-6 col-xs-6 no-padding-right">

                            <span class="  control-label">  {{vm.emergency.houseNumber}} </span>

                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  no-padding form-group detailLabelMD">
                        <div class=" col-lg-5 col-md-5  col-sm-6 col-xs-6 no-padding-left margin-top-30"   ng-if="vm.editing" >
                            <span class=" bold control-label">Tipo: </span>
                        </div>
                        <div class=" col-lg-5 col-md-5  col-sm-6 col-xs-6 no-padding-left "   ng-if="!vm.editing" >
                            <span class=" bold control-label">Tipo: </span>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-6 no-padding-right">

                            <span  ng-if="!vm.editing" class="  control-label">Incendio</span>

                            <md-input-container  ng-if="vm.editing" class="md-block" flex>

                                <md-select ng-model="vm.complaint.complaintType"  required>
                                    <md-option value="Vigilancia">Vigilancia</md-option>
                                    <md-option value="Mascotas">Mascotas</md-option>
                                    <md-option value="Servicios Agua, Luz, Gas ,etc">Servicios Agua, Luz, Gas ,etc</md-option>
                                    <md-option value="Vecinos">Vecinos</md-option>
                                    <md-option value="Mantenimiento">Mantenimiento</md-option>
                                    <md-option value="Áreas comunes">Áreas comunes</md-option>
                                    <md-option value="Otros">Otros</md-option>
                                </md-select>
                            </md-input-container>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 no-padding ">



                </div>

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding ">
                    <div class=" col-lg-12 col-md-12  col-sm-12 col-xs-12 no-padding-left">
                        <span class=" bold control-label">Observaciones</span>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding margin-top-20">


                        <span ng-if="!vm.editing"  ng-bind-html="vm.emergency.observation" style="text-align:justify!important;"></span>
                        <md-input-container ng-if="vm.editing" class="md-block" flex-gt-xs>
                            <summernote config="vm.options"  lang="es-ES" height="300" ng-model="vm.emergency.observation"
                                        required></summernote>
                        </md-input-container>
                    </div>


                </div>

            </div>
            <div ng-if="vm.editing" class="col-md-12 col-xs-12 float-right">
                <md-button class="md-raised  md-warn" ng-click="back()">Cancelar</md-button>
                <md-button class="md-raised md-primary" type="button" ng-click="vm.edit()">Registrar</md-button>
            </div>
        </div>

    </md-card-content>

</md-card>
