
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myCommonAreaLabel" data-translate="aditumApp.commonArea.home.createOrEditLabel">Create or edit a Common Area</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.commonArea.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.commonArea.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.commonArea.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                    ng-model="vm.commonArea.name"
                    required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                    ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.commonArea.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.commonArea.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.commonArea.reservationCharge" for="field_reservationCharge">Reservation Charge</label>
            <input type="text" class="form-control" name="reservationCharge" id="field_reservationCharge"
                    ng-model="vm.commonArea.reservationCharge"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.commonArea.devolutionAmmount" for="field_devolutionAmmount">Devolution Ammount</label>
            <input type="text" class="form-control" name="devolutionAmmount" id="field_devolutionAmmount"
                    ng-model="vm.commonArea.devolutionAmmount"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.commonArea.chargeRequired" for="field_chargeRequired">Charge Required</label>
            <input type="number" class="form-control" name="chargeRequired" id="field_chargeRequired"
                    ng-model="vm.commonArea.chargeRequired"
                    max="1"/>
            <div ng-show="editForm.chargeRequired.$invalid">
                <p class="help-block"
                    ng-show="editForm.chargeRequired.$error.max" data-translate="entity.validation.max" translate-value-max="1">
                    This field cannot be more than 1.
                </p>
                <p class="help-block"
                    ng-show="editForm.chargeRequired.$error.number" data-translate="entity.validation.number">
                    This field should be a number.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.commonArea.reservationWithDebt" for="field_reservationWithDebt">Reservation With Debt</label>
            <input type="number" class="form-control" name="reservationWithDebt" id="field_reservationWithDebt"
                    ng-model="vm.commonArea.reservationWithDebt"
                    />
        </div>
        <div class="form-group" ngf-drop ngf-change="vm.setPicture($file, vm.commonArea)" ngf-pattern="'image/*'">
            <label class="control-label" data-translate="aditumApp.commonArea.picture" for="field_picture">Picture</label>
            <div>
                <img data-ng-src="{{'data:' + vm.commonArea.pictureContentType + ';base64,' + vm.commonArea.picture}}" style="max-height: 100px;" ng-if="vm.commonArea.picture" alt="commonArea image"/>
                <div ng-if="vm.commonArea.picture" class="help-block clearfix">
                    <span class="pull-left">{{vm.commonArea.pictureContentType}}, {{vm.byteSize(vm.commonArea.picture)}}</span>
                    <button type="button" ng-click="vm.commonArea.picture=null;vm.commonArea.pictureContentType=null;"
                            class="btn btn-default btn-xs pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </div>
                <button type="button" ngf-select class="btn btn-default btn-block"
                        ngf-change="vm.setPicture($file, vm.commonArea)" accept="image/*" data-translate="entity.action.addimage">
                    Add image
                </button>
            </div>
            <input type="hidden" class="form-control" name="picture" id="field_picture"
                    ng-model="vm.commonArea.picture"
                    />
            <input type="hidden" class="form-control" name="pictureContentType" id="field_pictureContentType"
                    ng-model="vm.commonArea.pictureContentType" />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.commonArea.maximunHours" for="field_maximunHours">Maximun Hours</label>
            <input type="number" class="form-control" name="maximunHours" id="field_maximunHours"
                    ng-model="vm.commonArea.maximunHours"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
