<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">
    <md-progress-circular md-mode="indeterminate" md-diameter="90px" ></md-progress-circular>
</div>

<div ng-if="vm.isReady" class="row fade-in" >
    <div class="col-lg-12 col-md-12">
        <div class="col-md-12 no-padding  margin-bottom-20" ng-if="vm.commonAreas.length> 0 ">
            <div class="">
                <div class="form-group no-padding col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0px;"
                     id="index-search-bar">
                    <div class="input-icon" style="color:#484848!important;">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control "
                               style="background-color: #f5f5f5; border:0px!important; "
                               placeholder="Buscar" ng-model="vm.search">
                    </div>
                </div>

            </div>
        </div>
        <div class="portlet-body ">

            <no-content ng-if="vm.commonAreas.length == 0" icon="local_florist" text="No hay áreas comunes registradas"></no-content>

            <div class="table-scrollable hidden-xs gray-font" ng-if="vm.commonAreas.length>0" style="border: 0px!important;">
                <table class=" table table-hover   font-13 tableMaterialDesign" >
                    <thead style="background-color: #fafafa;">
                    <tr>
                        <th>Nombre</th>
                        <th>Cuota por reservación</th>
                        <th class="text-center">Ver calendario</th>
                        <th class="text-center">Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="commonArea in vm.commonAreas  | filter:vm.search | orderBy:'name'">
                        <td >{{commonArea.name}}</td>
                        <td ng-if="commonArea.chargeRequired==1">₡{{vm.formatearNumero(commonArea.reservationCharge+"")}}</td>
                        <td ng-if="commonArea.chargeRequired==0">No requiere</td>




                        <td  class="text-center"><a class="light-gray-font" ui-sref="common-area-administration.reservation-calendar({id:commonArea.id})" ><i class="material-icons"><md-tooltip md-direction="left" class="font-13 bold white-color">Ver calendario</md-tooltip>remove_red_eye</i></a></td>


                        <td class="text-center " style="padding-top: 10px!important; padding-bottom: 0px!important;">
                            <md-menu md-position-mode="target-right target" >
                                <md-button aria-label="Open demo menu" class="md-icon-button no-padding" ng-click="$mdMenu.open($event)">
                                    <i class="material-icons" style="color:#999"><md-tooltip md-direction="left" class="font-13 bold white-color">Opciones</md-tooltip>more_vert</i>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ui-sref="common-area-administration.editCommonArea({id:commonArea.id})">
                                            <div layout="row" flex>
                                                <p flex>Editar</p>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.deleteReservation(commonArea)" >
                                            <div layout="row" flex>
                                                <p flex>Eliminar</p>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <md-button ui-sref="common-area-administration.new" style="position: fixed"
               class="md-fab md-fab-bottom-right orange-button-oficial" aria-label="Add new">
        <md-tooltip md-direction="left" class="font-13 bold white-color">Registrar área común</md-tooltip>
        <md-icon class="white-color">add</md-icon>
    </md-button>
</div>

