<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">
    <loader></loader>
</div>

<div ng-if="vm.isReady" class="row fade-in" >
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="col-md-12 col-sm-12 col-xs-12 no-padding  " style="margin-bottom: 8px;" ng-if="vm.commonAreas.length> 0 ">
            <div class="">
                <div class="form-group no-padding col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 0px;"
                     id="index-search-bar">
                    <div class="input-icon" style="color:#484848!important;">
                        <i class="fa fa-search"></i>
                        <input type="text" class="form-control "
                               style="background-color: #f5f5f5; border:0px!important; "
                               placeholder="Buscar" ng-model="vm.search.name">
                    </div>
                </div>

            </div>
        </div>
        <div class="portlet-body ">

            <no-content ng-if="vm.commonAreas.length == 0" icon="local_florist" text="No hay áreas comunes registradas"></no-content>

            <div class="col-md-4 col-xs-12 col-sm-6 no-padding residentDivContainerXs"
                 ng-repeat="commonArea in vm.commonAreas  | filter:vm.search | orderBy:'name'">
                <md-card md-theme="{{ showDarkTheme ? 'dark-blue' : 'default' }}"
                         class="margin-bottom-10 residentCardContainer"
                         md-theme-watch>
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline font-20 hidden-sm hidden-md hidden-lg">{{commonArea.name}}</span>
                            <span class="md-headline font-15 hidden-xs">{{commonArea.name}}</span>
                            <span class="md-subhead" >Costo: <span ng-if="commonArea.chargeRequired==1">{{fMoney(commonArea.reservationCharge)}}</span><span ng-if="commonArea.chargeRequired==0">No requiere</span> </span>
             <span class="md-subhead">Bloques de: <span ng-if="commonArea.maximunHours==0">Todo el día</span><span ng-if="commonArea.maximunHours>0">{{commonArea.maximunHours}} horas</span></span>

                        </md-card-title-text>
                        <md-card-title-media>
                            <!--<div class="md-media-md card-media  hidden-md hidden-lg"-->
                                 <!--style="padding-top: 10px!important;">-->
                                <!--<img ng-if="commonArea.picture==null" src="content/images/noCommonArea-image.jpg" height="112"-->
                                     <!--width="112"/>-->
                                <!--<img ng-if="commonArea.picture" data-ng-src="{{'data:' + commonArea.pictureContentType + ';base64,' + commonArea.picture}}"-->
                                     <!--class="object-fit_scale-down-index-xs"/>-->
                            <!--</div>-->
                            <div class="md-media-sm card-media"
                                 style="padding-top: 10px!important;">
<!--                                <img ng-if="commonArea.picture==null" src="content/images/noCommonArea-image.jpg" height="80"-->
<!--                                     width="80"/>-->
<!--                                <img ng-if="commonArea.picture" data-ng-src="{{'data:' + commonArea.pictureContentType + ';base64,' + commonArea.picture}}"-->
<!--                                     class="object-fit_scale-down-index"/>-->
                                <img ng-if="commonArea.pictureContentType==null"
                                     src="content/images/noCommonArea-image.jpg" height="80"
                                     width="80"/>
                                <img  ng-if="commonArea.pictureContentType!==null" data-toggle="modal" data-target="#myModal" src="{{commonArea.pictureContentType}}" class="object-fit_scale-down-index"/>
                            </div>
                        </md-card-title-media>
                    </md-card-title>

                    <md-card-actions layout="row" layout-align="space-between center">
                        <div>
                        </div>
                        <div layout="row" layout-align="space-between center">
                            <i class="material-icons" style="color:#999; cursor: pointer" ui-sref="common-area-administration.reservation-calendar({id:commonArea.id})">
                                <md-tooltip md-direction="left" class="font-13 bold white-color">Ver calendario
                                </md-tooltip>
                                remove_red_eye</i>

                            <md-menu md-position-mode="target-right target" has-any-authority="ROLE_MANAGER">
                                <md-button aria-label="Open demo menu" class="md-icon-button no-padding"
                                           ng-click="$mdMenu.open($event)" style="padding-top: 7px!important">
                                    <i class="material-icons" style="color:#999;">
                                        <md-tooltip md-direction="left" class="font-13 bold white-color">Opciones
                                        </md-tooltip>
                                        more_vert</i>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ui-sref="common-area-administration.editCommonArea({id:commonArea.id})">
                                            <div layout="row" flex>
                                                <p flex>Editar</p>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.deleteReservation(commonArea)" >
                                            <div layout="row" flex>
                                                <p flex>Eliminar</p>
                                            </div>
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>

                    </md-card-actions>
                </md-card>

            </div>
        </div>
    </div>
    <md-button has-authority="ROLE_MANAGER" ui-sref="common-area-administration.new" style="position: fixed"
               class="md-fab md-fab-bottom-right orange-button-oficial" aria-label="Add new">
        <md-tooltip md-direction="left" class="font-13 bold white-color">Registrar área común</md-tooltip>
        <md-icon class="white-color">add</md-icon>
    </md-button>
</div>

