
<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 display-none" id="loadingIcon">
    <div class="spinnerLoading">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>
<div class="row " id="tableData">
    <div class="col-lg-12 col-md-12">

        <div class="form-group no-padding col-md-offset-6  col-lg-offset-6  col-sm-offset-6 col-md-6 col-sm-6 col-xs-12" id="index-search-bar">


            <button type="button" class="btn green default col-md-offset-7 col-lg-offset-7 col-sm-offset-7 col-md-5  col-lg-5 col-sm-5 col-xs-12" ui-sref="common-area-administration.new" name="button">Registrar área común</button>
        </div>

        <div class="portlet-body ">
            <div ng-if="vm.commonAreas.length == 0" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h2 class="text-center gray-font">No hay áreas comunes registradas</h2>
            </div>

            <div class="table-scrollable hidden-xs" ng-if="vm.commonAreas.length>0">
                <table class="jh-table table table-striped table-bordered table-hover table-condensed flip-content" style="font-size:13px;">
                    <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Cuota por reservación</th>
                        <th>Ver calendario</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="commonArea in vm.commonAreas track by commonArea.id">
                    <td >{{commonArea.name}}</td>
                    <td>₡{{vm.formatearNumero(commonArea.reservationCharge+"")}}</td>

                        <!--<td><a class="light-gray-font"   ui-sref="common-area-detail({id:commonArea.id})" >Ver calendario</a></td>-->
                        <td><a class="light-gray-font"   ui-sref="reservation-calendar" >Ver calendario</a></td>
                        <td> <a class="light-gray-font" ui-sref="common-area.edit({id:commonArea.id})">Editar</a></td>
                        <td> <a class="light-gray-font"   ng-click="vm.deleteResident(resident)">Eliminar</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<!--<div>-->
    <!--<h2 data-translate="aditumApp.commonArea.home.title">Common Areas</h2>-->
    <!--<jhi-alert></jhi-alert>-->
    <!--<div class="container-fluid">-->
        <!--<div class="row">-->
            <!--<div class="col-xs-4 no-padding-left">-->
                <!--<button class="btn btn-primary" ui-sref="common-area.new" >-->
                    <!--<span class="glyphicon glyphicon-plus"></span>-->
                    <!--<span  data-translate="aditumApp.commonArea.home.createLabel">-->
                        <!--Create new Common Area-->
                    <!--</span>-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<br/>-->
    <!--<div class="table-responsive">-->
        <!--<table class="jh-table table table-striped">-->
            <!--<thead>-->
                <!--<tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">-->
                    <!--<th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="name"><span data-translate="aditumApp.commonArea.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="description"><span data-translate="aditumApp.commonArea.description">Description</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="reservationCharge"><span data-translate="aditumApp.commonArea.reservationCharge">Reservation Charge</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="devolutionAmmount"><span data-translate="aditumApp.commonArea.devolutionAmmount">Devolution Ammount</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="chargeRequired"><span data-translate="aditumApp.commonArea.chargeRequired">Charge Required</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="reservationWithDebt"><span data-translate="aditumApp.commonArea.reservationWithDebt">Reservation With Debt</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="picture"><span data-translate="aditumApp.commonArea.picture">Picture</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th jh-sort-by="maximunHours"><span data-translate="aditumApp.commonArea.maximunHours">Maximun Hours</span> <span class="glyphicon glyphicon-sort"></span></th>-->
                    <!--<th></th>-->
                <!--</tr>-->
            <!--</thead>-->
            <!--<tbody>-->
                <!--<tr ng-repeat="commonArea in vm.commonAreas track by commonArea.id">-->
                    <!--<td><a ui-sref="common-area-detail({id:commonArea.id})">{{commonArea.id}}</a></td>-->
                    <!--<td>{{commonArea.name}}</td>-->
                    <!--<td>{{commonArea.description}}</td>-->
                    <!--<td>{{commonArea.reservationCharge}}</td>-->
                    <!--<td>{{commonArea.devolutionAmmount}}</td>-->
                    <!--<td>{{commonArea.chargeRequired}}</td>-->
                    <!--<td>{{commonArea.reservationWithDebt}}</td>-->
                    <!--<td>-->
                        <!--<a ng-if="commonArea.picture" ng-click="vm.openFile(commonArea.pictureContentType, commonArea.picture)">-->
                            <!--<img data-ng-src="{{'data:' + commonArea.pictureContentType + ';base64,' + commonArea.picture}}" style="max-height: 30px;" alt="commonArea image"/>-->
                        <!--</a>-->
                        <!--<span ng-if="commonArea.picture">{{commonArea.pictureContentType}}, {{vm.byteSize(commonArea.picture)}}</span>-->
                    <!--</td>-->
                    <!--<td>{{commonArea.maximunHours}}</td>-->
                    <!--<td class="text-right">-->
                        <!--<div class="btn-group flex-btn-group-container">-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="common-area-detail({id:commonArea.id})"-->
                                    <!--class="btn btn-info btn-sm">-->
                                <!--<span class="glyphicon glyphicon-eye-open"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.view"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="common-area.edit({id:commonArea.id})"-->
                                    <!--class="btn btn-primary btn-sm">-->
                                <!--<span class="glyphicon glyphicon-pencil"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.edit"></span>-->
                            <!--</button>-->
                            <!--<button type="submit"-->
                                    <!--ui-sref="common-area.delete({id:commonArea.id})"-->
                                    <!--class="btn btn-danger btn-sm">-->
                                <!--<span class="glyphicon glyphicon-remove-circle"></span>-->
                                <!--<span class="hidden-sm-down" data-translate="entity.action.delete"></span>-->
                            <!--</button>-->
                        <!--</div>-->
                    <!--</td>-->
                <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <!--<div class="text-center">-->
        <!--<jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>-->
        <!--<uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>-->
    <!--</div>-->
<!--</div>-->
