<div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 no-padding margin-top-10 fade-in " >
    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 no-padding margin-bottom-10">
        <h3 class="caption-subject font-green-sharp bold uppercase hidden-xs" style="margin-top: 0px!important;">CALENDARIO GENERAL</h3>
        <div class="col-md-8 col-lg-8 col-sm-6 no-padding">

        </div>
        <div class=" col-md-4 col-lg-4 col-sm-6 col-xs-12 no-padding bold hidden-xs" style="color:white; font-size:13px;">
            <span   style="padding:5px; background-color: #ef5350" class=" col-md-6 col-sm-6 col-xs-12 text-center">Reservas sin aprobar</span>
            <span   style="padding:5px; background-color: #42a5f5" class="col-md-6 col-sm-6 col-xs-12 text-center">Reservas aprobadas</span>
        </div>
        <div class="col-xs-12 no-padding bold hidden-lg hidden-md hidden-sm" style="color:white; font-size:13px;">
            <span   style="padding:5px; background-color: #ef5350" class=" col-md-6 col-sm-6 col-xs-6 text-center">Sin aprobar</span>
            <span   style="padding:5px; background-color: #42a5f5" class="col-md-6 col-sm-6 col-xs-6 text-center">Aprobados</span>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12 no-padding margin-bottom-20">
        <div class="col-md-8 col-lg-8 no-padding">

        </div>
        <div class=" col-md-4 col-lg-4 col-sm-12 col-xs-12 no-padding hidden-xs margin-top-10">
            <button  ng-click="vm.searchByType(1)" style="border-radius: 0px!important;" class="btn  col-md-3 col-sm-3 col-xs-12  accountStatusBtn" ng-class="{'accountStatusBtnActive':vm.searchType==1,'accountStatusBtnDesactive':vm.searchType!==1}">Mes</button>
            <button  ng-click="vm.searchByType(2)" style="border-left:0px!important; border-radius: 0px!important;" class="btn  col-md-3 col-sm-3 col-xs-12  accountStatusBtn" ng-class="{'accountStatusBtnActive':vm.searchType==2,'accountStatusBtnDesactive':vm.searchType!==2}">Semana</button>
            <button  ng-click="vm.searchByType(3)" style="border-left:0px!important; border-radius: 0px!important;" class="btn   col-md-3 col-sm-3 col-xs-12  accountStatusBtn" ng-class="{'accountStatusBtnActive':vm.searchType==3,'accountStatusBtnDesactive':vm.searchType!==3}">Día</button>
            <button  ng-click="vm.searchByType(4)" style="border-left:0px!important; border-radius: 0px!important;"  class="btn  col-md-3 col-sm-3 col-xs-12  accountStatusBtn" ng-class="{'accountStatusBtnActive':vm.searchType==4,'accountStatusBtnDesactive':vm.searchType!==4}">Lista</button>
        </div>
    </div>

    <div class="hidden-xs" ui-calendar="vm.uiConfig.calendar" ng-model="vm.eventSources" style="cursor:pointer; margin-bottom:20px;" id="calendarData"></div>
    <div class="hidden-sm hidden-lg hidden-md" ui-calendar="vm.uiConfig.calendar1" ng-model="vm.eventSources" style="margin-bottom:20px;" id="calendarData1"></div>
    <md-button ui-sref="common-area-administration.newReservation" style="position: fixed"
               class="md-fab md-fab-bottom-right orange-button-oficial" aria-label="Add new">
        <md-tooltip md-direction="left" class="font-13 bold white-color">Crear nueva reservación</md-tooltip>
        <md-icon class="white-color">add</md-icon>
    </md-button>
</div>
