html {
    overflow: hidden !important;
    height: 100%;
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    padding: 4px 0;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: rgba(30, 30, 30, 0.3);
    margin: 4px 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #979797;
}

body {
    background: #fafafa;
    overflow: hidden !important;
    font-family: 'Roboto Condensed', sans-serif;
    color: #333;
}

.carddemoBasicUsage .card-media {
    background-color: #999999;
}

@-webkit-keyframes loginBackground {
    0% {
        background-position: 0% 4%
    }
    50% {
        background-position: 100% 97%
    }
    100% {
        background-position: 0% 4%
    }
}

@-moz-keyframes loginBackground {
    0% {
        background-position: 0% 4%
    }
    50% {
        background-position: 100% 97%
    }
    100% {
        background-position: 0% 4%
    }
}

@-o-keyframes loginBackground {
    0% {
        background-position: 0% 4%
    }
    50% {
        background-position: 100% 97%
    }
    100% {
        background-position: 0% 4%
    }
}

@keyframes loginBackground {
    0% {
        background-position: 0% 4%
    }
    50% {
        background-position: 100% 97%
    }
    100% {
        background-position: 0% 4%
    }
}

/* ==========================================================================
Hide ng-cloak on page load, https://docs.angularjs.org/api/ng/directive/ngCloak
========================================================================== */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.tdDisabled {
    background: #e4e4e4;
}

.noCharge {
    background: #fff59d;
}

#chartdiv {
    width: 100%;
    height: 500px;
    font-size: 11px;
}

/*!
* Colorpicker for Bootstrap
*
* Copyright 2012 Stefan Petre
* Licensed under the Apache License v2.0
* http://www.apache.org/licenses/LICENSE-2.0
*
*/
.colorpicker-saturation {
    width: 100px;
    height: 100px;
    background-image: url(../images/saturation.png) !important;
    cursor: crosshair;
    float: left;
}

.colorpicker-saturation i {
    display: block;
    height: 5px;
    width: 5px;
    border: 1px solid #000;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    margin: -4px 0 0 -4px;
}

.colorpicker-saturation i b {
    display: block;
    height: 5px;
    width: 5px;
    border: 1px solid #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.colorpicker-hue, .colorpicker-alpha {
    width: 15px;
    height: 100px;
    float: left;
    cursor: row-resize;
    margin-left: 4px;
    margin-bottom: 4px;
}

.colorpicker-hue i, .colorpicker-alpha i {
    display: block;
    height: 1px;
    background: #000;
    border-top: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: -1px;
}

.colorpicker-hue {
    background-image: url(../images/hue.png) !important;
}

.colorpicker-alpha {
    background-image: url(../images/alpha.png) !important;
    display: none;
}

.colorpicker {
    *zoom: 1;
    top: 0;
    left: 0;
    padding: 4px;
    min-width: 120px;
    margin-top: 1px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.colorpicker:before, .colorpicker:after {
    display: table;
    content: "";
}

.colorpicker:after {
    clear: both;
}

.colorpicker:before {
    content: '';
    display: inline-block;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #ccc;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: -7px;
    left: 6px;
}

.colorpicker:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #ffffff;
    position: absolute;
    top: -6px;
    left: 7px;
}

.colorpicker div {
    position: relative;
}

.colorpicker.alpha {
    min-width: 140px;
}

.colorpicker.alpha .colorpicker-alpha {
    display: block;
}

.colorpicker-color {
    height: 10px;
    margin-top: 5px;
    clear: both;
    background-image: url(../images/alpha.png) !important;
    background-position: 0 100%;
}

.colorpicker-color div {
    height: 10px;
}

.input-append.color .add-on i, .input-prepend.color .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

/* ==========================================================================
Development Ribbon
========================================================================== */
.ribbon {
    background-color: #a00;
    box-shadow: 0 0 10px #888;
    left: -3.5em;
    moz-box-shadow: 0 0 10px #888;
    moz-transform: rotate(-45deg);
    ms-transform: rotate(-45deg);
    o-transform: rotate(-45deg);
    overflow: hidden;
    position: absolute;
    top: 40px;
    transform: rotate(-45deg);
    webkit-box-shadow: 0 0 10px #888;
    webkit-transform: rotate(-45deg);
    white-space: nowrap;
    width: 15em;
    z-index: 9999;
    pointer-events: none;
}

.bold-font {
    font-weight: bold;
}

.nice-label {
    color: white;
    border-radius: 6px !important;
    padding: 10px 5px;
    text-align: center;
    margin: 0px;
}

.ribbon a {
    border: 1px solid #faa;
    color: #fff;
    display: block;
    font: bold 81.25% 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 1px 0;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 5px #4444;
    pointer-events: none;
}

/* ==========================================================================
Version number in navbar
========================================================================== */
.navbar-version {
    font-size: 10px;
    color: #ccc
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.white-bg {
    background-color: white !important;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
    padding: 5px 15px;
}

.logo .logo-img {
    height: 45px;
    display: inline-block;
}

/* ==========================================================================
Main page styles
========================================================================== */
.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.margin-top-30 {
    margin-top: 30px;
}

.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../images/hipster.png") no-repeat center top;
    background-size: contain;
}

/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1), only screen and (        min-device-pixel-ratio: 2), only screen and (                min-resolution: 192dpi), only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}

/* ==========================================================================
Generic styles
========================================================================== */
.error {
    color: white;
    background-color: red;
}

.pad {
    padding: 10px;
}

.break {
    white-space: normal;
    word-break: break-all;
}

.voffset {
    margin-top: 2px;
}

.voffset1 {
    margin-top: 5px;
}

.voffset2 {
    margin-top: 10px;
}

.voffset3 {
    margin-top: 15px;
}

.voffset4 {
    margin-top: 30px;
}

.voffset5 {
    margin-top: 40px;
}

.voffset6 {
    margin-top: 60px;
}

.voffset7 {
    margin-top: 80px;
}

.voffset8 {
    margin-top: 100px;
}

.voffset9 {
    margin-top: 150px;
}

.readonly {
    background-color: #eee;
    opacity: 1;
}

/* ==========================================================================
make sure browsers use the pointer cursor for anchors, even with no href
========================================================================== */
a:hover {
    cursor: pointer;
}

.hand {
    cursor: pointer;
}

/* ==========================================================================
Metrics and Health styles
========================================================================== */
#threadDump .popover, #healthCheck .popover {
    top: inherit;
    display: block;
    font-size: 10px;
    max-width: 1024px;
}

#healthCheck .popover {
    margin-left: -50px;
}

.health-details {
    min-width: 400px;
}

/* ==========================================================================
start Password strength bar style
========================================================================== */
ul#strengthBar {
    display: inline;
    list-style: none;
    margin: 0;
    margin-left: 15px;
    padding: 0;
    vertical-align: 2px;
}

.point:last {
    margin: 0 !important;
}

.point {
    background: #DDD;
    border-radius: 2px;
    display: inline-block;
    height: 5px;
    margin-right: 1px;
    width: 20px;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts .alert {
    text-overflow: ellipsis;
}

.alert pre {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    padding: 0;
    margin: 0;
}

.alert .popover pre {
    font-size: 10px;
}

.alerts .toast {
    position: fixed;
    width: 100%;
}

.alerts .toast.left {
    left: 5px;
}

.alerts .toast.right {
    right: 5px;
}

.alerts .toast.top {
    top: 55px;
}

.alerts .toast.bottom {
    bottom: 55px;
}

@media screen and (min-width: 480px) {
    .alerts .toast {
        width: 50%;
    }
}

/* ==========================================================================
entity tables helpers
========================================================================== */
/* Remove Bootstrap padding from the element
   http://stackoverflow.com/questions/19562903/remove-padding-from-columns-in-bootstrap-3 */
.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

/* bootstrap 3 input-group 100% width
   http://stackoverflow.com/questions/23436430/bootstrap-3-input-group-100-width */
.width-min {
    width: 1% !important;
}

/* Makes toolbar not wrap on smaller screens
 http://www.sketchingwithcss.com/samplechapter/cheatsheet.html#right */
.flex-btn-group-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.jh-table > tbody > tr > td {
    /* Align text in td vertically (top aligned by Bootstrap) */
    vertical-align: middle;
}

.jh-table > thead > tr > th > .glyphicon-sort, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt {
    /* less visible sorting icons */
    opacity: 0.5;
}

.jh-table > thead > tr > th > .glyphicon-sort:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes:hover, .jh-table > thead > tr > th > .glyphicon-sort-by-attributes-alt:hover {
    /* full visible sorting icons and pointer when mouse is over them */
    opacity: 1;
    cursor: pointer;
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > dd {
    margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
    .row.jh-entity-details > dt {
        margin-bottom: 15px;
    }

    .row.jh-entity-details > dd {
        border-bottom: 1px solid #eee;
        padding-left: 180px;
        margin-left: 0;
    }
}

.se-pre-con1 {
    top: 50%;
    left: 54.3%;
    position: absolute;
    background-color: white !important;
    z-index: 19999;
}

.se-pre-con2 {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: white !important;
    z-index: 9999;
}

.spinner {
    height: 50px;
    width: 50px;
    position: relative;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.fixed {
    position: fixed !important;
}

.dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100% !important;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot1 {
    background-color: #488cf9;
}

.dot2 {
    top: auto;
    background-color: #2b3643;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate {
    100% {
        -webkit-transform: rotate(360deg)
    }
}

@keyframes sk-rotate {
    100% {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg)
    }
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

.spinnerLoading {
    width: 70px;
    height: 70px;
    position: relative;
    margin: 200px auto;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50% !important;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce1 {

    background-color: #3598dc !important;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
    background-color: #1caf9a !important;
}

@-webkit-keyframes sk-bounce {
    0%, 100% {
        -webkit-transform: scale(0.0)
    }
    50% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bounce {
    0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav, .pagination, .carousel, .panel-title a {
    cursor: pointer;
}

.datetime-picker-dropdown > li.date-picker-menu div > table .btn-default,
.uib-datepicker-popup > li > div.uib-datepicker > table .btn-default {
    border: 0;
}

.datetime-picker-dropdown > li.date-picker-menu div > table:focus,
.uib-datepicker-popup > li > div.uib-datepicker > table:focus {
    outline: none;
}

/* jhipster-needle-css-add-main JHipster will add new css style */
.angular-popover-container {
    position: absolute;
    width: 0;
    height: 0;
    left: 0
}

.angular-popover {
    position: absolute;
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2);
    background-color: #fff
}

.popover-floating-animation-top {
    animation: floatingtop 3s .5s infinite;
    -webkit-animation: floatingtop 3s .5s infinite
}

.popover-floating-animation-bottom {
    animation: floatingbottom 3s .5s infinite;
    -webkit-animation: floatingbottom 3s .5s infinite
}

.popover-floating-animation-left {
    animation: floatingleft 3s .5s infinite;
    -webkit-animation: floatingleft 3s .5s infinite
}

.popover-floating-animation-right {
    animation: floatingright 3s .5s infinite;
    -webkit-animation: floatingright 3s .5s infinite
}

@-webkit-keyframes floatingtop {
    from,
    to {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0)
    }
    60% {
        transform: translate(0, -8px);
        -webkit-transform: translate(0, -8px)
    }
}

@-webkit-keyframes floatingbottom {
    from,
    to {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0)
    }
    60% {
        transform: translate(0, 8px);
        -webkit-transform: translate(0, 8px)
    }
}

@-webkit-keyframes floatingright {
    from,
    to {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0)
    }
    60% {
        transform: translate(8px, 0);
        -webkit-transform: translate(8px, 0)
    }
}

@-webkit-keyframes floatingleft {
    from,
    to {
        transform: translate(0, 0);
        -webkit-transform: translate(0, 0)
    }
    60% {
        transform: translate(-8px, 0);
        -webkit-transform: translate(-8px, 0)
    }
}

.hide-popover-element {
    display: none
}

.angular-popover-triangle {
    width: 30px;
    height: 30px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 6px 10px -17px rgba(0, 0, 0, .2)
}

.angular-popover-triangle:after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background: #fff;
    transform: rotate(45deg);
    box-shadow: 0 0 7px 1px rgba(0, 0, 0, .2)
}

.angular-popover-triangle-top:after {
    top: -8.5px;
    left: 7px
}

.angular-popover-triangle-bottom:after {
    top: 23.5px;
    left: 7px
}

.angular-popover-triangle-right::after {
    top: 7.5px;
    left: 23.5px
}

.angular-popover-triangle-left::after {
    top: 7.5px;
    left: -8.5px
}

.popover-aside {
    position: relative;
}

.ng-popover {
    border: 1px solid #eaeaea;
    position: relative;
    border-radius: 4px;
    min-width: 50px;
    min-height: 20px;
    background: #fff;
    z-index: 10;
}

.ng-popover .ng-popover-wrapper {
    position: relative;
}

.ng-popover .ng-popover-wrapper.bottom::before {
    content: ' ';
    position: absolute;
    top: -9px;
    left: 9px;
    border-bottom: 9px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 2;
}

.ng-popover .ng-popover-wrapper.bottom::after {
    content: ' ';
    position: absolute;
    top: -10px;
    left: 9px;
    border-bottom: 9px solid #eaeaea;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 1;
}

.ng-popover .ng-popover-wrapper.top::before {
    content: ' ';
    position: absolute;
    bottom: -7px;
    left: 12px;
    border-top: 7px solid #fff;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    z-index: 2;
}

.ng-popover .ng-popover-wrapper.top::after {
    content: ' ';
    position: absolute;
    bottom: -9px;
    left: 10px;
    border-top: 9px solid #eaeaea;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    z-index: 1;
}

.ng-popover .ng-popover-wrapper.left::before {
    content: ' ';
    position: absolute;
    right: -8px;
    top: 5px;
    border-left: 8px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    z-index: 2;
}

.ng-popover .ng-popover-wrapper.left::after {
    content: ' ';
    position: absolute;
    right: -9px;
    top: 4px;
    border-left: 9px solid #eaeaea;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    z-index: 1;
}

.ng-popover .ng-popover-wrapper.right::before {
    content: ' ';
    position: absolute;
    top: 5px;
    left: -8px;
    border-right: 8px solid #fff;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    z-index: 2;
}

.ng-popover .ng-popover-wrapper.right::after {
    content: ' ';
    position: absolute;
    top: 4px;
    left: -9px;
    border-right: 9px solid #eaeaea;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
    z-index: 1;
}

.ng-popover .ng-popover-content {
    overflow: auto;
}

.ng-popover.hide {
    display: none;
}

.custom-popover {
    max-width: 400px;
}

.custom-popover .popover-header {
    background: #fafafa;
    border-bottom: 1px solid #eaeaea;
}

.custom-popover .popover-header .popover-header-content {
    max-width: 75rem;
    margin-left: auto;
    margin-right: auto;
}

.custom-popover .popover-header .title {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 17px;
    font-weight: 600;
    width: 18%;
    float: left;
}

.custom-popover .popover-header .options {
    border-left: 1px solid #eaeaea;
    padding-top: 16px;
    padding-bottom: 16px;
    float: right;
    width: 65%;
    text-align: left;
    padding-left: 30px;
}

.custom-popover .popover-header .option {
    display: inline-block;
    margin: 0 5px;
}

.custom-popover .popover-header .option input {
    margin-bottom: 0;
}

.custom-popover .popover-header .option label {
    vertical-align: 1px;
}

.custom-popover .popover-body {
    min-height: 100px;
    padding: 40px 20px;
    text-align: center;
    font-weight: 300;
    line-height: 34px;
    font-size: 24px;
}

.custom-popover .popover-body span {
    font-weight: 400;
}

.custom-popover .popover-footer {
    text-align: right;
    padding: 40px 30px;
}

.clearfix {
    overflow: auto;
    zoom: 1;
}

.clearfix::before, .clearfix::after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix::after {
    clear: both;
}

.heading-popover, .normal-text-popover {
    color: #999;
    padding: 20px;
    min-width: 200px;
    max-width: 300px;
}

.greenBalance {
    color: #009200 !important;
}

.redBalance {
    color: #f3565d !important;

}

.tab_container {
    width: 100%;
    margin: 0 auto;
    padding-top: 70px;
    position: relative;
}

.tab_container label {
    font-weight: 600;
    font-size: 14px;
    display: block;
    float: left;
    width: 20%;
    padding: 10px 1.5em;
    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f9f9f9;
}

.active-tab-charge {
    background: #fff !important;
    box-shadow: inset 0 3px #1caf9a !important;
    color: #1caf9a !important;
}

div.scrollmenu {
    background-color: #f7f7f7;
    overflow-x: scroll;
    white-space: nowrap;
    transform: rotateX(180deg);
}

div.scrollmenu a {
    display: inline-block !important;
    text-align: center;
    padding: 12px 25px;
    font-weight: 700;
    font-size: 14px;
    transform: rotateX(180deg);

    color: #757575;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: #f7f7f7;
}

div.scrollmenu a:hover {
    background: #fff !important;
    box-shadow: inset 0 3px #2b3643 !important;
    color: #2b3643 !important
}

.active-choose-house {
    background: #fff !important;
    box-shadow: inset 0 3px #2b3643 !important;
    color: #2b3643 !important
}

.active-anual-mensual-reporte {
    background: #fff !important;
    box-shadow: inset 0 3px #1caf9a !important;
    color: #2b3643 !important
}

.deuda-total-negativa {
    border: #e3e3e3 solid 1px;
    border-radius: 10px !important;
    padding: 10px;
    background-color: rgba(255, 133, 106, 0.13);
}

.deuda-total-positiva {
    border: hsl(0, 0%, 80%) solid 1px;
    border-radius: 10px !important;
    padding: 10px;
    background-color: aliceblue;
}

.deuda-total {
    border: hsl(0, 0%, 80%) solid 1px;
    border-radius: 10px !important;
    padding: 10px;
}

.little-container {

    border-left: #3faba4 2px solid;
    border-right: #3faba4 2px solid;
    background: #f6fbfc;
    padding: 10px;
    margin-bottom: 10px;
    margin-bottom: 15px;
    overflow: hidden;
}

.no-liquid {
    background-color: rgb(254, 246, 246);
    opacity: 1;
}

.parc-liquid {
    background-color: rgb(255, 247, 217);
    opacity: 1;
}

.liquid {
    background-color: rgb(234, 250, 238);
    opacity: 1;
}

.debt-no-selected {
    background-color: rgb(255, 255, 255);
    opacity: 0.4;
}

.balloon {
    color: hsl(0, 0%, 100%);
    text-align: center;
    border-radius: 4px !important;
    padding: 3px;
    background-color: hsl(36, 100%, 50%);
    font-size: 11px;
    font-weight: bold;
}

.no-bg-color {
    background-color: transparent !important;
}

.datePassed {
    background-color: #F0F0F0 !important;
}

.firstPassed {
    border-top: solid #4DB3A2 2px;
}

.selected-payment {
    color: white;
    background-color: #4DB3A2 !important;;
    border-left: 3px #4DB3A2 solid;
}

.paymentDescription {
    background-color: white;
    color: grey;
}

.money-available-for-payment {
    padding: 10px;
    color: black;
    border: 1px solid green;
    width: 250px;
}

.action-export-payment {

}

.action-export-payment :hover {
    color: #4DB3A2 !important;
}

.action-export-payment a:hover {
    color: #4DB3A2 !important;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: grey;
}

.next-year-button {
    font-size: 16px;
    color: #888;
    cursor: pointer;
}

.next-year-button:hover {
    color: #4DB3A2 !important;
}

.announcement {
    background-color: #f7f7f738;
    color: #777;
    border: 1px solid #EEEEEE;
    padding: 15px;
    border-radius: 5px !important;
}

.announcement-title {
    font-size: 20px;
    line-height: 1.153846153846154;
    font-family: 'Lato', sans-serif;
    color: #4DB3A2 !important;
    font-style: normal;
    margin: 0px 5px 30px 5px;
    font-weight: bold !important;
    text-transform: uppercase !important;
}

.announcement-title:after, .announcement-title:after {
    border-bottom: 2px solid #4DB3A2;
    content: '';
    display: block;
    max-width: 120px;
    padding-top: 20px;
}

.announcement-comment-description {
    background-color: #ebedf0;
    border-radius: 18px !important;
    padding: 5px 10px;
}

.image {
    width: 35px;
    height: 35px;
}

.oficial-title-index {
    font-weight: 600 !important;
    color: #00b19d !important;

}

.image-navbar {
    width: 35px;
    height: 35px;
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-top: -5px;
    cursor: pointer;
}

.object-fit_scale-down-navbar {
    object-fit: scale-down;
    height: 35px;
    width: 35px;
    background-color: #ebedf0;
    border-radius: 50% !important;
}

.image-navbar-big {
    width: 80px;
    height: 80px;
    display: inline-block;
    margin: 10px;
}

.object-fit_scale-down-navbar-big {
    object-fit: scale-down;
    height: 80px;
    width: 80px;
    background-color: #ebedf0;
    border-radius: 50% !important;
}

.object-fit_scale-down-resident-form {
    object-fit: scale-down;
    height: 170px;
    width: 170px;
    background-color: #ebedf0;
    border-radius: 50% !important;
}

.font-weight-600 {
    font-weight: 600 !important;
}

.oficial-background-red {
    background-color: #c00022 !important;
}

.green-button-oficial {
    background-color: #00b19d !important;
    color: white;
}

.orange-button-oficial {
    background-color: #f37960 !important;
    color: white !important;
}

.red-button-oficial {
    background-color: #cb5a5e !important;
    color: white !important;
}

.red-button-oficial:hover {
    background-color: #af4d50 !important;
    color: white !important;
}

.red-icon-button-oficial {
    color: #cb5a5e !important;
}

.red-icon-button-oficial:hover {
    color: #af4d50 !important;
}

.orange-button-oficial:hover {
    background-color: #e57461 !important;
    color: white !important;
}

.orange-button-oficial:active {
    color: white !important;
}

.green-button-oficial:active {
    color: white !important;
}

.green-button-oficial:hover {
    background-color: #00a492 !important;
    color: white;
}

.tableMaterialDesign table, .tableMaterialDesign th, .tableMaterialDesign td {
    border: 1px solid #f2f2f2 !important;
    padding: 15px !important;
    font-weight: 500;
    border-collapse: collapse;

}

.tableMaterialDesignResidents table, .tableMaterialDesignResidents th, .tableMaterialDesignResidents td {
    border: 1px solid #f2f2f2 !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 5px !important;
    padding-right: 5px !important;
    font-weight: 500;
    border-collapse: collapse;

}

.tableMaterialDesignAccountStatus table, .tableMaterialDesignAccountStatus th, .tableMaterialDesignAccountStatus td {
    border: 1px solid #f2f2f2 !important;
    padding: 7px !important;
    font-weight: 500;
    border-collapse: collapse;

}

.object-fit_scale-down-resident-by-house {
    object-fit: scale-down;
    height: 150px;
    width: 150px;
    background-color: #ebedf0;
    border-radius: 50% !important;
}

.object-fit_scale-down-common-area {
    object-fit: scale-down;
    height: 60px;
    width: 60px;
    background-color: #ebedf0;
    border-radius: 50% !important;
}

.object-fit_scale-down-resident-index {
    object-fit: scale-down;
    background-color: #e4e6e9;
}

.object-fit_scale-down {
    object-fit: scale-down;
    height: 29px;
    background-color: #ebedf0;
    border-radius: 50% !important;
}

.object-fit_scale-down[class] {
    width: 100%;
}

.note-toolbar {
    z-index: 50 !important;
}

.comments-button {
    outline: none;
    background-color: white;
    cursor: pointer;
}

.complaint-detail {
    outline: none;
    cursor: pointer;
    color: #4DB3A2 !important;
}

.complaint-detail:hover {
    color: #5194ca !important;
}

.comments-button:hover {
    color: #4DB3A2 !important;
}

.comment-input {
    background-color: #f2f3f5;
    border-radius: 18px !important;
    border: 1px solid #ccd0d5;
    padding: 10px;
    outline: none;
}

.comment-actions {
    outline: none;
    background-color: #f7f7f738;
}

.comment-actions:hover {
    color: #4DB3A2 !important;
}

.green-box {
    width: 15px;
    height: 15px;
    background-color: #C2FFD0;
    border: 1px solid #eee;
    display: inline-block;
    float: left;
    margin-right: 6px;
}

.red-box {
    width: 15px;
    height: 15px;
    background-color: #FFB8B8;
    border: 1px solid #eee;
    display: inline-block;
    float: left;
    margin-right: 6px;
}

.yellow-box {
    width: 15px;
    height: 15px;
    background-color: #FFD17A;
    border: 1px solid #eee;
    display: inline-block;
    float: left;
    margin-right: 6px;
}

.switchdemoBasicUsage .inset {
    padding-left: 25px;
    padding-top: 25px;
}

.mat-toolbar.mat-primary {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    .all-content {
        margin-top: 56px;
    }

    .side-nav-bar {
        margin-top: 0px;
    }

    .loading-bar {
        margin-top: 56px;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .all-content {
        margin-top: 56px;
    }

    .side-nav-bar {
        margin-top: 0px;
    }

    .loading-bar {
        margin-top: 56px;
    }

    .nav-bar-top {
        background-color: rgb(0, 150, 136) !important;
    }

    .md-nav-item .md-active {
        color: white !important;
    }

    .md-unselected {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
        background-color: white !important;
        color: white !important;
        margin-bottom: -1px;
        height: 3px;
    }

    md-tabs-wrapper.md-stretch-tabs md-pagination-wrapper {
        background: rgb(0, 150, 136) !important;
    }

    md-tabs.md-default-theme .md-tab.md-active, md-tabs .md-tab.md-active, md-tabs.md-default-theme .md-tab.md-active md-icon, md-tabs .md-tab.md-active md-icon, md-tabs.md-default-theme .md-tab.md-focused, md-tabs .md-tab.md-focused, md-tabs.md-default-theme .md-tab.md-focused md-icon, md-tabs .md-tab.md-focused md-icon {
        color: white !important;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .all-content {
        margin-top: 56px;
    }

    .navbar {
        min-height: 56px;
    }

    .loading-bar {
        margin-top: 56px;
        margin-left: 0;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .all-content {
        margin-top: 64px;
    }

    .navbar {
        min-height: 56px;
    }

    .loading-bar {
        margin-top: 64px;
        margin-left: 0;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .all-content {
        margin-top: 64px;
        margin-left: 235px;
    }

    .side-nav-bar {
        margin-top: 64px;
        width: 235px !important;
    }

    .loading-bar {
        margin-top: 64px;
        margin-left: 235px;
    }

}

md-tabs.md-default-theme md-ink-bar, md-tabs md-ink-bar {
    color: #f37960 !important;
    background: #f37960 !important;
}

.md-nav-item .md-active {
    color: #f37960;
    font-weight: 500;
}

.md-unselected {

}

md-nav-bar.md-default-theme md-nav-ink-bar, md-nav-bar md-nav-ink-bar {
    background-color: #f37960;
    color: #f37960;

}

.all-content:not(#nav-bar-top) {
    padding: 15px;
}

.all-content:not(#tab-bar-material) {
    padding: 15px;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.loading-bar {
    position: fixed;
    z-index: 100;
}

.nav-bar-top {
    position: fixed;
    margin-left: -15px;
    margin-top: -15px;
    width: 100%;
}

.slide-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-ui-view {
    margin-top: 48px;
}

.reset-page {
    width: 100%;
}

/*LOADING PAGE*/

.app-loading {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 9980;
}

.filter-button {
    min-height: 0 !important;
    min-width: 0 !important;
    line-height: 0 !important;
    margin: 0 10px;
    height: 34px;
    padding: 7px;
    border-radius: 4px;
}

.spinner {
    /* Spinner size and color */
    width: 1.5rem;
    height: 1.5rem;
    border-top-color: #44b6ae;
    border-left-color: #44b6ae;
    /* Additional spinner styles */
    animation: spinner 1000ms linear infinite;
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
}

/* Animation styles */
@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Optional — create your own variations! */
.spinner-large {
    width: 10rem;
    height: 10rem;
    border-width: 6px;
}

.spinner-slow {
    animation: spinner 1s linear infinite;
}

.spinner-blue {
    border-top-color: #09d;
    border-left-color: #09d;
}

/*END LOADING SPINNER*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

#sidebar {
    /* don't forget to add all the previously mentioned styles here too */
    background: white;
    color: #979797;
    transition: all 0.3s;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {

}

#sidebar ul p {
    margin: 0;
    padding: 7px 5px;
    border-radius: 3px;
}

#sidebar ul li a {
    padding: 5px;
    font-size: 1.1em;
    display: block;
    text-decoration: none;
}

#sidebar ul li a i {
    vertical-align: middle !important;
}

.principal-icon {
    margin-right: 15px;
}

#sidebar ul li a:hover {
    color: #01579B;
    background: white;
}

#sidebar ul li {

}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    text-decoration: none;
}

#sidebar ul li.collapse.active > a, a[aria-expanded="true"] {
    background-color: white;
    text-decoration: none;
}

.background-white {
    background-color: white !Important;
}

.activeSubmenu a {
    color: #3c3c3c !important;
    text-decoration: none !important;
    background: white !important;
}

.collapse li {
    border-bottom: none !important;
}

.material-icons-with-text {
    vertical-align: middle !important;
    margin-right: 15px;
}

.content-loader {
    height: 500px !important;
}

.scrollbox {
    overflow: auto;
    visibility: hidden;
}

.scrollbox-content,
.scrollbox:hover,
.scrollbox:focus {
    visibility: visible;
}

.scrollbox_delayed {
    visibility: visible;
    transition: 3s;
}

.scrollbox_delayed:hover {
    visibility: visible;
    transition: 3s;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.6;
}

.fade-in {
    /*min-height: 500px !important;*/
}

/* The starting CSS styles for the enter animation */
.fade-in.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.fade-in.ng-enter.ng-enter-active {
    opacity: 1;
}

/* The starting CSS styles for the enter animation */
.fade-out.ng-leave {
    transition: 0.5s linear all;
    opacity: 1;
}

/* The finishing CSS styles for the enter animation */
.fade-out.ng-leave.ng-leave-active {
    opacity: 0;
}

.circle-icon {
    background: #f7f7f7;
    padding: 30px;
    border-radius: 50%;
}

a
.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.material-icons.md-dark {
    color: rgba(0, 0, 0, 0.54);
}

.material-icons.md-dark.md-inactive {
    color: rgba(0, 0, 0, 0.26);
}

.material-icons.md-light {
    color: rgba(255, 255, 255, 1);
}

.material-icons.md-light.md-inactive {
    color: rgba(255, 255, 255, 0.3);
}

.form-wrapper {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14)
}

.form-content {
    background-color: white;
    padding: 30px;
}

.form-title {
    /*color: rgba(0, 0, 0, .54) !important;*/
    background-color: rgba(0, 0, 0, .03) !important;
    color: rgb(0, 150, 136) !important;;
    font-weight: bold !important;
    padding-left: 15px;
    text-transform: uppercase !important;

}

.form-title h2 {
    font-weight: bold !important;
    font-size: 17px !important;
}

.create-comment {
    color: #999;
    background-color: #fafafa;
    margin: 0;
    width: 100%;
    padding: 12px 16px;
}

.input-no-decoration {
    border: none;
    background-color: transparent;
    outline: none;
    color: black;
    box-shadow: none;
}

.comments-container {
    max-height: 400px;
    overflow-y: auto;
}

.circle-material-image {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-right: 16px;
    border-radius: 50%;
    box-sizing: content-box;
    flex: none;
    width: 40px;
    height: 40px;
}

.white-bg {
    background-color: white !important;
}

.material-gray {
    color: rgba(0, 0, 0, 0.38);
}

.hint {
    color: grey;
    font-size: 12px;
}

md-input-container > md-select {
    margin-bottom: 24px !important;
}

.md-color-picker-input-container .md-color-picker-preview, md-color-picker .md-color-picker-input-container .md-color-picker-preview {
    height: 45px !important;
    width: 45px !important;
}

.md-color-picker-container .md-color-picker-preview .md-color-picker-tabs .md-tab, .md-color-picker-container .md-color-picker-preview .md-color-picker-tabs md-pagination-wrapper, .md-color-picker-container .md-color-picker-preview .md-color-picker-tabs md-tabs-canvas, .md-color-picker-container .md-color-picker-preview .md-color-picker-tabs md-tabs-wrapper {
    display: none !important;
}

.md-color-picker-input {
    display: none !important;
}

.md-color-picker-clear {
    display: none !important;
}

.md-color-picker-container .md-color-picker-preview .md-color-picker-result > div > input.switch {
    display: none !important;
    cursor: default;
    outline: none;
}

.md-color-picker-palette {
    cursor: pointer;
}

.md-color-picker-container .md-color-picker-preview .md-color-picker-result > div {
    cursor: default;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.md-datepicker-input {
    min-width: 0 !important;
    max-width: 10000px !important;
}

.md-datepicker-input-container {
    width: 100% !important;
    min-width: 150px !important;
}

md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
    font-size: 17px !important;
}

.md-button {
    text-transform: capitalize !important;
}

.md-datepicker-button {
    width: 24px !important;
    margin-left: 0 !important;
    padding-left: 0 !important;
}

._md-datepicker-floating-label._md-datepicker-has-calendar-icon > label:not(.md-no-float):not(.md-container-ignore) {
    right: 43px !important;
}

md-input-container:not(.md-input-has-value) input:not(:focus), md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-ampm-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-day-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-hour-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-millisecond-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-minute-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-month-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-second-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-text, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-week-field, md-input-container:not(.md-input-has-value) input:not(:focus)::-webkit-datetime-edit-year-field {
    border-color: rgba(0, 0, 0, 0.2) !important;
}

md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-color: rgba(0, 0, 0, 0.2);
}

md-input-container.md-default-theme .md-placeholder, md-input-container .md-placeholder, md-input-container.md-default-theme label, md-input-container label {
    color: rgba(0, 0, 0, 0.5);
}

.md-select-value > span:not(.md-select-icon) {
    font-size: 14px !important;
}

.concept-charge .md-errors-spacer {
    display: none;
}

.modal-backdrop {
    z-index: 79 !important;
}

.modal-open .modal {
    z-index: 80 !important;
    justify-content: center !important;
    align-items: center !important;
    align-content: center !important;
    display: flex !important;
}

.thin-btn {
    height: 28px;
    min-height: 0px !important;
    line-height: 20px !important;
}

.display-inline {
    display: inline !important;
}

.multiselect-parent {
    width: 100%;
    text-align: left;
    margin-top: 30px;
}

.multiselect-parent .dropdown-toggle {
    width: 100%;
}
.dropdown-menu-form{
    width: 100%;
    position: inherit!important;
}
