
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAdministrationConfigurationLabel" data-translate="aditumApp.administrationConfiguration.home.createOrEditLabel">Create or edit a Administration Configuration</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.administrationConfiguration.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.administrationConfiguration.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.administrationConfiguration.squareMetersPrice" for="field_squareMetersPrice">Square Meters Price</label>
            <input type="text" class="form-control" name="squareMetersPrice" id="field_squareMetersPrice"
                    ng-model="vm.administrationConfiguration.squareMetersPrice"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.administrationConfiguration.folioSerie" for="field_folioSerie">Folio Serie</label>
            <input type="text" class="form-control" name="folioSerie" id="field_folioSerie"
                    ng-model="vm.administrationConfiguration.folioSerie"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.administrationConfiguration.folioNumber" for="field_folioNumber">Folio Number</label>
            <input type="number" class="form-control" name="folioNumber" id="field_folioNumber"
                    ng-model="vm.administrationConfiguration.folioNumber"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.administrationConfiguration.hasSubCharges" for="field_hasSubCharges">Has Sub Charges</label>
                <input type="checkbox" name="hasSubCharges" id="field_hasSubCharges"
                          ng-model="vm.administrationConfiguration.hasSubCharges"/>
            <div ng-show="editForm.hasSubCharges.$invalid">
                <p class="help-block"
                    ng-show="editForm.hasSubCharges.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.administrationConfiguration.daysToBeDefaulter" for="field_daysToBeDefaulter">Days To Be Defaulter</label>
            <input type="number" class="form-control" name="daysToBeDefaulter" id="field_daysToBeDefaulter"
                    ng-model="vm.administrationConfiguration.daysToBeDefaulter"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.administrationConfiguration.daysToSendEmailBeforeBeDefaulter" for="field_daysToSendEmailBeforeBeDefaulter">Days To Send Email Before Be Defaulter</label>
            <input type="number" class="form-control" name="daysToSendEmailBeforeBeDefaulter" id="field_daysToSendEmailBeforeBeDefaulter"
                    ng-model="vm.administrationConfiguration.daysToSendEmailBeforeBeDefaulter"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.administrationConfiguration.increaseSubChargeDays" for="field_increaseSubChargeDays">Increase Sub Charge Days</label>
            <input type="number" class="form-control" name="increaseSubChargeDays" id="field_increaseSubChargeDays"
                    ng-model="vm.administrationConfiguration.increaseSubChargeDays"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.administrationConfiguration.subchargePercentage" for="field_subchargePercentage">Subcharge Percentage</label>
            <input type="number" class="form-control" name="subchargePercentage" id="field_subchargePercentage"
                    ng-model="vm.administrationConfiguration.subchargePercentage"
                    />
        </div>

        <div class="form-group">
            <label data-translate="aditumApp.administrationConfiguration.company" for="field_company">Company</label>
            <select class="form-control" id="field_company" name="company" ng-model="vm.administrationConfiguration.companyId" ng-options="company.id as company.id for company in vm.companies"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
