<div class="row">
    <div class="col-md-12">
        <div class="no-padding no-margin col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin-bottom:0px!important">
            <div ng-cloak layout="column">
                <md-toolbar class="form-title">
                    <h2>{{mainTitle}}</h2>
                </md-toolbar>
            </div>
        </div>
        <div class="portlet-body form col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <md-content layout-padding class="form-content">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding">
                    <form name="form" ng-submit="vm.save()">
                        <div layout="row" layout-xs="column" class="marging-top-20 ">
                            <div flex class="col-lg-12 col-md-12 col-sm-12 white-bg">
                                <md-input-container class="md-block" >
                                    <label>Descripción</label>
                                    <input ng-model="vm.customChargeType.description" type="text" >
                            </div>
                        </div>
                        <div layout="row" class="white-bg" layout-align="end center">
                            <md-button class="md-primary md-raised md-warn" ng-click="vm.clear()">
                                Cancelar
                            </md-button>
                            <md-button class="md-primary md-raised" ng-disabled="form.$invalid || vm.isSaving" type="submit">
                                Aceptar
                            </md-button>
                        </div>
                    </form>
                </div>
            </md-content>
        </div>
    </div>
</div>
