<div ng-if="!vm.isReady" layout="row" class="content-loader" layout-sm="column" layout-fill  layout-align="space-around center">
    <loader></loader>
</div>

<div ng-cloak layout="column" ng-if="vm.isReady" class="md-inline-form col-md-12 col-lg-12 form-wrapper no-padding fade-in">
    <md-toolbar class="form-title" hide-sm hide-xs>
        <h2>{{mainTitle}}</h2>
    </md-toolbar>
    <md-content layout-padding class="form-content">
        <div>
            <form name="form" ng-submit="vm.save()">
                <div ng-model="vm.form">
                    <span ng-hide="true">{{setInvalidForm(form.$invalid)}}</span>
                    <div layout-gt-xs="row" layout-align="center center">
                        <md-input-container class="md-block" has-authority="ROLE_MANAGER" flex>
                            <label>Número de filial</label>
                            <md-select ng-model="vm.complaint.housesSelected"
                                       ng-change="vm.loadResidentsByHouse()"
                                       md-on-close="vm.clearSearchTermFilial()"
                                       data-md-container-class="selectdemoSelectHeader"
                                       multiple="true"
                                       required>
                                <md-select-header class="demo-select-header">
                                    <input ng-model="vm.searchTermFilial"
                                           type="search"
                                           placeholder="Buscar Filial.."
                                           class="demo-header-searchbox md-text"
                                           ng-keydown="vm.typingSearchTermFilial($event)">
                                </md-select-header>
                                <md-optgroup label="Número de filial">
                                    <md-option
                                        ng-repeat="house in vm.houses | filter:{housenumber:vm.searchTermFilial}"
                                        ng-value="house.id">
                                        {{house.housenumber}}
                                    </md-option>
                                </md-optgroup>
                            </md-select>
                            <md-hint ng-if="vm.complaint.housesSelected.length>1">Se enviará a los contactos principales de cada filial.</md-hint>
                        </md-input-container>
                        <md-input-container class="md-block" has-authority="ROLE_MANAGER" flex ng-if="vm.complaint.housesSelected.length==1">
                            <label>Dirijido al residente</label>
                            <md-select ng-model="vm.complaint.residentId" required>
                                <md-option ng-repeat="resident in vm.residents | orderBy: 'fullName'" ng-value="resident.id" ng-disabled="resident.email==null">
                                    {{resident.fullName}} ({{vm.defineResidentType(resident.type)}}) <span ng-if="resident.email==null">  (No tiene correo registrado)</span>
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div>
                        <md-input-container class="md-block no-margin-bottom">
                            <label>Asunto</label>
                            <input ng-model="vm.complaint.subject">
                        </md-input-container>
                        <label class="md-block" style="color:rgba(0,0,0,0.38)">Descripción</label>
                        <md-input-container class="md-block" flex-gt-xs>
                            <summernote config="vm.options" lang="es-ES" height="400" ng-model="vm.complaint.description"
                                         required></summernote>
                        </md-input-container>
                    </div>
                    <h3 class="text-center" flex>
                        <div ng-if="vm.fileName" style="margin-bottom: 10px">
                            <i class="material-icons font-haze" style="font-size:45px">
                                description
                            </i>
                            <div>
                                <span class="font-green-haze" style="font-size: 14px;font-weight: 500;">{{vm.fileName}}</span>
                            </div>
                        </div>
                        <md-button type="button" multiple ngf-change="vm.setFile($file)" ngf-select class="btn default btn-file fileinput-new gray-font"
                                   accept="*">
                            Adjuntar archivo
                        </md-button>
                        <md-progress-linear md-mode="determinate" value="{{vm.progress}}" ng-if="vm.isSaving"></md-progress-linear>
                    </h3>
                    <div layout="row" layout-align="center center">
                        <div class="input-group form-group  text-center fade-in "
                             style="padding: 10px; background-color:#575c5729">
                            <div class="font-13" style="color:#292929">
                                <i class="fa fa-file-text font-19" style="margin-right: 8px;" aria-hidden="true"></i>
                                Puede adjuntar cualquier tipo de archivo con un peso de máximo de 10 mb. Si desea adjuntar más de un archivo puede comprimirlos y subirlos de esta manera.</div>
                        </div>
                    </div>
                    <div layout="row" layout-align="end center" hide-sm hide-xs>
                        <md-button class="md-raised  md-warn" ng-click="back()">Cancelar</md-button>
                        <md-button class="md-raised md-primary" type="submit" ng-disabled="form.$invalid">Enviar</md-button>
                    </div>
                </div>
            </form>
        </div>
    </md-content>
</div>




<!--<div ng-if="vm.isReady" class=" fade-in" >-->
    <!--<div class="row">-->
        <!--<div class="col-md-12">-->
            <!--<form ng-submit="vm.save()">-->
                <!--<div class="portlet light bordered">-->
                    <!--<div class="portlet-title">-->
                        <!--<div class="caption font-green-haze">-->
                            <!--<i class="fa fa-user font-green-haze"></i>-->
                            <!--<span  class="caption-subject bold uppercase">Registrar queja o sugerencia</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<div class="portlet-body form">-->
                        <!--<div class="col-lg-4 col-md-4 col-sm-4 marging-top-20">-->
                            <!--<div has-authority="ROLE_MANAGER" class="form-group form-md-line-input has-info">-->
                                <!--<select style="border-bottom: none;margin-top:5px" class="form-control gray-font" id="complaintType" ng-model="vm.complaint.complaintType" required>-->
                                    <!--<option value="Vigilancia">Vigilancia</option>-->
                                    <!--<option value="Mascotas">Mascotas</option>-->
                                    <!--<option value="Servicios Agua, Luz, Gas ,etc">Servicios Agua, Luz, Gas ,etc</option>-->
                                    <!--<option value="Vecinos">Vecinos</option>-->
                                    <!--<option value="Mantenimiento">Mantenimiento</option>-->
                                    <!--<option value="Áreas comunes">Áreas comunes</option>-->
                                    <!--<option value="Otros">Otros</option>-->
                                <!--</select>-->
                                <!--<label class="font-15 ">Categoría</label >-->
                            <!--</div>-->
                        <!--</div>-->

                        <!--<div class="col-lg-4 col-md-4 col-sm-4 marging-top-20">-->
                                <!--<div has-authority="ROLE_MANAGER" class="form-group form-md-line-input has-info">-->
                                    <!--<select style="border-bottom: none;margin-top:5px"  class="form-control gray-font" id="field_house"  ng-model="vm.complaint.houseId" ng-change="vm.loadResidentsByHouse(vm.complaint.houseId)" ng-options="house.id as house.housenumber for house in vm.houses | orderBy: 'housenumber'" required>-->
                                        <!--<option value="">Seleccione una casa</option>-->
                                    <!--</select>-->
                                    <!--<label class="font-15 ">Número de casa</label >-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--<div class="col-lg-4 col-md-4 col-sm-4 marging-top-20">-->
                                <!--<div has-authority="ROLE_MANAGER" class="form-group form-md-line-input has-info">-->
                                    <!--<select style="border-bottom: none;margin-top:5px"  class="form-control gray-font" id="field_resident"  ng-model="vm.complaint.residentId" ng-options="resident.id as resident.fullName for resident in vm.residents | orderBy: 'fullName'"  required>-->
                                        <!--<option value="">Seleccione un residente</option>-->
                                    <!--</select>-->
                                    <!--<label class="font-15 ">Residente que reporta</label >-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--<div class="col-lg-12 col-md-12 col-sm-12 marging-top-20 margin-bottom-15">-->
                            <!--<label class="font-15 gray-font">Queja o sugerencia *</label >-->
                            <!--<textarea class="form-control gray-font" id="" cols="30" rows="10"  ng-model="vm.complaint.description" required></textarea>-->
                        <!--</div>-->
                        <!--<div class="form-actions noborder">-->
                            <!--<h3 class="text-right margin-top-25">-->
                                <!--<button type="submit" class="btn blue"  ng-disabled="editForm.$invalid || vm.isSaving"> Registrar</button>-->
                                <!--<button  type="button" ng-click="vm.clear()" class="btn red default">Cancelar</button>-->
                            <!--</h3>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
