
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myResolutionCommentsLabel" data-translate="aditumApp.resolutionComments.home.createOrEditLabel">Create or edit a Resolution Comments</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.resolutionComments.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.resolutionComments.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.resolutionComments.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                    ng-model="vm.resolutionComments.description"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.resolutionComments.creationDate" for="field_creationDate">Creation Date</label>
                <div class="input-group">
                    <input id="field_creationDate" type="text" class="form-control" name="creationDate" datetime-picker="{{dateformat}}" ng-model="vm.resolutionComments.creationDate" is-open="vm.datePickerOpenStatus.creationDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('creationDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.resolutionComments.editedDate" for="field_editedDate">Edited Date</label>
                <div class="input-group">
                    <input id="field_editedDate" type="text" class="form-control" name="editedDate" datetime-picker="{{dateformat}}" ng-model="vm.resolutionComments.editedDate" is-open="vm.datePickerOpenStatus.editedDate"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('editedDate')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="aditumApp.resolutionComments.deleted" for="field_deleted">Deleted</label>
            <input type="number" class="form-control" name="deleted" id="field_deleted"
                    ng-model="vm.resolutionComments.deleted"
                    />
        </div>

        <div class="form-group">
            <label data-translate="aditumApp.resolutionComments.adminInfo" for="field_adminInfo">Admin Info</label>
            <select class="form-control" id="field_adminInfo" name="adminInfo" ng-model="vm.resolutionComments.adminInfoId" ng-options="adminInfo.id as adminInfo.id for adminInfo in vm.admininfos"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="aditumApp.resolutionComments.resolution" for="field_resolution">Resolution</label>
            <select class="form-control" id="field_resolution" name="resolution" ng-model="vm.resolutionComments.resolutionId" ng-options="resolution.id as resolution.id for resolution in vm.resolutions"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
